@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?h9hq6u');
	src:url('icomoon.eot?#iefixh9hq6u') format('embedded-opentype'),
		url('icomoon.woff?h9hq6u') format('woff'),
		url('icomoon.ttf?h9hq6u') format('truetype'),
		url('icomoon.svg?h9hq6u#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mobile3:before {
	content: "\e000";
}
.icon-laptop2:before {
	content: "\e001";
}
.icon-desktop2:before {
	content: "\e002";
}
.icon-tablet2:before {
	content: "\e003";
}
.icon-phone2:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-documents:before {
	content: "\e006";
}
.icon-search2:before {
	content: "\e007";
}
.icon-clipboard2:before {
	content: "\e008";
}
.icon-newspaper:before {
	content: "\e009";
}
.icon-notebook:before {
	content: "\e00a";
}
.icon-book-open:before {
	content: "\e00b";
}
.icon-browser:before {
	content: "\e00c";
}
.icon-calendar2:before {
	content: "\e00d";
}
.icon-presentation:before {
	content: "\e00e";
}
.icon-picture:before {
	content: "\e00f";
}
.icon-pictures:before {
	content: "\e010";
}
.icon-video:before {
	content: "\e011";
}
.icon-camera2:before {
	content: "\e012";
}
.icon-printer:before {
	content: "\e013";
}
.icon-toolbox:before {
	content: "\e014";
}
.icon-briefcase2:before {
	content: "\e015";
}
.icon-wallet:before {
	content: "\e016";
}
.icon-gift2:before {
	content: "\e017";
}
.icon-bargraph:before {
	content: "\e018";
}
.icon-grid:before {
	content: "\e019";
}
.icon-expand2:before {
	content: "\e01a";
}
.icon-focus:before {
	content: "\e01b";
}
.icon-edit2:before {
	content: "\e01c";
}
.icon-adjustments:before {
	content: "\e01d";
}
.icon-ribbon:before {
	content: "\e01e";
}
.icon-hourglass:before {
	content: "\e01f";
}
.icon-lock2:before {
	content: "\e020";
}
.icon-megaphone:before {
	content: "\e021";
}
.icon-shield2:before {
	content: "\e022";
}
.icon-trophy2:before {
	content: "\e023";
}
.icon-flag2:before {
	content: "\e024";
}
.icon-map:before {
	content: "\e025";
}
.icon-puzzle:before {
	content: "\e026";
}
.icon-basket:before {
	content: "\e027";
}
.icon-envelope2:before {
	content: "\e028";
}
.icon-streetsign:before {
	content: "\e029";
}
.icon-telescope:before {
	content: "\e02a";
}
.icon-gears2:before {
	content: "\e02b";
}
.icon-key3:before {
	content: "\e02c";
}
.icon-paperclip2:before {
	content: "\e02d";
}
.icon-attachment:before {
	content: "\e02e";
}
.icon-pricetags:before {
	content: "\e02f";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-pencil3:before {
	content: "\e032";
}
.icon-tools:before {
	content: "\e033";
}
.icon-tools-2:before {
	content: "\e034";
}
.icon-scissors2:before {
	content: "\e035";
}
.icon-paintbrush:before {
	content: "\e036";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-circle-compass:before {
	content: "\e038";
}
.icon-linegraph:before {
	content: "\e039";
}
.icon-mic:before {
	content: "\e03a";
}
.icon-strategy:before {
	content: "\e03b";
}
.icon-beaker:before {
	content: "\e03c";
}
.icon-caution:before {
	content: "\e03d";
}
.icon-recycle2:before {
	content: "\e03e";
}
.icon-anchor2:before {
	content: "\e03f";
}
.icon-profile-male:before {
	content: "\e040";
}
.icon-profile-female:before {
	content: "\e041";
}
.icon-bike:before {
	content: "\e042";
}
.icon-wine:before {
	content: "\e043";
}
.icon-hotairballoon:before {
	content: "\e044";
}
.icon-globe2:before {
	content: "\e045";
}
.icon-genius:before {
	content: "\e046";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-dial:before {
	content: "\e048";
}
.icon-chat:before {
	content: "\e049";
}
.icon-heart2:before {
	content: "\e04a";
}
.icon-cloud2:before {
	content: "\e04b";
}
.icon-upload4:before {
	content: "\e04c";
}
.icon-download4:before {
	content: "\e04d";
}
.icon-target:before {
	content: "\e04e";
}
.icon-hazardous:before {
	content: "\e04f";
}
.icon-piechart:before {
	content: "\e050";
}
.icon-speedometer:before {
	content: "\e051";
}
.icon-global:before {
	content: "\e052";
}
.icon-compass3:before {
	content: "\e053";
}
.icon-lifesaver:before {
	content: "\e054";
}
.icon-clock:before {
	content: "\e055";
}
.icon-aperture:before {
	content: "\e056";
}
.icon-quote:before {
	content: "\e057";
}
.icon-scope:before {
	content: "\e058";
}
.icon-alarmclock:before {
	content: "\e059";
}
.icon-refresh2:before {
	content: "\e05a";
}
.icon-happy:before {
	content: "\e05b";
}
.icon-sad:before {
	content: "\e05c";
}
.icon-facebook4:before {
	content: "\e05d";
}
.icon-twitter4:before {
	content: "\e05e";
}
.icon-googleplus:before {
	content: "\e05f";
}
.icon-rss2:before {
	content: "\e060";
}
.icon-tumblr3:before {
	content: "\e061";
}
.icon-linkedin3:before {
	content: "\e062";
}
.icon-dribbble4:before {
	content: "\e063";
}
.icon-heart3:before {
	content: "\e600";
}
.icon-cloud3:before {
	content: "\e601";
}
.icon-star2:before {
	content: "\e602";
}
.icon-tv:before {
	content: "\e603";
}
.icon-sound:before {
	content: "\e604";
}
.icon-video2:before {
	content: "\e605";
}
.icon-trash2:before {
	content: "\e606";
}
.icon-user2:before {
	content: "\e607";
}
.icon-key4:before {
	content: "\e608";
}
.icon-search3:before {
	content: "\e609";
}
.icon-settings:before {
	content: "\e60a";
}
.icon-camera3:before {
	content: "\e60b";
}
.icon-tag2:before {
	content: "\e60c";
}
.icon-lock3:before {
	content: "\e60d";
}
.icon-bulb:before {
	content: "\e60e";
}
.icon-pen:before {
	content: "\e60f";
}
.icon-diamond2:before {
	content: "\e610";
}
.icon-display:before {
	content: "\e611";
}
.icon-location:before {
	content: "\e612";
}
.icon-eye2:before {
	content: "\e613";
}
.icon-bubble:before {
	content: "\e614";
}
.icon-stack:before {
	content: "\e615";
}
.icon-cup:before {
	content: "\e616";
}
.icon-phone3:before {
	content: "\e617";
}
.icon-news:before {
	content: "\e618";
}
.icon-mail:before {
	content: "\e619";
}
.icon-like:before {
	content: "\e61a";
}
.icon-photo2:before {
	content: "\e61b";
}
.icon-note:before {
	content: "\e61c";
}
.icon-clock3:before {
	content: "\e61d";
}
.icon-paperplane:before {
	content: "\e61e";
}
.icon-params:before {
	content: "\e61f";
}
.icon-banknote:before {
	content: "\e620";
}
.icon-data:before {
	content: "\e621";
}
.icon-music2:before {
	content: "\e622";
}
.icon-megaphone2:before {
	content: "\e623";
}
.icon-study:before {
	content: "\e624";
}
.icon-lab:before {
	content: "\e625";
}
.icon-food:before {
	content: "\e626";
}
.icon-t-shirt:before {
	content: "\e627";
}
.icon-fire2:before {
	content: "\e628";
}
.icon-clip:before {
	content: "\e629";
}
.icon-shop:before {
	content: "\e62a";
}
.icon-calendar3:before {
	content: "\e62b";
}
.icon-wallet2:before {
	content: "\e62c";
}
.icon-vynil:before {
	content: "\e62d";
}
.icon-truck2:before {
	content: "\e62e";
}
.icon-world:before {
	content: "\e62f";
}
.icon-glass:before {
	content: "\f000";
}
.icon-music:before {
	content: "\f001";
}
.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-user:before {
	content: "\f007";
}
.icon-film:before {
	content: "\f008";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-search-plus:before {
	content: "\f00e";
}
.icon-search-minus:before {
	content: "\f010";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-signal:before {
	content: "\f012";
}
.icon-cog:before {
	content: "\f013";
}
.icon-gear:before {
	content: "\f013";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-home:before {
	content: "\f015";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-road:before {
	content: "\f018";
}
.icon-download:before {
	content: "\f019";
}
.icon-arrow-circle-o-down:before {
	content: "\f01a";
}
.icon-arrow-circle-o-up:before {
	content: "\f01b";
}
.icon-inbox:before {
	content: "\f01c";
}
.icon-play-circle-o:before {
	content: "\f01d";
}
.icon-repeat:before {
	content: "\f01e";
}
.icon-rotate-right:before {
	content: "\f01e";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-lock:before {
	content: "\f023";
}
.icon-flag:before {
	content: "\f024";
}
.icon-headphones:before {
	content: "\f025";
}
.icon-volume-off:before {
	content: "\f026";
}
.icon-volume-down:before {
	content: "\f027";
}
.icon-volume-up:before {
	content: "\f028";
}
.icon-qrcode:before {
	content: "\f029";
}
.icon-barcode:before {
	content: "\f02a";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-book:before {
	content: "\f02d";
}
.icon-bookmark:before {
	content: "\f02e";
}
.icon-print:before {
	content: "\f02f";
}
.icon-camera:before {
	content: "\f030";
}
.icon-font:before {
	content: "\f031";
}
.icon-bold:before {
	content: "\f032";
}
.icon-italic:before {
	content: "\f033";
}
.icon-text-height:before {
	content: "\f034";
}
.icon-text-width:before {
	content: "\f035";
}
.icon-align-left:before {
	content: "\f036";
}
.icon-align-center:before {
	content: "\f037";
}
.icon-align-right:before {
	content: "\f038";
}
.icon-align-justify:before {
	content: "\f039";
}
.icon-list:before {
	content: "\f03a";
}
.icon-dedent:before {
	content: "\f03b";
}
.icon-outdent:before {
	content: "\f03b";
}
.icon-indent:before {
	content: "\f03c";
}
.icon-video-camera:before {
	content: "\f03d";
}
.icon-image:before {
	content: "\f03e";
}
.icon-photo:before {
	content: "\f03e";
}
.icon-picture-o:before {
	content: "\f03e";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-adjust:before {
	content: "\f042";
}
.icon-tint:before {
	content: "\f043";
}
.icon-edit:before {
	content: "\f044";
}
.icon-pencil-square-o:before {
	content: "\f044";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-check-square-o:before {
	content: "\f046";
}
.icon-arrows:before {
	content: "\f047";
}
.icon-step-backward:before {
	content: "\f048";
}
.icon-fast-backward:before {
	content: "\f049";
}
.icon-backward:before {
	content: "\f04a";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-stop:before {
	content: "\f04d";
}
.icon-forward:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-eject:before {
	content: "\f052";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-crosshairs:before {
	content: "\f05b";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-ban:before {
	content: "\f05e";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-mail-forward:before {
	content: "\f064";
}
.icon-share:before {
	content: "\f064";
}
.icon-expand:before {
	content: "\f065";
}
.icon-compress:before {
	content: "\f066";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-exclamation-circle:before {
	content: "\f06a";
}
.icon-gift:before {
	content: "\f06b";
}
.icon-leaf:before {
	content: "\f06c";
}
.icon-fire:before {
	content: "\f06d";
}
.icon-eye:before {
	content: "\f06e";
}
.icon-eye-slash:before {
	content: "\f070";
}
.icon-exclamation-triangle:before {
	content: "\f071";
}
.icon-warning:before {
	content: "\f071";
}
.icon-plane:before {
	content: "\f072";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-random:before {
	content: "\f074";
}
.icon-comment:before {
	content: "\f075";
}
.icon-magnet:before {
	content: "\f076";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-arrows-v:before {
	content: "\f07d";
}
.icon-arrows-h:before {
	content: "\f07e";
}
.icon-bar-chart:before {
	content: "\f080";
}
.icon-bar-chart-o:before {
	content: "\f080";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-camera-retro:before {
	content: "\f083";
}
.icon-key:before {
	content: "\f084";
}
.icon-cogs:before {
	content: "\f085";
}
.icon-gears:before {
	content: "\f085";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-thumbs-o-down:before {
	content: "\f088";
}
.icon-star-half:before {
	content: "\f089";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-sign-out:before {
	content: "\f08b";
}
.icon-linkedin-square:before {
	content: "\f08c";
}
.icon-thumb-tack:before {
	content: "\f08d";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-sign-in:before {
	content: "\f090";
}
.icon-trophy:before {
	content: "\f091";
}
.icon-github-square:before {
	content: "\f092";
}
.icon-upload:before {
	content: "\f093";
}
.icon-lemon-o:before {
	content: "\f094";
}
.icon-phone:before {
	content: "\f095";
}
.icon-square-o:before {
	content: "\f096";
}
.icon-bookmark-o:before {
	content: "\f097";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-unlock:before {
	content: "\f09c";
}
.icon-credit-card:before {
	content: "\f09d";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-hdd-o:before {
	content: "\f0a0";
}
.icon-bullhorn:before {
	content: "\f0a1";
}
.icon-bell-o:before {
	content: "\f0a2";
}
.icon-certificate:before {
	content: "\f0a3";
}
.icon-hand-o-right:before {
	content: "\f0a4";
}
.icon-hand-o-left:before {
	content: "\f0a5";
}
.icon-hand-o-up:before {
	content: "\f0a6";
}
.icon-hand-o-down:before {
	content: "\f0a7";
}
.icon-arrow-circle-left:before {
	content: "\f0a8";
}
.icon-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-arrow-circle-up:before {
	content: "\f0aa";
}
.icon-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-tasks:before {
	content: "\f0ae";
}
.icon-filter:before {
	content: "\f0b0";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-arrows-alt:before {
	content: "\f0b2";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-users:before {
	content: "\f0c0";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-cloud:before {
	content: "\f0c2";
}
.icon-flask:before {
	content: "\f0c3";
}
.icon-cut:before {
	content: "\f0c4";
}
.icon-scissors:before {
	content: "\f0c4";
}
.icon-copy:before {
	content: "\f0c5";
}
.icon-files-o:before {
	content: "\f0c5";
}
.icon-paperclip:before {
	content: "\f0c6";
}
.icon-floppy-o:before {
	content: "\f0c7";
}
.icon-save:before {
	content: "\f0c7";
}
.icon-square:before {
	content: "\f0c8";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-ol:before {
	content: "\f0cb";
}
.icon-strikethrough:before {
	content: "\f0cc";
}
.icon-underline:before {
	content: "\f0cd";
}
.icon-table:before {
	content: "\f0ce";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-truck:before {
	content: "\f0d1";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-money:before {
	content: "\f0d6";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-columns:before {
	content: "\f0db";
}
.icon-sort:before {
	content: "\f0dc";
}
.icon-unsorted:before {
	content: "\f0dc";
}
.icon-sort-desc:before {
	content: "\f0dd";
}
.icon-sort-down:before {
	content: "\f0dd";
}
.icon-sort-asc:before {
	content: "\f0de";
}
.icon-sort-up:before {
	content: "\f0de";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-rotate-left:before {
	content: "\f0e2";
}
.icon-undo:before {
	content: "\f0e2";
}
.icon-gavel:before {
	content: "\f0e3";
}
.icon-legal:before {
	content: "\f0e3";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-tachometer:before {
	content: "\f0e4";
}
.icon-comment-o:before {
	content: "\f0e5";
}
.icon-comments-o:before {
	content: "\f0e6";
}
.icon-bolt:before {
	content: "\f0e7";
}
.icon-flash:before {
	content: "\f0e7";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-umbrella:before {
	content: "\f0e9";
}
.icon-clipboard:before {
	content: "\f0ea";
}
.icon-paste:before {
	content: "\f0ea";
}
.icon-lightbulb-o:before {
	content: "\f0eb";
}
.icon-exchange:before {
	content: "\f0ec";
}
.icon-cloud-download:before {
	content: "\f0ed";
}
.icon-cloud-upload:before {
	content: "\f0ee";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-stethoscope:before {
	content: "\f0f1";
}
.icon-suitcase:before {
	content: "\f0f2";
}
.icon-bell:before {
	content: "\f0f3";
}
.icon-coffee:before {
	content: "\f0f4";
}
.icon-cutlery:before {
	content: "\f0f5";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-building-o:before {
	content: "\f0f7";
}
.icon-hospital-o:before {
	content: "\f0f8";
}
.icon-ambulance:before {
	content: "\f0f9";
}
.icon-medkit:before {
	content: "\f0fa";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}
.icon-beer:before {
	content: "\f0fc";
}
.icon-h-square:before {
	content: "\f0fd";
}
.icon-plus-square:before {
	content: "\f0fe";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-mobile-phone:before {
	content: "\f10b";
}
.icon-circle-o:before {
	content: "\f10c";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-circle:before {
	content: "\f111";
}
.icon-mail-reply:before {
	content: "\f112";
}
.icon-reply:before {
	content: "\f112";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-folder-o:before {
	content: "\f114";
}
.icon-folder-open-o:before {
	content: "\f115";
}
.icon-smile-o:before {
	content: "\f118";
}
.icon-frown-o:before {
	content: "\f119";
}
.icon-meh-o:before {
	content: "\f11a";
}
.icon-gamepad:before {
	content: "\f11b";
}
.icon-keyboard-o:before {
	content: "\f11c";
}
.icon-flag-o:before {
	content: "\f11d";
}
.icon-flag-checkered:before {
	content: "\f11e";
}
.icon-terminal:before {
	content: "\f120";
}
.icon-code:before {
	content: "\f121";
}
.icon-mail-reply-all:before {
	content: "\f122";
}
.icon-reply-all:before {
	content: "\f122";
}
.icon-star-half-empty:before {
	content: "\f123";
}
.icon-star-half-full:before {
	content: "\f123";
}
.icon-star-half-o:before {
	content: "\f123";
}
.icon-location-arrow:before {
	content: "\f124";
}
.icon-crop:before {
	content: "\f125";
}
.icon-code-fork:before {
	content: "\f126";
}
.icon-chain-broken:before {
	content: "\f127";
}
.icon-unlink:before {
	content: "\f127";
}
.icon-question:before {
	content: "\f128";
}
.icon-info:before {
	content: "\f129";
}
.icon-exclamation:before {
	content: "\f12a";
}
.icon-superscript:before {
	content: "\f12b";
}
.icon-subscript:before {
	content: "\f12c";
}
.icon-eraser:before {
	content: "\f12d";
}
.icon-puzzle-piece:before {
	content: "\f12e";
}
.icon-microphone:before {
	content: "\f130";
}
.icon-microphone-slash:before {
	content: "\f131";
}
.icon-shield:before {
	content: "\f132";
}
.icon-calendar-o:before {
	content: "\f133";
}
.icon-fire-extinguisher:before {
	content: "\f134";
}
.icon-rocket:before {
	content: "\f135";
}
.icon-maxcdn:before {
	content: "\f136";
}
.icon-chevron-circle-left:before {
	content: "\f137";
}
.icon-chevron-circle-right:before {
	content: "\f138";
}
.icon-chevron-circle-up:before {
	content: "\f139";
}
.icon-chevron-circle-down:before {
	content: "\f13a";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-anchor:before {
	content: "\f13d";
}
.icon-unlock-alt:before {
	content: "\f13e";
}
.icon-bullseye:before {
	content: "\f140";
}
.icon-ellipsis-h:before {
	content: "\f141";
}
.icon-ellipsis-v:before {
	content: "\f142";
}
.icon-rss-square:before {
	content: "\f143";
}
.icon-play-circle:before {
	content: "\f144";
}
.icon-ticket:before {
	content: "\f145";
}
.icon-minus-square:before {
	content: "\f146";
}
.icon-minus-square-o:before {
	content: "\f147";
}
.icon-level-up:before {
	content: "\f148";
}
.icon-level-down:before {
	content: "\f149";
}
.icon-check-square:before {
	content: "\f14a";
}
.icon-pencil-square:before {
	content: "\f14b";
}
.icon-external-link-square:before {
	content: "\f14c";
}
.icon-share-square:before {
	content: "\f14d";
}
.icon-compass:before {
	content: "\f14e";
}
.icon-caret-square-o-down:before {
	content: "\f150";
}
.icon-toggle-down:before {
	content: "\f150";
}
.icon-caret-square-o-up:before {
	content: "\f151";
}
.icon-toggle-up:before {
	content: "\f151";
}
.icon-caret-square-o-right:before {
	content: "\f152";
}
.icon-toggle-right:before {
	content: "\f152";
}
.icon-eur:before {
	content: "\f153";
}
.icon-euro:before {
	content: "\f153";
}
.icon-gbp:before {
	content: "\f154";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-usd:before {
	content: "\f155";
}
.icon-inr:before {
	content: "\f156";
}
.icon-rupee:before {
	content: "\f156";
}
.icon-cny:before {
	content: "\f157";
}
.icon-jpy:before {
	content: "\f157";
}
.icon-rmb:before {
	content: "\f157";
}
.icon-yen:before {
	content: "\f157";
}
.icon-rouble:before {
	content: "\f158";
}
.icon-rub:before {
	content: "\f158";
}
.icon-ruble:before {
	content: "\f158";
}
.icon-krw:before {
	content: "\f159";
}
.icon-won:before {
	content: "\f159";
}
.icon-bitcoin:before {
	content: "\f15a";
}
.icon-btc:before {
	content: "\f15a";
}
.icon-file:before {
	content: "\f15b";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-sort-alpha-asc:before {
	content: "\f15d";
}
.icon-sort-alpha-desc:before {
	content: "\f15e";
}
.icon-sort-amount-asc:before {
	content: "\f160";
}
.icon-sort-amount-desc:before {
	content: "\f161";
}
.icon-sort-numeric-asc:before {
	content: "\f162";
}
.icon-sort-numeric-desc:before {
	content: "\f163";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-youtube-square:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-xing:before {
	content: "\f168";
}
.icon-xing-square:before {
	content: "\f169";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-stack-overflow:before {
	content: "\f16c";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-flickr:before {
	content: "\f16e";
}
.icon-adn:before {
	content: "\f170";
}
.icon-bitbucket:before {
	content: "\f171";
}
.icon-bitbucket-square:before {
	content: "\f172";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-square:before {
	content: "\f174";
}
.icon-long-arrow-down:before {
	content: "\f175";
}
.icon-long-arrow-up:before {
	content: "\f176";
}
.icon-long-arrow-left:before {
	content: "\f177";
}
.icon-long-arrow-right:before {
	content: "\f178";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-linux:before {
	content: "\f17c";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-foursquare:before {
	content: "\f180";
}
.icon-trello:before {
	content: "\f181";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-gittip:before {
	content: "\f184";
}
.icon-gratipay:before {
	content: "\f184";
}
.icon-sun-o:before {
	content: "\f185";
}
.icon-moon-o:before {
	content: "\f186";
}
.icon-archive:before {
	content: "\f187";
}
.icon-bug:before {
	content: "\f188";
}
.icon-vk:before {
	content: "\f189";
}
.icon-weibo:before {
	content: "\f18a";
}
.icon-renren:before {
	content: "\f18b";
}
.icon-pagelines:before {
	content: "\f18c";
}
.icon-stack-exchange:before {
	content: "\f18d";
}
.icon-arrow-circle-o-right:before {
	content: "\f18e";
}
.icon-arrow-circle-o-left:before {
	content: "\f190";
}
.icon-caret-square-o-left:before {
	content: "\f191";
}
.icon-toggle-left:before {
	content: "\f191";
}
.icon-dot-circle-o:before {
	content: "\f192";
}
.icon-wheelchair:before {
	content: "\f193";
}
.icon-vimeo-square:before {
	content: "\f194";
}
.icon-try:before {
	content: "\f195";
}
.icon-turkish-lira:before {
	content: "\f195";
}
.icon-plus-square-o:before {
	content: "\f196";
}
.icon-space-shuttle:before {
	content: "\f197";
}
.icon-slack:before {
	content: "\f198";
}
.icon-envelope-square:before {
	content: "\f199";
}
.icon-wordpress:before {
	content: "\f19a";
}
.icon-openid:before {
	content: "\f19b";
}
.icon-bank:before {
	content: "\f19c";
}
.icon-institution:before {
	content: "\f19c";
}
.icon-university:before {
	content: "\f19c";
}
.icon-graduation-cap:before {
	content: "\f19d";
}
.icon-mortar-board:before {
	content: "\f19d";
}
.icon-yahoo:before {
	content: "\f19e";
}
.icon-google:before {
	content: "\f1a0";
}
.icon-reddit:before {
	content: "\f1a1";
}
.icon-reddit-square:before {
	content: "\f1a2";
}
.icon-stumbleupon-circle:before {
	content: "\f1a3";
}
.icon-stumbleupon:before {
	content: "\f1a4";
}
.icon-delicious:before {
	content: "\f1a5";
}
.icon-digg:before {
	content: "\f1a6";
}
.icon-pied-piper:before {
	content: "\f1a7";
}
.icon-pied-piper-alt:before {
	content: "\f1a8";
}
.icon-drupal:before {
	content: "\f1a9";
}
.icon-joomla:before {
	content: "\f1aa";
}
.icon-language:before {
	content: "\f1ab";
}
.icon-fax:before {
	content: "\f1ac";
}
.icon-building:before {
	content: "\f1ad";
}
.icon-child:before {
	content: "\f1ae";
}
.icon-paw:before {
	content: "\f1b0";
}
.icon-spoon:before {
	content: "\f1b1";
}
.icon-cube:before {
	content: "\f1b2";
}
.icon-cubes:before {
	content: "\f1b3";
}
.icon-behance:before {
	content: "\f1b4";
}
.icon-behance-square:before {
	content: "\f1b5";
}
.icon-steam:before {
	content: "\f1b6";
}
.icon-steam-square:before {
	content: "\f1b7";
}
.icon-recycle:before {
	content: "\f1b8";
}
.icon-automobile:before {
	content: "\f1b9";
}
.icon-car:before {
	content: "\f1b9";
}
.icon-cab:before {
	content: "\f1ba";
}
.icon-taxi:before {
	content: "\f1ba";
}
.icon-tree:before {
	content: "\f1bb";
}
.icon-spotify:before {
	content: "\f1bc";
}
.icon-deviantart:before {
	content: "\f1bd";
}
.icon-soundcloud:before {
	content: "\f1be";
}
.icon-database:before {
	content: "\f1c0";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-file-word-o:before {
	content: "\f1c2";
}
.icon-file-excel-o:before {
	content: "\f1c3";
}
.icon-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-file-image-o:before {
	content: "\f1c5";
}
.icon-file-photo-o:before {
	content: "\f1c5";
}
.icon-file-picture-o:before {
	content: "\f1c5";
}
.icon-file-archive-o:before {
	content: "\f1c6";
}
.icon-file-zip-o:before {
	content: "\f1c6";
}
.icon-file-audio-o:before {
	content: "\f1c7";
}
.icon-file-sound-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-file-video-o:before {
	content: "\f1c8";
}
.icon-file-code-o:before {
	content: "\f1c9";
}
.icon-vine:before {
	content: "\f1ca";
}
.icon-codepen:before {
	content: "\f1cb";
}
.icon-jsfiddle:before {
	content: "\f1cc";
}
.icon-life-bouy:before {
	content: "\f1cd";
}
.icon-life-buoy:before {
	content: "\f1cd";
}
.icon-life-ring:before {
	content: "\f1cd";
}
.icon-life-saver:before {
	content: "\f1cd";
}
.icon-support:before {
	content: "\f1cd";
}
.icon-circle-o-notch:before {
	content: "\f1ce";
}
.icon-ra:before {
	content: "\f1d0";
}
.icon-rebel:before {
	content: "\f1d0";
}
.icon-empire:before {
	content: "\f1d1";
}
.icon-ge:before {
	content: "\f1d1";
}
.icon-git-square:before {
	content: "\f1d2";
}
.icon-git:before {
	content: "\f1d3";
}
.icon-hacker-news:before {
	content: "\f1d4";
}
.icon-tencent-weibo:before {
	content: "\f1d5";
}
.icon-qq:before {
	content: "\f1d6";
}
.icon-wechat:before {
	content: "\f1d7";
}
.icon-weixin:before {
	content: "\f1d7";
}
.icon-paper-plane:before {
	content: "\f1d8";
}
.icon-send:before {
	content: "\f1d8";
}
.icon-paper-plane-o:before {
	content: "\f1d9";
}
.icon-send-o:before {
	content: "\f1d9";
}
.icon-history:before {
	content: "\f1da";
}
.icon-circle-thin:before {
	content: "\f1db";
}
.icon-genderless:before {
	content: "\f1db";
}
.icon-header:before {
	content: "\f1dc";
}
.icon-paragraph:before {
	content: "\f1dd";
}
.icon-sliders:before {
	content: "\f1de";
}
.icon-share-alt:before {
	content: "\f1e0";
}
.icon-share-alt-square:before {
	content: "\f1e1";
}
.icon-bomb:before {
	content: "\f1e2";
}
.icon-futbol-o:before {
	content: "\f1e3";
}
.icon-soccer-ball-o:before {
	content: "\f1e3";
}
.icon-tty:before {
	content: "\f1e4";
}
.icon-binoculars:before {
	content: "\f1e5";
}
.icon-plug:before {
	content: "\f1e6";
}
.icon-slideshare:before {
	content: "\f1e7";
}
.icon-twitch:before {
	content: "\f1e8";
}
.icon-yelp:before {
	content: "\f1e9";
}
.icon-newspaper-o:before {
	content: "\f1ea";
}
.icon-wifi:before {
	content: "\f1eb";
}
.icon-calculator:before {
	content: "\f1ec";
}
.icon-paypal:before {
	content: "\f1ed";
}
.icon-google-wallet:before {
	content: "\f1ee";
}
.icon-cc-visa:before {
	content: "\f1f0";
}
.icon-cc-mastercard:before {
	content: "\f1f1";
}
.icon-cc-discover:before {
	content: "\f1f2";
}
.icon-cc-amex:before {
	content: "\f1f3";
}
.icon-cc-paypal:before {
	content: "\f1f4";
}
.icon-cc-stripe:before {
	content: "\f1f5";
}
.icon-bell-slash:before {
	content: "\f1f6";
}
.icon-bell-slash-o:before {
	content: "\f1f7";
}
.icon-trash:before {
	content: "\f1f8";
}
.icon-copyright:before {
	content: "\f1f9";
}
.icon-at:before {
	content: "\f1fa";
}
.icon-eyedropper:before {
	content: "\f1fb";
}
.icon-paint-brush:before {
	content: "\f1fc";
}
.icon-birthday-cake:before {
	content: "\f1fd";
}
.icon-area-chart:before {
	content: "\f1fe";
}
.icon-pie-chart:before {
	content: "\f200";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-lastfm:before {
	content: "\f202";
}
.icon-lastfm-square:before {
	content: "\f203";
}
.icon-toggle-off:before {
	content: "\f204";
}
.icon-toggle-on:before {
	content: "\f205";
}
.icon-bicycle:before {
	content: "\f206";
}
.icon-bus:before {
	content: "\f207";
}
.icon-ioxhost:before {
	content: "\f208";
}
.icon-angellist:before {
	content: "\f209";
}
.icon-cc:before {
	content: "\f20a";
}
.icon-ils:before {
	content: "\f20b";
}
.icon-shekel:before {
	content: "\f20b";
}
.icon-sheqel:before {
	content: "\f20b";
}
.icon-meanpath:before {
	content: "\f20c";
}
.icon-buysellads:before {
	content: "\f20d";
}
.icon-connectdevelop:before {
	content: "\f20e";
}
.icon-dashcube:before {
	content: "\f210";
}
.icon-forumbee:before {
	content: "\f211";
}
.icon-leanpub:before {
	content: "\f212";
}
.icon-sellsy:before {
	content: "\f213";
}
.icon-shirtsinbulk:before {
	content: "\f214";
}
.icon-simplybuilt:before {
	content: "\f215";
}
.icon-skyatlas:before {
	content: "\f216";
}
.icon-cart-plus:before {
	content: "\f217";
}
.icon-cart-arrow-down:before {
	content: "\f218";
}
.icon-diamond:before {
	content: "\f219";
}
.icon-ship:before {
	content: "\f21a";
}
.icon-user-secret:before {
	content: "\f21b";
}
.icon-motorcycle:before {
	content: "\f21c";
}
.icon-street-view:before {
	content: "\f21d";
}
.icon-heartbeat:before {
	content: "\f21e";
}
.icon-venus:before {
	content: "\f221";
}
.icon-mars:before {
	content: "\f222";
}
.icon-mercury:before {
	content: "\f223";
}
.icon-transgender:before {
	content: "\f224";
}
.icon-transgender-alt:before {
	content: "\f225";
}
.icon-venus-double:before {
	content: "\f226";
}
.icon-mars-double:before {
	content: "\f227";
}
.icon-venus-mars:before {
	content: "\f228";
}
.icon-mars-stroke:before {
	content: "\f229";
}
.icon-mars-stroke-v:before {
	content: "\f22a";
}
.icon-mars-stroke-h:before {
	content: "\f22b";
}
.icon-neuter:before {
	content: "\f22c";
}
.icon-facebook-official:before {
	content: "\f230";
}
.icon-pinterest-p:before {
	content: "\f231";
}
.icon-whatsapp:before {
	content: "\f232";
}
.icon-server:before {
	content: "\f233";
}
.icon-user-plus:before {
	content: "\f234";
}
.icon-user-times:before {
	content: "\f235";
}
.icon-bed:before {
	content: "\f236";
}
.icon-hotel:before {
	content: "\f236";
}
.icon-viacoin:before {
	content: "\f237";
}
.icon-train:before {
	content: "\f238";
}
.icon-subway:before {
	content: "\f239";
}
.icon-medium:before {
	content: "\f23a";
}
.icon-add-to-list:before {
	content: "\e630";
}
.icon-classic-computer:before {
	content: "\e631";
}
.icon-controller-fast-backward:before {
	content: "\e632";
}
.icon-creative-commons-attribution:before {
	content: "\e633";
}
.icon-creative-commons-noderivs:before {
	content: "\e634";
}
.icon-creative-commons-noncommercial-eu:before {
	content: "\e635";
}
.icon-creative-commons-noncommercial-us:before {
	content: "\e636";
}
.icon-creative-commons-public-domain:before {
	content: "\e637";
}
.icon-creative-commons-remix:before {
	content: "\e638";
}
.icon-creative-commons-share:before {
	content: "\e639";
}
.icon-creative-commons-sharealike:before {
	content: "\e63a";
}
.icon-creative-commons:before {
	content: "\e63b";
}
.icon-document-landscape:before {
	content: "\e63c";
}
.icon-remove-user:before {
	content: "\e63d";
}
.icon-warning2:before {
	content: "\e63e";
}
.icon-arrow-bold-down:before {
	content: "\e63f";
}
.icon-arrow-bold-left:before {
	content: "\e640";
}
.icon-arrow-bold-right:before {
	content: "\e641";
}
.icon-arrow-bold-up:before {
	content: "\e642";
}
.icon-arrow-down3:before {
	content: "\e643";
}
.icon-arrow-left3:before {
	content: "\e644";
}
.icon-arrow-long-down:before {
	content: "\e645";
}
.icon-arrow-long-left:before {
	content: "\e646";
}
.icon-arrow-long-right:before {
	content: "\e647";
}
.icon-arrow-long-up:before {
	content: "\e648";
}
.icon-arrow-right3:before {
	content: "\e649";
}
.icon-arrow-up3:before {
	content: "\e64a";
}
.icon-arrow-with-circle-down:before {
	content: "\e64b";
}
.icon-arrow-with-circle-left:before {
	content: "\e64c";
}
.icon-arrow-with-circle-right:before {
	content: "\e64d";
}
.icon-arrow-with-circle-up:before {
	content: "\e64e";
}
.icon-bookmark2:before {
	content: "\e64f";
}
.icon-bookmarks:before {
	content: "\e650";
}
.icon-chevron-down2:before {
	content: "\e651";
}
.icon-chevron-left2:before {
	content: "\e652";
}
.icon-chevron-right2:before {
	content: "\e653";
}
.icon-chevron-small-down:before {
	content: "\e654";
}
.icon-chevron-small-left:before {
	content: "\e655";
}
.icon-chevron-small-right:before {
	content: "\e656";
}
.icon-chevron-small-up:before {
	content: "\e657";
}
.icon-chevron-thin-down:before {
	content: "\e658";
}
.icon-chevron-thin-left:before {
	content: "\e659";
}
.icon-chevron-thin-right:before {
	content: "\e65a";
}
.icon-chevron-thin-up:before {
	content: "\e65b";
}
.icon-chevron-up2:before {
	content: "\e65c";
}
.icon-chevron-with-circle-down:before {
	content: "\e65d";
}
.icon-chevron-with-circle-left:before {
	content: "\e65e";
}
.icon-chevron-with-circle-right:before {
	content: "\e65f";
}
.icon-chevron-with-circle-up:before {
	content: "\e660";
}
.icon-cloud4:before {
	content: "\e661";
}
.icon-controller-fast-forward:before {
	content: "\e662";
}
.icon-controller-jump-to-start:before {
	content: "\e663";
}
.icon-controller-next:before {
	content: "\e664";
}
.icon-controller-paus:before {
	content: "\e665";
}
.icon-controller-play:before {
	content: "\e666";
}
.icon-controller-record:before {
	content: "\e667";
}
.icon-controller-stop:before {
	content: "\e668";
}
.icon-controller-volume:before {
	content: "\e669";
}
.icon-dot-single:before {
	content: "\e66a";
}
.icon-dots-three-horizontal:before {
	content: "\e66b";
}
.icon-dots-three-vertical:before {
	content: "\e66c";
}
.icon-dots-two-horizontal:before {
	content: "\e66d";
}
.icon-dots-two-vertical:before {
	content: "\e66e";
}
.icon-download5:before {
	content: "\e66f";
}
.icon-emoji-flirt:before {
	content: "\e670";
}
.icon-flow-branch:before {
	content: "\e671";
}
.icon-flow-cascade:before {
	content: "\e672";
}
.icon-flow-line:before {
	content: "\e673";
}
.icon-flow-parallel:before {
	content: "\e674";
}
.icon-flow-tree:before {
	content: "\e675";
}
.icon-install:before {
	content: "\e676";
}
.icon-layers2:before {
	content: "\e677";
}
.icon-open-book:before {
	content: "\e678";
}
.icon-resize-100:before {
	content: "\e679";
}
.icon-resize-full-screen:before {
	content: "\e67a";
}
.icon-save2:before {
	content: "\e67b";
}
.icon-select-arrows:before {
	content: "\e67c";
}
.icon-sound-mute:before {
	content: "\e67d";
}
.icon-sound2:before {
	content: "\e67e";
}
.icon-trash3:before {
	content: "\e67f";
}
.icon-triangle-down:before {
	content: "\e680";
}
.icon-triangle-left:before {
	content: "\e681";
}
.icon-triangle-right:before {
	content: "\e682";
}
.icon-triangle-up:before {
	content: "\e683";
}
.icon-uninstall:before {
	content: "\e684";
}
.icon-upload-to-cloud:before {
	content: "\e685";
}
.icon-upload5:before {
	content: "\e686";
}
.icon-add-user:before {
	content: "\e687";
}
.icon-address:before {
	content: "\e688";
}
.icon-adjust2:before {
	content: "\e689";
}
.icon-air:before {
	content: "\e68a";
}
.icon-aircraft-landing:before {
	content: "\e68b";
}
.icon-aircraft-take-off:before {
	content: "\e68c";
}
.icon-aircraft:before {
	content: "\e68d";
}
.icon-align-bottom:before {
	content: "\e68e";
}
.icon-align-horizontal-middle:before {
	content: "\e68f";
}
.icon-align-left2:before {
	content: "\e690";
}
.icon-align-right2:before {
	content: "\e691";
}
.icon-align-top:before {
	content: "\e692";
}
.icon-align-vertical-middle:before {
	content: "\e693";
}
.icon-archive2:before {
	content: "\e694";
}
.icon-area-graph:before {
	content: "\e695";
}
.icon-attachment2:before {
	content: "\e696";
}
.icon-awareness-ribbon:before {
	content: "\e697";
}
.icon-back-in-time:before {
	content: "\e698";
}
.icon-back:before {
	content: "\e699";
}
.icon-bar-graph:before {
	content: "\e69a";
}
.icon-battery:before {
	content: "\e69b";
}
.icon-beamed-note:before {
	content: "\e69c";
}
.icon-bell2:before {
	content: "\e69d";
}
.icon-blackboard:before {
	content: "\e69e";
}
.icon-block:before {
	content: "\e69f";
}
.icon-book2:before {
	content: "\e6a0";
}
.icon-bowl:before {
	content: "\e6a1";
}
.icon-box:before {
	content: "\e6a2";
}
.icon-briefcase3:before {
	content: "\e6a3";
}
.icon-browser2:before {
	content: "\e6a4";
}
.icon-brush:before {
	content: "\e6a5";
}
.icon-bucket:before {
	content: "\e6a6";
}
.icon-cake:before {
	content: "\e6a7";
}
.icon-calculator2:before {
	content: "\e6a8";
}
.icon-calendar4:before {
	content: "\e6a9";
}
.icon-camera4:before {
	content: "\e6aa";
}
.icon-ccw:before {
	content: "\e6ab";
}
.icon-chat2:before {
	content: "\e6ac";
}
.icon-check2:before {
	content: "\e6ad";
}
.icon-circle-with-cross:before {
	content: "\e6ae";
}
.icon-circle-with-minus:before {
	content: "\e6af";
}
.icon-circle-with-plus:before {
	content: "\e6b0";
}
.icon-circle2:before {
	content: "\e6b1";
}
.icon-circular-graph:before {
	content: "\e6b2";
}
.icon-clapperboard:before {
	content: "\e6b3";
}
.icon-clipboard3:before {
	content: "\e6b4";
}
.icon-clock4:before {
	content: "\e6b5";
}
.icon-code2:before {
	content: "\e6b6";
}
.icon-cog2:before {
	content: "\e6b7";
}
.icon-colours:before {
	content: "\e6b8";
}
.icon-compass4:before {
	content: "\e6b9";
}
.icon-copy2:before {
	content: "\e6ba";
}
.icon-credit-card2:before {
	content: "\e6bb";
}
.icon-credit:before {
	content: "\e6bc";
}
.icon-cross:before {
	content: "\e6bd";
}
.icon-cup2:before {
	content: "\e6be";
}
.icon-cw:before {
	content: "\e6bf";
}
.icon-cycle:before {
	content: "\e6c0";
}
.icon-database2:before {
	content: "\e6c1";
}
.icon-dial-pad:before {
	content: "\e6c2";
}
.icon-direction:before {
	content: "\e6c3";
}
.icon-document2:before {
	content: "\e6c4";
}
.icon-documents2:before {
	content: "\e6c5";
}
.icon-drink:before {
	content: "\e6c6";
}
.icon-drive:before {
	content: "\e6c7";
}
.icon-drop:before {
	content: "\e6c8";
}
.icon-edit3:before {
	content: "\e6c9";
}
.icon-email:before {
	content: "\e6ca";
}
.icon-emoji-happy:before {
	content: "\e6cb";
}
.icon-emoji-neutral:before {
	content: "\e6cc";
}
.icon-emoji-sad:before {
	content: "\e6cd";
}
.icon-erase:before {
	content: "\e6ce";
}
.icon-eraser2:before {
	content: "\e6cf";
}
.icon-export:before {
	content: "\e6d0";
}
.icon-eye3:before {
	content: "\e6d1";
}
.icon-feather:before {
	content: "\e6d2";
}
.icon-flag3:before {
	content: "\e6d3";
}
.icon-flash2:before {
	content: "\e6d4";
}
.icon-flashlight:before {
	content: "\e6d5";
}
.icon-flat-brush:before {
	content: "\e6d6";
}
.icon-folder-images:before {
	content: "\e6d7";
}
.icon-folder-music:before {
	content: "\e6d8";
}
.icon-folder-video:before {
	content: "\e6d9";
}
.icon-folder2:before {
	content: "\e6da";
}
.icon-forward4:before {
	content: "\e6db";
}
.icon-funnel:before {
	content: "\e6dc";
}
.icon-game-controller:before {
	content: "\e6dd";
}
.icon-gauge:before {
	content: "\e6de";
}
.icon-globe3:before {
	content: "\e6df";
}
.icon-graduation-cap2:before {
	content: "\e6e0";
}
.icon-grid2:before {
	content: "\e6e1";
}
.icon-hair-cross:before {
	content: "\e6e2";
}
.icon-hand:before {
	content: "\e6e3";
}
.icon-heart-outlined:before {
	content: "\e6e4";
}
.icon-heart4:before {
	content: "\e6e5";
}
.icon-help-with-circle:before {
	content: "\e6e6";
}
.icon-help:before {
	content: "\e6e7";
}
.icon-home4:before {
	content: "\e6e8";
}
.icon-hour-glass:before {
	content: "\e6e9";
}
.icon-image-inverted:before {
	content: "\e6ea";
}
.icon-image2:before {
	content: "\e6eb";
}
.icon-images:before {
	content: "\e6ec";
}
.icon-inbox2:before {
	content: "\e6ed";
}
.icon-infinity:before {
	content: "\e6ee";
}
.icon-info-with-circle:before {
	content: "\e6ef";
}
.icon-info2:before {
	content: "\e6f0";
}
.icon-key5:before {
	content: "\e6f1";
}
.icon-keyboard:before {
	content: "\e6f2";
}
.icon-lab-flask:before {
	content: "\e6f3";
}
.icon-landline:before {
	content: "\e6f4";
}
.icon-language2:before {
	content: "\e6f5";
}
.icon-laptop3:before {
	content: "\e6f6";
}
.icon-leaf2:before {
	content: "\e6f7";
}
.icon-level-down2:before {
	content: "\e6f8";
}
.icon-level-up2:before {
	content: "\e6f9";
}
.icon-lifebuoy:before {
	content: "\e6fa";
}
.icon-light-bulb:before {
	content: "\e6fb";
}
.icon-light-down:before {
	content: "\e6fc";
}
.icon-light-up:before {
	content: "\e6fd";
}
.icon-line-graph:before {
	content: "\e6fe";
}
.icon-link2:before {
	content: "\e6ff";
}
.icon-list3:before {
	content: "\e700";
}
.icon-location-pin:before {
	content: "\e701";
}
.icon-location3:before {
	content: "\e702";
}
.icon-lock-open:before {
	content: "\e703";
}
.icon-lock4:before {
	content: "\e704";
}
.icon-log-out:before {
	content: "\e705";
}
.icon-login:before {
	content: "\e706";
}
.icon-loop:before {
	content: "\e707";
}
.icon-magnet2:before {
	content: "\e708";
}
.icon-magnifying-glass2:before {
	content: "\e709";
}
.icon-mail5:before {
	content: "\e70a";
}
.icon-man:before {
	content: "\e70b";
}
.icon-map3:before {
	content: "\e70c";
}
.icon-mask:before {
	content: "\e70d";
}
.icon-medal:before {
	content: "\e70e";
}
.icon-megaphone3:before {
	content: "\e70f";
}
.icon-menu:before {
	content: "\e710";
}
.icon-message:before {
	content: "\e711";
}
.icon-mic2:before {
	content: "\e712";
}
.icon-minus2:before {
	content: "\e713";
}
.icon-mobile4:before {
	content: "\e714";
}
.icon-modern-mic:before {
	content: "\e715";
}
.icon-moon:before {
	content: "\e716";
}
.icon-mouse:before {
	content: "\e717";
}
.icon-music3:before {
	content: "\e718";
}
.icon-network:before {
	content: "\e719";
}
.icon-new-message:before {
	content: "\e71a";
}
.icon-new:before {
	content: "\e71b";
}
.icon-news2:before {
	content: "\e71c";
}
.icon-note2:before {
	content: "\e71d";
}
.icon-notification:before {
	content: "\e71e";
}
.icon-old-mobile:before {
	content: "\e71f";
}
.icon-old-phone:before {
	content: "\e720";
}
.icon-palette:before {
	content: "\e721";
}
.icon-paper-plane2:before {
	content: "\e722";
}
.icon-pencil4:before {
	content: "\e723";
}
.icon-phone4:before {
	content: "\e724";
}
.icon-pie-chart2:before {
	content: "\e725";
}
.icon-pin:before {
	content: "\e726";
}
.icon-plus2:before {
	content: "\e727";
}
.icon-popup:before {
	content: "\e728";
}
.icon-power-plug:before {
	content: "\e729";
}
.icon-price-ribbon:before {
	content: "\e72a";
}
.icon-price-tag:before {
	content: "\e72b";
}
.icon-print2:before {
	content: "\e72c";
}
.icon-progress-empty:before {
	content: "\e72d";
}
.icon-progress-full:before {
	content: "\e72e";
}
.icon-progress-one:before {
	content: "\e72f";
}
.icon-progress-two:before {
	content: "\e730";
}
.icon-publish:before {
	content: "\e731";
}
.icon-quote2:before {
	content: "\e732";
}
.icon-radio:before {
	content: "\e733";
}
.icon-reply-all2:before {
	content: "\e734";
}
.icon-reply2:before {
	content: "\e735";
}
.icon-retweet2:before {
	content: "\e736";
}
.icon-rocket2:before {
	content: "\e737";
}
.icon-round-brush:before {
	content: "\e738";
}
.icon-rss3:before {
	content: "\e739";
}
.icon-ruler:before {
	content: "\e73a";
}
.icon-scissors3:before {
	content: "\e73b";
}
.icon-share-alternitive:before {
	content: "\e73c";
}
.icon-share3:before {
	content: "\e73d";
}
.icon-shareable:before {
	content: "\e73e";
}
.icon-shield3:before {
	content: "\e73f";
}
.icon-shop2:before {
	content: "\e740";
}
.icon-shopping-bag:before {
	content: "\e741";
}
.icon-shopping-basket:before {
	content: "\e742";
}
.icon-shopping-cart2:before {
	content: "\e743";
}
.icon-shuffle:before {
	content: "\e744";
}
.icon-signal2:before {
	content: "\e745";
}
.icon-sound-mix:before {
	content: "\e746";
}
.icon-sports-club:before {
	content: "\e747";
}
.icon-spreadsheet:before {
	content: "\e748";
}
.icon-squared-cross:before {
	content: "\e749";
}
.icon-squared-minus:before {
	content: "\e74a";
}
.icon-squared-plus:before {
	content: "\e74b";
}
.icon-star-outlined:before {
	content: "\e74c";
}
.icon-star3:before {
	content: "\e74d";
}
.icon-stopwatch:before {
	content: "\e74e";
}
.icon-suitcase2:before {
	content: "\e74f";
}
.icon-swap:before {
	content: "\e750";
}
.icon-sweden:before {
	content: "\e751";
}
.icon-switch:before {
	content: "\e752";
}
.icon-tablet3:before {
	content: "\e753";
}
.icon-tag3:before {
	content: "\e754";
}
.icon-text-document-inverted:before {
	content: "\e755";
}
.icon-text-document:before {
	content: "\e756";
}
.icon-text:before {
	content: "\e757";
}
.icon-thermometer:before {
	content: "\e758";
}
.icon-thumbs-down2:before {
	content: "\e759";
}
.icon-thumbs-up2:before {
	content: "\e75a";
}
.icon-thunder-cloud:before {
	content: "\e75b";
}
.icon-ticket2:before {
	content: "\e75c";
}
.icon-time-slot:before {
	content: "\e75d";
}
.icon-tools2:before {
	content: "\e75e";
}
.icon-traffic-cone:before {
	content: "\e75f";
}
.icon-tree2:before {
	content: "\e760";
}
.icon-trophy3:before {
	content: "\e761";
}
.icon-tv2:before {
	content: "\e762";
}
.icon-typing:before {
	content: "\e763";
}
.icon-unread:before {
	content: "\e764";
}
.icon-untag:before {
	content: "\e765";
}
.icon-user3:before {
	content: "\e766";
}
.icon-users2:before {
	content: "\e767";
}
.icon-v-card:before {
	content: "\e768";
}
.icon-video3:before {
	content: "\e769";
}
.icon-vinyl:before {
	content: "\e76a";
}
.icon-voicemail:before {
	content: "\e76b";
}
.icon-wallet3:before {
	content: "\e76c";
}
.icon-water:before {
	content: "\e76d";
}
.icon-500px-with-circle:before {
	content: "\e76e";
}
.icon-500px:before {
	content: "\e76f";
}
.icon-basecamp:before {
	content: "\e770";
}
.icon-behance2:before {
	content: "\e771";
}
.icon-creative-cloud:before {
	content: "\e772";
}
.icon-dropbox2:before {
	content: "\e773";
}
.icon-evernote:before {
	content: "\e774";
}
.icon-flattr:before {
	content: "\e775";
}
.icon-foursquare2:before {
	content: "\e776";
}
.icon-google-drive:before {
	content: "\e777";
}
.icon-google-hangouts:before {
	content: "\e778";
}
.icon-grooveshark:before {
	content: "\e779";
}
.icon-icloud:before {
	content: "\e77a";
}
.icon-mixi:before {
	content: "\e77b";
}
.icon-onedrive:before {
	content: "\e77c";
}
.icon-paypal4:before {
	content: "\e77d";
}
.icon-picasa:before {
	content: "\e77e";
}
.icon-qq2:before {
	content: "\e77f";
}
.icon-rdio-with-circle:before {
	content: "\e780";
}
.icon-renren2:before {
	content: "\e781";
}
.icon-scribd:before {
	content: "\e782";
}
.icon-sina-weibo:before {
	content: "\e783";
}
.icon-skype-with-circle:before {
	content: "\e784";
}
.icon-skype2:before {
	content: "\e785";
}
.icon-slideshare2:before {
	content: "\e786";
}
.icon-smashing:before {
	content: "\e787";
}
.icon-soundcloud3:before {
	content: "\e788";
}
.icon-spotify-with-circle:before {
	content: "\e789";
}
.icon-spotify2:before {
	content: "\e78a";
}
.icon-swarm:before {
	content: "\e78b";
}
.icon-vine-with-circle:before {
	content: "\e78c";
}
.icon-vine2:before {
	content: "\e78d";
}
.icon-vk-alternitive:before {
	content: "\e78e";
}
.icon-vk-with-circle:before {
	content: "\e78f";
}
.icon-vk2:before {
	content: "\e790";
}
.icon-xing-with-circle:before {
	content: "\e791";
}
.icon-xing3:before {
	content: "\e792";
}
.icon-yelp2:before {
	content: "\e793";
}
.icon-dribbble-with-circle:before {
	content: "\e794";
}
.icon-dribbble5:before {
	content: "\e795";
}
.icon-facebook-with-circle:before {
	content: "\e796";
}
.icon-facebook5:before {
	content: "\e797";
}
.icon-flickr-with-circle:before {
	content: "\e798";
}
.icon-flickr5:before {
	content: "\e799";
}
.icon-github-with-circle:before {
	content: "\e79a";
}
.icon-github6:before {
	content: "\e79b";
}
.icon-google-with-circle:before {
	content: "\e79c";
}
.icon-google2:before {
	content: "\e79d";
}
.icon-instagram-with-circle:before {
	content: "\e79e";
}
.icon-instagram2:before {
	content: "\e79f";
}
.icon-lastfm-with-circle:before {
	content: "\e7a0";
}
.icon-lastfm3:before {
	content: "\e7a1";
}
.icon-linkedin-with-circle:before {
	content: "\e7a2";
}
.icon-linkedin4:before {
	content: "\e7a3";
}
.icon-pinterest-with-circle:before {
	content: "\e7a4";
}
.icon-pinterest3:before {
	content: "\e7a5";
}
.icon-rdio:before {
	content: "\e7a6";
}
.icon-stumbleupon-with-circle:before {
	content: "\e7a7";
}
.icon-stumbleupon3:before {
	content: "\e7a8";
}
.icon-tumblr-with-circle:before {
	content: "\e7a9";
}
.icon-tumblr4:before {
	content: "\e7aa";
}
.icon-twitter-with-circle:before {
	content: "\e7ab";
}
.icon-twitter5:before {
	content: "\e7ac";
}
.icon-vimeo-with-circle:before {
	content: "\e7ad";
}
.icon-vimeo:before {
	content: "\e7ae";
}
.icon-youtube-with-circle:before {
	content: "\e7af";
}
.icon-youtube5:before {
	content: "\e7b0";
}
.icon-type:before {
	content: "\e7b1";
}
.icon-box2:before {
	content: "\e7b2";
}
.icon-archive3:before {
	content: "\e7b3";
}
.icon-envelope3:before {
	content: "\e7b4";
}
.icon-email2:before {
	content: "\e7b5";
}
.icon-files:before {
	content: "\e7b6";
}
.icon-uniE7B7:before {
	content: "\e7b7";
}
.icon-file-settings:before {
	content: "\e7b8";
}
.icon-file-add:before {
	content: "\e7b9";
}
.icon-file2:before {
	content: "\e7ba";
}
.icon-align-left3:before {
	content: "\e7bb";
}
.icon-align-right3:before {
	content: "\e7bc";
}
.icon-align-center2:before {
	content: "\e7bd";
}
.icon-align-justify2:before {
	content: "\e7be";
}
.icon-file-broken:before {
	content: "\e7bf";
}
.icon-browser3:before {
	content: "\e7c0";
}
.icon-windows2:before {
	content: "\e7c1";
}
.icon-window:before {
	content: "\e7c2";
}
.icon-folder3:before {
	content: "\e7c3";
}
.icon-folder-add:before {
	content: "\e7c4";
}
.icon-folder-settings:before {
	content: "\e7c5";
}
.icon-folder-check:before {
	content: "\e7c6";
}
.icon-wifi-low:before {
	content: "\e7c7";
}
.icon-wifi-mid:before {
	content: "\e7c8";
}
.icon-wifi-full:before {
	content: "\e7c9";
}
.icon-connection-empty:before {
	content: "\e7ca";
}
.icon-connection-25:before {
	content: "\e7cb";
}
.icon-connection-50:before {
	content: "\e7cc";
}
.icon-connection-75:before {
	content: "\e7cd";
}
.icon-connection-full:before {
	content: "\e7ce";
}
.icon-list4:before {
	content: "\e7cf";
}
.icon-grid3:before {
	content: "\e7d0";
}
.icon-uniE7D1:before {
	content: "\e7d1";
}
.icon-battery-charging:before {
	content: "\e7d2";
}
.icon-battery-empty:before {
	content: "\e7d3";
}
.icon-battery-25:before {
	content: "\e7d4";
}
.icon-battery-50:before {
	content: "\e7d5";
}
.icon-battery-75:before {
	content: "\e7d6";
}
.icon-battery-full:before {
	content: "\e7d7";
}
.icon-settings2:before {
	content: "\e7d8";
}
.icon-arrow-left4:before {
	content: "\e7d9";
}
.icon-arrow-up4:before {
	content: "\e7da";
}
.icon-arrow-down4:before {
	content: "\e7db";
}
.icon-arrow-right4:before {
	content: "\e7dc";
}
.icon-reload:before {
	content: "\e7dd";
}
.icon-refresh3:before {
	content: "\e7de";
}
.icon-volume:before {
	content: "\e7df";
}
.icon-volume-increase:before {
	content: "\e7e0";
}
.icon-volume-decrease:before {
	content: "\e7e1";
}
.icon-mute:before {
	content: "\e7e2";
}
.icon-microphone2:before {
	content: "\e7e3";
}
.icon-microphone-off:before {
	content: "\e7e4";
}
.icon-book3:before {
	content: "\e7e5";
}
.icon-checkmark:before {
	content: "\e7e6";
}
.icon-checkbox-checked:before {
	content: "\e7e7";
}
.icon-checkbox:before {
	content: "\e7e8";
}
.icon-paperclip3:before {
	content: "\e7e9";
}
.icon-download6:before {
	content: "\e7ea";
}
.icon-tag4:before {
	content: "\e7eb";
}
.icon-trashcan:before {
	content: "\e7ec";
}
.icon-search4:before {
	content: "\e7ed";
}
.icon-zoomin:before {
	content: "\e7ee";
}
.icon-zoomout:before {
	content: "\e7ef";
}
.icon-chat3:before {
	content: "\e7f0";
}
.icon-chat-1:before {
	content: "\e7f1";
}
.icon-chat-2:before {
	content: "\e7f2";
}
.icon-chat-3:before {
	content: "\e7f3";
}
.icon-comment2:before {
	content: "\e7f4";
}
.icon-calendar5:before {
	content: "\e7f5";
}
.icon-bookmark3:before {
	content: "\e7f6";
}
.icon-email3:before {
	content: "\e7f7";
}
.icon-heart5:before {
	content: "\e7f8";
}
.icon-enter:before {
	content: "\e7f9";
}
.icon-cloud5:before {
	content: "\e7fa";
}
.icon-book4:before {
	content: "\e7fb";
}
.icon-star4:before {
	content: "\e7fc";
}
.icon-clock5:before {
	content: "\e7fd";
}
.icon-printer2:before {
	content: "\e7fe";
}
.icon-home5:before {
	content: "\e7ff";
}
.icon-flag4:before {
	content: "\e800";
}
.icon-meter:before {
	content: "\e801";
}
.icon-switch2:before {
	content: "\e802";
}
.icon-forbidden:before {
	content: "\e803";
}
.icon-lock5:before {
	content: "\e804";
}
.icon-unlocked:before {
	content: "\e805";
}
.icon-unlocked2:before {
	content: "\e806";
}
.icon-users3:before {
	content: "\e807";
}
.icon-user4:before {
	content: "\e808";
}
.icon-users4:before {
	content: "\e809";
}
.icon-user5:before {
	content: "\e80a";
}
.icon-bullhorn2:before {
	content: "\e80b";
}
.icon-share4:before {
	content: "\e80c";
}
.icon-screen:before {
	content: "\e80d";
}
.icon-phone5:before {
	content: "\e80e";
}
.icon-phone-portrait:before {
	content: "\e80f";
}
.icon-phone-landscape:before {
	content: "\e810";
}
.icon-tablet4:before {
	content: "\e811";
}
.icon-tablet-landscape:before {
	content: "\e812";
}
.icon-laptop4:before {
	content: "\e813";
}
.icon-camera5:before {
	content: "\e814";
}
.icon-microwaveoven:before {
	content: "\e815";
}
.icon-creditcards:before {
	content: "\e816";
}
.icon-calculator3:before {
	content: "\e817";
}
.icon-bag:before {
	content: "\e818";
}
.icon-diamond3:before {
	content: "\e819";
}
.icon-drink2:before {
	content: "\e81a";
}
.icon-shorts:before {
	content: "\e81b";
}
.icon-vcard:before {
	content: "\e81c";
}
.icon-sun:before {
	content: "\e81d";
}
.icon-bill:before {
	content: "\e81e";
}
.icon-coffee2:before {
	content: "\e81f";
}
.icon-uniE820:before {
	content: "\e820";
}
.icon-newspaper2:before {
	content: "\e821";
}
.icon-stack2:before {
	content: "\e822";
}
.icon-mapmarker:before {
	content: "\e823";
}
.icon-map4:before {
	content: "\e824";
}
.icon-support2:before {
	content: "\e825";
}
.icon-uniE826:before {
	content: "\e826";
}
.icon-barbell:before {
	content: "\e827";
}
.icon-stopwatch2:before {
	content: "\e828";
}
.icon-atom:before {
	content: "\e829";
}
.icon-syringe:before {
	content: "\e82a";
}
.icon-health:before {
	content: "\e82b";
}
.icon-bolt2:before {
	content: "\e82c";
}
.icon-pill:before {
	content: "\e82d";
}
.icon-bones:before {
	content: "\e82e";
}
.icon-lab2:before {
	content: "\e82f";
}
.icon-clipboard4:before {
	content: "\e830";
}
.icon-mug:before {
	content: "\e831";
}
.icon-bucket2:before {
	content: "\e832";
}
.icon-select:before {
	content: "\e833";
}
.icon-graph:before {
	content: "\e834";
}
.icon-crop2:before {
	content: "\e835";
}
.icon-image3:before {
	content: "\e836";
}
.icon-cube2:before {
	content: "\e837";
}
.icon-bars2:before {
	content: "\e838";
}
.icon-chart:before {
	content: "\e839";
}
.icon-pencil5:before {
	content: "\e83a";
}
.icon-measure:before {
	content: "\e83b";
}
.icon-eyedropper2:before {
	content: "\e83c";
}
.icon-box3:before {
	content: "\e83d";
}
.icon-write:before {
	content: "\e83e";
}
.icon-clock6:before {
	content: "\e83f";
}
.icon-reply3:before {
	content: "\e840";
}
.icon-reply-all3:before {
	content: "\e841";
}
.icon-forward5:before {
	content: "\e842";
}
.icon-flag5:before {
	content: "\e843";
}
.icon-search5:before {
	content: "\e844";
}
.icon-trash4:before {
	content: "\e845";
}
.icon-envelope4:before {
	content: "\e846";
}
.icon-bubble3:before {
	content: "\e847";
}
.icon-bubbles:before {
	content: "\e848";
}
.icon-user6:before {
	content: "\e849";
}
.icon-users5:before {
	content: "\e84a";
}
.icon-cloud6:before {
	content: "\e84b";
}
.icon-download7:before {
	content: "\e84c";
}
.icon-upload6:before {
	content: "\e84d";
}
.icon-rain:before {
	content: "\e84e";
}
.icon-sun2:before {
	content: "\e84f";
}
.icon-moon2:before {
	content: "\e850";
}
.icon-bell3:before {
	content: "\e851";
}
.icon-folder4:before {
	content: "\e852";
}
.icon-pin2:before {
	content: "\e853";
}
.icon-sound3:before {
	content: "\e854";
}
.icon-microphone3:before {
	content: "\e855";
}
.icon-camera6:before {
	content: "\e856";
}
.icon-image4:before {
	content: "\e857";
}
.icon-cog3:before {
	content: "\e858";
}
.icon-calendar6:before {
	content: "\e859";
}
.icon-book5:before {
	content: "\e85a";
}
.icon-map-marker2:before {
	content: "\e85b";
}
.icon-store:before {
	content: "\e85c";
}
.icon-support3:before {
	content: "\e85d";
}
.icon-tag5:before {
	content: "\e85e";
}
.icon-heart6:before {
	content: "\e85f";
}
.icon-video-camera2:before {
	content: "\e860";
}
.icon-trophy4:before {
	content: "\e861";
}
.icon-cart:before {
	content: "\e862";
}
.icon-eye4:before {
	content: "\e863";
}
.icon-cancel:before {
	content: "\e864";
}
.icon-chart2:before {
	content: "\e865";
}
.icon-target2:before {
	content: "\e866";
}
.icon-printer3:before {
	content: "\e867";
}
.icon-location4:before {
	content: "\e868";
}
.icon-bookmark4:before {
	content: "\e869";
}
.icon-monitor:before {
	content: "\e86a";
}
.icon-cross2:before {
	content: "\e86b";
}
.icon-plus3:before {
	content: "\e86c";
}
.icon-left:before {
	content: "\e86d";
}
.icon-up:before {
	content: "\e86e";
}
.icon-browser4:before {
	content: "\e86f";
}
.icon-windows3:before {
	content: "\e870";
}
.icon-switch3:before {
	content: "\e871";
}
.icon-dashboard2:before {
	content: "\e872";
}
.icon-play4:before {
	content: "\e873";
}
.icon-fast-forward2:before {
	content: "\e874";
}
.icon-next:before {
	content: "\e875";
}
.icon-refresh4:before {
	content: "\e876";
}
.icon-film2:before {
	content: "\e877";
}
.icon-home6:before {
	content: "\e878";
}
.icon-home7:before {
	content: "\e900";
}
.icon-home2:before {
	content: "\e901";
}
.icon-home3:before {
	content: "\e902";
}
.icon-office:before {
	content: "\e903";
}
.icon-newspaper3:before {
	content: "\e904";
}
.icon-pencil6:before {
	content: "\e905";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-quill:before {
	content: "\e907";
}
.icon-pen2:before {
	content: "\e908";
}
.icon-blog:before {
	content: "\e909";
}
.icon-eyedropper3:before {
	content: "\e90a";
}
.icon-droplet:before {
	content: "\e90b";
}
.icon-paint-format:before {
	content: "\e90c";
}
.icon-image5:before {
	content: "\e90d";
}
.icon-images2:before {
	content: "\e90e";
}
.icon-camera7:before {
	content: "\e90f";
}
.icon-headphones2:before {
	content: "\e910";
}
.icon-music4:before {
	content: "\e911";
}
.icon-play5:before {
	content: "\e912";
}
.icon-film3:before {
	content: "\e913";
}
.icon-video-camera3:before {
	content: "\e914";
}
.icon-dice:before {
	content: "\e915";
}
.icon-pacman:before {
	content: "\e916";
}
.icon-spades:before {
	content: "\e917";
}
.icon-clubs:before {
	content: "\e918";
}
.icon-diamonds:before {
	content: "\e919";
}
.icon-bullhorn3:before {
	content: "\e91a";
}
.icon-connection:before {
	content: "\e91b";
}
.icon-podcast:before {
	content: "\e91c";
}
.icon-feed:before {
	content: "\e91d";
}
.icon-mic3:before {
	content: "\e91e";
}
.icon-book6:before {
	content: "\e91f";
}
.icon-books:before {
	content: "\e920";
}
.icon-library:before {
	content: "\e921";
}
.icon-file-text3:before {
	content: "\e922";
}
.icon-profile:before {
	content: "\e923";
}
.icon-file-empty:before {
	content: "\e924";
}
.icon-files-empty:before {
	content: "\e925";
}
.icon-file-text2:before {
	content: "\e926";
}
.icon-file-picture:before {
	content: "\e927";
}
.icon-file-music:before {
	content: "\e928";
}
.icon-file-play:before {
	content: "\e929";
}
.icon-file-video:before {
	content: "\e92a";
}
.icon-file-zip:before {
	content: "\e92b";
}
.icon-copy3:before {
	content: "\e92c";
}
.icon-paste2:before {
	content: "\e92d";
}
.icon-stack3:before {
	content: "\e92e";
}
.icon-folder5:before {
	content: "\e92f";
}
.icon-folder-open2:before {
	content: "\e930";
}
.icon-folder-plus:before {
	content: "\e931";
}
.icon-folder-minus:before {
	content: "\e932";
}
.icon-folder-download:before {
	content: "\e933";
}
.icon-folder-upload:before {
	content: "\e934";
}
.icon-price-tag2:before {
	content: "\e935";
}
.icon-price-tags:before {
	content: "\e936";
}
.icon-barcode2:before {
	content: "\e937";
}
.icon-qrcode2:before {
	content: "\e938";
}
.icon-ticket3:before {
	content: "\e939";
}
.icon-cart2:before {
	content: "\e93a";
}
.icon-coin-dollar:before {
	content: "\e93b";
}
.icon-coin-euro:before {
	content: "\e93c";
}
.icon-coin-pound:before {
	content: "\e93d";
}
.icon-coin-yen:before {
	content: "\e93e";
}
.icon-credit-card3:before {
	content: "\e93f";
}
.icon-calculator4:before {
	content: "\e940";
}
.icon-lifebuoy2:before {
	content: "\e941";
}
.icon-phone6:before {
	content: "\e942";
}
.icon-phone-hang-up:before {
	content: "\e943";
}
.icon-address-book:before {
	content: "\e944";
}
.icon-envelop:before {
	content: "\e945";
}
.icon-pushpin:before {
	content: "\e946";
}
.icon-location5:before {
	content: "\e947";
}
.icon-location2:before {
	content: "\e948";
}
.icon-compass5:before {
	content: "\e949";
}
.icon-compass2:before {
	content: "\e94a";
}
.icon-map5:before {
	content: "\e94b";
}
.icon-map2:before {
	content: "\e94c";
}
.icon-history2:before {
	content: "\e94d";
}
.icon-clock7:before {
	content: "\e94e";
}
.icon-clock2:before {
	content: "\e94f";
}
.icon-alarm:before {
	content: "\e950";
}
.icon-bell4:before {
	content: "\e951";
}
.icon-stopwatch3:before {
	content: "\e952";
}
.icon-calendar7:before {
	content: "\e953";
}
.icon-printer4:before {
	content: "\e954";
}
.icon-keyboard2:before {
	content: "\e955";
}
.icon-display2:before {
	content: "\e956";
}
.icon-laptop5:before {
	content: "\e957";
}
.icon-mobile5:before {
	content: "\e958";
}
.icon-mobile2:before {
	content: "\e959";
}
.icon-tablet5:before {
	content: "\e95a";
}
.icon-tv3:before {
	content: "\e95b";
}
.icon-drawer:before {
	content: "\e95c";
}
.icon-drawer2:before {
	content: "\e95d";
}
.icon-box-add:before {
	content: "\e95e";
}
.icon-box-remove:before {
	content: "\e95f";
}
.icon-download8:before {
	content: "\e960";
}
.icon-upload7:before {
	content: "\e961";
}
.icon-floppy-disk:before {
	content: "\e962";
}
.icon-drive2:before {
	content: "\e963";
}
.icon-database3:before {
	content: "\e964";
}
.icon-undo3:before {
	content: "\e965";
}
.icon-redo:before {
	content: "\e966";
}
.icon-undo2:before {
	content: "\e967";
}
.icon-redo2:before {
	content: "\e968";
}
.icon-forward6:before {
	content: "\e969";
}
.icon-reply4:before {
	content: "\e96a";
}
.icon-bubble4:before {
	content: "\e96b";
}
.icon-bubbles5:before {
	content: "\e96c";
}
.icon-bubbles2:before {
	content: "\e96d";
}
.icon-bubble2:before {
	content: "\e96e";
}
.icon-bubbles3:before {
	content: "\e96f";
}
.icon-bubbles4:before {
	content: "\e970";
}
.icon-user7:before {
	content: "\e971";
}
.icon-users6:before {
	content: "\e972";
}
.icon-user-plus2:before {
	content: "\e973";
}
.icon-user-minus:before {
	content: "\e974";
}
.icon-user-check:before {
	content: "\e975";
}
.icon-user-tie:before {
	content: "\e976";
}
.icon-quotes-left:before {
	content: "\e977";
}
.icon-quotes-right:before {
	content: "\e978";
}
.icon-hour-glass2:before {
	content: "\e979";
}
.icon-spinner12:before {
	content: "\e97a";
}
.icon-spinner2:before {
	content: "\e97b";
}
.icon-spinner3:before {
	content: "\e97c";
}
.icon-spinner4:before {
	content: "\e97d";
}
.icon-spinner5:before {
	content: "\e97e";
}
.icon-spinner6:before {
	content: "\e97f";
}
.icon-spinner7:before {
	content: "\e980";
}
.icon-spinner8:before {
	content: "\e981";
}
.icon-spinner9:before {
	content: "\e982";
}
.icon-spinner10:before {
	content: "\e983";
}
.icon-spinner11:before {
	content: "\e984";
}
.icon-binoculars2:before {
	content: "\e985";
}
.icon-search6:before {
	content: "\e986";
}
.icon-zoom-in:before {
	content: "\e987";
}
.icon-zoom-out:before {
	content: "\e988";
}
.icon-enlarge:before {
	content: "\e989";
}
.icon-shrink:before {
	content: "\e98a";
}
.icon-enlarge2:before {
	content: "\e98b";
}
.icon-shrink2:before {
	content: "\e98c";
}
.icon-key6:before {
	content: "\e98d";
}
.icon-key2:before {
	content: "\e98e";
}
.icon-lock6:before {
	content: "\e98f";
}
.icon-unlocked3:before {
	content: "\e990";
}
.icon-wrench2:before {
	content: "\e991";
}
.icon-equalizer:before {
	content: "\e992";
}
.icon-equalizer2:before {
	content: "\e993";
}
.icon-cog4:before {
	content: "\e994";
}
.icon-cogs2:before {
	content: "\e995";
}
.icon-hammer:before {
	content: "\e996";
}
.icon-magic-wand:before {
	content: "\e997";
}
.icon-aid-kit:before {
	content: "\e998";
}
.icon-bug2:before {
	content: "\e999";
}
.icon-pie-chart3:before {
	content: "\e99a";
}
.icon-stats-dots:before {
	content: "\e99b";
}
.icon-stats-bars:before {
	content: "\e99c";
}
.icon-stats-bars2:before {
	content: "\e99d";
}
.icon-trophy5:before {
	content: "\e99e";
}
.icon-gift3:before {
	content: "\e99f";
}
.icon-glass3:before {
	content: "\e9a0";
}
.icon-glass2:before {
	content: "\e9a1";
}
.icon-mug2:before {
	content: "\e9a2";
}
.icon-spoon-knife:before {
	content: "\e9a3";
}
.icon-leaf3:before {
	content: "\e9a4";
}
.icon-rocket3:before {
	content: "\e9a5";
}
.icon-meter3:before {
	content: "\e9a6";
}
.icon-meter2:before {
	content: "\e9a7";
}
.icon-hammer2:before {
	content: "\e9a8";
}
.icon-fire3:before {
	content: "\e9a9";
}
.icon-lab3:before {
	content: "\e9aa";
}
.icon-magnet3:before {
	content: "\e9ab";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-bin2:before {
	content: "\e9ad";
}
.icon-briefcase4:before {
	content: "\e9ae";
}
.icon-airplane:before {
	content: "\e9af";
}
.icon-truck3:before {
	content: "\e9b0";
}
.icon-road2:before {
	content: "\e9b1";
}
.icon-accessibility:before {
	content: "\e9b2";
}
.icon-target3:before {
	content: "\e9b3";
}
.icon-shield4:before {
	content: "\e9b4";
}
.icon-power:before {
	content: "\e9b5";
}
.icon-switch4:before {
	content: "\e9b6";
}
.icon-power-cord:before {
	content: "\e9b7";
}
.icon-clipboard5:before {
	content: "\e9b8";
}
.icon-list-numbered:before {
	content: "\e9b9";
}
.icon-list5:before {
	content: "\e9ba";
}
.icon-list2:before {
	content: "\e9bb";
}
.icon-tree3:before {
	content: "\e9bc";
}
.icon-menu5:before {
	content: "\e9bd";
}
.icon-menu2:before {
	content: "\e9be";
}
.icon-menu3:before {
	content: "\e9bf";
}
.icon-menu4:before {
	content: "\e9c0";
}
.icon-cloud7:before {
	content: "\e9c1";
}
.icon-cloud-download2:before {
	content: "\e9c2";
}
.icon-cloud-upload2:before {
	content: "\e9c3";
}
.icon-cloud-check:before {
	content: "\e9c4";
}
.icon-download2:before {
	content: "\e9c5";
}
.icon-upload2:before {
	content: "\e9c6";
}
.icon-download3:before {
	content: "\e9c7";
}
.icon-upload3:before {
	content: "\e9c8";
}
.icon-sphere:before {
	content: "\e9c9";
}
.icon-earth:before {
	content: "\e9ca";
}
.icon-link3:before {
	content: "\e9cb";
}
.icon-flag6:before {
	content: "\e9cc";
}
.icon-attachment3:before {
	content: "\e9cd";
}
.icon-eye5:before {
	content: "\e9ce";
}
.icon-eye-plus:before {
	content: "\e9cf";
}
.icon-eye-minus:before {
	content: "\e9d0";
}
.icon-eye-blocked:before {
	content: "\e9d1";
}
.icon-bookmark5:before {
	content: "\e9d2";
}
.icon-bookmarks2:before {
	content: "\e9d3";
}
.icon-sun3:before {
	content: "\e9d4";
}
.icon-star-empty:before {
	content: "\e9d7";
}
.icon-star-half2:before {
	content: "\e9d8";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-heart7:before {
	content: "\e9da";
}
.icon-heart-broken:before {
	content: "\e9db";
}
.icon-man2:before {
	content: "\e9dc";
}
.icon-woman:before {
	content: "\e9dd";
}
.icon-man-woman:before {
	content: "\e9de";
}
.icon-happy3:before {
	content: "\e9df";
}
.icon-happy2:before {
	content: "\e9e0";
}
.icon-smile:before {
	content: "\e9e1";
}
.icon-smile2:before {
	content: "\e9e2";
}
.icon-tongue:before {
	content: "\e9e3";
}
.icon-tongue2:before {
	content: "\e9e4";
}
.icon-sad3:before {
	content: "\e9e5";
}
.icon-sad2:before {
	content: "\e9e6";
}
.icon-wink:before {
	content: "\e9e7";
}
.icon-wink2:before {
	content: "\e9e8";
}
.icon-grin:before {
	content: "\e9e9";
}
.icon-grin2:before {
	content: "\e9ea";
}
.icon-cool:before {
	content: "\e9eb";
}
.icon-cool2:before {
	content: "\e9ec";
}
.icon-angry:before {
	content: "\e9ed";
}
.icon-angry2:before {
	content: "\e9ee";
}
.icon-evil:before {
	content: "\e9ef";
}
.icon-evil2:before {
	content: "\e9f0";
}
.icon-shocked:before {
	content: "\e9f1";
}
.icon-shocked2:before {
	content: "\e9f2";
}
.icon-baffled:before {
	content: "\e9f3";
}
.icon-baffled2:before {
	content: "\e9f4";
}
.icon-confused:before {
	content: "\e9f5";
}
.icon-confused2:before {
	content: "\e9f6";
}
.icon-neutral:before {
	content: "\e9f7";
}
.icon-neutral2:before {
	content: "\e9f8";
}
.icon-hipster:before {
	content: "\e9f9";
}
.icon-hipster2:before {
	content: "\e9fa";
}
.icon-wondering:before {
	content: "\e9fb";
}
.icon-wondering2:before {
	content: "\e9fc";
}
.icon-sleepy:before {
	content: "\e9fd";
}
.icon-sleepy2:before {
	content: "\e9fe";
}
.icon-frustrated:before {
	content: "\e9ff";
}
.icon-frustrated2:before {
	content: "\ea00";
}
.icon-crying:before {
	content: "\ea01";
}
.icon-crying2:before {
	content: "\ea02";
}
.icon-point-up:before {
	content: "\ea03";
}
.icon-point-right:before {
	content: "\ea04";
}
.icon-point-down:before {
	content: "\ea05";
}
.icon-point-left:before {
	content: "\ea06";
}
.icon-warning3:before {
	content: "\ea07";
}
.icon-notification2:before {
	content: "\ea08";
}
.icon-question2:before {
	content: "\ea09";
}
.icon-plus4:before {
	content: "\ea0a";
}
.icon-minus3:before {
	content: "\ea0b";
}
.icon-info3:before {
	content: "\ea0c";
}
.icon-cancel-circle:before {
	content: "\ea0d";
}
.icon-blocked:before {
	content: "\ea0e";
}
.icon-cross3:before {
	content: "\ea0f";
}
.icon-checkmark3:before {
	content: "\ea10";
}
.icon-checkmark2:before {
	content: "\ea11";
}
.icon-spell-check:before {
	content: "\ea12";
}
.icon-enter2:before {
	content: "\ea13";
}
.icon-exit:before {
	content: "\ea14";
}
.icon-play2:before {
	content: "\ea15";
}
.icon-pause3:before {
	content: "\ea16";
}
.icon-stop3:before {
	content: "\ea17";
}
.icon-previous:before {
	content: "\ea18";
}
.icon-next3:before {
	content: "\ea19";
}
.icon-backward3:before {
	content: "\ea1a";
}
.icon-forward2:before {
	content: "\ea1b";
}
.icon-play3:before {
	content: "\ea1c";
}
.icon-pause2:before {
	content: "\ea1d";
}
.icon-stop2:before {
	content: "\ea1e";
}
.icon-backward2:before {
	content: "\ea1f";
}
.icon-forward3:before {
	content: "\ea20";
}
.icon-first:before {
	content: "\ea21";
}
.icon-last:before {
	content: "\ea22";
}
.icon-previous2:before {
	content: "\ea23";
}
.icon-next2:before {
	content: "\ea24";
}
.icon-eject2:before {
	content: "\ea25";
}
.icon-loop3:before {
	content: "\ea2d";
}
.icon-loop2:before {
	content: "\ea2e";
}
.icon-infinite:before {
	content: "\ea2f";
}
.icon-shuffle2:before {
	content: "\ea30";
}
.icon-arrow-up-left:before {
	content: "\ea31";
}
.icon-arrow-up5:before {
	content: "\ea32";
}
.icon-arrow-up-right:before {
	content: "\ea33";
}
.icon-arrow-right5:before {
	content: "\ea34";
}
.icon-arrow-down-right:before {
	content: "\ea35";
}
.icon-arrow-down5:before {
	content: "\ea36";
}
.icon-arrow-down-left:before {
	content: "\ea37";
}
.icon-arrow-left5:before {
	content: "\ea38";
}
.icon-arrow-up-left2:before {
	content: "\ea39";
}
.icon-arrow-up2:before {
	content: "\ea3a";
}
.icon-arrow-up-right2:before {
	content: "\ea3b";
}
.icon-arrow-right2:before {
	content: "\ea3c";
}
.icon-arrow-down-right2:before {
	content: "\ea3d";
}
.icon-arrow-down2:before {
	content: "\ea3e";
}
.icon-arrow-down-left2:before {
	content: "\ea3f";
}
.icon-arrow-left2:before {
	content: "\ea40";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-circle-left:before {
	content: "\ea44";
}
.icon-tab:before {
	content: "\ea45";
}
.icon-move-up:before {
	content: "\ea46";
}
.icon-move-down:before {
	content: "\ea47";
}
.icon-sort-alpha-asc2:before {
	content: "\ea48";
}
.icon-sort-alpha-desc2:before {
	content: "\ea49";
}
.icon-sort-numeric-asc2:before {
	content: "\ea4a";
}
.icon-sort-numberic-desc:before {
	content: "\ea4b";
}
.icon-sort-amount-asc2:before {
	content: "\ea4c";
}
.icon-sort-amount-desc2:before {
	content: "\ea4d";
}
.icon-command:before {
	content: "\ea4e";
}
.icon-shift:before {
	content: "\ea4f";
}
.icon-ctrl:before {
	content: "\ea50";
}
.icon-opt:before {
	content: "\ea51";
}
.icon-checkbox-checked2:before {
	content: "\ea52";
}
.icon-checkbox-unchecked:before {
	content: "\ea53";
}
.icon-radio-checked:before {
	content: "\ea54";
}
.icon-radio-checked2:before {
	content: "\ea55";
}
.icon-radio-unchecked:before {
	content: "\ea56";
}
.icon-crop3:before {
	content: "\ea57";
}
.icon-make-group:before {
	content: "\ea58";
}
.icon-ungroup:before {
	content: "\ea59";
}
.icon-scissors4:before {
	content: "\ea5a";
}
.icon-filter2:before {
	content: "\ea5b";
}
.icon-font2:before {
	content: "\ea5c";
}
.icon-ligature:before {
	content: "\ea5d";
}
.icon-ligature2:before {
	content: "\ea5e";
}
.icon-text-height2:before {
	content: "\ea5f";
}
.icon-text-width2:before {
	content: "\ea60";
}
.icon-font-size:before {
	content: "\ea61";
}
.icon-bold2:before {
	content: "\ea62";
}
.icon-underline2:before {
	content: "\ea63";
}
.icon-italic2:before {
	content: "\ea64";
}
.icon-strikethrough2:before {
	content: "\ea65";
}
.icon-omega:before {
	content: "\ea66";
}
.icon-sigma:before {
	content: "\ea67";
}
.icon-page-break:before {
	content: "\ea68";
}
.icon-superscript3:before {
	content: "\ea69";
}
.icon-subscript3:before {
	content: "\ea6a";
}
.icon-superscript2:before {
	content: "\ea6b";
}
.icon-subscript2:before {
	content: "\ea6c";
}
.icon-text-color:before {
	content: "\ea6d";
}
.icon-pagebreak:before {
	content: "\ea6e";
}
.icon-clear-formatting:before {
	content: "\ea6f";
}
.icon-table3:before {
	content: "\ea70";
}
.icon-table2:before {
	content: "\ea71";
}
.icon-insert-template:before {
	content: "\ea72";
}
.icon-share5:before {
	content: "\ea7d";
}
.icon-new-tab:before {
	content: "\ea7e";
}
.icon-embed:before {
	content: "\ea7f";
}
.icon-embed2:before {
	content: "\ea80";
}
.icon-terminal2:before {
	content: "\ea81";
}
.icon-share2:before {
	content: "\ea82";
}
.icon-mail6:before {
	content: "\ea83";
}
.icon-mail2:before {
	content: "\ea84";
}
.icon-mail3:before {
	content: "\ea85";
}
.icon-mail4:before {
	content: "\ea86";
}
.icon-google3:before {
	content: "\ea87";
}
.icon-google-plus4:before {
	content: "\ea88";
}
.icon-google-plus2:before {
	content: "\ea89";
}
.icon-google-plus3:before {
	content: "\ea8a";
}
.icon-google-drive2:before {
	content: "\ea8b";
}
.icon-facebook6:before {
	content: "\ea8c";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-facebook3:before {
	content: "\ea8e";
}
.icon-ello:before {
	content: "\ea8f";
}
.icon-instagram3:before {
	content: "\ea90";
}
.icon-twitter6:before {
	content: "\ea91";
}
.icon-twitter2:before {
	content: "\ea92";
}
.icon-twitter3:before {
	content: "\ea93";
}
.icon-feed2:before {
	content: "\ea94";
}
.icon-feed3:before {
	content: "\ea95";
}
.icon-feed4:before {
	content: "\ea96";
}
.icon-youtube6:before {
	content: "\ea97";
}
.icon-youtube2:before {
	content: "\ea98";
}
.icon-youtube3:before {
	content: "\ea99";
}
.icon-youtube4:before {
	content: "\ea9a";
}
.icon-twitch2:before {
	content: "\ea9b";
}
.icon-vimeo4:before {
	content: "\ea9c";
}
.icon-vimeo2:before {
	content: "\ea9d";
}
.icon-vimeo3:before {
	content: "\ea9e";
}
.icon-lanyrd:before {
	content: "\ea9f";
}
.icon-flickr6:before {
	content: "\eaa0";
}
.icon-flickr2:before {
	content: "\eaa1";
}
.icon-flickr3:before {
	content: "\eaa2";
}
.icon-flickr4:before {
	content: "\eaa3";
}
.icon-picassa:before {
	content: "\eaa4";
}
.icon-picassa2:before {
	content: "\eaa5";
}
.icon-dribbble6:before {
	content: "\eaa6";
}
.icon-dribbble2:before {
	content: "\eaa7";
}
.icon-dribbble3:before {
	content: "\eaa8";
}
.icon-forrst:before {
	content: "\eaa9";
}
.icon-forrst2:before {
	content: "\eaaa";
}
.icon-deviantart3:before {
	content: "\eaab";
}
.icon-deviantart2:before {
	content: "\eaac";
}
.icon-steam3:before {
	content: "\eaad";
}
.icon-steam2:before {
	content: "\eaae";
}
.icon-dropbox3:before {
	content: "\eaaf";
}
.icon-onedrive2:before {
	content: "\eab0";
}
.icon-github7:before {
	content: "\eab1";
}
.icon-github2:before {
	content: "\eab2";
}
.icon-github3:before {
	content: "\eab3";
}
.icon-github4:before {
	content: "\eab4";
}
.icon-github5:before {
	content: "\eab5";
}
.icon-wordpress3:before {
	content: "\eab6";
}
.icon-wordpress2:before {
	content: "\eab7";
}
.icon-joomla2:before {
	content: "\eab8";
}
.icon-blogger:before {
	content: "\eab9";
}
.icon-blogger2:before {
	content: "\eaba";
}
.icon-tumblr5:before {
	content: "\eabb";
}
.icon-tumblr2:before {
	content: "\eabc";
}
.icon-yahoo2:before {
	content: "\eabd";
}
.icon-tux:before {
	content: "\eabe";
}
.icon-apple2:before {
	content: "\eabf";
}
.icon-finder:before {
	content: "\eac0";
}
.icon-android2:before {
	content: "\eac1";
}
.icon-windows4:before {
	content: "\eac2";
}
.icon-windows8:before {
	content: "\eac3";
}
.icon-soundcloud4:before {
	content: "\eac4";
}
.icon-soundcloud2:before {
	content: "\eac5";
}
.icon-skype3:before {
	content: "\eac6";
}
.icon-reddit2:before {
	content: "\eac7";
}
.icon-linkedin5:before {
	content: "\eac8";
}
.icon-linkedin2:before {
	content: "\eac9";
}
.icon-lastfm4:before {
	content: "\eaca";
}
.icon-lastfm2:before {
	content: "\eacb";
}
.icon-delicious2:before {
	content: "\eacc";
}
.icon-stumbleupon4:before {
	content: "\eacd";
}
.icon-stumbleupon2:before {
	content: "\eace";
}
.icon-stackoverflow:before {
	content: "\eacf";
}
.icon-pinterest4:before {
	content: "\ead0";
}
.icon-pinterest2:before {
	content: "\ead1";
}
.icon-xing4:before {
	content: "\ead2";
}
.icon-xing2:before {
	content: "\ead3";
}
.icon-flattr2:before {
	content: "\ead4";
}
.icon-foursquare3:before {
	content: "\ead5";
}
.icon-paypal5:before {
	content: "\ead6";
}
.icon-paypal2:before {
	content: "\ead7";
}
.icon-paypal3:before {
	content: "\ead8";
}
.icon-yelp3:before {
	content: "\ead9";
}
.icon-file-pdf:before {
	content: "\eada";
}
.icon-file-openoffice:before {
	content: "\eadb";
}
.icon-file-word:before {
	content: "\eadc";
}
.icon-file-excel:before {
	content: "\eadd";
}
.icon-libreoffice:before {
	content: "\eade";
}
.icon-html53:before {
	content: "\eadf";
}
.icon-html52:before {
	content: "\eae0";
}
.icon-css32:before {
	content: "\eae1";
}
.icon-git2:before {
	content: "\eae2";
}
.icon-svg:before {
	content: "\eae3";
}
.icon-codepen2:before {
	content: "\eae4";
}
.icon-chrome:before {
	content: "\eae5";
}
.icon-firefox:before {
	content: "\eae6";
}
.icon-IE:before {
	content: "\eae7";
}
.icon-opera:before {
	content: "\eae8";
}
.icon-safari:before {
	content: "\eae9";
}
.icon-IcoMoon:before {
	content: "\eaea";
}
