body {
    padding-top: 171px;
    padding-bottom: 30px;
    background-color: #FFF;
    overflow: hidden;
    font-family:'PT Sans Narrow', sans-serif;
}
.no-breadcrumb {
    padding-top: 133px;
}
.no-infobar {
    padding-top: 111px;
}
.no-breadcrumb.no-infobar {
    padding-top: 73px;
}
.no-breadcrumb.no-infobar .navbar-subnavbar {
    margin-top: 35px;
    padding-top: 6px;
}
.alert a:link {
    text-decoration: underline;
}
.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
.has-error input {
    background: #ffe7e7;
    border-radius: 5px;
    border-color: red;
}
i[class*='ico-'] {
    font-size: 16px;
    position:relative;
    top: 2px
}
.btn-group-sm i[class*='ico-'] {
    font-size: 14px;
    position:relative;
    top: 2px;
    padding-right: 3px;
}
.modal-title
{
    font-family:'PT Sans Narrow', sans-serif;
}
.modal-title i[class*='ico-'] {
    font-size: 18px;
    position:relative;
    top: 2px;
    padding-right: 3px;
}
.btn-sm {
    font-size: 16px;
    line-height: 16px;
}
.btn-sm i[class*='ico-'] {
    font-size: 16px;
    line-height: 16px;
    top: 1px;
}
.tooltip {
    z-index: 1010;
    /* A value higher than 1010 that solves the problem */
}
div[class*='col-md-'].inline {
    margin-bottom: 10px;
}
.rouble {
    font-family:'als_rublregular';
}
.btn-group-vertical .btn
{
    text-align: left;
}
.btn-group-vertical .btn i
{
    margin-right: 8px;
}
/***********************************************************************  NAVBAR (zindex 1000) *******************************/
 .navbar-inverse {
    z-index: 1000;
    background: #444a55;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444a55), to(#393f48));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#444a55), to(#393f48));
    background: -moz-linear-gradient(center top, #444a55, #393f48);
    background: linear-gradient(#444a55, #393f48);
    border-bottom: 1px solid #262932;
    min-height: 35px;
    height: 35px;
}
.navbar-inverse .navbar-brand {
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    padding-top: 8px;
}
.navbar-inverse .nav li a {
    color: #fff;
}
.navbar-inverse .nav li a:hover {
    color: #b1b4b8;
}
.navbar-inverse .navbar-nav > li > a {
    line-height:20px;
    padding: 6px 12px;
}
.navbar-inverse li a:hover {
    background: #4e545e;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e545e), to(#414751));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#4e545e), to(#414751));
    background: -moz-linear-gradient(center top, #4e545e, #414751);
    background: linear-gradient(#4e545e, #414751);
}
.navbar-inverse .dropdown-menu {
    background: #414751;
}
.navbar-inverse .dropdown-menu .divider {
    display: block;
    margin: 3px 0;
    height: 0px;
    width: 100%;
    border-top: 1px solid #5a606a;
}
.navbar-inverse .dropdown-menu li a {
    color: #e5e5e5;
    font-size: 11px;
}
.navbar-inverse .dropdown-menu li a:hover {
    color: #fff;
    background: #515761;
    text-shadow: 0px 1px rgba(43, 43, 43, 0.5);
    box-shadow: none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:active, .nav .open > a:focus {
    background: #515761;
    color: #fff;
    text-shadow: 0px 1px rgba(43, 43, 43, 0.5);
    box-shadow: none;
    border: none;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color:#515761;
    color:#FFFFFF;
}
/***********************************************************************  PRELOADER (zindex 5) *******************************/
 #preloader {
    z-index: 5;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #FFF;
    /* change if the mask should have another color then white */
}
#status {
    width:500px;
    height:500px;
    position:absolute;
    left:50%;
    top:33%;
    background-image:url(../images/loader-ai.gif);
    background-repeat:no-repeat;
    background-position:center;
    margin:-250px 0 0 -250px;
    /* is width and height divided by two */
}
/***********************************************************************  BREADCRUMB (zindex 11) *******************************/
 .navbar-breadcrumb {
    z-index: 11;
    margin: 35px 0px 0px 0px;
    background: #f4f3ed;
    padding: 3px 0 0px 0;
    min-height: 38px;
    height: 38px;
}
.breadcrumb {
    background-color:#f4f3ed;
    list-style:none;
    margin:0px;
    padding: 0px;
}
.breadcrumb > li+li:before {
    color:#000;
    content:"→";
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    position: relative;
    top: 2px;
}
.breadcrumb a {
    color: #940000;
    text-decoration: underline;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb .dropdown-menu a {
    text-decoration: none;
}
.breadcrumb .dropdown-menu a i {
    padding-right: 10px;
}
.breadcrumb .btn-group.open .dropdown-toggle {
    -webkit-box-shadow:none;
    box-shadow:none;
}
/***********************************************************************  SUBNAVBAR (zindex 10) *******************************/
 .navbar-subnavbar {
    z-index: 10;
    margin: 73px 0 0 0;
    background: #F4F3ED;
    /* #e6e5dd */
    padding: 0;
    /*min-height: 38px;*/
    /*height: 38px;*/
    border-bottom: 1px solid #bbbab4;
}
.navbar-subnavbar .navbar-brand {
    float:left;
    font-size:20px;
    font-family:'PT Sans Narrow', sans-serif;
    font-weight: bold;
    line-height:25px;
    padding:3px 0 0 15px;
    margin: 0px 20px 0 0;
}
.navbar-subnavbar .navbar-brand i[class*='ico-'] {
    font-size: 18px;
    position:relative;
    top: 0px;
    padding: 0 5px 0 0;
}
.navbar-subnavbar .navbar-header {
    margin: 0;
}
.navbar-subnavbar .nav > li {
    margin: 0 20px 0 0;
}
.navbar-subnavbar .btn-sm {
    font-size: 14px;
    line-height: 18px;
}
.navbar-subnavbar .btn-sm i[class*='ico-'] {
    font-size: 16px;
    line-height: 16px;
    top: 1px;
}
/***********************************************************************  SUBNAVBAR FILTER (zindex 10) *******************************/
.subnavbar-filter
{
    margin-top: 25px;
}

/***********************************************************************  INFOBAR (zindex 4) *******************************/
 .navbar-infobar {
    z-index: 4;
    margin: 123px 0px 0px 0px;
    background: #F7F7F9;
    /* #e6e5dd */
    padding: 6px 0 0px 0;
    min-height: 60px;
    height: 60px;
    border-bottom: 1px solid #dadadd;
    color: #757576;
    font-size: 16px;
    line-height: 24px;
    font-family:'PT Sans Narrow', sans-serif;
}
.navbar-infobar h4 {
    padding: 1px 0 0 0;
    margin: 0;
    font-family:'PT Sans Narrow', sans-serif;
}
.navbar-infobar i[class*='ico-'] {
    font-size: 32px;
}
/***********************************************************************  CONTENT (zindex 3) *******************************/
 .content {
    z-index: 3;
    position: relative;
    top:0;
    padding-top: 25px;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px 18px 8px 8px;
    vertical-align:middle;
}
.table thead > tr > th
{
    /*border: 1px solid red;*/
}
table.dataTable thead > tr > th {
    padding: 8px 18px 8px 8px;
}

.submit-group {
    margin-top: 15px;
    padding-top: 15px;
}
.form-control.select2 {
    padding: 0;
    background: none;
    border: none;
}
/***********************************************************************  SELECT2 ******************************/
 .select2-container .select2-choice, .select2-container-multi .select2-choices .select2-search-field input {
    -webkit-box-shadow:rgba(0, 0, 0, 0.0745098) 0 1px 1px inset;
    -webkit-transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color:#FFFFFF;
    /*    background-image: none;
    */
    color:#555555;
    display:block;
    font-family:'PT Sans Narrow', sans-serif;
    font-size:14px;
    padding: 4px 12px;
    text-decoration:none;
    white-space:nowrap;
    height:32px;
    line-height:1.428571429;
    vertical-align:middle;
}
/* Arrow down icon */
 .select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 12px;
    height: 12px;
    background: url('../images/select2/select2.png') no-repeat -3px -7px;
    position: relative;
    top:10px;
    left: 10px;
}
.select2-container .select2-choice .select2-arrow {
    width: 32px;
    border-left: 1px solid #aaa;
    border-radius: 0 4px 4px 0;
    background-clip: padding-box;
    background: #FFF;
}
/* Close icon */
 .select2-container .select2-choice abbr {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 40px;
    top: 8px;
    font-size: 1px;
    text-decoration: none;
    border: 0;
    background: url('../images/select2/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}
.select2-search {
    padding-left: 0px;
    padding-right: 0px;
}
.select2-search input {
    border-right: none;
    border-left: none;
}
.select2-results .select2-highlighted {
    background: #428bca;
    color: #fff;
}
.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: none;
    background-image: none;
}
.select2-container-multi .select2-choices {
    background-color:#FFFFFF;
    background-image: none;
    border:1px solid #AAA;
    cursor:text;
    height:auto !important;
    margin:0;
    overflow:hidden;
    padding:0;
    position:relative;
    border-radius: 5px;
}
.select2-container-multi .select2-choices.my-error {
    background: red;
}
.select2-container-multi .select2-search-choice-close {
    left:3px;
}
.select2-search-choice-close {
    font-size:1px;
    height:13px;
    right:3px;
    top:5px;
    width:12px;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-clip:padding-box;
    background-color:#5cb85c;
    background-image:none;
    border:1px solid #AAAAAA;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    color:#FFF;
    cursor:default;
    line-height:13px;
    margin:4px 0 3px 5px;
    padding:5px 10px 5px 18px;
    position:relative;
}
ul.has-error, input.has-error, textarea.has-error, select.has-error {
    border: 1px solid #B94A48 !important;
    background: url(http://goo.gl/GXVcmC) 50% 50% repeat #f3d8d8 !important;
}
ul.has-error input {
    color: #666 !important;
}
.has-error input {
    background: url(http://goo.gl/GXVcmC) 50% 50% repeat #f3d8d8 !important;
}
.tooltip-inner {
    background-color:#CC3300;
    color:#FFFFFF;
    max-width:350px;
    padding:10px 15px;
    text-align:center;
    text-decoration:none;
}
.tooltip.top .tooltip-arrow {
    border-top-color:#CC3300;
}
/***********************************************************************  FORMS *******************************/
 fieldset {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px 20px 10px 20px;
}
fieldset legend {
    border: none;
    padding: 0 10px 0 5px;
    margin: 0 0 10px 0;
    background: none;
    width: auto;
    font-style: normal;
}
label.error {
    color: #b94a48;
}
.radio, .checkbox {
    display:block;
    margin-bottom:10px;
    margin-top:0px;
    min-height:20px;
    padding-left:0px;
    vertical-align:middle;
}
label span.label {
    font-size: 13px;
}
/*.tooltip-inner {
        background-color:#428bca;
        color:#FFFFFF;
        max-width:350px;
        padding:10px 15px;
        font-weight: normal;
}
.tooltip.bottom .tooltip-arrow {
        border-bottom-color:#428bca;
}
.tooltip.top .tooltip-arrow {
        border-top-color:#428bca;
}
*/
 .form-control {
    background-color:#FFFFFF;
    border:1px solid #AAA;
    box-shadow: none;
    color:#555555;
    padding:6px 12px;
}
.form-group .row {
    margin-bottom: 5px;
}
.input-group-addon {
    vertical-align:middle;
    white-space:nowrap;
    width:1%;
    font-size: 16px;
}
#gismap, #googlemap {
    position: relative;
    /*z-index: 111;*/
    height: 100%;
}
#sf-smartfilters-form-group {
    margin-bottom: 48px;
}
#upload {
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;
    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);
    width:250px;
    padding:30px;
    border-radius:3px;
    margin:200px auto 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#drop {
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;
    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}
#drop a {
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}
#drop a:hover {
    background-color:#0986a3;
}
#drop input {
    display:none;
}
#upload ul {
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}
#upload ul li {
    background-color:#333639;
    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);
    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;
    position: relative;
}
#upload ul li input {
    display: none;
}
#upload ul li p {
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}
#upload ul li i {
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}
#upload ul li canvas {
    top: 15px;
    left: 32px;
    position: absolute;
}
#upload ul li span {
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}
#upload ul li.working span {
    height: 16px;
    background-position: 0 -12px;
}
#upload ul li.error p {
    color:red;
}

/***********************************************************************  DataTable jQuery  *******************************/
div.FixedHeader_Cloned th,
div.FixedHeader_Cloned td {
    background-color: white !important;
}

