.ll-skin-melon {
	font-size: 90%;
}

.ll-skin-melon .ui-widget {
	background: #FFF;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-melon .ui-datepicker {
	padding: 0;
}

.ll-skin-melon .ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 15px;
}

.ll-skin-melon .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-title {
	margin-top: 0;
	margin-bottom: 0;
	color: #000;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover,
.ll-skin-melon .ui-datepicker .ui-datepicker-next-hover,
.ll-skin-melon .ui-datepicker .ui-datepicker-next,
.ll-skin-melon .ui-datepicker .ui-datepicker-prev {
	top: .9em;
	border:none;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-next span,
.ll-skin-melon .ui-datepicker .ui-datepicker-prev span {
	background-image: url(../images/ui/ui-icons_ffffff_256x240.png);
	background-position: -32px 0;
	margin-top: 0;
	top: 0;
	font-weight: normal;
}

.ll-skin-melon .ui-datepicker .ui-datepicker-prev span {
	background-position: -96px 0;
}

.ll-skin-melon .ui-datepicker table {
	margin: 0;
	/*width: 1000px;*/
}

.ll-skin-melon .ui-datepicker th {
	padding: 0;
	color: #2E3641;
	font-size: 13px;
	font-weight: normal;
	border: none;
	border: 1px solid #D3D3D3;
}

.ll-skin-melon .ui-datepicker td {
	background: #E4ECEC;
	border: none;
	padding: 0;
	border: 1px solid #D3D3D3;
}

.ll-skin-melon td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: 0;
	margin: 0;
	font-weight: normal;
	color: #2E3641;
	font-size: 16px;
	/*border: 1px solid #D3D3D3;*/
}

.ll-skin-melon .ui-state-disabled  {
	opacity: 1;
}

.ll-skin-melon .ui-state-disabled .ui-state-default {
	color: #D3D3D3;
}

.ll-skin-melon td .ui-state-active,
.ll-skin-melon td .ui-state-hover {
	border: 1px solid #2e3641;
	background: #2e3641;
	color: #fff;
}

