/* lg */
@media (min-width: 1200px){

}
/* md */
@media (max-width: 1200px) and (min-width: 992px){
	body > header .topmenu nav a {
		margin-left: 0;
		margin-right: 2px;
	}
}
/* sm */
@media (max-width: 992px) and (min-width: 768px){

}
/* sm and higher */
@media (min-width: 768px){

}
/* md and higher */
@media (min-width: 992px){

}
/* md and lower */
@media (max-width: 1200px){
	#map-legend .body .location-pic img {
		width: 70%;
		margin-left: 15px;
	}
	/* map */
	#venueList,
	#venueList .panelContent {
		width: 450px;
	}
	#venueView.panelOpened {
		margin-left: 450px;
	}
	#venueList .panelTrigger {
		margin-left: 450px;
	}
	#venueList.panelClosed {
		margin-left: -450px;
	}
	.panel-trigger-btn-text.objects {
		display: none;
	}
	.leaflet-control-zoomslider {
		left: 460px;
	}
	.leaflet-control-zoomslider.venueListClosed {
		margin-left: -440px;
	}
	.card .contentHolder .infoCol {
		width: 72.75%;
	}
	.price-tel-info {
		padding-left: 15px;
	}
	#object-info-images ul {
	    min-height: 420px;
	}
	.bx-wrapper .bx-viewport {
		max-height: 420px !important;
	}
	.price-tel-info .obj-view-booking .btn-danger.disabled,
	.price-tel-info .obj-view-booking .btn-primary {
		font-size: 18px;
	}
}
/* sm and lower */
@media (max-width: 992px){
	.hidden-xs.topmenu {
		/*display: none !important;*/
	}
	/* modal */
	.modal-content,
	#modal-login .modal-dialog,
	#modal-login .modal-content,
	#modal-signup .modal-dialog,
	#modal-signup .modal-content {
		width: 100%;
	}
	.modal-footer h3 {
		margin-bottom: 2px;
	}
	/* map-legend*/
	#map-legend .body > .row {
		margin-bottom: 0;
	}
	#map-legend .body {
		padding-bottom: 1px;
	}
	/* #how */
	#how .body h3 {
		font-size: 20px;
	}
	/* #owners */
	#owners .body h3 {
		font-size: 20px;
	}
	/* footer */
	body > footer {
		position: relative;
		height: 450px;
	}
	/* #about */
	#about img {
		margin-bottom: 20px;
	}
	#about p {
	    font-size: 28px;
	    margin: 0 20px 20px;
	    color: #7b7e80;
	}
	/* map */
	#venueList,
	#venueList .panelContent {
		width: 340px;
	}
	#venueView.panelOpened {
		margin-left: 340px;
	}
	#venueList .panelTrigger {
		margin-left: 340px;
	}
	#venueList.panelClosed {
		margin-left: -340px;
	}
	.panel-trigger-btn-text.objects {
		display: none;
	}
	.leaflet-control-zoomslider {
		left: 345px;
		top: 47px;
	}
	.leaflet-control-zoomslider.venueListClosed {
		margin-left: -322px;
	}
	.card .contentHolder .infoCol {
		width: 65%;
	}
	.card .venueAddress .openStreetview {
		margin-left: 0;
		display: block;
	}
	.card .venueName a {
		font-size: 18px;
	}
	.card .venueAddress {
		margin-top: 0;
		margin-left: 0;
	}
	.card .venueData {
		margin-top: 15px;
	}
	.card .venueData .venueDataItem {
		font-size: 11px;
		padding: 4px 8px;
		margin-right: 0px;
	}
	.actionButton {
		padding-right: 10px;
		padding-left: 10px;
	}
	#filters .panelTrigger {
		left: -130px;
	}
	#filters .filterTitle {
		margin-bottom: 10px;
		font-size: 18px;
	}
	#filter-rooms {
		padding-bottom: 5px;
	}
	#filter-rooms .filterTitle {
		margin-bottom: 5px;
	}
	.number-spinner {
		width: 122px;
	}
	.inner-link.back .padd span {
		display: none;
	}
	.obj-view-price {
		margin-top: 30px;
		text-align: center;
		display: block;
	}
	.obj-view-calendar .obj-calendar .ui-datepicker-group {
		width: 100%;
	}
	.obj-view-calendar .obj-calendar .ui-datepicker-group.ui-datepicker-group-first {
		padding-right: 20px;
		border-right: none;
	}
	.obj-view-calendar .obj-calendar .ui-datepicker-group.ui-datepicker-group-last {
		padding-left: 20px;
		padding-bottom: 20px;
	}
	#modal-show-owners-contacts.modal .modal-body {
		padding: 20px 15px;
	}
	#modal-show-owners-contacts.modal
	.modal-body .btn-group .btn {
		font-size: 14px;
	}
	#main-map header h1 {
		margin-top: 0;
	}
	#main-map header h2 {
		margin-bottom: 15px;
	}
	#main-map .map {
		display: none;
	}
	#main-map header {
		margin-bottom: 0;
	}
}
@media (max-width: 1025px) and (min-width: 992px) {
	body > footer {
		position: relative;
		height: 450px;
	}
}
/* xs */
@media (max-width: 768px){
	/* #about */
	#about img {
		margin-bottom: 20px;
	}
	#about p {
	    font-size: 26px;
	    margin: 0 20px 20px;
	    color: #7b7e80;
	}
	/* #how */
	#how {
		padding-bottom: 0;
	}
	#how .body {
		padding-bottom: 1px;
	}
	#how .body>.row {
		margin-bottom: 0;
	}
	#how header {
		padding: 10px;
	}
	#how header h1 {
		margin: 20px 0 20px;
		font-size: 34px;
	}
	#how header h2 {
		margin: 15px 0 15px;
		font-size: 28px;
	}
	#how .body h3 {
		margin: 15px 0 15px;
		font-size: 20px;
		font-weight: 600;
		font-family: 'open_sansregular';
	}
	#how .body p {
		font-size: 16px;
	}
	#how .body .col {
		border-bottom: solid #ddd 1px;
		margin-bottom: 25px;
		padding-bottom: 15px;
	}
	#how .body .col:last-child {
		border-bottom: none;
		padding-bottom: 5px;
	}
	/* #owners */
	#owners {
		padding-bottom: 35px;
	}
	#owners .body>.row {
		margin-bottom: 0;
	}
	#owners header {
		padding: 10px;
	}
	#owners header h1 {
		margin: 20px 0 20px;
		font-size: 34px;
	}
	#owners header h2 {
		margin: 15px 0 15px;
		font-size: 28px;
	}
	#owners .body h3 {
		margin: 15px 0 15px;
		font-size: 20px;
		font-weight: 600;
		font-family: 'open_sansregular';
	}
	#owners .body p {
		font-size: 16px;
	}
	#owners .body .col {
		border-bottom: solid #ddd 1px;
		margin-bottom: 25px;
		padding-bottom: 15px;
	}
	#owners .body .col:last-child {
		border-bottom: none;
		padding-bottom: 1px;
	}
	.obj-view-navbar {
		display: none;
	}
	.obj-view-content .container {
	    padding-top: 65px;
	}
	.obj-view-title h1 {
		font-size: 30px;
		line-height: 45px;
	}
	.obj-view-properties ul .item {
		width: 48%;
		float: left;
		margin-right: 4%;
	}
	.obj-view-properties ul .item:nth-child(2n+2) {
		margin-right: 0;
	}
	.obj-view-properties ul .item:last-child {
		border-bottom: dashed #cdcdcd 1px;
		padding-bottom: 10px;
	}
	.obj-view-properties .clear {
		clear: both;
		margin-bottom: 10px;
	}
	.social-header {
		display: none;
	}
	#main-map .map {
		display: none;
	}
	#main-map header {
		margin-bottom: 0;
	}
	/* feedback */
	body > footer {
		height: 300px;
	}
	body > header nav a i {
		margin-right: 0;
	}
	#city-top-menu-text {
		display: none;
	}
}
@media (max-width: 700px){
	#object-info-images ul {
	    min-height: 360px;
	}
	.bx-wrapper .bx-viewport {
		max-height: 360px !important;
	}
}
@media (max-width: 640px){
	/* #home */
	#home .booking-form {
		padding-top: 10px;
	}
	/* #about */
	#about img {
		margin-bottom: 20px;
	}
	#about p {
	    font-size: 24px;
	    margin: 0 20px 20px;
	    color: #7b7e80;
	}
	/* top-dest */
	#top-dest .body .box h2 {
		font-size: 60px;
	}
}
@media (max-width: 600px){
	#object-info-images ul {
	    min-height: 300px;
	}
	.bx-wrapper .bx-viewport {
		max-height: 300px !important;
	}
	#modal-show-owners-contacts.modal .modal-body .btn-group .btn {
		display: block;
		float: none;
		width: 100%;
	}
	#modal-show-owners-contacts.modal .modal-body .btn-group .btn:first-child {
		border-bottom-left-radius: 0;
		border-top-right-radius: 4px;
		margin-left: -1px;
	}
	#modal-show-owners-contacts.modal .modal-body .btn-group .btn:last-child {
		border-top-right-radius: 0;
		border-bottom-left-radius: 4px;
	}
}
@media (max-width: 540px){
	/* #home */
	#home .booking-form {
		padding-top: 20px;
	}
	#home .main-search-form #f_arrdate, #home .main-search-form #f_objtype {
		border-right: solid #fff 1px;
	}
	/* #about */
	#about img {
		margin-bottom: 20px;
	}
	#about p {
	    font-size: 20px;
	    margin: 0 20px 20px;
	    color: #7b7e80;
	}
	/* map-legend */
	#map-legend .body {
		padding-bottom: 1px;
	}
	/* top-dest */
	#top-dest .body .box h2 {
		font-size: 46px;
	}
	/* feedback */
	body > footer {
		padding: 10px;
		height: 540px;
	}
	#feedback ul > li {
		display: block;
		width: 100%;
		padding: 10px;
	}
	.obj-view-properties ul .item {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.obj-view-properties ul .item:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
	.obj-view-properties .clear {
		margin-bottom: 15px;
	}
}
@media (max-width: 500px){
	#object-info-images ul {
	    min-height: 250px;
	}
	.bx-wrapper .bx-viewport {
		max-height: 250px !important;
	}
	.obj-view-title h1 {
		font-size: 24px;
		line-height: 36px;
	}
	.obj-view-content .obj-view-title h2 {
		font-size: 18px;
		line-height: 27px;
	}
}
@media (max-width: 480px){
	.obj-actions h4 {
		margin-top: 15px;
	}
}
@media (max-width: 460px){
	.modal-dialog {
		margin: 0;
		padding: 10px;
	}
	.hidden-from-460 {
		display: none;
	}
	.visible-from-460 {
		display: block;
	}
	.logo {
		width: auto !important;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
	}
	body > header nav.topnav-right {
		padding-right: 5px;
	}
}
@media (max-width: 440px){
	body a.big-orange, button.big-orange {
		font-size: 18px;
		padding: 16px 32px;
	}
	/* #home */
	#home {

	}
	#home .booking-form {
		padding-top: 40px;
	}
	#home .booking-form h1 {
		font-size: 30px;
		line-height: 45px;
		margin: 20px 10px;
	}
	#home .booking-form h3 {

	}
	#home > .content > .wrapper {
		top: 50px;
	}
	#home .main-search-form {
		width: 70%;
	}
	/* #about */
	#about {
		padding-bottom: 15px;
	}
	#about header {
		padding: 10px;
	}
	#about header h1 {
		margin: 20px 0 20px;
		font-size: 34px;
	}
	#about p {
	    font-size: 16px;
	    margin: 0 10px 15px;
	    color: #7b7e80;
	}
	#about img {
		margin-bottom: 20px;
	}
	/* #main-map */
	#main-map header {
		padding: 10px;
	}
	#main-map header h1 {
		margin: 20px 0 20px;
		font-size: 34px;
	}
	#main-map header h2 {
		margin: 15px 0 15px;
		font-size: 28px;
	}
	/* top-dest */
	#top-dest {

	}
	#top-dest .body>.row {
		margin-bottom: 0;
	}
	#top-dest header {
		padding: 10px;
	}
	#top-dest header h1 {
		margin: 20px 0 20px;
		font-size: 34px;
	}
	#top-dest header h2 {
		margin: 15px 0 15px;
		font-size: 28px;
	}
	#top-dest .body .box h2 {
		font-size: 34px;
	}
	/* feedback */
	body > footer {
		height: 260px;
	}
	#feedback ul > li {
		display: block;
		width: 100%;
		padding: 10px;
	}
	/* map */
	.leaflet-bottom,
	.leaflet-top {
		z-index: 0;
	}
	.visible-from-440 {
		display: block;
	}
	span.visible-from-440 {
		display: inline;
	}
	.foundItemsLabel.visible-from-440 {
		color: #e8d819;
	}
	.hide-from-440 {
		display: none;
	}
	#venueList,
	#venueList .panelContent,
	#filters,
	#filters .panelContent {
		width: 100%;
	}
	#venueView.panelOpened {
		margin-left: 0;
		width: 100%;
	}
	#venueView .panelContent {
		width: 100%;
		position: initial;
	}
	#venueView .venueBookBtn {
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	#venueList .panelTrigger,
	#filters .panelTrigger {
		display: none !important;
	}
	#venueList.panelClosed {
		margin-left: -540px;
	}
	.panel-trigger-btn-text.objects {
		display: none;
	}
	.leaflet-control-zoomslider {
		left: 450px;
	}
	.leaflet-control-zoomslider.venueListClosed {
		margin-left: 20px;
	}
	.card .contentHolder .infoCol {
		width: 65%;
	}
	.card .venueAddress .openStreetview {
		margin-left: 0;
		display: block;
	}
	.card .venueName a {
		font-size: 18px;
	}
	.card .venueAddress {
		margin-top: 0;
		margin-left: 0;
	}
	.card .venueData {
		margin-top: 15px;
	}
	.card .venueData .venueDataItem {
		font-size: 11px;
		padding: 4px 8px;
		margin-right: 0px;
	}
	.actionButton {
		padding-right: 10px;
		padding-left: 10px;
	}
	#filters.panelClosed {
		right: -440px;
	}
	#filters .filterTitle {
		margin-bottom: 10px;
		font-size: 18px;
	}
	#filter-rooms {
		padding-bottom: 5px;
	}
	#filter-rooms .filterTitle {
		margin-bottom: 5px;
	}
	.number-spinner {
		width: 122px;
	}
	.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr th span,
	.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td span,
	.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td a	{
		line-height: 40px;
		font-size: 16px;
	}
	.obj-view-calendar .obj-calendar .ui-datepicker-title {
		font-size: 18px;
		padding-bottom: 15px;
		border-bottom-width: 2px;
		margin-bottom: 5px;
	}
	.obj-view-calendar .obj-calendar .ui-datepicker-group {
		padding: 15px;
	}
	#modal-show-owners-contacts.modal .modal-body .result .btn,
	#modal-showtelext .modal-body .result .btn {
		font-size: 14px;
		letter-spacing: normal;
		padding: 8px 16px;
	}
}
@media (max-width: 420px){
	body > header nav a {
		font-size: 10px;
		margin-right: 0;
		margin-left: 0;
	}
	body > header nav a i {
		margin-right: 0;
	}
	body > header nav a i.icon-location2 {
		/*display: none;*/
	}
	body > header nav a span {
		display: none;
	}
	body > header nav a span.foundItemsLabel {
		display: inline-block;
	}
	body > header nav .topnav-logo {
		margin-right: 0;
		margin-left: 5px;
	}
	.btn.big-orange {
		font-size: 15px;
		letter-spacing: 2px;
		padding: 12px 16px;
	}
	#modal-showtelext .modal-body,
	#modal-login .modal-body,
	#modal-signup .modal-body {
		padding: 20px;
	}
}
@media (max-width: 400px){
	#object-info-images ul {
	    min-height: 200px;
	}
	.bx-wrapper .bx-viewport {
		max-height: 200px !important;
	}
	.obj-view-title h1 {
		font-size: 20px;
		line-height: 30px;
	}
	.obj-view-content .obj-view-title h2 {
		font-size: 16px;
		line-height: 24px;
	}
}
@media (max-width: 350px){
	#object-info-images ul {
	    min-height: 180px;
	}
	.bx-wrapper .bx-viewport {
		max-height: 180px !important;
	}
	.obj-view-booking .btn-primary {
		font-size: 16px;
	}
	.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr th span,
	.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td span,
	.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td a	{
		line-height: 30px;
		font-size: 14px;
	}
	.price-tel-info .obj-view-booking .btn {
		font-size: 16px;
	}
}
@media (max-width: 320px){
	body a.big-orange, button.big-orange {
		padding: 12px 32px;
	}
	/* #home */
	#home .booking-form {
		padding-top: 0;
	}
	#home .booking-form h1 {
		font-size: 25px;
		line-height: 37px;
	}
	#home .main-search-form input,
	#home .main-search-form select {
		height: 44px;
	}
	/* #map-legend */
	#map-legend .cities .col {
		width: 100%;
	}
	/* feedback */
	body > footer {
		padding: 10px;
		height: 240px;
	}
	/* map */
	.card .venueData {
		margin-top: 10px;
	}
	.card .venueData .venueDataItem {
		padding: 3px 6px;
		margin-bottom: 5px;
	}
	.number-spinner {
		width: 102px;
	}
	#filters .panelContent {
		padding: 10px;
	}
	.filter-group-bordered {
		padding: 10px;
		margin-bottom: 10px;
	}
	.filter-group-bordered .filterTitle {
		font-size: 14px !important;
	}
	.filter-group-bordered .checkbox label,
	.filter-group-bordered .radio label {
		font-size: 13px;
	}
	.filterFoundItems {
		font-size: 14px;
	}
	.filterFoundNumber {
		font-size: 16px;
	}
}
@media (max-width: 320px) and (max-height: 480px){
}