body
{
    /*font-family: 'PT Sans Narrow', sans-serif;*/
    font-family: 'open_sanslight';

    margin: 0;
    padding: 0;

    color: #333;
    background-color: #fff;
}

body#main-page
{
    background-color: #f1f1f1;
}

.container
{
    width: 1200px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;

    border: 0 solid green;
}
a.white,
a.white:visited,
a.white:active
{
    text-decoration: none;

    color: #fff;
    border-color: #fff;
}
a.inner-link
{
    text-decoration: none;

    border-bottom: 1px dashed #fff;
}
a.inner-link:hover
{
    text-decoration: none;

    border: none;
}
a
{
    text-decoration: underline;
}
a:hover
{
    text-decoration: none;
}
.rouble
{
    font-family: 'als_rublregular';
}
i.big
{
    font-size: 22px;

    position: relative;
    top: 3px;
}
.hide-me
{
    display: none;
}
.pull-center
{
    margin: 0 auto;

    text-align: center;
}
.al-left
{
    text-align: left;
}
.al-right
{
    text-align: right;
}

.col
{
    float: left;
}

.clear
{
    clear: both;
}

.alert
{
    font-size: 18px;
}

.align-left
{
    text-align: left;
}
.align-right
{
    text-align: right;
}
.align-center
{
    text-align: center;
}

.visible-from-460 {
    display: none;
}
.visible-from-440 {
    display: none;
}

/* # -- HEADER
================================================== */
body > header
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;

    -webkit-transition: background .3s;
       -moz-transition: background .3s;
         -o-transition: background .3s;
            transition: background .3s;

    background: #313544;
    background: rgba(49, 53, 68, .95);
}

body > header .row
{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}
body > header .col
{
    height: 50px;
    margin: 0;
    padding: 0;
}
body > header nav .topnav-logo
{
    margin: 0 5px 0 10px;
}
body > header nav .topnav-logo a,
body > header nav .topnav-logo a:link
{
    width: 100px;
    height: 33px;
    /*border-radius: 0;*/
    padding: 0;

    border: none;
    border: none;
}
body > header .topnav-logo img
{
    margin-top: -3px;
}

body > header nav ul
{
    margin-top: 11px;

    list-style: none;
    /*padding-top: 28px;*/
    /*position: relative;*/
    /*top: 28px;*/
    padding-left: 0;
}
body > header.dark nav ul
{
    padding-top: 11px;
}

body > header nav ul > li
{
    display: inline-block;

    margin: 0;
}


body > header nav a
{
    font-family: 'open_sanslight';
    font-size: 11px;
    line-height: 17px;

    display: block;

    margin: 0 5px;
    padding: 5px 12px;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff !important;
    border: 1px solid #505970;
    border-radius: 20px;
    /*border: 1px solid red;*/
    /*    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
        filter: alpha(opacity=50);
*/
}
body > header nav a.rent {
    background: #26e16c;
    border-color: #1bc25a;
}
body > header nav a.inner-link
{
    border-style: dashed;
}
body > header nav a span
{
    /*padding-bottom: 3px;*/
    /*border-bottom: 1px solid #fff;*/
}
body > header nav a i
{
    font-size: 14px;

    position: relative;
    top: 2px;

    margin-right: 2px;

    color: #fff;
}

body > header nav a.current,
body > header nav a:hover
{
    text-decoration: none;

    opacity: 1;
    color: #fd685b !important;
    border: 1px solid #fd685b;
    border-radius: 20px;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

body > header nav a.rent.current,
body > header nav a.rent:hover
{
    color: #2a7041 !important;
    border-color: #2a7041;
}
body > header nav a.current span,
body > header nav a:hover span
{
    border: none;
}

body > header nav a.current
{
    /*cursor: default;*/
}
body > header nav.topnav-right
{
    padding-right: 10px;
    display: inline-block;
}

/***************************************************************** Top Navbar */
.navbar-default
{
    height: 50px;
    padding: 0;

    background: #2F2F30;
}
.navbar-fixed-top
{
    z-index: 1030;
    top: 0;
}
.navbar
{
    position: relative;
    z-index: 999;

    min-height: 50px;
    margin: 0;
    padding: 0;

    border: none;
}
.navbar-fixed-top,
.navbar-fixed-bottom
{
    position: fixed;
    right: 0;
    /*     border-width:none; */
    left: 0;

    padding: 0;
}
.navbar .container
{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}
.navbar-default .navbar-brand
{
    width: 114px;
    height: 35px;
    margin: -4px 25px 0 0;
    padding: 0;

    background: url(../images/ui/logo-top-small.png);
}
.navbar-default a.navbar-brand
{
    text-decoration: none;
}
.navbar-default .navbar-header
{
    padding: 12px 0 0 0;

    border: 0 solid red;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:active
{
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover
{
    text-decoration: underline;
}
.nav > li > a
{
    font-family: 'open_sanslight';
    font-size: 14px;
    line-height: 17px;

    position: relative;

    display: block;

    height: 55px;
    padding: 10px 18px 20px 15px;
    margin: 0 0 0 4px;

    text-decoration: none;
}
.i-map-3
{
    position: relative;
    top: -5px;

    display: inline-block;
    float: left;

    width: 30px;
    height: 30px;
    margin: 0 4px 0 0;

    background: url(../images/icons/ico-map-3.png) 0 0 no-repeat;
}
.nav > li > a i[class*='ico-']
{
    font-size: 22px;
    line-height: 12px;

    position: relative;
    top: 0px;

    padding: 0 4px 0 0;
}
.nav > li > a.inner-link,
.navbar-nav > li.active > a
{
    border: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    -webkit-user-select: none;

    color: #fff;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: #5cb85c;
    -webkit-box-shadow: inset 0 5px 0 0 #226a25;
       -moz-box-shadow: 0 5px 0 0 #226a25;
            box-shadow: 0 5px 0 0 #226a25;
            text-shadow: 1px 1px 0 #353535;

    -webkit-text-shadow: 1px 1px 0 #353535;
       -moz-text-shadow: 1px 1px 0 #353535;
}
.navbar-right li
{
    padding: 6px 0 0 0;
}
.navbar-right .oror
{
    position: relative;
    top: 3px;

    margin: 0 10px 0 10px;
}

 .navbar-objmap
 {
    background: #313544;
    border-bottom: 1px solid #E7E7E7;
 }

/***************************************************************** levels */
.content
{
    position: relative;

    width: 1200px;
    margin: 0 auto;
}



/***************************************************************** Button (Default size) */
.btn, .nav > li > a.btn
{
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;

    padding: 5px 7px;
    height: 30px;

    text-align: center;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.btn-success, .nav > li > a.btn-success
{
    background: none;
    border-width: 1px;
    color: #FFF;
    border-color: #fff;
}
.btn-success:hover, .nav > li > a.btn-success:hover
{
    background: #fff;
    border-color: #51B64F;
    color: #51B64F;
}


.btn-danger, .nav > li > a.btn-danger
{
    background: #FF6E31;
    border-width: 2px;
    color: #FFF;
    border-color: #FF6E31;
}
.btn-danger:hover, .nav > li > a.btn-danger:hover
{
    background: #FFF;
    border-color: #FF6E31;
    color: #FF6E31;
}

.btn-lg
{
    font-size: 22px;
    padding: 3px 20px 0px 20px;
    height: 40px;
    border-radius: 20px;
}

.nav > li > a.btn
{
    margin-top: 5px;
    padding: 4px 12px;
}
.nav > li > a.btn i
{
    font-size: 16px;
    position: relative;
    top: 3px;
}

.btn-default
{
    border-color: #545454;
/*
    -webkit-box-shadow: 0 3px 0 0 #545454;
       -moz-box-shadow: 0 3px 0 0 #545454;
            box-shadow: 0 3px 0 0 #545454;
*/
}
.list-group
{
    margin-top: 20px;

    text-decoration: none;
}
.list-group a
{
    text-decoration: none;
}
.label-border
{
    margin-right: 10px;
    padding-top: 7px;

    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}




#objects-list .col-lg-9,
#objects-list .col-lg-3,
.overlay-caption .col-lg-9,
.overlay-caption .col-lg-3
{
    height: 100px;
    margin: 0;
    padding: 0;
}
.thumbnail .caption h3
{
    font-size: 16px;

    margin: 0;
    padding: 0 0 5px 0;
}
#objects-list .col-lg-3,
.overlay-caption .col-lg-3
{
    text-align: center;

    border-left: 1px solid #ddd;
}
#objects-list .col-lg-9 .inner,
.overlay-caption .col-lg-9
{
    border-bottom: 1px solid #ddd;
}
#objects-list .selected .col-lg-9 .inner,
#objects-list .selected .col-lg-3,
#objects-list .selected .obj-spec-block
{
    border-color: #737A84;
    /*border-bottom: none;*/
    color: #fff;
    font-weight: normal;
}
#objects-list .selected .obj-price
{
    background: #47CAE0;
    color: #fff;
    font-weight: normal;
    border-left: none;
}
#objects-list .selected .obj-price
{
    border-left: 1px solid #47CAE0;
}
#objects-list .selected a
{
    color: #fff;
    /*text-decoration: underline;*/
}

/*********************************** StreetView Panorama *****************/
#panorama-box
{
    position: absolute;
    /*position: relative;*/
    /*background: gray;*/
    /*z-index: 900;*/
}
#panorama-box-close,
#panorama-box-open
{
    position: absolute;
    z-index: 2;
    right: 0;

    width: 100px;
    height: 50px;
}
#panorama-box-address
{
    position: absolute;
    z-index: 2;

    top: 15px;

    background: #ffda0a;
    text-align: center;
    color: #313544;
    padding: 10px 20px;
    border-radius: 3px;
}
#panorama-box-close .btn,
#panorama-box-open .btn
{
    position: relative;
    top: 15px;
    right: 10px;

    color: #fff;
    border: none;
    border-radius: 0;
    background: #ff6e28;
}
#panorama-box-close .btn:hover,
#panorama-box-open .btn:hover
{
    color: #ff6e28;
    background: #fff;
}
#panorama-box-close .btn i,
#panorama-box-open .btn i
{
    font-size: 17px;

    position: relative;
    top: 3px;
}
/*********************************** bxSlider *****************/
.bxslider li
{
    width: 100%;
    /*height: 200px;*/

    text-align: center;
}
.bxslider li a
{
    text-decoration: none;
}
.bxslider li div.img
{
    /*height: 200px;*/
    position: relative;

    margin: 0 0 0 0;
}
.bxslider li div.img img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*max-height: 200px;*/

    max-width: 100%;
    margin: auto;
}
/***************************************************************** Gmaps Overlay */
.overlay
{
    font-family: 'open_sanslight';
    font-size: 13px;

    position: relative;
    top: -30px;
    left: -16px;

    display: block;

    width: 406px;
    border: 3px solid #FF6E28;
    /*border: 3px solid #313544;*/
    /*box-shadow:2px 2px 10px #333;*/
    padding: 0;

    border-radius: 3px;
    background: #fff;

    box-shadow: 0 0 100px RGBA(30, 30, 30,.9);
}
.overlay .col-lg-4,
.overlay .col-lg-5,
.overlay .col-lg-3,
.overlay .row
{
    margin: 0;
    padding: 0;
}
/*********************************** Overlay - Image *****************/
.overlay-image
{
    position: relative;

    overflow: hidden;

    width: 400px;
    height: 300px;
}
.overlay-image .no-image
{
    font-size: 60px;

    position: relative;

    color: #ddd;
    border-bottom: 1px solid #ddd;
}
.overlay-image .no-image i
{
    position: absolute;
    top: 40%;
    left: 40%;
}
.overlay-image img
{
    /*width: 400px;*/
    /*height: 300px;*/
    position: relative;
    left:-15px;
}
.overlay-image .overlay-box-close
{
    font-size: 14px;

    position: absolute;
    z-index: 400;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;

    cursor: pointer;

    color: #fff;
    /*background: #ff6e28;*/
    background: #DD4B39;
}
.overlay-image .overlay-box-close i
{
    position: relative;
    top: 5px;
    left: 5px;
}
.overlay-image .overlay-box-close:hover
{
    color: #ff6e28;
    background: #fff;
}
/*********************************** Overlay - Description *****************/
.overlay-desc
{
    /*width: 200px;*/
    height: 100px;
    /*border: 1px solid purple;*/
    padding: 0;
}
/*********************************** Overlay - Location *****************/
.obj-location-title .inner
{
    height: 33px;
    padding: 9px 0 0 5px;

    color: #f00;
    border-bottom: 1px solid #ddd;
}
.obj-location-title a
{
    font-weight: bold;

    text-decoration: none;
    letter-spacing: 1px;
}
/*********************************** Overlay - Specification *****************/
.obj-spec .inner
{
    height: 34px;
    padding: 0;

    border-bottom: 1px solid #ddd;
}
.obj-spec-block
{
    font-weight: bold;

    display: inline-block;

    height: 34px;
    margin: 0;
    padding: 9px 12px 0 9px;

    /*border-right: 1px solid #ddd;*/
}
/*********************************** Overlay - More details *****************/
.obj-more-details
{
    /*font-family: 'PT Sans Narrow', sans-serif;*/
    font-weight: bold;

    display: block;

    width: 100%;
    height: 34px;
    padding: 7px 0;

    text-decoration: none;

    color: #fff;
    background: #ff6e28;
}
.obj-more-details:hover
{
    color: #ff6e28;
    border-top: 2px solid #ff6e28;
    background: #fff;
}
/*********************************** Overlay - Price *****************/
.overlay-price
{
    /*width: 100px;*/
    margin: 0;
    padding: 0;

    text-align: center;
    /*border: 1px solid green;*/

    border-left: 1px solid #ddd;
}
.obj-price
{
    height: 66px;
    padding: 15px 0 0 0;
}
.obj-price .price-main
{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    margin: 0;

    letter-spacing: -1px;
}
.object-price .price-small
{
    font-size: 13px;
    line-height: 13px;
}
/*********************************** Overlay - Streetview *****************/
.obj-streetview .inner
{
    padding: 7px 8px;

    color: #f00;
}
.obj-streetview a
{
    text-decoration: none;
}
/********************************************************************/
.overlay_arrow
{
    position: absolute;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -16px;
}
.overlay_arrow.above
{
    bottom: -15px;

    border-top: 15px solid #FF6E28;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}
.overlay_arrow.below
{
    top: -15px;

    border-right: 15px solid transparent;
    border-bottom: 15px solid #FF6E28;
    border-left: 15px solid transparent;
}


/***************************************************************** Filters Panel */
.input-round .form-control
{
    font-size: 16px;
    font-weight: normal;

    height: 30px;
    padding: 0px 15px 0 15px;

    text-decoration: none;

    /*border: 1px solid #343434;*/
    border: 1px solid #FFF;
    border-radius: 15px;
    box-shadow: none;
}
.btn-round
{
    font-size: 16px;
    font-weight: normal;

    margin-right: 5px;
    padding: 5px 7px;

    text-decoration: none;

    /*border: 1px solid #343434;*/
    border: 1px solid #FFF;
    border-radius: 15px;
}
.btn-round.inner-link
{
    border-style: dashed;
}
.btn-round .padd
{
    padding: 0 5px;
}
.btn-round i
{
    position: relative;
    top: 2px;
}
.btn-round.active
{
    color: #ff6e28;
    border-color: #fff;
    background: #fff;
}

.btn-orange
{
    color: #fff;
    border: 1px solid #ff6e28;
    background: #ff6e28;
}
.btn-orange:hover
{
    color: #ff6e28;
    border-color: #fff;
    background: #fff;
}
.btn-transp
{
    color: #343434;
    /*border: 1px solid #343434;*/
    border: 1px solid #FFF;
    background: none;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        padding: 6px 14px;

}

.btn-transp:hover
{
    color: #ff6e28;
    border-color: #fff;
    background: #fff;
}
.btn-white
{
    color: #ff6e28;
    border-color: #fff;
    background: #fff;
}

.btn-warn
{
    color: #000;
    border: 1px solid #ffe63f;
    background: #ffe63f;
}



.label-line
{
    font-size: 16px;
    font-weight: normal;

    padding: 5px 15px;

    border: 1px solid #fff;
    border-radius: 15px;
}
.label-line i
{
    padding-right: 5px;
}

/***************************************************************** Sorting Buttons */
.btn-sort
{
    height: 30px;
}
.btn-group-sort
{
    position: relative;
    top: -2px;
}
.btn-sort
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    line-height: 16px;

    height: 30px;
    margin: 0;
    padding: 5px 14px;

    vertical-align: top;
    /*box-shadow: none;*/

    border: 1px solid #fff;
    /*background: none;*/
    border-radius: 15px;
}
.btn-sort i
{
    font-size: 11px;
    line-height: 11px;

    padding: 6px 0;
}
.btn-sort:hover, .btn-transp.btn-sort-active
{
    background: #60B660;
    color: #fff;
    border-color: #60B660;
}
.sort-type .rouble
{
    line-height: 18px;
    font-size: 18px;
}


/**************************************************************************** Orange Button **/
.orange-btn
{
    font-size: 20px;
    line-height: 20px;

    display: inline-block;

    margin: 0;
    padding: 12px 27px;

    text-decoration: none;
    letter-spacing: .8px;

    color: #fff;
    color: #fff;
    border: 1px solid #ff6e31;
    border: none;
    border-radius: 25px;
    background: #ff6e31;
    -webkit-box-shadow: 0 4px 0 0 #973a12;
       -moz-box-shadow: 0 4px 0 0 #973a12;
            box-shadow: 0 4px 0 0 #973a12;
    text-shadow: none;
}
.orange-btn:hover
{
    position: relative;
    top: 4px;

    cursor: pointer;

    color: #fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

/**************************************************************************** Regular Button **/
.regular-btn
{
    font-size: 16px;
    line-height: 16px;

    display: inline-block;

    height: 30px;
    margin: 0;
    /*height: 20px;*/
    padding: 0 15px;

    text-decoration: none;
    letter-spacing: .8px;

    color: #fff;
    border: 1px solid #ff6e31;
    border-radius: 15px;
    background: #ff6e31;
    -webkit-box-shadow: 0 4px 0 0 #973a12;
       -moz-box-shadow: 0 4px 0 0 #973a12;
            box-shadow: 0 4px 0 0 #973a12;
    text-shadow: none;
}
.regular-btn:hover
{
    position: relative;
    top: 4px;

    cursor: pointer;

    color: #fff;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}


/**************************************************************************** BlueImp Gallery **/
#blueimp-gallery
{
    z-index: 10;
}
/**************************************************************************** Dropdown Menu **/
.dropdown-menu
{
    min-width: 600px;

    background: #f0f3f5;
    z-index: 1500;
}
.dropdown-menu li a .badge
{
    background: #ff6e31;
}
.dropdown-menu > li > a:hover
{
    background: #51b64f;
}
.dropdown-menu > li > a
{
    height: 35px;
    padding-top: 8px;

    border: none;
    border-radius: 0;
}
.dropdown-menu > li > a .smartfilter_name
{
    /*border: 1px solid red;*/
    display: inline-block;

    width: 400px;
}
/***********************************************************************  Preloader (zindex 5) *******************************/
#preloader
{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #E9F0F5;
    /* change if the mask should have another color then white */
}
#status
{
    position: absolute;
    top: 350px;
    left: 50%;

    width: 500px;
    height: 500px;
    margin: -250px 0 0 -250px;
    /*border: 1px solid red;*/

    background: url(../images/ui/294.gif) center center no-repeat;
    /* is width and height divided by two */
}
.preloader-logo
{
    width: 250px;
    height: 77px;
    margin: 250px auto 0 auto;

    background: url(../images/ui/logo-mid-white.png) 0 0 no-repeat;
}
/***********************************************************************  Tooltips *******************************/
.tooltip-inner
{
    font-weight: normal;

    max-width: 450px;
    padding: 10px 15px;

    color: #fff;
    background-color: #ff6e31;

    font-family: 'open_sanslight';
    font-size: 15px;
}
.tooltip.bottom .tooltip-arrow
{
    border-bottom-color: #ff6e31;
}
.tooltip.top .tooltip-arrow
{
    border-top-color: #ff6e31;
}


/********************************************************************************** Under Construction page */
.under-construction
{
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 100px 0 0 0;

    text-align: center;

    color: #fff;
    background-color: #51b64f;
}
.under-construction .bordered
{
    width: 500px;
    margin: 0 auto;
    padding: 15px;

    border: 1px solid #fff;
    border-radius: 15px;
}
.under-construction h1,
.under-construction h2
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;

    margin: 0;
    padding: 0;
}
.under-construction h1
{
    margin: 0 0 12px 0;
}
.under-construction h2
{
    font-size: 22px;
}

.under-construction-logo
{
    width: 250px;
    height: 68px;
    margin: 200px auto 20px auto;

    background: url(../images/ui/logo-mid-white.png) #51b64f 0 0 no-repeat;
}


/********************************************************************************* TypeHead */
.typeahead,
.tt-query,
.tt-hint
{
    font-size: 24px;
    line-height: 30px;

    width: 396px;
    height: 30px;
    padding: 8px 12px;
    /*border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  */

    outline: none;
}

.tt-input
{
    border: 1px solid red;
}

.typeahead
{
    background-color: #fff;
}

.typeahead:focus
{
    border: 2px solid #0097cf;
}

.tt-query
{
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}

.tt-hint
{
    color: #999;
}

.tt-dropdown-menu
{
    overflow-y: auto;

    width: 422px;
    /*border-top-left-radius: 0;*/
    /*  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
*/
    max-height: 250px;
    margin-top: 0;
    padding: 8px 0;

    border-radius: 25px;
    background-color: #fff;
}

.tt-suggestion
{
    font-size: 18px;
    line-height: 24px;

    padding: 3px 20px;
}

.tt-suggestion.tt-cursor
{
    color: #fff;
    background-color: #ff6e31;
}
.tt-suggestion.tt-cursor .tt-highlight
{
    color: #000;
}

.tt-suggestion p
{
    margin: 0;
}
.tty-empty-message
{
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.tt-highlight
{
    background: #FFFF33;

}
.tty-district
{
    font-size: 14px;
    color: #ccc;
}
.gist
{
    font-size: 14px;
}
.twitter-typeahead
{
    float: left;
}
/********************************************************************************* TypeHead - END */




/********************************************************************************* Help & Content pages */
.help
{
    margin: 114px 0 0 0;
    /*padding: 114px 0 0 0;*/
    font-size: 18px;
}
.help .adv-item
{
    text-align: center;
}
.help .adv-item .icon
{
    font-size: 52px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.help .adv-item .help-adv-title
{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1ABC9C;
}
.help .adv-item p
{
    color: #96A6A7;
}


.help-content
{
    /*border: 1px solid red;*/
    font-size: 18px;
}
.help-content h1, .help-content h2, .help-content h3, .help-content h4
{
    font-family: 'PT Sans';
    /*color: #5CB85C;*/
    color: #2C3E50;
    font-weight: bold;
    text-align: center;
    margin: 30px 0 20px 0;
}
.help-content .panel-title
{
    font-weight: bold;
    padding: 10px;
}
.help-content h1
{
    font-size: 55px;
}

.help-content  p
{
    font-size: 20px;
    margin-bottom: 30px;
}
.help-content .alert
{
    text-align: left;
    font-size: 22px;
}
.help .col
{
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
}

.help-title
{
/*  position: relative;
    padding: 55px 0 20px 0;
    border: 0 solid red;
*/
    margin: 59px 0 0 0;
    padding: 0;
    background:  #5cb85c;
    color: #FFF;
    font-weight: normal;
    height: 50px;
    /*position: relative;*/
    z-index: 500;
}
.help-title h1
{
    font-weight: normal;
    font-family: 'PT Sans';
    font-size: 24px;
    line-height: 24px;
    position: relative;
    top: -6px;
}

.help-tasks .col
{
    text-align: center;
}
 .help-tasks .task-num
 {
    font-size: 36px;
    color: #ccc;
 }
 h4.help-title-orange
 {
    font-size: 32px;
    color: #FF6224;
    margin: 30px 0 40px 0;
 }
 .btn.big-orange
 {
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    background: #FD685B;
    border: 1px solid #F0582A;
    text-decoration: none;
    display: block;
    margin: 0;
    width: 100%;
    height: 54px;
    transition: .2s;
    font-family: 'open_sanslight', Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    letter-spacing: 4px;
 }
.btn.big-orange:hover
 {
    color: #FD685B;
    background-color: transparent;
 }

/********************************************************************************* Object - Booking - Steps */
.help-book-steps-nav
{
    margin: 20px 0;
    /*border: 1px solid red;*/

}
.help-book-step
{
    font-family: 'PT Sans';
    font-size: 30px;
    line-height: 30px;

    display: block;

    width: 50px;
    height: 50px;
    margin: 0 auto 20px auto;
    padding: 10px 0 0 0;


    text-decoration: none;

    border-radius: 25px;
}
.help-book-step.active
{
    background: red;
}
.help-book-step-title
{
    font-size: 18px;
    width: 150px;
    display: block;
    margin: 0 auto;
    color: #96A6A7;
}
.help-book-step-current
{
    border: 1px solid #FF6E31;
    color: #FFF;
    background: #FF6E31;

}
.help-book-step-past
{
    border: 1px solid #FF6E31;
    color: #FF6E31;
    background: none;
}
.help-book-step-past:hover
{
    color: #fff;
    background: #FF6E31;
}
.help-book-step-future
{
    border: 1px solid #898989;
    color: #898989;
}

.help-book-steps-nav .col
{
    text-align: center;
    padding: 0;
    margin: 0;
}

.help-step-tab-img
{
    border: 1px solid #ccc;
}

.help-step-img-1
{
    background: url(../../../images/ui/help/help-step-1.jpg) 0 0 no-repeat;
    height: 461px;
}

.city-selector {
    font-size: 18px;
}
/*----------------------------------------------------------------
    Blur Content
----------------------------------------------------------------
.blur {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}*/

 .fade {
   opacity: 0;
   -webkit-transition: opacity 0.1s linear;
      -moz-transition: opacity 0.1s linear;
       -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
           transition: opacity 0.1s linear;
 }


 .modal.fade{
-webkit-transition:opacity .05s linear, top .05s ease-out;
-moz-transition:opacity .05s linear, top .05s ease-out;
-ms-transition:opacity .05s linear, top .05s ease-out;
-o-transition:opacity .05s linear, top .05s ease-out;
transition:opacity .05s linear, top .05s ease-out;
}

.modal-content
{
    font-family: 'open_sanslight';
    font-weight: normal;
    background: #fff;
    box-shadow: 0 0 100px rgba(62,71,87,.5);
    border: none;
    border-radius: 0;
    width: 706px;

  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;

/*
  display: inline-table;
  vertical-align: middle;
  opacity: 0;
  margin: 30px;
  white-space: normal;
  text-align: left;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
*/
}
.modal-content .row
{
    margin-bottom: 25px;
}
.modal-content p small
{
    font-size: 10px;
    color: #F0582A;
    margin-left: 20px;
}
.modal-content h2
{
    margin-bottom: 15px;
}
.modal-body
{
    background: #E9F0F5;
    padding: 30px 40px 15px 40px;
}
.modal-title
{
    font-family: 'open_sanslight';
    font-weight: normal;
}
.modal-footer {
  border-top-color:#E5E5E5;
  border-top-style:solid;
  border-top-width:1px;
  margin-top:15px;
  padding:19px 20px 20px;
  text-align:right;
}

.modal-backdrop {
    background-color: #CCC;
}

/********************************************************************************* Object - Info */
.obj-view
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 16px;
    /*margin: 100px 0 0 0;*/
}

.obj-view-content .container
{
    padding: 125px 0 0 0;
    /*border: 1px solid red;*/
}

h1
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;

    margin: 0;
    padding: 0;

    color: #000;
}

h2
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;

    margin: 0;
    padding: 0;

    color: #000;
}

h3
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    margin: 0 0 12px 0;
    padding: 0;

    color: #000;
}

h3.rounded
{
    /*height: 30px;*/
    display: inline-block;

    padding: 6px 15px 5px 15px;

    border: 1px solid #000;
    border-radius: 15px;
}
.obj-view-navbar
{
    height: 60px;
    margin: 50px 0 0 0;
    padding: 18px 0 0 0;

    background: #dbdedb;
    border-bottom: 1px solid #babbba;
    z-index: 100;
}

.obj-view-navbar .inner-link
{
    font-size: 18px;

    margin: 0 0 0 15px;

    color: #343434;
}

.obj-view-navbar a
{
    font-size: 16px;
    margin: 0 0 0 15px;
    color: #343434;
    margin-right: 10px;
}
.obj-view-navbar a.active
{
    border: 1px solid #FFE63F;
    background: #FFE63F;
    border-radius: 20px;
    padding: 6px 12px;
    text-decoration: none;
    color: #313544;
}


.obj-view .col-lg-7,
.obj-view .col-lg-5
{
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}
.obj-view-pager
{
    margin-bottom: 0;
}
.obj-view-sidebar
{
    padding: 116px 0 0 0;
}

.obj-actions, .obj-stat
{
    border-left: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background: #FFF;
    height: 140px;

}
.obj-actions .contentHolder
{
    padding: 15px 10px;
}
.obj-list .col
{
    margin: 0;
    padding: 0;
}
.obj-list-title
{
    text-align: center;
}
.obj-expire
{
    margin-top: 25px;
    color: #FB4151;
    text-align: center;
}
.obj-edit
{
    padding: 10px;
    margin:0;
    height: 140px;
}
.btn-no-brd
{
    border: none;
}
.contentHolder
{
    padding: 5px 8px 0 5px;

}
.badge
{
    background: #FB4151;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px 0 0 0;
    font-size: 10px;
    position: relative;
    left: 3px;
    top: -3px;
}
/********************************************************************************* Main Content (all kimds of content) */
.main-content
{
    margin-top: 140px;
}
.main-content h2
{
    font-family: 'PT Sans';
    margin-bottom: 25px;
    font-weight: bold;
}
.btn-regular-small
{
    text-decoration: none;
    border: 1px solid #0732A2;
    color: #0732A2;
    border-radius: 4px;
    padding: 5px 9px;
}
.btn-regular-small:hover
{
    background: #0732A2;
    color: #FFF;
}
.btn-regular-small i
{
    margin-right: 5px;
}




.btn-danger-small
{
    text-decoration: none;
    border: 1px solid #FB4151;
    color: #FB4151;
    border-radius: 4px;
    padding: 5px 9px;
}
.btn-danger-small:hover
{
    background: #FB4151;
    color: #FFF;
}
.btn-danger-small i
{
    margin-right: 5px;
}
/***************************************************************** Object Card */
.card
{
    position: relative;

    overflow: hidden;

    width: auto;
    margin: 0;
    padding: 5px .5%;

    border-bottom: 1px solid #eaeaea;
    background: #fff;
    /*background: lightgray;*/

    /*font-family: 'open_sanslight';*/
    /*font-family: 'PT Sans'; */
    /*font-family: 'PT Sans Narrow'; */
    font-family: 'open_sansregular';

    height: 160px;

}
.card-expire
{
}
.card:hover
{
    background: #f3f6fa;
    margin:0;
}
.card-active
{
    background: #e6ebf6;
    /*border: 3px solid #3887BE;*/
    border: 3px solid #0732A2;
    border-left: none;
}
.card .contentHolder
{
    overflow: hidden;

    margin-left: 1%;
    padding: 1.5%;
    padding: 5px 8px 0 5px;
}
.card .contentHolder .infoCol
{
    float: left;

    width: 74.75%;
    padding: 0 .5%;
    /*border: 1px solid red;*/
}
.card .venueName a
{
    font-family: 'bebas_neuebold';
    /*font-family: 'PT Sans Narrow'; */

    font-size: 22px;
    font-weight: normal;

    margin: 0;
    padding: 0;
}
.card .venueName h2 a
{
    color: #414141;
}

.card .contentHolder .photoCol
{
    position: relative;

    float: right;

    margin-left: 1%;
    /*border: 1px solid red;*/

    /*border: 1px solid pink;*/
}
.card .contentHolder .photoCol .photoContainer
{
    top: 0;
    right: 0;

    width: 100px;
    height: 75px;

    /*border: 1px solid #EAEAEA;*/
    /*padding: 4px;*/

/*    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
*/    /*background: #efeff4;*/
}
.card .contentHolder .photoCol .photoContainer img
{
    width: 100px;
    height: 75px;
    padding: 0;

    cursor: pointer;

    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.card .contentHolder .venuePrice
{
    font-family: 'bebas_neuebold';
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    line-height: 18px;
    padding: 10px 0 0 0;
    /*border: 1px solid #EAEAEA;*/
    /*border-top: none;*/

}
.card .contentHolder .venuePrice span
{
  font-size: 16px;
}
.card .contentHolder .venuePrice .rouble
{
  font-size: 25px;
}
.card .venueAddress
{
  margin-top: 2px;
  margin-left: -3px;
}
.card .venueAddress .openStreetview
{
  text-decoration: none;
  margin-left: 15px;
}
.card .venueData
{
  margin-top: 14px;
}
.card .venueData .venueDataItem
{
  font-size: 12px;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 15px;

  border: 1px solid #C1D99F;
  border-radius: 15px;
  padding: 5px 13px;
}
.card .venueData .colorBlue
{
  border-color: #0732A2;
  color: #0732A2;
}
.card .venueData .colorRed
{
  border-color: #FB4151;
  color: #FB4151;
}


/*----------------------------------------------------------------
    Modal
----------------------------------------------------------------*/
.modal
{
    top: 50px;
    /*! adjust transition time */

    -webkit-transition: all ease-out !important;
       -moz-transition: all .1s ease-out !important;
         -o-transition: all .1s ease-out !important;
            transition: all .1s ease-out !important;
}
.modal.in .modal-dialog
{
    /*! editthis transform to any transform you want */
    /*    -webkit-transform: scale(1.1, 1.1) !important;
    -ms-transform: scale(1.1, 1.1) !important;
    transform: scale(1.1, 1.1) !important;
*/
    top: 50px;
}
.modal.fade .modal-dialog
{
    top: 50px;
    /*! disable sliding from left/right/top/bottom */

    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}



.modal-content
{
    font-family: 'open_sanslight';
    font-weight: normal;

    width: 706px;
    /*    -webkit-transition: opacity .3s ease;
       -moz-transition: opacity .3s ease;
         -o-transition: opacity .3s ease;
            transition: opacity .3s ease;
*/

    border: none;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 0 100px rgba(62,71,87,.5);
    /*
  display: inline-table;
  vertical-align: middle;
  opacity: 0;
  margin: 30px;
  white-space: normal;
  text-align: left;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
*/
}
.modal-content .row
{
    margin-bottom: 25px;
}
.modal-header
{
    padding-bottom: 0;

    background: #ffe63f;
}
.modal-header h2
{
    margin: 0;
    padding: 0;

    text-align: center;
}
.modal-content p small
{
    font-size: 10px;

    margin-left: 20px;

    color: #f0582a;
}
.modal-content h2
{
    margin-bottom: 15px;
}
.modal-body
{
    padding: 30px 40px 15px 40px;
    /*background: #e9f0f5;*/

    background: #fff;
    background: #f6f6ef;
}
.modal-title
{
    font-family: 'open_sanslight';
    font-weight: normal;
}
.modal-footer
{
    font-size: 12px;

    margin-top: 0;
    padding: 19px 20px 20px;

    text-align: center;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
}
.modal-footer p
{
    margin-bottom: 15px;
}
.modal-footer h3
{
    font-size: 16px;
    font-weight: normal;
    font-family: 'open_sanslight', Arial, sans-serif;
    margin-bottom: 5px;
}

.modal-backdrop
{
    background-color: #000;
}

/*----------------------------------------------------------------
    Modal - Login
----------------------------------------------------------------*/
#modal-login .modal-dialog,
#modal-login .modal-content {
    width: 470px;
}
#modal-signup .modal-dialog,
#modal-signup .modal-content {
    width: 470px;
}
#modal-login .modal-body .col {
    float: none;
}
#modal-signup .modal-body .col {
    float: none;
}
#modal-signup .checkbox
{
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 20px;
    color: #FD685B;
}
#modal-signup .checkbox.accept
{
    color: #333;
}
#modal-signup .checkbox a
{
    color: inherit;
}
#modal-signup .checkbox input[type=checkbox]
{
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -o-appearance: checkbox;
    appearance: checkbox;
    margin-left: -20px;
    display: block;
}

/*----------------------------------------------------------------
    Hotorder and Paramsorder
----------------------------------------------------------------*/
.hotorder-reason,
.paramsorder-reason {
    font-size: 18px;
    color: red;
    margin-top: 15px;
}
.hotorder-info,
.paramsorder-info {
    font-size: 18px;
}
.hotorder-form-code,
.paramsorder-form-code {
    display: none;
}
.hotorder-form-code-onphone-wrapper,
.paramsorder-form-code-onphone-wrapper {
    font-size: 16px;
}
#hotorder-form-code-onphone,
#hotorder-form-code-onphone {
    display: block;
    font-family: 'open_sansbold';
}
.hotorder-form-code-rollback,
.paramsorder-form-code-rollback {
    text-decoration: underline;
    display: inline-block;
    float: right;
    cursor: pointer;
    color: #939393;
}
.hotorder-form-code-rollback:hover,
.paramsorder-form-code-rollback:hover {
    text-decoration: none;
}

/*----------------------------------------------------------------
    Regular Form Style
----------------------------------------------------------------*/
.gy-form .form-control
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;

    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 0;

    /*text-transform: uppercase;*/

    color: #333;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 0;
    background: none;
    box-shadow: none;
}
.gy-form .form-control:hover
{
    background: none;
    box-shadow: none;
}
.gy-form .form-control:focus
{
    background: none;
    /*background: #fff;*/
    box-shadow: none;
}

.gy-form .form-control::-webkit-input-placeholder
{
    color: #000;
}
.gy-form .form-control:-moz-placeholder
{
    color: #000;
}
.gy-form .form-control::-moz-placeholder
{
    color: #000;
}
.gy-form .form-control:-ms-input-placeholder
{
    color: #000;
}
.gy-form .row
{
    margin-bottom: 0;
}
.gy-form .col
{
}

/*----------------------------------------------------------------
    Dropdown Menu
----------------------------------------------------------------*/
.dropdown-menu{
  min-width: 200px;
  background-color: #fff;
}
.dropdown ul.dropdown-menu {
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 0;
  box-shadow: none;
}
.dropdown ul.dropdown-menu:before {
  position: absolute;
  z-index: 10;
  top: -10px;
  right: 16px;
  content: '';
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
}
.dropdown ul.dropdown-menu:after {
  position: absolute;
  z-index: 9;
  top: -12px;
  right: 14px;
  content: '';
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
}
.dropdown ul.dropdown-menu-left {
  margin-left: -50px;
}
.dropdown-menu > li > a:link,
.dropdown-menu > li > a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 5px;
  text-transform: none;
  color: #000 !important;
  border: none;
  border-radius: 0;
  background: none;
  line-height: 25px;
}
.dropdown-menu > li > a i {
  color: #000 !important;
}
.dropdown-menu > li > a:hover {
  color: #fff !important;
}
.dropdown a.dropdown-toggle:focus {
  text-decoration: none;
}
.dropdown-menu > li {
  display: block;
  margin: 0;
  padding: 0 10px;
  text-align: right;
}
.dropdown-menu > li:hover {
  background: #fd685b;
}


/*----------------------------------------------------------------
    Float Label
----------------------------------------------------------------*/
.float-label-control
{
    font-family: 'open_sanslight', Arial, sans-serif;
    position: relative;
    margin-bottom: 30px;
}
.float-label-control ::-webkit-input-placeholder
{
    color: transparent;
}
.float-label-control :-moz-placeholder
{
    color: transparent;
}
.float-label-control ::-moz-placeholder
{
    color: transparent;
}
.float-label-control :-ms-input-placeholder
{
    color: transparent;
}
.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill
{
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
       -moz-box-shadow: 0 0 0 1000px white inset !important;
            box-shadow: 0 0 0 1000px white inset !important;
}
.float-label-control input,
.float-label-control textarea,
.float-label-control label
{
    font-size: 1.3em;

    -webkit-box-shadow: none;
            box-shadow: none;
}
.float-label-control input:focus,
.float-label-control textarea:focus
{
    padding-bottom: 0;

    border-bottom-width: 1px;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.float-label-control textarea:focus
{
    padding-bottom: 4px;
}
.float-label-control input,
.float-label-control textarea
{
    display: block;

    width: 100%;
    margin: 0;
    padding: .1em 0 1px 0;

    border: none;
    border-radius: 0;
    outline: none;
    background: none;
}
.float-label-control textarea
{
    padding: .1em 0 5px 0;
}
.float-label-control label
{
    font-size: 15px;
    font-weight: normal;

    position: absolute;
    z-index: -1;
    top: -11px;
    left: 0;

    -webkit-animation: float-labels 300ms none ease-out;
       -moz-animation: float-labels 300ms none ease-out;
        -ms-animation: float-labels 300ms none ease-out;
         -o-animation: float-labels 300ms none ease-out;
            animation: float-labels 300ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/
    -webkit-animation-play-state: running !important;
            animation-play-state: running !important;

    color: #aaa;

    -khtml-animation: float-labels 300ms none ease-out;
}
.float-label-control input.empty + label,
.float-label-control textarea.empty + label
{
    font-size: 1.5em;

    top: .1em;

    -webkit-animation: none;
            animation: none;
}
.float-label-control input:not(.empty) + label,
.float-label-control textarea:not(.empty) + label
{
    z-index: 1;
}
.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label
{
    color: #aaa;
}
.float-label-control.label-bottom label
{
    -webkit-animation: float-labels-bottom 300ms none ease-out;
       -moz-animation: float-labels-bottom 300ms none ease-out;
        -ms-animation: float-labels-bottom 300ms none ease-out;
         -o-animation: float-labels-bottom 300ms none ease-out;
            animation: float-labels-bottom 300ms none ease-out;

    -khtml-animation: float-labels-bottom 300ms none ease-out;
}
.float-label-control.label-bottom input:not(.empty) + label,
.float-label-control.label-bottom textarea:not(.empty) + label
{
    top: 3em;
}


@keyframes float-labels
{
    0%
    {
        font-size: 1.5em;

        top: .1em;

        opacity: 1;
        color: #aaa;
    }
    20%
    {
        font-size: 1.5em;

        opacity: 0;
    }
    30%
    {
        top: .1em;
    }
    50%
    {
        font-size: .85em;

        opacity: 0;
    }
    100%
    {
        top: -1em;

        opacity: 1;
    }
}

@-webkit-keyframes float-labels
{
    0%
    {
        font-size: 1.5em;

        top: .1em;

        opacity: 1;
        color: #aaa;
    }
    20%
    {
        font-size: 1.5em;

        opacity: 0;
    }
    30%
    {
        top: .1em;
    }
    50%
    {
        font-size: .85em;

        opacity: 0;
    }
    100%
    {
        top: -1em;

        opacity: 1;
    }
}

@keyframes float-labels-bottom
{
    0%
    {
        font-size: 1.5em;

        top: .1em;

        opacity: 1;
        color: #aaa;
    }
    20%
    {
        font-size: 1.5em;

        opacity: 0;
    }
    30%
    {
        top: .1em;
    }
    50%
    {
        font-size: .85em;

        opacity: 0;
    }
    100%
    {
        top: 3em;

        opacity: 1;
    }
}

@-webkit-keyframes float-labels-bottom
{
    0%
    {
        font-size: 1.5em;

        top: .1em;

        opacity: 1;
        color: #aaa;
    }
    20%
    {
        font-size: 1.5em;

        opacity: 0;
    }
    30%
    {
        top: .1em;
    }
    50%
    {
        font-size: .85em;

        opacity: 0;
    }
    100%
    {
        top: 3em;

        opacity: 1;
    }
}

/***********************************************************************  Tooltips *******************************/
.tooltip-inner
{
    font-weight: normal;

    min-width: 250px;
    padding: 10px 15px;

    color: #fff;
    background-color: #ff6e31;

    font-family: 'open_sanslight';
    font-size: 15px;
}
.tooltip.bottom .tooltip-arrow
{
    border-bottom-color: #ff6e31;
}
.tooltip.top .tooltip-arrow
{
    border-top-color: #ff6e31;
}
.tooltip.right .tooltip-arrow
{
    border-right-color: #ff6e31;
}

/***********************************************************************  Error pages *******************************/
#error-page
{
    background: #E9F0F5;
    font-family:  'open_sanslight';
}
#error-page .notfound-page
{
    text-align: center;
    margin-top: 50px;
}
#error-page .notfound-big-title
{
    font-size: 150px;
    /*font-family:  'open_sanslight';*/
    color: #F15A23;
}
#error-page h1
{
    font-family:  'open_sanslight';
}
#error-page h2
{
    font-family:  'open_sanslight';
    margin-top: 20px;
    color: #7B7E80;
}
#error-page h2.black
{
    font-family:  'open_sanslight';
    margin-top: 60px;
    color: #000;
}
#error-page h3
{
    margin-top: 25px;
}
#error-page ul.notfound-list
{
    width: 450px;
    margin: 20px auto 0 auto;
    padding: 0;
}
#error-page .notfound-list li
{
    text-align: left;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
#error-page .notfound-page-cities
{
    width: 1200px;
    margin: 30px auto;
    font-size: 16px;
}
#error-page .notfound-page-cities small
{
    padding-left: 10px;
}

/* # -- MAP LEGEND
================================================== */
#map-legend
{
    padding: 0;
    color: #fff;
    background: #485b6e;
    margin-top: 30px;
}
#map-legend a,
#map-legend a:hover,
#map-legend a:link
{
    color: #fff;
    font-size: 16px;
}
#map-legend .body
{
    padding: 40px 0;
}
#map-legend .row
{
    margin-bottom: 25px;
}
#map-legend p small
{
    font-size: 11px;

    margin-left: 15px;

    color: #e7ea00;
}
#map-legend .wrapper
{
    width: 1200px;
    margin: 0 auto;
}
#map-legend h2
{
    color: #FFF;
    font-weight: bold;
    margin-bottom: 15px;
}

/*----------------------------------------------------------------
    Float Label (Mobile Browswer crash fixed)
----------------------------------------------------------------*/
.floating-label-form-group {
  /*border-bottom: 1px solid #ccc;*/
  margin-bottom: 0;
  position: relative;
  /*padding-bottom: 0.5em;*/
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  background: none;
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  position: relative;
  z-index: 1;
  font-size: 1.5em;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  position: relative;
  top: 2em;
  opacity: 0;
  z-index: 0;
  font-size: 16px;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  margin: 0;
  -webkit-transition: top 0.5s ease, opacity 0.5s ease;
     -moz-transition: top 0.5s ease, opacity 0.5s ease;
      -ms-transition: top 0.5s ease, opacity 0.5s ease;
          transition: top 0.5s ease, opacity 0.5s ease;
}

.floating-label-form-group:not(:first-child) {
  border-left: 1px solid #ccc;
  padding-left: 14px;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: blue;
}

form .row:first-child .floating-label-form-group {
  /*border-top: 1px solid #ccc;*/
}

/* .social */
.social {
    position: relative;
    display: inline-block;
}
.social ul {
    list-style: none;
}
.social ul li {
    display: inline-block;
    margin-right: 10px;
}
.social ul li a {
    text-decoration: none;
}
.social ul li a span {
    color: #fff;
    opacity: .4;
    transition: .2s;
    font-size: 20px;
    vertical-align: middle;
}
.social ul li a:hover span {
    opacity: 1;
}