/* bootstrap overwrite */
.container,
.navbar .container{
  width: auto;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
  padding: 15px;
  vertical-align: middle;
}
.btn-danger,
.btn-success,
.btn-primary,
.btn-warning{
  border-radius: 4px;
  padding: 8px 16px;
  height: auto;
  border: none;
  text-decoration: none;
}
.btn-danger{
  background: #FB4151;
}
.btn-danger:hover{
  background: #E54151;
  color: #fff;
}
.btn-success{
  background: #5CB85C;
}
.btn-success:hover{
  background: #5CA25C;
  color: #fff;
}
.obj-actions .btn-danger{
  border-bottom: solid #B94151 2px;
}
.obj-actions .btn-danger:hover{
  border-bottom: solid #884151 2px;
}
.obj-actions .btn-danger i,
.obj-actions .btn-success i{
  margin-right: 10px;
}
.alert-success{
  background-color: #F5F5DC;
}
.btn-group a{
  text-decoration: none;
}
.btn-group .btn{
  border-radius: 4px;
  padding: 8px 12px;
}
.btn-group .btn:first-child{
  /*border-right: none;*/
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
  padding: 8px 12px;
}
body > header nav .topnav-logo a,
body > header nav .topnav-logo a:link  {
  width: auto;
  height: auto;
}

/*----------------------------------------------------------------
    Dropdown Menu
----------------------------------------------------------------*/
.dropdown-menu{
  min-width: 200px;
  background-color: #fff;
}
.dropdown ul.dropdown-menu {
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 0;
  box-shadow: none;
}
.dropdown ul.dropdown-menu:before {
  position: absolute;
  z-index: 10;
  top: -10px;
  right: 16px;
  content: '';
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
}
.dropdown ul.dropdown-menu:after {
  position: absolute;
  z-index: 9;
  top: -12px;
  right: 14px;
  content: '';
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
}
.dropdown ul.dropdown-menu-left {
  margin-left: -50px;
}
.dropdown-menu > li > a:link,
.dropdown-menu > li > a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 5px;
  text-transform: none;
  color: #000 !important;
  border: none;
  border-radius: 0;
  background: none;
  line-height: 25px;
}
.dropdown-menu > li > a i {
  color: #000 !important;
}
.dropdown-menu > li > a:hover {
  color: #fff !important;
}
.dropdown a.dropdown-toggle:focus {
  text-decoration: none;
}
.dropdown-menu > li {
  display: block;
  margin: 0;
  padding: 0 10px;
}
.dropdown-menu > li:hover {
  background: #fd685b;
}

/* wrapper */
.obj-view{
  padding-top: 140px;
}
.obj-view [class*="col-"]{
  padding-left: 15px;
  padding-right: 15px;
}
.obj-view h1{
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: normal;
  padding-right: 60px;
}
.obj-view h1 span.back{
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 0;
}
.obj-view h1 span.back a{
  font-size: 18px;
  color: #343434;
}
.obj-view .block.photo ul,
.obj-view .block.photo ol{
  font-size: 16px;
  padding-left: 20px;
  font-family: 'PT Sans Narrow'
}
.obj-view .panel-heading{
  background-color: #DBDEDB;
  border-color: #BABBBA;
}
.obj-view h3.panel-title{
  font-family: 'PT Sans Narrow';
  font-size: 20px;
  font-weight: normal;
  color: #343434;
}
.panel {
  border-color: #BABBBA;
}
.obj-view .panel-body.no-padding{
  padding-bottom: 0;
}
.obj-view .form-group input,
.obj-view .form-group select,
.obj-view .form-group textarea,
.input-group-addon{
  box-shadow: none;
  border-color: #BABBBA;
  font-size: 15px;
}
.obj-view .form-group select[name="ot_object_type[]"]{
  height: 110px;
}
.obj-view .form-group label{
  font-family: 'PT Sans Narrow';
  font-size: 16px;
}
.obj-view .form-group .prettycheckbox label{
  margin-left: 7px;
  margin-top: 0;
}
.obj-view .form-group .prettycheckbox a, .obj-view .form-group .prettyradio a{
  position: relative;
  top: -4px;
}
.obj-view .search-address{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.obj-view .googlemap{
  min-width: 258px;
  min-height: 350px;
}
.obj-view .submenu{
  margin-bottom: 20px;
}
.obj-view .submenu .uid h3{
  font-weight: normal;
  color: #939393;
  margin: 0;
  line-height: 32px;
}
.obj-view .submenu .public{
  text-align: right;
}
.obj-view .submenu .public label{
  display: inline-block;
  text-transform: uppercase;
  color: #939393;
  font-weight: normal;
  transition: .4s;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.obj-view .submenu .public label.active{
  color: #64BD63;
}
.obj-view .submenu .public .form-group{
  margin-bottom: 0;
}
.obj-view .menu .btn-group .btn:first-child,
.obj-view .menu .btn-group .btn{
  padding: 10px 20px;
  height: auto;
}
.obj-view .menu .curcle-progress {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  display: none;
}

.obj-view .line{
  border-bottom: dashed #ddd 1px;
  margin: 30px 0;
}
.obj-view .line:last-child{
  border-bottom: none;
}

/* navbar */
.obj-view-navbar {
  height: 70px;
  margin: 50px 0 0 0;
  padding: 15px;
  background: #DBDEDB;
  border-bottom: 1px solid #BABBBA;
  z-index: 10;
}
.obj-view-navbar ul{
	padding-left: 0;
  margin-bottom: 0;
}
.obj-view-navbar ul li {
  display: inline-block;
}
.obj-view-navbar ul li a {
  padding: 8px 16px;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
}
.obj-view-navbar ul li.active a {
  border: 1px solid #FFE63F;
  background: #FFE63F;
  border-radius: 20px;
  text-decoration: none;
  color: #313544;
}

/* list-group */
.obj-view-content .list-group{
	margin-top: 0;
}

/* notification */
.alert{
  position: relative;
}
.alert.prolong{
  padding-right: 210px;
}
.alert button.close{
  position: absolute;
  top: 6px;
  right: 10px;
}
.alert button.prolong{
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -19px;
  background-color: #FB4151;
  color: #fff;
}
.alert button.prolong:hover,
.user-email button:hover{
  background-color: #e54151;
}
.alert button.prolong i{
  position: relative;
  top: 2px;
}

/* user-email */
.user-email-reason{
  color: #FB4151;
}
.user-email .line{
  border-bottom: dashed #ddd 1px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.user-email p{
  margin-bottom: 10px;
}
.user-email i{
  color: #FB4151;
  margin-right: 10px;
  font-size: 30px;
  position: relative;
  top: 7px;
}
.user-email h3{
  margin-top: 10px;
  margin-bottom: 13px;
  font-weight: normal;
}
.user-email input[type=text]{

}
.user-email button{
  background-color: #FB4151;
  color: #fff;
  width: 100%;
}

/* user-awake-success */
.user-awake-success-reason {
  color: #FB4151;
}
.user-awake-success {
  background-color: #F5F5DC;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  border-bottom: solid #C5F5DC 1px;
}
.user-awake-success h2 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
}
.user-awake-success h3 {
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}
.user-awake-success .btn {
  padding: 8px 20px;
  line-height: 12px;
  margin-top: 2px;
}
#user-activate-awake-success.user-awake-success {
  padding-bottom: 10px;
}
#user-activate-awake-success.user-awake-success h2 {
  text-align: center;
}
#user-activate-awake-success.user-awake-success h3 {
  margin-top: 0;
}

/* rental-notification */
.rental-notification {
  background-color: #F5F5DC;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  border-bottom: solid #C5F5DC 1px;
}
.rental-notification p,
.rental-notification ul {
  line-height: 20px !important;
  max-width: 1000px !important;
  margin: 0 auto 10px !important;
  font-size: 16px !important;
}
.rental-notification h2 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: center;
}
.rental-notification h3 {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

/* table */
.table tr td:last-child{
  font-weight: bold;
}
.table .img-circle{
  width: 70px;
  height: 70px;
}

/* update */
.row.menu{
  margin-bottom: 20px;
}

.block{
  display: none;
  transition: 1s;
}
.block.active{
  display: block;
}

/*------------------------------------------------------------------------------------
/* FullCalendar
--------------------------------------------------------------------------------------*/
.event-closed{
  background: #FB4151;
  border-color: #FB4151;
  height: 26px;
  text-align: center;
  opacity: 0.4;
  display: none;
}
td.fc-other-month {
   visibility: hidden;
}
.fc-day-number
{
  position: relative;
  top: 12px;
  left: -20px;
  font-size: 27px;
}
.fc-day
{
  background: #FFF;
}
.fc-widget-content
{
  cursor: pointer;
}
.fc-other-month .fc-day-number { display:none;}
.fc-day-selected
{
  color: #FFF;
  background-color: #EF4F69;
  cursor: pointer;
  border: 1px solid red;
}
.fc-calendar-wrap
{
  background: #F6F6F6;
  padding: 25px;
  height: 495px;
}
.fc-day-header
{
  color: #EF4F69;
  text-transform: uppercase;
  font-size: 18px;
}
.fc-unthemed .fc-today
{
  background: #FFE63F;
}
.fc-calendar-nav
{
  background: #F6F6F6;
  padding: 10px 0 0 0;
  text-align: center;
}
.fc-unthemed .fc-toolbar h2
{
  color: #000;
  text-transform: uppercase;

}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover
{
  border-color: #aaa;
}

/*----------------------------------------------------------------
    Modal Dialogs
----------------------------------------------------------------*/
.modal
{
    top: 50px;
    /*! adjust transition time */

    -webkit-transition: all ease-out !important;
       -moz-transition: all .1s ease-out !important;
         -o-transition: all .1s ease-out !important;
            transition: all .1s ease-out !important;
}
.modal.in .modal-dialog
{
    /*! editthis transform to any transform you want */
    /*    -webkit-transform: scale(1.1, 1.1) !important;
    -ms-transform: scale(1.1, 1.1) !important;
    transform: scale(1.1, 1.1) !important;
*/
    top: 50px;
}
.modal.fade .modal-dialog
{
    top: 50px;
    /*! disable sliding from left/right/top/bottom */

    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}



.modal-content
{
    font-family: 'open_sanslight';
    font-weight: normal;

    width: 706px;
    /*    -webkit-transition: opacity .3s ease;
       -moz-transition: opacity .3s ease;
         -o-transition: opacity .3s ease;
            transition: opacity .3s ease;
*/

    border: none;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 0 100px rgba(62,71,87,.5);
    /*
  display: inline-table;
  vertical-align: middle;
  opacity: 0;
  margin: 30px;
  white-space: normal;
  text-align: left;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
*/
}
.modal-content .row
{
    margin-bottom: 25px;
}
.modal-header
{
    padding-bottom: 0;

    background: #ffe63f;
}
.modal-header h2
{
    margin: 0;
    padding: 0;

    text-align: center;
}
.modal-content p small
{
    font-size: 10px;

    margin-left: 20px;

    color: #f0582a;
}
.modal-content h2
{
    margin-bottom: 15px;
}
.modal-body
{
    padding: 30px 40px 15px 40px;
    /*background: #e9f0f5;*/

    background: #fff;
    background: #f6f6ef;
}
.modal-title
{
    font-family: 'open_sanslight';
    font-weight: normal;
}
.modal-footer
{
    font-size: 12px;

    margin-top: 0;
    padding: 19px 20px 20px;

    text-align: center;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
}
.modal-footer p
{
    margin-bottom: 15px;
}
.modal-footer h3
{
    font-size: 16px;

    margin-bottom: 15px;
}

.modal-backdrop
{
    background-color: #000;
}

/*----------------------------------------------------------------
    Modal Custom Widths
----------------------------------------------------------------*/
#modal-add-event .modal-dialog,
#modal-add-event .modal-content
{
    width: 470px;
}

/*----------------------------------------------------------------
    "About"
----------------------------------------------------------------*/
.about li
{
  margin-bottom: 20px;
  text-align: left;
}

/* Money */
.topnav-money-wrapper {
  color: #fff;
}