/* lg */
@media (min-width: 1200px){

}

/* md */
@media (max-width: 1200px) and (min-width: 992px){
  /* .obj-actions */
  .obj-actions .btn-lg{
    font-size: 18px;
  }
  .obj-actions .btn-success{
    font-size: 13px;
  }
  .obj-actions .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
    padding: 6px 12px;
  }
}

/* md and higher */
@media (min-width: 992px){

}

/* md and lower */
@media (max-width: 1200px){

}

/* sm and lower */
@media (max-width: 992px){
  /* .obj-actions */
  .obj-stat h4{
    margin-top: 20px;
  }
  .obj-stat .table{
    margin-bottom: 20px;
  }

  .obj-view{
    /*background-color: #ddd;*/
  }
  .obj-view .line{
    border: none;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .row.rooms{
    margin: 0;
    padding: 15px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  .block.about div[class="col-md-4"]{
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: dashed #ddd 1px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .block.about div[class="col-md-4"]:last-child{
    border-bottom: none;
    margin-bottom: 0;
  }
  .obj-view .add-menu-wrapper .line {
    display: none;
  }
}

/* sm */
@media (max-width: 992px) and (min-width: 768px){

}

/* sm and higher */
@media (min-width: 768px){

}

/* xs */
@media (max-width: 768px){
  .navbar .container{
    padding-left: 0;
    padding-right: 0;
  }
  .user-email button{
    padding: 10px;
  }
  .obj-view h1 {
    padding-right: 0;
    margin-bottom: 10px;
    font-size: 26px;
  }
  body > header nav a {
    margin-right: 0;
  }
  .obj-view {
    padding-top: 60px;
  }
  .card .venuePrice {
    margin-bottom: 20px;
  }
  .obj-view .add-menu-wrapper {
    margin-bottom: 20px;
  }
  .btn-group.tabs {
    width: 100%;
  }
  .btn-group.tabs .btn{
    width: 25%;
  }
  .btn-group.actions {
    margin-bottom: 20px;
  }
  .obj-view.profile .menu {
    float: left;
    margin-bottom: 20px;
  }
  .obj-view .menu .curcle-progress {
    float: right;
    margin-left: 15px;
    margin-top: 4px;
  }
}

/* lower xs */
@media (max-width: 650px){

}
@media (max-width: 570px){

}
@media (max-width: 540px){

}
@media (max-width: 520px){
  .btn-group.tabs .btn{
    font-size: 13px;
    padding: 12px 12px !important;
  }
}
@media (max-width: 480px){
  .card .venueData li {
    margin-right: 5px;
  }
}
@media (max-width: 460px){
  .hidden-from-460 {
    display: none;
  }
  .visible-from-460 {
    display: block;
  }
  .logo {
    width: auto !important;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
  body > header nav.topnav-right {
    padding-right: 5px;
  }
}
@media (max-width: 420px){
  .btn-group.tabs .btn {
    width: 100%;
  }
  .btn-group.tabs .btn:first-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px !important;
    left: -1px;
  }
  .btn-group.tabs .btn:last-child {
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
  }
  .btn-group.actions {
    width: 100%;
  }
  .btn-group.actions .btn {
    width: 50%;
  }
}
@media (max-width: 340px){
  .card .venueData li {
    padding: 4px 10px;
  }
}
@media (max-width: 320px){
  .obj-view h1 {
    padding-right: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  body > header nav .topnav-logo {
    margin-left: 10px;
  }
  body > header nav a {
    margin: 0;
  }
  .obj-view-navbar ul li {
    display: block;
  }
  .obj-view-navbar ul li.active a {
    border: none;
    background-color: transparent;
    font-weight: bold;
  }
  .obj-view .menu {
    padding-bottom: 15px;
  }
  .badge {
    background-color: transparent;
    font-size: 16px;
    left: 0;
    top: 0;
    color: #000;
  }
  .badge:before {
    content: '(';
  }
  .badge:after {
    content: ')';
  }
  .card .photo img {
    width: 100%;
  }
  .card .last-update {
    display: none;
  }
  .card .venueData {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
  }
  .card .venueData li {
    margin-left: 0;
  }
  .obj-stat {
    display: none;
  }
  .rooms.disabled .obj-actions .text-warning+p {
    display: none;
  }
  .obj-view .menu .btn-group .btn:first-child,
  .obj-view .menu .btn-group .btn {
    padding: 8px 12px;
    font-size: 13px;
  }
  .btn-group.actions {
    margin-bottom: 15px;
  }
  .obj-view .menu .curcle-progress {
    position: relative;
    top: -5px;
  }
}