<div id="filter" class="toggle_item">
    <div class="container-fluid">
        <div class="row">
            <div class="offset2">

                <form method="<?php echo $this->element->getMethod() ?>" action="<?php echo $this->element->getAction() ?>">

                    <div class="control-group">
                        <label class="control-label" for=""><?=$this->translate("Category template");?></label>
                        <div class="controls controls-row">
                        <?=$this->element->f_ctg_tpl_id;?>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Filter");?></button>
                    <a href="<?=$this->url(array('controller' => 'categories', 'action' => 'index'), null, true);?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>

                </form>

            </div><!--/span-->
        </div><!--/row-->
    </div><!-- .container-fluid -->
</div><!--/#filter-->