<?
    $ucid = $this->getHelper('PartialLoop')->view->ucid;

    $contextClass = ($this->enable) ? "" : "danger ";
    $contextIcon = ($this->enable) ? "" : "<i class='ico-eye-close'></i> ";
    
    $topIcon = (!empty($this->top) && $this->top > 0) ? "<i class='icon-check text-success'></i> " : "";
    $mainmapIcon = (!empty($this->mainmap) && $this->mainmap > 0) ? "<i class='icon-check text-success'></i> " : "";
?>
<tr class="<?=$contextClass;?>>">

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-pencil4"/></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'update',  'id' => $this->id));?>"><i class="icon-edit"/></i> <?=$this->translate("Edit");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'create',  'pid' => $this->id));?>"><i class="icon-plus"/></i> <?=$this->translate("Create child item");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable',  'customize_items' => $this->id));?>"><i class="icon-eye"/></i> <?=$this->translate("Enable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable', 'customize_items' => $this->id));?>"><i class="icon-eye-slash"/></i> <?=$this->translate("Disable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete',  'id' => $this->id));?>" class="modal-triger" rel="nofollow" data-modal="delete-confirm"><i class="ico-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>
    </td>


    <td>
        <input type='checkbox' name='customize_items[]' value='<?=$this->id;?>' class="chkbx">
    </td>
    
    <td><?=$topIcon;?></td>
    <td><?=$mainmapIcon;?></td>
    
    <td>
        <div class="col-md-6 col-md-offset-<?=$this->level;?>"><?=$contextIcon;?> <?=$this->name;?></div>
    </td>
    <td><?=$this->uid;?></td>
    <td><?=$this->order;?></td>
    
    <td><?=$this->lat;?></td>
    <td><?=$this->lng;?></td>

    <td><?=$this->minprice;?></td>
    <td><?=$this->maxprice;?></td>
    
    <td><?=$this->objects;?></td>

</tr>
