<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form">


    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("General attributes");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Public");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->ct_enable;?>
                        </div>
                    </div>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <div class="input-group">
                        <label for="<?=$this->form->ct_top->getAttrib('id');?>"><?=$this->translate("Top destination");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->ct_top;?>
                        </div>
                    </div>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <div class="input-group">
                        <label for="<?=$this->form->ct_mainmap->getAttrib('id');?>"><?=$this->translate("On main map");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->ct_mainmap;?>
                        </div>
                    </div>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <label for="<?=$this->form->ct_order->getAttrib('id');?>"><?=$this->form->ct_order->getLabel();?> <i class="ico-info-sign form-help" title='Порядок сортировки влияет на порядок отображения элементов на сайте. Можно указать любое число. Например: 1, 2, 3 ...'></i></label>
                    <?=$this->form->ct_order;?>
                </div><!-- /.col -->

                <div class="col-md-4">
                    <label for="<?=$this->form->ct_uid->getAttrib('id');?>"><?=$this->form->ct_uid->getLabel();?> <i class="ico-info-sign form-help" title='Универсальный ID. Должен содержать только латинские буквы. Используется для формирования URL. Например: apartment'></i></label>
                    <?=$this->form->ct_uid;?>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("Main content");?></legend>

        <div class="form-group">
            <label for=""><?=$this->translate("Parent type");?></label>
            <div class="row">
                <div class="col-md-6">
                    <?=$this->form->ct_pid;?>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for=""><?=$this->translate("Object type name");?></label>
            <div class="row">
                <? foreach($this->langs as $lang => $loc): ?>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png"></span>
                            <?=$this->form->{"ct_name_".$lang};?>
                        </div>
                    </div><!-- /.col -->
                    <? endforeach; ?>
            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset>

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("Parameters");?></legend>

        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <label for="<?=$this->form->ct_lat->getAttrib('id');?>"><?=$this->form->ct_lat->getLabel();?></label>
                    <?=$this->form->ct_lat;?>
                </div><!-- /.col -->

                <div class="col-md-3">
                    <label for="<?=$this->form->ct_lng->getAttrib('id');?>"><?=$this->form->ct_lng->getLabel();?></label>
                    <?=$this->form->ct_lng;?>
                </div><!-- /.col -->


            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <label for="<?=$this->form->ct_minprice->getAttrib('id');?>"><?=$this->form->ct_minprice->getLabel();?></label>

                    <div class="input-group">
                        <?=$this->form->ct_minprice;?>
                        <span class="input-group-addon"><span class="rouble">i</span></span>
                    </div>

                </div><!-- /.col -->
                
                <div class="col-md-2">
                    <label for="<?=$this->form->ct_maxprice->getAttrib('id');?>"><?=$this->form->ct_maxprice->getLabel();?></label>
        
                    <div class="input-group">
                        <?=$this->form->ct_maxprice;?>
                        <span class="input-group-addon"><span class="rouble">i</span></span>
                    </div>

                </div><!-- /.col -->
                
                <div class="col-md-2">
                    <label for="<?=$this->form->ct_objects->getAttrib('id');?>"><?=$this->form->ct_objects->getLabel();?></label>
                    <?=$this->form->ct_objects;?>
                </div><!-- /.col -->
                

            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset>
    <?=$this->form->ct_id;?>

    <div class="submit-group">
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
        <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>
    </div>

</form>
