<form method="post" action="" role="form" id="main-form" data-async>
    <!-- ____________________________________ General attributes __________________________________ -->
    <fieldset>
        
        <legend>Обработка фоток</legend>

        <div class="form-group">
        
            <div class="row">


            </div><!-- /.row -->

            <div class="row">

                <div class="col-md-2">
                    <label for="pars_city">
                        Укажите город
                    </label>
                    <select name="pars_city" id="pars_city" class="form-control select2">
                        <?
                            $cities = array(
                                // 0 wave
                                "astrakhan" => "Астрахань", 
                                "kislovodsk" => "Кисловодск", 
                                "krasnodar" => "Краснодар", 
                                "pyatigorsk" => "Пятигорск", 
                                "rostovnadonu" => "Ростов-на-Дону", 
                                "sochi" => "Сочи", 
                                "stavropol" => "Ставрополь",

                                // 1 wave
                                "anapa" => "Анапа",
                                "gelendzhik" => "Геленджик",
                                "zheleznovodsk" => "Железноводск",
                                "novorossisk" => "Новороссийск",
                                "pyatigorsk" => "Пятигорск",
                                "sevastopol" => "Севастополь",
                                "simferopol" => "Симферополь",
                                "yalta" => "Ялта",

                                // 2 wave
                                "astrakhan" => "Астрахань",
                                "volgograd" => "Волгоград",
                                "volgodonsk" => "Волгодонск",
                                "volzhsky" => "Волжский",
                                "voronezh" => "Воронеж",
                                "novocherkassk" => "Новочеркасск",
                                "taganrog" => "Таганрог",

                                // 3 wave
                                "alushta" => "Алушта",
                                "evpatoria" => "Евпатория",
                                "feodosia" => "Феодосия",
                                "ufa" => "Уфа",
                                "samara" => "Самара",
                                "kazan" => "Казань",
                                "nnovgorod" => "Нижний Новгород",
                                "ekaterinburg" => "Екатеринбург",
                                "saratov" => "Саратов",
                                "samara" => "Самара",
                    
                                // 4 wave
                                "omsk" => "Омск",
                                "irkutsk" => "Иркутск",
                                "yaroslavl" => "Ярославль",
                                "chelyabinsk" => "Челябинск",
                                "tyumen" => "Тюмень",
                                "spb" => "Санкт-Петербург",
                                "moscow" => "Москва",

                                // 5 wave
                                "krasnoyarsk" => "Красноярск",
                                "novosibirsk" => "Новосибирск",
                                "perm" => "Пермь",
                                "surgut" => "Сургут",
                                "tomsk" => "Томск",
                                "kemerovo" => "Кемерово",
                                "smolensk" => "Смоленск",
                                "khabarovsk" => "Хабаровск",
                                "barnaul" => "Барнаул",
                                "novokuznetsk" => "Новокузнецк",
                                "nvartovsk" => "Нижневартовск",
                                "orenburg" => "Оренбург",
                                "belgorod" => "Белгород",
                                "tula" => "Тула",
                                "kirov" => "Киров",
                                "izhevsk" => "Ижевск",
                                "kursk" => "Курск",

                                // 6 wave
                                "vladivostok"   =>"Владивосток",
                                "vladimir"  =>"Владимир",
                                "kaliningrad"   =>"Калининград",
                                "magnitogorsk"  =>"Магнитогорск",
                                "penza" =>"Пенза",
                                "salekhard" =>"Салехард",
                                "saransk"   =>"Саранск",
                                "syktyvkar" =>"Сыктывкар",
                                "tolyatty"  =>"Тольятти",
                                "ulanude"   =>"Улан-Удэ",
                                "cheboksary"    =>"Чебоксары",
                                "chita" =>"Чита",

                                // 7 wave
                                "arkhangelsk"=>"Архангельск",
                                "bryansk"=>"Брянск",
                                "vologda"=>"Вологда",
                                "ivanovo"=>"Иваново",
                                "kaluga"=>"Калуга",
                                "kurgan"=>"Курган",
                                "lipetsk"=>"Липецк",
                                "orel"=>"Орел",
                                "pskov"=>"Псков",
                                "ryazan"=>"Рязань",
                                "tver"=>"Тверь",
                                "ulyanovsk"=>"Ульяновск",

                                // 8 wave
                                "alushta"=>"Алушта",
                                "blagoveschensk"=>"Благовещенск",
                                "vnovgorod"=>"Великий Новгород",
                                "volzhsky"=>"Волжский",
                                "evpatoria"=>"Евпатория",
                                "yoshkarola"=>"Йошкар-Ола",
                                "kemerovo"=>"Кемерово",
                                "kostroma"=>"Кострома",
                                "nchelni"=>"Набережные Челны",
                                "nefteyugansk"=>"Нефтеюганск",
                                "nizhnekamsk"=>"Нижнекамск",
                                "ntagil"=>"Нижний Тагил",
                                "novocherkassk"=>"Новочеркасск",
                                "novyurengoy"=>"Новый Уренгой",
                                "petrozavodsk"=>"Петрозаводск",
                                "rybinsk"=>"Рыбинск",
                                "staryoskol"=>"Старый Оскол",
                                "taganrog"=>"Таганрог",
                                "tambov"=>"Тамбов",
                                "tobolsk"=>"Тобольск",
                                "ukhta"=>"Ухта",
                                "khantymansiysk"=>"Ханты-Мансийск",
                                "cherepovets"=>"Череповец",

                            );

                            asort($cities);

                            foreach($cities as $city_uid => $city_name)
                            {
                                $selected = ($city_uid == $this->city) ? "selected='selected'" : "";
                                echo "<option value='".$city_uid."' ".$selected.">".$city_name."</option>";    
                            }
                        ?>
                    </select>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-success form-control" type="submit" id="startClearing" data-loading-text="Обработка...">Обработать</button>
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div><!-- /.form-group -->
    </fieldset>

</form>

<img src="/images/loader-parser.gif" id="loading-indicator" style="display: none" />

<table class="table table-striped" id="clearing-results" style="display: none">
    <tr><td>Город</td><td id="pr-city"></td></tr>
    <tr><td>Всего фоток</td><td id="pr-all-obj"></td></tr>
    <tr><td>Обработано фоток</td><td id="pr-cur-obj"></td></tr>
    <tr><td>Старт задачи</td><td id="pr-start"></td></tr>
    <tr><td>Финиш задачи</td><td id="pr-end"></td></tr>
</table>