<h2>Найденные соответствия</h2>
<table class="table table-condensed table-hover table-bordered">
<thead>
    <tr>
        <th>ОКАТО</th>
        <th>KLADR Name</th>
    </tr>
</thead>
<?

    if(count($this->data) > 0)
    {
        foreach($this->data as $id => $val)
        {
            $gis = $val["gis"];
            $kladr = $val["kladr"];

            // print_r($val);

            $status = count($kladr);

            if($status == 0) $panel_class = "danger";
            elseif($status == 1) $panel_class = "default";
            elseif($status > 1) $panel_class = "warning";

                    ?>
                        <tr class="<?=$panel_class;?>">
                            <td colspan="6"><strong>«<?=$gis["street"];?>» (<?=$gis["district"];?>, <?=$gis["zip"];?>), объектов — <?=$gis["objects"];?></strong></td>
                        </tr>
                    <?

                if(count($kladr) > 0)
                {
                    foreach($kladr as $kl)
                    {
                        ?>
                        <tr class="<?=$panel_class;?>">
                            <td><?=$kl["kl_okato"];?></td>
                            <td><?=$kl["kl_name"];?></td>
                            <td><?=$kl["kl_district"];?></td>
                            <td><?=$kl["kl_zip"];?></td>
                            <td><?=$kl["kl_type"];?></td>
                            <td><?=$kl["kl_2gis"];?></td>
                            <td><?=$kl["kl_objects"];?></td>
                        </tr>
                        <?
                    }
                }

                    ?>
                        <tr>
                            <td colspan="6">&nbsp;</td>
                        </tr>
                    <?


        }
    }
?>
</table>
