<?
    $ucid = $this->getHelper('PartialLoop')->view->ucid;
    $langs = $this->getHelper('PartialLoop')->view->langs;

    $contextClass = ($this->obj_enable) ? "" : "danger ";
    $contextIcon = ($this->obj_enable) ? "" : "<i class='ico-eye-close'></i> ";

    // $contextClass .= ($this->obj_virtual) ? "warning " : " ";
    $contextIcon .= ($this->obj_virtual) ? "<i class='ico-gamepad'></i> " : " ";

    $addr1 = "";
    $addr1 .= ($this->obj_addr_street) ? $this->obj_addr_street . " " : "";
    $addr1 .= ($this->obj_addr_number) ? $this->obj_addr_number : "";

    $addr2 = "";
    $addr2 .= ($this->obj_addr_entrance) ? "пд. " . $this->obj_addr_entrance . " " : "";
    $addr2 .= ($this->obj_addr_floor) ? "эт. " . $this->obj_addr_floor . " " : "";
    $addr2 .= ($this->obj_addr_room) ? "кв. " . $this->obj_addr_room . " " : "";

    $obj_create = (!empty($this->obj_create)) ? date("d.m.Y H:i:s" ,strtotime($this->obj_create)) : "";
    $obj_update = (!empty($this->obj_update)) ? date("d.m.Y H:i:s" ,strtotime($this->obj_update)) : "";

$obj_image_path = (isset($this->obj_images[0])) ? $this->obj_images[0] : "/images/no-image.png"; 

?>
<tr class="<?=$contextClass;?>>">

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-pencil"/></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'update',  'id' => $this->obj_id));?>"><i class="icon-edit"></i> <?=$this->translate("Edit");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable',  'customize_items' => $this->obj_id));?>"><i class="icon-eye5"/></i> <?=$this->translate("Enable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable', 'customize_items' => $this->obj_id));?>"><i class="icon-eye-blocked"/></i> <?=$this->translate("Disable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete',  'id' => $this->obj_id));?>" class="delete-confirm"><i class="icon-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>
    </td>


    <td align="center"><input type='checkbox' name='customize_items[]' value='<?=$this->obj_id;?>' class="chkbx"></td>
    <td align="center"><?=$contextIcon;?></td>
    <td align="center"><img src="<?=$obj_image_path;?>" alt="..." class="img-circle" style="width: 70px; height: 70px;"></td>
    <td>
        <a href='#' class="toggle"><?=$this->obj_name_ru;?></a>
        <div class="row toggle_item">
            <div class="col-md-12">
                <strong>Адрес</strong><br>
                <?=$addr1;?><br>
                <?=$addr2;?><br>
                <strong><?=$this->translate('Location');?></strong> <?=round($this->obj_addr_lat, 6);?> <?=round($this->obj_addr_lon, 6);?><br>
                <strong><?=$this->translate('Created');?></strong> <span id="info_obj_create"><?=$obj_create;?></span><br>
                <strong><?=$this->translate('Updated');?></strong> <span id="info_obj_update"><?=$obj_update;?></span><br>
            </div>
        </div>

    </td>
    <td><?=$this->obj_price;?></td>
    <td align="center"><?=$this->obj_rooms;?></td>
    <td align="center"><?=$this->obj_guests;?></td>
    <td align="center"><?=$this->obj_rating;?></td>
    <td><?=$this->obj_objtypename;?></td>
    <td><?=$this->obj_uid;?></td>
    <td><?=$this->obj_addr_country;?></td>
    <td><?=$this->obj_addr_city;?></td>
    <td><?=$this->obj_addr_street;?></td>
    <td><?=$this->obj_update;?></td>
    <td><?=$obj_update;?></td>
    <td><?=$this->u_firstname;?></td>
    <td><?=$this->obj_creater;?></td>
    <td><?=$this->obj_updater;?></td>
    <td><?=$this->obj_id;?></td>

</tr>
