<?
    $addr1 = "";
    $addr1 .= ($this->obj_addr_street) ? $this->obj_addr_street . " " : "";
    $addr1 .= ($this->obj_addr_number) ? $this->obj_addr_number : "";

    $addr2 = "";
    $addr2 .= ($this->obj_addr_entrance) ? "пд. " . $this->obj_addr_entrance . " " : "";
    $addr2 .= ($this->obj_addr_floor) ? "эт. " . $this->obj_addr_floor . " " : "";
    $addr2 .= ($this->obj_addr_room) ? "кв. " . $this->obj_addr_room . " " : "";

    $obj_name_ru = (!empty($this->obj_name_ru)) ? $this->obj_name_ru : "";
    $obj_uid = (!empty($this->obj_uid)) ? $this->obj_uid : "";
    $obj_create = (!empty($this->obj_create)) ? date("d.m.Y H:i:s" ,strtotime($this->obj_create)) : "";
    $obj_update = (!empty($this->obj_update)) ? date("d.m.Y H:i:s" ,strtotime($this->obj_update)) : "";

    //$model = new Ai_Model_Object();
?>
<div class="navbar navbar-infobar navbar-fixed-top" role="navigation">
    <div class="container">

        <i class="ico-info pull-left"></i>
        <div class="row">
            <div class="col-md-3">
                Название: <span id="info_obj_name_ru"><?=$obj_name_ru;?></span><br>
                <strong>КОД: <span id="info_obj_uid"><?=$obj_uid;?></span></strong>
            </div>
            <div class="col-md-3">
                Адрес: <span id="info_addr_1"><?=$addr1;?></span><br>
                <span id="info_addr_2"><?=$addr2;?></span>
            </div>
            <div class="col-md-3">
            <?=$this->translate('Created');?>: <span id="info_obj_create"><?=$obj_create;?></span><br>
            <?=$this->translate('Updated');?>: <span id="info_obj_update"><?=$obj_update;?></span>
            </div>
        </div>


    </div><!--/.container-->
</div><!--/.navbar navbar-infobar navbar-fixed-top-->

