<div class="navbar navbar-subnavbar navbar-fixed-top" role="navigation">
    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-ex2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 class="navbar-brand"><i class="ico-building"></i> <?=$this->translate("Objects");?></h3>
        </div>

        <div class="navbar-collapse collapse collapse-ex2">
            <ul class="nav navbar-nav">

                <li>
                    <div class="btn-group btn-group-sm">
                        <a href="<?=$this->url(array('controller' => 'object', 'action' => 'index'), null, true);?>" class="btn btn-primary btn-sm"><i class="ico-long-arrow-left"></i> <?=$this->translate("Back");?></a>
                    </div><!--/.btn-group-->
                </li>

                <li>
                    <div class="btn-group btn-group-sm tab-toggles-radio" data-toggle="buttons" id="subnavbar-tabs">
                        <label class="btn btn-default btn-sm"><input type="radio" name="options" data-target="#tab-general"><i class="ico-info"></i> Общие</label>
                        <label class="btn btn-default btn-sm"><input type="radio" name="options" data-target="#tab-attributes"><i class="ico-list-ul"></i> Свойства</label>
                        <label class="btn btn-default btn-sm"><input type="radio" name="options" data-target="#tab-geo"><i class="ico-location"></i> Адрес</label>
                        <label class="btn btn-default btn-sm"><input type="radio" name="options" data-target="#tab-images"><i class="ico-image-2"></i> Изображения</label>
                    </div><!--/.btn-group-->
                </li>

                <li>
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-sm btn-success btn-apply" type="button" data-loading-text="<?=$this->translate('Saving');?>..."><i class="ico-download-2"></i> <?=$this->translate("Apply");?></button>
                        <button class="btn btn-sm btn-primary btn-submit" type="button"><i class="ico-ok"></i> <?=$this->translate("OK");?></button>
                    </div>
                </li>
                <li>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-sm btn-danger" type="button" href="<?=$this->url(array('action' => 'index'));?>"><i class="ico-close"></i> <?=$this->translate("Cancel");?></a>
                    </div>
                </li>

            </ul><!--/.nav navbar-nav-->
        </div><!--/.navbar-collapse-->


    </div><!--/.container-->
</div><!--/.navbar navbar-subnavbar navbar-fixed-top-->

