<div class="navbar navbar-subnavbar navbar-fixed-top" role="navigation">
    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-ex2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 class="navbar-brand"><i class="ico-building"></i> <?=$this->translate("Objects");?></h3>
        </div>

        <div class="navbar-collapse collapse collapse-ex2">
            <ul class="nav navbar-nav">

                <li>
                    <div class="btn-group btn-group-sm">

                        <a href="<?=$this->url(array('action' => 'create'));?>" class="btn btn-success btn-sm"><i class="ico-plus-2"></i> <?=$this->translate("Create");?></a>

                        <? if($this->getHelper('Partial')->view->qty > 0): ?>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="ico-stack"></i> <?=$this->translate("Group actions");?> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a class="sub-action-link" href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable'));?>"><i class="ico-eye-open"></i>  <?=$this->translate("Enable");?></a></li>
                                <li><a class="sub-action-link" href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable'));?>"><i class="ico-eye-close"></i>  <?=$this->translate("Disable");?></a></li>
                                <li><a class="sub-action-link" href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'delete'));?>" class='delete-confirm' data-source='sub-action-form'><i class="ico-trash"></i>  <?=$this->translate("Delete");?></a></li>
                            </ul>
                        </div><!--/.btn-group-->

                        <a href="#" class="subnavbar-filter-toggle btn btn-warning btn-sm"><i class="ico-filter"></i> <?=$this->translate("Filter");?></a>
                        <a href="<?=$this->url(array('action' => 'rebuild'));?>" class="btn btn-sm btn-default btn-rebuild-action"><i class="ico-refresh"></i> <?=$this->translate("Rebuild");?></a>

                        <? endif; ?>

                    </div><!--/.btn-group-->
                </li>

            </ul><!--/.nav navbar-nav-->
        </div><!--/.navbar-collapse-->

        <div class="subnavbar-filter">

            <fieldset>
                <legend><?=$this->translate("Filter");?></legend>
                <div class="form-group">
                    

                    <!-- ************************************************************************************************* -->
                    <div class="row">

                        <div class="col-md-3">
                            <label for="obj_name_filter">
                                <?=$this->translate('Object name');?>
                            </label>
                            <input type="text" name="obj_name_filter" id="col_4_filter" value="" helper="formText" class="form-control column_filter" data-column="4"> 
                        </div>
                        <!-- /.col -->

                        <div class="col-md-1">
                            <label for="obj_name_filter">
                                <?=$this->translate('Price');?>
                            </label>
                            <select name="obj_price_filter" id="col_5_filter" helper="formText" class="form-control column_filter" data-column="5">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-1">
                            <label for="obj_rating_filter">
                                <?=$this->translate('Rating');?>
                            </label>
                            <select name="obj_rating_filter" id="col_8_filter" helper="formText" class="form-control column_filter" data-column="8">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-1">
                            <label for="obj_rooms_filter">
                                <?=$this->translate('Rooms');?>
                            </label>
                            <select name="obj_rooms_filter" id="col_6_filter" helper="formText" class="form-control column_filter" data-column="6">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-1">
                            <label for="obj_guests_filter">
                                <?=$this->translate('Guests');?>
                            </label>
                            <select name="obj_guests_filter" id="col_7_filter" helper="formText" class="form-control column_filter" data-column="7">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-3">
                            <label for="obj_type_filter">
                                <?=$this->translate('Object type');?>
                            </label>
                            <select name="obj_type_filter" id="col_9_filter" helper="formText" class="form-control column_filter" data-column="9">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                    <!-- ************************************************************************************************* -->

                    <!-- ************************************************************************************************* -->
                    <div class="row">

                        <div class="col-md-2">
                            <label for="obj_creater_filter">
                                <?=$this->translate('Creater');?>
                            </label>
                            <select name="obj_creater_filter" id="col_17_filter" helper="formText" class="form-control column_filter" data-column="17">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-2">
                            <label for="obj_updater_filter">
                                <?=$this->translate('Updater');?>
                            </label>
                            <select name="obj_updater_filter" id="col_18_filter" helper="formText" class="form-control column_filter" data-column="18">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-2">
                            <label for="obj_owner_filter">
                                <?=$this->translate('Owner');?>
                            </label>
                            <select name="obj_owner_filter" id="col_16_filter" helper="formText" class="form-control column_filter" data-column="16">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                    <!-- ************************************************************************************************* -->


                    <!-- ************************************************************************************************* -->
                    <div class="row">

                        <div class="col-md-2">
                            <label for="obj_city_filter">
                                <?=$this->translate('City');?>
                            </label>
                            <select name="obj_city_filter" id="col_12_filter" helper="formText" class="form-control column_filter" data-column="12">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-3">
                            <label for="obj_street_filter">
                                <?=$this->translate('Street');?>
                            </label>
                            <select name="obj_street_filter" id="col_13_filter" helper="formText" class="form-control column_filter" data-column="13">
                                <option value="">---</option>
                            </select>
                        </div>
                        <!-- /.col -->


                    </div>
                    <!-- /.row -->
                    <!-- ************************************************************************************************* -->


                </div>
                <!-- /.form-group -->
            </fieldset>            

        </div>
        <!-- /.subnavbar-filter -->

    </div><!--/.container-->
</div><!--/.navbar navbar-subnavbar navbar-fixed-top-->

