<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form" id="main-form" data-async>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-general">
            <!-- ____________________________________ General attributes __________________________________ -->
            <fieldset>
                <legend><?=$this->translate("General attributes");?></legend>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="input-group">
                                <label for="">
                                <?=$this->translate("Public");?></label>
                                <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate(" ON ");?>" data-off-label="<?=$this->translate(" OFF ");?>">
                                    <?=$this->form->obj_enable;?>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-2">
                            <div class="input-group">
                                <label for="">Отмодерирован</label>
                                <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate(" ON ");?>" data-off-label="<?=$this->translate(" OFF ");?>">
                                    <?=$this->form->obj_moderated;?>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_order->getAttrib('id');?>">
                                <?=$this->form->obj_order->getLabel();?> <i class="ico-info-sign form-help" title='Порядок сортировки влияет на порядок отображения элементов на сайте. Можно указать любое число. Например: 1, 2, 3 ...'></i>
                            </label>
                            <?=$this->form->obj_order;?>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4">
                            <label for="<?=$this->form->obj_uid->getAttrib('id');?>">
                                <?=$this->form->obj_uid->getLabel();?> <i class="ico-info-sign form-help" title='Универсальный ID. Должен содержать только латинские буквы. Используется для формирования URL. Например: apartment'></i>
                            </label>
                            <?=$this->form->obj_uid;?>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <label for="">
                            <?=$this->translate("Object type");?></label>
                            <?=$this->form->ot_object_type;?>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.form-group -->

                <div class="form-group" id="sf-smartfilters-form-group">
                    <div class="row">

                        <div class="col-md-6">
                            <label for=""><?=$this->translate("Owner");?></label>
                            <?=$this->form->obj_u_id;?>
                            <div class="clearfix visible-xs-block"></div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-6">
                            <label for=""><?=$this->translate("Smartfilter");?></label>
                            <?=$this->form->sf_smartfilters;?>
                            <div class="clearfix visible-xs-block"></div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>

            </fieldset>
            <!-- ____________________________________ Prices __________________________________ -->
            <fieldset id="price-values">
                <legend><?=$this->translate("Prices");?></legend>
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-3">
                            <label for="<?=$this->form->obj_acc_type->getAttrib('id');?>">
                                <?=$this->form->obj_acc_type->getLabel();?>
                            </label>
                            <?=$this->form->obj_acc_type;?>
                        </div>

                        <!-- /.col -->
                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_price_minstay->getAttrib('id');?>">
                                <?=$this->form->obj_price_minstay->getLabel();?>
                            </label>
                            <?=$this->form->obj_price_minstay;?>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_price_period->getAttrib('id');?>">
                                <?=$this->form->obj_price_period->getLabel();?>
                            </label>
                            <?=$this->form->obj_price_period;?>
                        </div>
                        <!-- /.col -->


                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_price->getAttrib('id');?>">
                                <?=$this->form->obj_price->getLabel();?>
                            </label>
                            <div class="input-group">
                                <?=$this->form->obj_price;?>
                                <span class="input-group-addon"><span class="rouble">i</span></span>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_deposit->getAttrib('id');?>">
                                <?=$this->form->obj_deposit->getLabel();?>
                            </label>
                            <div class="input-group">
                                <?=$this->form->obj_deposit;?>
                                <span class="input-group-addon"><span class="rouble">i</span></span>
                            </div>
                        </div>
                        <!-- /.col -->
                        <!--
                                                            <div class="col-md-2">
                            <label for="<?=$this->form->obj_price_period->getAttrib('id');?>">
                                <?=$this->form->obj_price_period->getLabel();?>
                            </label>
                            <?=$this->form->obj_price_period;?>
                        </div>
                        -->
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
            </fieldset>
            <!-- ____________________________________ Parameters __________________________________ -->
            <fieldset id="fieldset-ab_group3">
                <legend><?=$this->translate("Parameters");?></legend>

                <!-- /.form-group -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_sqr->getAttrib('id');?>">
                                <?=$this->form->obj_sqr->getLabel();?> <i class="ico-info-sign form-help" title='Площадь'></i>
                            </label>
                            <div class="input-group">
                                <?=$this->form->obj_sqr;?>
                                <span class="input-group-addon">m&sup2;</span>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_checkin->getAttrib('id');?>">
                                <?=$this->form->obj_checkin->getLabel();?> <i class="ico-info-sign form-help" title='Например: 12:00'></i>
                            </label>
                            <?=$this->form->obj_checkin;?>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_checkout->getAttrib('id');?>">
                                <?=$this->form->obj_checkout->getLabel();?> <i class="ico-info-sign form-help" title='Например: 14:00'></i>
                            </label>
                            <?=$this->form->obj_checkout;?>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            <label for="<?=$this->form->obj_rating->getAttrib('id');?>">
                                <?=$this->form->obj_rating->getLabel();?>
                            </label>
                            <?=$this->form->obj_rating;?>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            <label for="<?=$this->form->obj_guests->getAttrib('id');?>">
                                <?=$this->form->obj_guests->getLabel();?>
                            </label>
                            <?=$this->form->obj_guests;?>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-1">
                            <label for="<?=$this->form->obj_rooms->getAttrib('id');?>">
                                <?=$this->form->obj_rooms->getLabel();?>
                            </label>
                            <?=$this->form->obj_rooms;?>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-1">
                            <label for="<?=$this->form->obj_bedrooms->getAttrib('id');?>">
                                <?=$this->form->obj_bedrooms->getLabel();?>
                            </label>
                            <?=$this->form->obj_bedrooms;?>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-1">
                            <label for="<?=$this->form->obj_bathrooms->getAttrib('id');?>">
                                <?=$this->form->obj_bathrooms->getLabel();?>
                            </label>
                            <?=$this->form->obj_bathrooms;?>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_beds_sngl->getAttrib('id');?>">
                                <?=$this->form->obj_beds_sngl->getLabel();?>
                            </label>
                            <?=$this->form->obj_beds_sngl;?>
                        </div>
                        <!-- /.col -->
                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_beds_dbl->getAttrib('id');?>">
                                <?=$this->form->obj_beds_dbl->getLabel();?>
                            </label>
                            <?=$this->form->obj_beds_dbl;?>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-2">
                            <label for="<?=$this->form->obj_sleepers->getAttrib('id');?>">
                                <?=$this->form->obj_sleepers->getLabel();?>
                            </label>
                            <?=$this->form->obj_sleepers;?>
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
            </fieldset>
            <fieldset id="fieldset-ab_group35">
                <legend><?=$this->translate("Additional parameters");?></legend>
                <div class="form-group">
                    <div class="row">
                        <? foreach($this->prm_parameter as $prm_id => $prm_val): ?>
                        <div class="col-md-2 inline">
                            <label for="<? echo " prm_parameter_ " . $prm_id; ?>">
                                <?=$prm_val[ 'name'];?>
                            </label>
                            <? if(!empty($prm_val[ 'unit'])): ?>
                            <div class="input-group">
                                <?=$this->form->{"prm_parameter_" . $prm_id};?>
                                <span class="input-group-addon">
                                <?=$prm_val[ 'unit'];?>
                                </span>
                            </div>
                            <? else: ?>
                            <?=$this->form->{"prm_parameter_" . $prm_id};?>
                            <? endif; ?>
                        </div>
                        <!-- /.col -->
                        <? endforeach; ?>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
            </fieldset>
            <!-- ____________________________________ Description __________________________________ -->
            <fieldset id="fieldset-ab_group4">
                <legend>
                <?=$this->translate("Description");?></legend>
                <div class="form-group">
                    <label for="">
                    <?=$this->translate("Object name");?></label>
                    <div class="row">
                        <? foreach($this->langs as $lang => $loc): ?>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png">
                                </span>
                                <?=$this->form->{"obj_name_".$lang};?>
                            </div>
                        </div>
                        <!-- /.col -->
                        <? endforeach; ?>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label for="">
                    <?=$this->translate("Short description");?></label>
                    <div class="row">
                        <? foreach($this->langs as $lang => $loc): ?>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png">
                                </span>
                                <?=$this->form->{"obj_shortdesc_".$lang};?>
                            </div>
                        </div>
                        <!-- /.col -->
                        <? endforeach; ?>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label for="">
                    <?=$this->translate("Full description");?></label>
                    <div class="row">
                        <? foreach($this->langs as $lang => $loc): ?>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                <img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png">
                                </span>
                                <?=$this->form->{"obj_fulldesc_".$lang};?>
                            </div>
                        </div>
                        <!-- /.col -->
                        <? endforeach; ?>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
            </fieldset>
        </div>
        <!-- /. tab-general -->
        <div class="tab-pane fade" id="tab-attributes">
            <!-- ____________________________________ Services __________________________________ -->
            <fieldset>
                <legend>
                <?=$this->translate("Services");?></legend>
                <div class="form-group">
                    <div class="row">
                        <?=$this->form->srv_service;?>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
            </fieldset>
            <fieldset>
                <legend>
                <?=$this->translate("Equipment");?></legend>
                <div class="form-group">
                    <div class="row">
                        <?=$this->form->eq_equipment;?>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
            </fieldset>
            <fieldset>
                <legend>
                <?=$this->translate("Amenity");?></legend>
                <div class="form-group">
                    <div class="row">
                        <?=$this->form->at_amenity;?>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
            </fieldset>
            <fieldset>
                <legend>
                <?=$this->translate("Restriction");?></legend>
                <div class="form-group">
                    <div class="row">
                        <?=$this->form->rst_restriction;?>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.form-group -->
            </fieldset>
        </div>
        <!-- /. tab-attributes -->
        <div class="tab-pane fade in active" id="tab-calendar">
            <!-- ____________________________________ Calendar __________________________________ -->
            <fieldset id="fs_calendar">
                <legend>
                    <?=$this->translate("Calendar");?>
                    <div class="btn-group btn-group-sm tab-toggles-radio" data-toggle="buttons" id="calendar-view-tabs">
                        <label class="btn btn-default btn-sm"><input type="radio" name="options" data-target="#tab-cal-view"><i class="ico-calendar"></i></label>
                        <label class="btn btn-default btn-sm"><input type="radio" name="options" data-target="#tab-list-view"><i class="ico-list-ul"></i></label>
                        </div><!--/.btn-group-->
                    </legend>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-cal-view">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="btn-group btn-group-sm">
                                            <button class="btn btn-sm btn-success" id="btn-add-event" data-toggle="modal" data-target="#modal-add-event"><i class="ico-plus"></i> Создать событие</button>
                                            <button class="btn btn-sm btn-default" id="btn-cal-apply" data-loading-text="Сохранение..."><i class="ico-download-2"></i> Применить календарь</button>
                                            <button class="btn btn-sm btn-default" id="btn-cal-reload"><i class="ico-refresh"></i>  Обновить</button>
                                        </div>
                                    </div>
                                    <!-- .col-lg-12 -->
                                </div>
                                <!-- .row -->
                            </div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div id="cal-warning">Error</div>
                                        <!-- <div id="cal-loading">Loading...</div> -->
                                    </div>
                                    <!-- .col-lg-12 -->
                                </div>
                                <!-- .row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div id="booking-calendar"></div>
                                    </div>
                                    <!-- .col-lg-6 -->
                                    <div class="col-lg-6" id="event-info">
                                        <h3><span id="event-info-title"></span></h3>
                                        <p>
                                        <strong><span id="event-info-days"></span> <span id="event-info-days-label"></span></strong><br>
                                        с <span id="event-info-startdate-label"></span><br>
                                        по <span id="event-info-enddate-label"></span>
                                        </p>
                                        <input type="hidden" id="event-info-id">
                                        <button class="btn btn-sm btn-danger" id="btn-delete-event" data-toggle="modal" data-target="#modal-delete-event"><i class="ico-trash"></i> Удалить событие</button>
                                    </div>
                                    <!-- .col-lg-6 -->

                                </div>
                                <!-- .row -->
                            </div>
                            <!-- .form-group -->
                        </div>
                        <!-- tab-pane #tab-cal-view -->
                        <div class="tab-pane fade" id="tab-list-view">
                            <table class="table table-hover sortable" id="calendar-list">
                                <thead>
                                    <tr>
                                        <th><?=$this->translate('Start date');?></th>
                                        <th><?=$this->translate('End date');?></th>
                                        <th><?=$this->translate('Active');?></th>
                                        <th><?=$this->translate('Status');?></th>
                                        <th><?=$this->translate('Title');?></th>
                                        <th><?=$this->translate('Notes');?></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- tab-pane #tab-list-view -->
                    </div>
                    <!-- tab-content - END -->
                </fieldset>
                <!-- Modal - #modal-add-event -->
                <!-- *********************************************************************************************************************************** -->
                <div class="modal fade" id="modal-add-event" tabindex="-1" role="dialog" aria-labelledby="modal-add-event" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="modal-add-event-label">Создание события</h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="cal_startdate">Начало периода <i class="ico-info-sign"></i></label>

                                            <div class="input-group" id="pick_cal_startdate">
                                                <input type="text" name="cal_startdate" id="cal_startdate" value="" helper="formText" class="form-control">
                                                <span class="input-group-addon"><span class="ico-calendar"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="cal_enddate">Конец периода <i class="ico-info-sign"></i></label>
                                            <div class="input-group" id="pick_cal_enddate">
                                                <input type="text" name="cal_enddate" id="cal_enddate" value="" helper="formText" class="form-control">
                                                <span class="input-group-addon"><span class="ico-calendar"></span></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="cal_status">Статус <i class="ico-info-sign"></i></label>
                                            <select name="cal_status" id="cal_status" helper="formSelect" class="form-control select2" data-placeholder="Select status">
                                                <option value="booked" label="Забронировано">Забронировано</option>
                                                <option value="closed" label="Недоступно">Недоступно</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .modal-body - END -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary"><i class="ico-ok"></i> OK</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ico-close"></i>  Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- *********************************************************************************************************************************** -->
                <!-- MODAL - #modal-add-event - END -->
                <!-- MODAL - #modal-delete-event -->
                <!-- *********************************************************************************************************************************** -->
                <div class="modal fade" id="modal-delete-event" tabindex="-1" role="dialog" aria-labelledby="modal-delete-event" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                                <h4 class="modal-title" id="modal-delete-event-label">Удаление события</h4>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Вы уверены что точно хотите удалить это событие?</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .modal-body - END -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger"><i class="ico-trash"></i> Удалить</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ico-close"></i>  Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- *********************************************************************************************************************************** -->
                <!-- MODAL - #modal-add-event - END -->
            </div>
            <!-- #tab-calendar - END -->

            <!-- ____________________________________ Address __________________________________ -->
            <div class="tab-pane fade" id="tab-geo">
                <fieldset id="fs_address">
                    <legend><?=$this->translate("Object address");?></legend>
                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-1">
                                <label for="">
                                <?=$this->form->obj_addr_country_code->getLabel();?></label>
                                <?=$this->form->obj_addr_country_code;?>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-2">
                                <label for="">
                                <?=$this->form->obj_addr_country->getLabel();?></label>
                                <?=$this->form->obj_addr_country;?>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-2">
                                <label for="">
                                <?=$this->form->obj_addr_zip->getLabel();?></label>
                                <?=$this->form->obj_addr_zip;?>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-2">
                                <label for="">
                                <?=$this->form->obj_addr_city->getLabel();?></label>
                                <?=$this->form->obj_addr_city;?>
                            </div>
                            <!-- /.col -->

                            <div class="col-md-2">
                                <label for="">
                                <?=$this->form->obj_addr_area_1->getLabel();?></label>
                                <?=$this->form->obj_addr_area_1;?>
                            </div>
                            <!-- /.col -->

                            <div class="col-md-2">
                                <label for="">
                                <?=$this->form->obj_addr_area_2->getLabel();?></label>
                                <?=$this->form->obj_addr_area_2;?>
                            </div>
                            <!-- /.col -->


                        </div>
                        <!-- /.row -->


                        <div class="row">
                            <div class="col-md-3">
                                <label for="">
                                <?=$this->form->obj_addr_street->getLabel();?></label>
                                <?=$this->form->obj_addr_street;?>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-1">
                                <label for="">
                                <?=$this->form->obj_addr_number->getLabel();?></label>
                                <?=$this->form->obj_addr_number;?>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-1">
                                <label for="">
                                <?=$this->form->obj_addr_entrance->getLabel();?></label>
                                <?=$this->form->obj_addr_entrance;?>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-1">
                                <label for="">
                                <?=$this->form->obj_addr_floor->getLabel();?></label>
                                <?=$this->form->obj_addr_floor;?>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-1">
                                <label for="">
                                <?=$this->form->obj_addr_room->getLabel();?></label>
                                <?=$this->form->obj_addr_room;?>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.form-group -->
                </fieldset>
                <fieldset id="fs_coordinates">
                    <legend>
                    <?=$this->translate("Coordinates");?></legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">
                                <?=$this->form->obj_addr_lon->getLabel();?></label>
                                <?=$this->form->obj_addr_lon;?>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3">
                                <label for="">
                                <?=$this->form->obj_addr_lat->getLabel();?></label>
                                <?=$this->form->obj_addr_lat;?>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.form-group -->
                </fieldset>
                <fieldset>
                    <legend>
                    <?=$this->translate("Coordinates for Streetview");?></legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">
                                <?=$this->form->obj_addr_lon_view->getLabel();?></label>
                                <?=$this->form->obj_addr_lon_view;?>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-3">
                                <label for="">
                                <?=$this->form->obj_addr_lat_view->getLabel();?></label>
                                <?=$this->form->obj_addr_lat_view;?>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.form-group -->
                </fieldset>

                <fieldset>
                    <legend>
                    <?=$this->translate("Google Map");?></legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" name="search_address" id="search_address" placeholder="<?=$this->translate(" Search address ");?>">
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                    <!-- <div id="gismap" style="width: 1097px; height: 400px;"></div> -->
                    <div id="googlemap" style="width: 1097px; height: 400px;"></div>
                </fieldset>

            </div>
            <!-- /. tab-geo -->


            <?=$this->form->obj_id;?>
            <input type="hidden" name="method" value="save">
        </form>
        <div class="tab-pane fade" id="tab-images">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Примечание</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Ограничение на размер файлов:
                            <strong>5 MB</strong>
                        </li>
                        <li>Разрешены к закачке только файлы типа:
                            <strong>JPG, GIF, PNG</strong>
                        </li>
                        <li>Файлы можно добавлять путем обычного "перетасквивани" в окно браузреа</li>
                    </ul>
                </div>
            </div>
            <!-- The file upload form used as target for the file upload widget -->
            <form id="fileupload" action="" method="POST" enctype="multipart/form-data">
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                        <i class="ico-plus"></i>
                        <span>Добавить файлы...</span>
                        <input type="file" name="files[]" multiple>
                        </span>
                        <button type="submit" class="btn btn-primary start fileupload-actions">
                        <i class="ico-upload"></i>
                        <span>Загрузить все</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel fileupload-actions">
                        <i class="ico-ban-circle"></i>
                        <span>Отменить</span>
                        </button>
                        <button type="button" class="btn btn-danger delete fileupload-actions">
                        <i class="ico-trash"></i>
                        <span>Удалить</span>
                        </button>
                        <!-- <input type="checkbox" class="toggle"> -->
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <!-- The table listing the files available for upload/download -->
                <table>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                </table>
                <!--
                <table role="presentation" class="table table-striped">
                <tbody class="files"></tbody>
                -->
            </table>

            <!-- Контейнер для изображений с упорядочиванием -->
            <ul class="files" id="sortable"></ul>

            <input type="hidden" name="upload_id" value="<?=$this->upload_id;?>" id="upload_id">
            <input type="hidden" name="upload_ucid" value="<?=$this->upload_ucid;?>" id="upload_ucid">
        </form>
        <!-- The blueimp Gallery widget -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <!-- The template to display files available for upload
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">

        <td>
            <span class="preview"></span>
        </td>

        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>

        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>

        <td>
        {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
                <i class="ico-upload"></i>
                <span>Start</span>
            </button>
        {% } %}

        {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="ico-ban-circle"></i>
                <span>Cancel</span>
            </button>
        {% } %}
        </td>

        </tr>
        {% } %}
    </script>-->

    <!-- The template to display files available for download
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    {%/*console.log(file);*/%}

    <tr class="template-download fade">

        <td>
             <span class="preview">
                 {% if (file.thumbnailUrl) { %}
                 <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                 {% } %}
             </span>
         </td>

         <td>
             <p class="name">
                 {% if (file.url) { %}
                 <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                 {% } else { %}
                 <span>{%=file.name%}</span>
                 {% } %}
            </p>

             {% if (file.error) { %}
             <div><span class="label label-danger">Error</span> {%=file.error%}</div>
             {% } %}
         </td>

         <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
         </td>

         <td>
             {%=file.res%},
             {%=file.x1200_res%},
             <span class="size">{%=file.x800_res%}</span><br>
             <span class="size">{%=file.x800_res%}</span>,
             <span class="size">{%=file.x600_res%}</span>,
             <span class="size">{%=file.x500_res%}</span><br>
             <span class="size">{%=file.x400_res%}</span>,
             {%=file.x300_res%},
             <span class="size">{%=file.thumbnail_res%}</span><br>
             <span class="size">{%=file.x100_res%}</span>
         </td>

         <td>
         {% if (file.deleteUrl) { %}

         <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
             <i class="ico-trash"></i>
             <span>Delete</span>
         </button>
         <input type="checkbox" name="delete" value="1" class="toggle">

         {% } else { %}

         <button class="btn btn-warning cancel">
             <i class="ico-ban-circle"></i>
             <span>Cancel</span>
         </button>

         {% } %}
         </td>

     </tr>
     {% } %}
    </script>-->

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
      <li>

      </li>
      {% } %}
    </script>

    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
      {%/*console.log(file);*/%}
      <li class="template-download fade" id="tr-{%=file.id%}">

        <span class="preview">
          {% if (file.thumbnailUrl) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
          {% } %}
        </span>

        {% if (file.deleteUrl) { %}
        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
          <i class="ico-trash"></i>
          <span>Удалить</span>
        </button>
        {% } %}

        <span class="first">Главное фото</span>

      </li>
      {% } %}
    </script>
</div>
<!-- /. tab-images -->
</div>
<!-- /.tab-content -->