<?
    $ucid = $this->getHelper('PartialLoop')->view->ucid;
    $langs = $this->getHelper('PartialLoop')->view->langs;
?>
<tr>

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="ico-wrench-2"/></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'update',  'id' => $this->lf_id));?>"><i class="ico-edit"/></i> <?=$this->translate("Edit");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'clone',   'id' => $this->lf_id));?>"><i class="ico-copy"/></i> <?=$this->translate("Clone");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable',  'customize_items' => $this->lf_id));?>"><i class="ico-eye-open"/></i> <?=$this->translate("Enable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable', 'customize_items' => $this->lf_id));?>"><i class="ico-eye-close"/></i> <?=$this->translate("Disable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete',  'id' => $this->lf_id));?>" class="modal-triger" rel="nofollow" data-modal="delete-confirm"><i class="ico-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>
    </td>


    <td><input type='checkbox' name='customize_items[]' value='<?=$this->lf_id;?>' class="chkbx"></td>
    <td><?=$this->lf_uid;?></td>
    <td><? foreach($langs as $lang => $val) echo $this->{"lf_name_".$val['lang']}."<br>"; ?></td>
    <td><?=$this->lf_order;?></td>

</tr>
