<? if($this->items != null): ?>

<h5><?=$this->translate("Items found");?> <?=$this->qty;?></h5>

<table class="table table-hover sortable">
<thead>
<tr>
    <th width="30">&nbsp;</th>
    <th>Описание</th>
    <th>Имя</th>
    <th>Значение</th>
</tr>
</thead>
<tbody>
    <? echo $this->partialLoop('config/index-row.phtml', $this->items); ?>
</tbody>
</table>

<? else: ?>

<h4><?=$this->translate("Section is empty");?></h4>

<? endif; ?>

