<div class="navbar-breadcrumb navbar-fixed-top">
    <div class="container">
        <ol class="breadcrumb">
            <?php $this->navigation()->breadcrumbs()->setPartial(array('partials/breadcrumb.phtml', 'default')); ?>
        </ol>
    </div>
</div>
