<? if($this->feedbacks): ?>

    <table class="table table-hover sortable">
        <thead>
            <tr>
                <th width="30" class="do-not-sort">&nbsp;</th>
        		<th>Сообщение</th>
        		<th>ID</th>
            </tr>
        </thead>
        <tbody>
            <? echo $this->partialLoop('feedback/index-row.phtml', $this->feedbacks); ?>
        </tbody>
    </table>

<? else: ?>

    <div class="alert alert-info"><?=$this->translate("Section is empty");?></div>

<? endif; ?>
