<tr>

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-pencil"/></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?php echo $this->url(array('action' => 'reply',  'id' => $this->fb_u_id));?>"><i class="icon-pencil"/></i> <?php echo 'Написать ответ'; ?></a></li>
            </ul>
        </div>
    </td>

    <td><?php if($this->fb_direction == 'answer') echo "<strong>Ответ тех. поддержки:</strong>"; ?> <?php echo $this->fb_text; ?></td>
    <td><?php echo $this->fb_u_id; ?></td>

</tr>
