<!-- Форма -->
<div class="row form">
<div class="col-md-12">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Написать ответ</h3>
    </div>
    <div class="panel-body no-padding">
      <form action="" method="POST" role="form" data-async>

        <input type="hidden" name="u_id" value="<?php echo $this->user['u_id']; ?>" id="u_id">
        <input type="hidden" name="action" value="reply" id="action">

        <!-- Сообщение -->
        <div class="form-group text">
          <label for="text">Сообщение <span class="reason"></span></label>
          <textarea name="text" class="form-control" id="text" rows="10" placeholder="Напишите здесь ответ пользователю"></textarea>
        </div>

        <div class="btn btn-success btn-reply">Отправить</div>

      </form>
    </div>
  </div>

</div>
</div>

<!-- История -->
<div class="row">
<div class="col-lg-12">
  <div class="feedback-history">

    <h2>Пользователь</h2>
    <p>
      <div class="row">
        <div class="col-md-6">
          ID: <strong><?=$this->user['u_id'];?></strong><br>
          Логин: <strong><?=$this->user['u_username'];?></strong><br>
          Имя: <strong><?=$this->user['u_firstname'];?></strong><br>
          Телефон 1: <strong><?=$this->user['u_phone_1'];?></strong><br>
        </div>
        <div class="col-md-6">
          Счет: <strong><?=$this->user['u_money'];?> руб.</strong><br>
          Email: <strong><?=$this->user['u_email'];?></strong><br>
          Подписан: <strong><?=($this->user['u_subscribe_email']) ? "Да" : "Нет";?></strong><br>
          Создатель: <strong><?=$this->user['u_creater'];?></strong><br>
          Дата рег-ции: <strong><?=$this->user['u_create'];?></strong><br>
          
        </div>
      </div>
    </p>
    <?

      // print_r($this->user);
    ?>

    <h2>История обращений</h2>
    <div class="feedback-history-list">
      <?php foreach ($this->feedbacks as $key => $feedback) { ?>
      <?php $image = ''; ?>
      <?php $feedback['fb_direction'] == 'answer' ? $image = '/images/feedback-support.png' : $image = '/images/feedback-user.svg'; ?>
      <div class="media <?php if($feedback['fb_direction'] == 'answer') echo "answer"; ?>">
        <div class="media-left media-top">
          <img class="media-object" src="<?php echo $image ?>" alt="Пользователь">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><?php if($feedback['fb_direction'] == 'answer') echo "Ответ тех. поддержки"; else echo "Пользователь пишет"; ?></h4>
          <div class="date"><?php echo Util::getHumanDate($feedback['fb_date'], "-", true, true); ?></div>
        </div>
        <div class="media-text">
          <?php echo $feedback['fb_text']; ?>
        </div>
      </div>
      <?php } ?>
    </div>
  </div>
</div>
</div>