<form method="post" action="<?=$this->url(array('action' => 'multiupdate', ));?>" enctype="multipart/form-data" id="sub-action-form">

    <? if($this->qty): ?>

        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th width="30" class="do-not-sort">&nbsp;</th>
                    <th width="35" class="center do-not-sort"><input type="checkbox" value="checkbox" onClick="checkAll(this.form,'customize_items[]',this.checked)"></th>
                    <th><?=$this->translate('UID');?></th>
                    <th><?=$this->translate('Name');?></th>
                    <th><?=$this->translate('Order');?></th>
                </tr>
            </thead>
            <tbody>
                <? echo $this->partialLoop('acctype/index-row.phtml', $this->items); ?>
            </tbody>
        </table>

        <? else: ?>

        <div class="alert alert-info"><?=$this->translate("Section is empty");?></div>

        <? endif; ?>



    <input type="hidden" name="mode">


    <div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dataConfirmLabel"><i class="ico-trash"></i> <?=$this->translate("Delete Confirm");?></h4>
                </div>

                <div class="modal-body">
                    <div class="control-group">

                        <p><span class="label label-warning">ВНИМАНИЕ</span> Это действие не может быть отменено. Вы уверены что хотите удалить этот элемент ?</p>
                    </div>
                </div>

                <div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true"><?=$this->translate("Cancel");?></button><button type="submit" class="btn btn-danger" action-form="sub-action-form"><?=$this->translate("Delete");?></button></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



</form>

