<script>

</script>
<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form">


    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("General attributes");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Public");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->prm_enable;?>
                        </div>
                    </div>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->prm_order->getAttrib('id');?>"><?=$this->form->prm_order->getLabel();?> <i class="ico-info-sign form-help" title='Порядок сортировки влияет на порядок отображения элементов на сайте. Можно указать любое число. Например: 1, 2, 3 ...'></i></label>
                    <?=$this->form->prm_order;?>
                </div><!-- /.col -->

                <div class="col-md-4">
                    <label for="<?=$this->form->prm_uid->getAttrib('id');?>"><?=$this->form->prm_uid->getLabel();?> <i class="ico-info-sign form-help" title='Универсальный ID. Должен содержать только латинские буквы. Используется для формирования URL. Например: apartment'></i></label>
                    <?=$this->form->prm_uid;?>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("Main content");?></legend>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for=""><?=$this->translate("Parameter type");?></label>
                    <?=$this->form->prm_type;?>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <label for=""><?=$this->translate("Parameter name");?></label>
            <div class="row">
                <? foreach($this->langs as $lang => $loc): ?>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png"></span>
                            <?=$this->form->{"prm_name_".$lang};?>
                        </div>
                    </div><!-- /.col -->
                    <? endforeach; ?>
            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <label for=""><?=$this->translate("Parameter unit");?></label>
            <div class="row">
                <? foreach($this->langs as $lang => $loc): ?>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png"></span>
                            <?=$this->form->{"prm_unit_".$lang};?>
                        </div>
                    </div><!-- /.col -->
                    <? endforeach; ?>
            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>

    <fieldset id="parameter-values" class="collapse hidden"><legend><?=$this->translate("Parameter values");?></legend>
        <div class="form-group">

        <div id="clone">

            <!-- Form template-->
            <div id="clone_template">

                <div class="form-group">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><img src="/images/flag/ru.png"></span>
                                <input type="text" name="prv_name_ru[#index#]" id="clone_#index#_prv_name_ru" value="" helper="formText" class="form-control" placeholder="">
                            </div>
                        </div><!-- /.col -->
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><img src="/images/flag/us.png"></span>
                                <input type="text" name="prv_name_en[#index#]" id="clone_#index#_prv_name_en" value="" helper="formText" class="form-control" placeholder="">
                            </div>
                        </div><!-- /.col -->
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" id="clone_remove_current" name="btn-delete"><i class="ico-minus-2"></i></button>
                        </div>

                    </div><!-- /.row -->
                </div><!-- /.form-group -->

            </div>
            <!-- /Form template-->

            <!-- No forms template -->
            <div id="clone_noforms_template"></div>
            <!-- /No forms template-->

            <div class="form-group" id="clone_controls">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success btn-sm" id="clone_add" name="btn-add"><i class="ico-plus-2"></i> Добавить поле</button>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.form-group -->


        </div><!-- /#clone -->

    </fieldset>


    <?=$this->form->prm_id;?>

    <div class="submit-group">
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
        <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>
    </div>

</form>
