.heapBox
{
clear:both;
display:inline-block;
line-height:50px;
position:relative;
margin: 0;
}

.heapBox *
{
margin:0;
padding:0;
outline: none;
}

.heapBox.disabled .holder
{
color:red;
}

.heapBox a{
text-decoration:none;
color:#fff;
}

.heapBox .holder
{
border-radius: 0px;
font-size: 16px;
overflow: hidden;
background: #FFF;
text-indent: 20px;
height: 50px;
color: #000;
margin: 0;
}

.heapBox .handler
{
width:21px;
background: url(heapbox_handler_bg.png) 10px 11px no-repeat;
position: relative;
left: 0px;
top:0px;
height:50px;
float:left;
position:relative;
z-index:10;

}

.heapBox .holder
{
float:left;
position:relative;
z-index:10;
}

.heapBox div.heap
{
background: #fff;
display:none;
position:absolute;
list-style-type:none;
left:0;
width:200px;
top:50px;
overflow:hidden;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;

/*border-radius: 15px;*/
}

.heapBox .heap .heapOptions
{
display:block;
overflow:hidden;
z-index:401;
position:relative;
}

.heapBox .heap a.sliderUp
{
display:block;
width:100%;
height:15px;
background:#d35400 url(slider_arrow_up.png);
background-repeat:no-repeat;
background-position:center center;
border-bottom:1px solid #a84403;
position:absolute;
top:0px;
z-index:30;

display: none;
}

.heapBox .heap a.sliderDown
{

display:block;
width:100%;
height:15px;
background:#d35400 url(slider_arrow_down.png);
border-top:1px solid #a84403;
background-repeat:no-repeat;
background-position:center center;
position:absolute;
bottom:0px;
z-index:30;

display: none;
}


.heapBox .heap .heapOptions .heapOption
{
z-index:20;
position:relative;
display:block;
height:30px;
}

.heapBox .heap .heapOptions .heapOption a{
width:100%;
display:block;
background:#FFF;
color: #555;
text-indent:20px;
height: 30px;
line-height: 30px;
}

.heapBox .heap .heapOptions .heapOption a:hover{
	background:#FF6E31;	
	color: #fff;
}

.heapBox .heap .heapOptions .heapOption a.selected{
	background:#FF6E31;
	color: #fff;
}

.heapBox .heap .heapOptions .heapOption a.disabled{
	color:#FF781F;
	color: #555;
}


#heapbox_f_guests div.heap
{
	width: 110px;
}

#heapbox_f_smart div.heap
{
	width: 346px;
}

