<?php
    $auth = Zend_Auth::getInstance();
    $request = Zend_Controller_Front::getInstance()->getRequest();

    $this->layout()->title      = Util::getConfig(array("project_title"));

    if($auth->hasIdentity())
    {
        $this->layout()->firstname  = $auth->getIdentity()->u_firstname;
        $this->layout()->lastname   = $auth->getIdentity()->u_lastname;
        $this->layout()->username   = $auth->getIdentity()->u_username;
        $this->layout()->role       = $auth->getIdentity()->u_role;
        $this->layout()->id         = $auth->hasIdentity();
    }

    $navbars_visibility_class = "";
    $navbars_visibility_class .= ( !count($this->layout()->subnavbar) ) ? "no-subnav " : "";
    $navbars_visibility_class .= ( !count($this->layout()->breadcrumb) ) ? "no-breadcrumb" : "";
?>
<!DOCTYPE html>
<html lang="en">
    <head>
        <?
            // TITLE
            echo $this->headTitle()->setPrefix($this->layout()->title)."\n\n";

            // CSS
            $this->headLink()

            // FONTS
            ->appendStylesheet('/fonts/google/google-open-sans-condensed.css')
            ->appendStylesheet('/fonts/google/google-oleo-script-swash-caps.css')
            ->appendStylesheet('/fonts/google/google-anaheim.css')
            ->appendStylesheet('/fonts/icomoon/icomoon.css')

            // BOOTSTRAP
            ->appendStylesheet('/css/bootstrap.min.css')

            // jQuery Select2 3.4.3
            ->appendStylesheet('/css/select2.css')

            // Custom Application CSS
            ->appendStylesheet('/css/ai-application.css')

            // Google Nexus Slide Menu
            ->appendStylesheet('/css/google.nexus.menu.css')

            // jQuery prettyCheckable
            ->appendStylesheet('/css/prettyCheckable.css')

            // Bootstrap Switch
            ->appendStylesheet('/css/bootstrap-switch.css')

            ."\n\n";

        ?>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.min.js"></script>
        <![endif]-->
        <?

            // Uploadify
            if ( $this->layout()->uploadify )
                $this->headLink()
                ->appendStylesheet('/css/ai/uploadify.css');

            echo $this->cssHelper();

            // META TAGS
            $this->headMeta()->appendName('keywords', 'keywords')
            ->appendName('description', '')
            ->appendName('Author', 'Marsel Alamdar')
            ->appendName('robots', 'INDEX, FOLLOW')
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('pragma', 'no-cache')
            ->appendHttpEquiv('Cache-Control', 'no-cache')
            ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

            echo $this->headMeta()."\n\n";

        ?>
        <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />

        <!-- Pure jQuery -->
        <script type="text/javascript"> // $(document).ready(function() {<?=$this->layout()->jquery;?>}); </script>

    </head>
    <body class="<?=$navbars_visibility_class;?>">

        <? echo $this->render('navbar.phtml'); ?>
        <? echo $this->layout()->breadcrumb; ?>
        <? echo $this->layout()->subnavbar; ?>

        <div class="content">
            <div class="container">
                <? echo $this->layout()->content; ?>
            </div><!-- /.container -->
        </div>

        <?
            $this->headScript()

            // JQUERY
            ->appendFile('/js/jquery.min-1.10.2.js', 'text/javascript' )
            ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )

            // BOOTSTRAP
            ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )

            // Google Nexus Slide Menu
            ->appendFile('/js/class.helper.functions.js', 'text/javascript' )
            ->appendFile('/js/google.nexus.menu.js', 'text/javascript' )

            // jQuery Navgoco
            ->appendFile('/js/jquery.cookie.min.js', 'text/javascript' )
            ->appendFile('/js/jquery.navgoco.min.js', 'text/javascript' )

            // jQuery Select2 3.4.3
            ->appendFile('/js/select2.min.js', 'text/javascript' )
            ->appendFile('/js/select2_locale_ru.js', 'text/javascript' )

            //Ajax Loaders
            ->appendFile('/js/ajaxloader.min.js', 'text/javascript' )

            //jQuery prettyCheckable
            ->appendFile('/js/prettyCheckable.js', 'text/javascript' )

            //Bootstrap Switch
            ->appendFile('/js/bootstrap-switch.min.js', 'text/javascript' )

            //Bootbox
            ->appendFile('/js/bootbox.min.js', 'text/javascript' )

            //Clone Form plugin
            ->appendFile('/js/jquery.sheepit-1.1.1.min.js', 'text/javascript' )

            ->appendFile('/js/ai-application.js', 'text/javascript' )
            ;

            // Enable CKEditor
            if ( $this->layout()->ckeditor )
                $this->headScript()
                ->appendFile('/js/ckeditor/ckeditor.js')
                ->appendFile('/js/ckeditor/adapters/jquery.js');

            // Enable Uploadify
            if ( $this->layout()->uploadify )
                $this->headScript()
                ->appendFile('/js/jquery.uploadify-3.1.min.js');

            $this->javascriptHelper();

            echo $this->headScript();
        ?>


    </body></html>

