<?php
    $auth = Zend_Auth::getInstance();
    $request = Zend_Controller_Front::getInstance()->getRequest();

    $this->layout()->title      = Util::getConfig(array("project_title"));

    if($auth->hasIdentity())
    {
        $this->layout()->firstname  = $auth->getIdentity()->u_firstname;
        $this->layout()->lastname   = $auth->getIdentity()->u_lastname;
        $this->layout()->username   = $auth->getIdentity()->u_username;
        $this->layout()->role       = $auth->getIdentity()->u_role;
        $this->layout()->id         = $auth->hasIdentity();
    }

    $navbars_visibility_class = "";
    $navbars_visibility_class .= ( !count($this->layout()->subnavbar) ) ? " no-subnavbar " : "";
    $navbars_visibility_class .= ( !count($this->layout()->breadcrumb) ) ? " no-breadcrumb" : "";
    $navbars_visibility_class .= ( !count($this->layout()->infobar) ) ? " no-infobar" : "";
?>
<!DOCTYPE html>
<head>

<!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_


         Created and maintained by Marsel Alamdar
         COPYRIGHT 2013 - 2014, BGGSK


_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->


    <link href="favicon.png?2" rel="shortcut icon" type="image/png" />
        <?
            // TITLE
            echo $this->headTitle()->setPrefix($this->layout()->title)."\n\n";

            // CSS
            $this->headLink()

            // FONTS
            ->appendStylesheet('/fonts/google/google-open-sans-condensed.css')
            ->appendStylesheet('/fonts/google/google-oleo-script-swash-caps.css')
            ->appendStylesheet('/fonts/google/google-anaheim.css')
            ->appendStylesheet('/fonts/google/google-ptsans.css')
            ->appendStylesheet('/fonts/rouble/rouble-font.css')
            ->appendStylesheet('/fonts/icomoon/icomoon.css')

            // BOOTSTRAP
            ->appendStylesheet('/css/bootstrap.min.css')

            // Bootstrap Datetimepicker
            ->appendStylesheet('/css/bootstrap-datetimepicker.min.css')

            // jQuery Select2 3.4.3
            ->appendStylesheet('/css/select2.css')

            // DataTables
            ->appendStylesheet('/css/dataTables.bootstrap.css')
            ->appendStylesheet('/css/dataTables.colVis.css')


            // Google Nexus Slide Menu
            ->appendStylesheet('/css/google.nexus.menu.css')

            // jQuery prettyCheckable
            ->appendStylesheet('/css/prettyCheckable.css')

            // Bootstrap Switch
            ->appendStylesheet('/css/bootstrap-switch.css')

            // Booking Calendar
            // ->appendStylesheet('/bcp/css/jquery.bookingCalendar.css')

            // Fullcalendar
            ->appendStylesheet('/css/fullcalendar.css')
            // ->appendStylesheet('/css/fullcalendar.print.css')

            // Bootstrap Modal
/*            ->appendStylesheet('/css/bootstrap-modal.css')
            ->appendStylesheet('/css/bootstrap-modal-bs3patch.css')
*/
            // PNotify
            ->appendStylesheet('/css/pnotify.custom.min.css')

            // Fileupload
            // ->appendStylesheet('http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css')
            ->appendStylesheet('/css/blueimp-gallery.min.css')
            ->appendStylesheet('/fileupload/css/jquery.fileupload.css')
            ->appendStylesheet('/fileupload/css/jquery.fileupload-ui.css')

            // Custom Application CSS
            ->appendStylesheet('/css/ai-application.css')
            ->appendStylesheet('//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')


            ."\n\n";

        ?>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.min.js"></script>
        <![endif]-->
        <?

            echo $this->cssHelper();

            // META TAGS
            $this->headMeta()->appendName('keywords', 'keywords')
            ->appendName('description', '')
            ->appendName('Author', 'Marsel Alamdar')
            ->appendName('robots', 'INDEX, FOLLOW')
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('pragma', 'no-cache')
            ->appendHttpEquiv('Cache-Control', 'no-cache');

            echo $this->headMeta()."\n\n";

        ?>
        <meta charset="utf-8">
        <base href="https://<?=$_SERVER['HTTP_HOST'];?>/" />

        <!-- Pure jQuery -->
        <script type="text/javascript"> // $(document).ready(function() {<?=$this->layout()->jquery;?>}); </script>

    </head>
    <body class="<?=$navbars_visibility_class;?>">

        <div id="preloader">
            <div id="status"></div>
        </div>

        <? echo $this->render('navbar.phtml'); ?>
        <? echo $this->layout()->breadcrumb; ?>
        <? echo $this->layout()->subnavbar; ?>
        <? echo $this->layout()->infobar; ?>

        <div class="content">
            <div class="container">
                <? echo $this->layout()->content; ?>
            </div>
        </div>

        <?
            $this->headScript()

            /*------------------------------------------------------------------------------------
            /* JQuery
            --------------------------------------------------------------------------------------*/
            // ->appendFile('//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 'text/javascript' )
            ->appendFile('/js/jquery.min.1.11.1.js', 'text/javascript' )
            // ->appendFile('/js/jquery-ui.min.1.11.0.js', 'text/javascript' )
            ->appendFile('https://code.jquery.com/ui/1.12.1/jquery-ui.js', 'text/javascript' )

            /*------------------------------------------------------------------------------------
            /* Moment JS
            --------------------------------------------------------------------------------------*/
            ->appendFile('/js/moment.min.js', 'text/javascript' )
            ->appendFile('/js/moment.locale.ru.js', 'text/javascript' )

            /*------------------------------------------------------------------------------------
            /* Bootstrap v3
            --------------------------------------------------------------------------------------*/
            ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )

            /*------------------------------------------------------------------------------------
            /* Bootstrap Datetimepicker
            --------------------------------------------------------------------------------------*/
            ->appendFile('/js/bootstrap-datetimepicker.min.js', 'text/javascript' )

            /*------------------------------------------------------------------------------------
            /* DataTables
            --------------------------------------------------------------------------------------*/
            // ->appendFile('//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js', 'text/javascript' )
            ->appendFile('/js/jquery.dataTables.min.js', 'text/javascript' )
            ->appendFile('/js/dataTables.bootstrap.js', 'text/javascript' )
            ->appendFile('/js/dataTables.fixedHeader.js', 'text/javascript' )
            ->appendFile('/js/dataTables.colVis.js', 'text/javascript' )

            //_____________________ Fullcalendar __________________________________
            //___________________________________________________________________
            ->appendFile('/js/fullcalendar.min.js', 'text/javascript' )
            // ->appendFile('/js/fullcalendar.locale.ru.js', 'text/javascript' )
            // ->appendFile('/js/lang-all.js', 'text/javascript' )


            //=============== Bind actions with delay ======================
            ->appendFile('/js/bindWithDelay.js', 'text/javascript' )

            // Google Nexus Slide Menu
            ->appendFile('/js/class.helper.functions.js', 'text/javascript' )
            ->appendFile('/js/google.nexus.menu.js', 'text/javascript' )

            // jQuery Navgoco
            ->appendFile('/js/jquery.cookie.min.js', 'text/javascript' )
            ->appendFile('/js/jquery.navgoco.min.js', 'text/javascript' )

            // jQuery Select2 3.4.3
            ->appendFile('/js/select2.min.js', 'text/javascript' )
            ->appendFile('/js/select2_locale_ru.js', 'text/javascript' )

            //jQuery prettyCheckable
            ->appendFile('/js/prettyCheckable.js', 'text/javascript' )

            //Bootstrap Switch
            ->appendFile('/js/bootstrap-switch.min.js', 'text/javascript' )

            //Bootbox
            ->appendFile('/js/bootbox.min.js', 'text/javascript' )

            //Clone Form plugin
            ->appendFile('/js/jquery.sheepit-1.1.1.min.js', 'text/javascript' )

            //Yandex.Maps Api
            //->appendFile('http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU', 'text/javascript' )

            //2GIS Api
            // ->appendFile('http://maps.api.2gis.ru/1.0', 'text/javascript' )

            //Google Maps v3 Api
            ->appendFile('https://maps.googleapis.com/maps/api/js?v=3.7&signed_in=true&libraries=places&language=ru-RU', 'text/javascript' )

            //Booking Calendar
            // ->appendFile('/bcp/js/jquery.bookingCalendar.js', 'text/javascript' )


            // *** Fileupload ***
			// ******************************************************************************************************
            // The Templates plugin is included to render the upload/download listings
            ->appendFile('/js/blueimp.tmpl.min.js', 'text/javascript' )

            // The Load Image plugin is included for the preview images and image resizing functionality
            ->appendFile('/js/blueimp.load-image.min.js', 'text/javascript' )

            // *** The Canvas to Blob plugin is included for image resizing functionality
            ->appendFile('/js/blueimp.canvas-to-blob.min.js', 'text/javascript' )

            // *** blueimp Gallery script
            // ->appendFile('http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js', 'text/javascript' )
            ->appendFile('/js/jquery.blueimp-gallery.min.js', 'text/javascript' )

            // *** The Iframe Transport is required for browsers without support for XHR file uploads
            ->appendFile('/fileupload/js/jquery.iframe-transport.js', 'text/javascript' )

            // *** The basic File Upload plugin
            ->appendFile('/fileupload/js/jquery.fileupload.js', 'text/javascript' )
            // *** The File Upload processing plugin
            ->appendFile('/fileupload/js/jquery.fileupload-process.js', 'text/javascript' )
            // *** The File Upload image preview & resize plugin
            ->appendFile('/fileupload/js/jquery.fileupload-image.js', 'text/javascript' )
            // *** The File Upload audio preview plugin
            ->appendFile('/fileupload/js/jquery.fileupload-audio.js', 'text/javascript' )
            // *** The File Upload video preview plugin
            ->appendFile('/fileupload/js/jquery.fileupload-video.js', 'text/javascript' )
            // *** The File Upload validation plugin
            ->appendFile('/fileupload/js/jquery.fileupload-validate.js', 'text/javascript' )
            // *** The File Upload user interface plugin
            ->appendFile('/fileupload/js/jquery.fileupload-ui.js', 'text/javascript' )
			// ******************************************************************************************************


            // *** Validating
            ->appendFile('/js/jquery.validate.min.js', 'text/javascript' )

            // *** Masked Input plugin for jQuery
            ->appendFile('/js/jquery.maskedinput.min.js', 'text/javascript' )

            // *** PNotify
            ->appendFile('/js/pnotify.custom.min.js', 'text/javascript' )

            // All Objects File
            // ->appendFile('/data/venue/_all.js', 'text/javascript' )

            // TableSorter http://tablesorter.ru/
            ->appendFile('/js/jquery.tablesorter.min.js', 'text/javascript' )

            ->appendFile('/js/ai-application.js', 'text/javascript' )
            ;

            // Enable CKEditor
            if ( $this->layout()->ckeditor )
                $this->headScript()
                ->appendFile('/js/ckeditor/ckeditor.js')
                ->appendFile('/js/ckeditor/adapters/jquery.js');

            $this->javascriptHelper();

            echo $this->headScript();
        ?>

    </body></html>

