<?php include("header.phtml"); ?>

    <div class="notfound-page">
    	<div class="notfound-big-title">Ошибка</div>
	<h1>Произошла непредвиденная ошибка</h1>
	<p><?=$this->exception;?></p>
	<p><?=nl2br($this->trace);?></p>
	
	<h2 class="black">Попробуйте сделать следующее:</h2>
	<ul class="notfound-list">
		<li>Заново введите адрес</li>
		<li>Перейдите на предыдущую страницу</li>
		<li>Перейдите на карту вашего города</li>
	</ul>
</div>

<div id="map-legend">
<div class="wrapper">
<?
        $i = 0;
        foreach($this->cities['alphabet'] as $letter => $cities_uids)
        {
          if($i % 4 == 0)
          {
            ?><div class="row"><?
          }
          ?>
          <div class="col col-md-3">
            <h2><?php echo $letter; ?></h2>

            <?
              foreach($cities_uids as $null => $city_uid)
              {
                $city = $this->cities['list'][$city_uid];
                ?><p><a href="http://<? echo $city['uid']; ?>.<? echo $_SERVER['HOSTNAME']; ?>"><?php echo $city['name']; ?></a><small><?php echo $city['objects']; ?></small></p><?
              }
            ?>

          </div>
          <?

          if(intval($i+1) % 4 == 0 || intval($i+1) == sizeof($this->cities['alphabet']))
          {
            ?></div><!-- .row - END --><?
          }

          $i++;
        }
      ?>
</div>
</div>