<!-- // HEADER // -->
<header>
    <div class="row">

        <div class="col col-xs-8">
            <nav class="align-left">
                <ul>
                    <li class="topnav-logo">
                        <a href="http://<? echo $_SERVER['HOSTNAME']; ?>" class="hidden-from-460 logo"><img src="/images/logo-top-small.png" alt=""></a>
                        <a href="http://<? echo $_SERVER['HOSTNAME']; ?>" class="visible-from-460 logo"><img src="/images/logo-top-smallest.png" alt=""></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col col-xs-4">
        </div>

    </div>
</header>
<!-- // END HEADER // -->