<!-- MODAL - City Selector -->
<div class="modal fade" id="modal-select-city" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Выберите город</h2>
    </div>

    <div class="modal-body">

      <?
        $i = 0;
        foreach($this->cities['alphabet'] as $letter => $cities_uids)
        {
          if($i % 3 == 0)
          {
            ?><div class="row"><?
          }
          ?>
          <div class="col col-md-4">
            <h2><?php echo $letter; ?></h2>

            <?
              foreach($cities_uids as $null => $city_uid)
              {
                $city = $this->cities['list'][$city_uid];
                ?><p><a href="http://<? echo $city['uid']; ?>.<? echo $_SERVER['HOSTNAME']; ?>"><?php echo $city['name']; ?></a><small><?php echo $city['objects']; ?></small></p><?
              }
            ?>

          </div>
          <?

          if(intval($i+1) % 3 == 0 || intval($i+1) == sizeof($this->cities['alphabet']))
          {
            ?></div><!-- .row - END --><?
          }

          $i++;
        }
      ?>

    </div>

  </div>
  </div>
</div>
