<?
    $auth = Zend_Auth::getInstance();
    $role = strtolower($auth->getIdentity()->u_role);
    
    //Администратор
    if($role == "administrator"):
?>
<ul class="sidemenu">
    <li><a href="/ai/pages">Страницы</a></li>
    <li>&nbsp;</li>
    <li><a href="/ai/help">Справка</a></li>
    <li><a href="/ai/config">Настройки</a></li>
    <li><a href="/ai/reset">Сброс</a></li>
    <li><a href="/ai/log">Лог</a></li>
    <li><a href="/ai/dbdump">Бэкап БД</a></li>
    <li><a href="/ai/user">Пользователи</a></li>
    <li><a href="/ai/user/logout">Выйти</a></li>
    <li>Время на сервере: <br><?=date("D M j G:i:s T Y");?></li>
</ul>
<?
    endif;

    //Контенщик
    if($role == "editor"):
?>
<ul class="sidemenu">
</ul>
<br>
<ul class="sidemenu">
    <li><a href="/ai/help">Справка</a></li>
    <li><a href="/ai/user/logout">Выйти</a></li>
    <li>Время на сервере: <br><?=date("D M j G:i:s T Y");?></li>
</ul>
<?
    endif;
?>