<!-- // HEADER // -->
<header>
    <div class="row">

        <div class="col col-md-4 col-sm-4 col-xs-6">
            <nav class="align-left">
                <ul>
                    <li class="topnav-logo">
                        <a href="http://<? echo $_SERVER['HOSTNAME']; ?>" class="hidden-from-460 logo"><img src="/images/logo-top-small.png" alt=""></a>
                        <a href="http://<? echo $_SERVER['HOSTNAME']; ?>" class="visible-from-460 logo"><img src="/images/logo-top-smallest.png" alt=""></a>
                    </li>
                    <?=$city_selector;?>
                </ul>
            </nav>
        </div>

        <div class="col col-md-4 col-sm-6 hidden-xs topmenu">
            <nav class="align-center">
                <ul>

                    <li><a class="inner-link" href="#about"><span>О нас</span></a></li>
                    <li><a class="inner-link" href="#how"><span>Гостям</span></a></li>
                    <li><a class="inner-link" href="#owners"><span>Владельцам</span></a></li>
                    <li><a class="inner-link" href="#main-map"><span>Карта</span></a></li>

                </ul>
            </nav>
        </div>

        <div class="col col-md-4 col-sm-2 col-xs-6">
            <nav class="align-right topnav-right">
                <ul>

                    <? if(!$this->identity): ?>
                    <li><a class="true_link" href="#" data-toggle="modal" data-target="#modal-login">Войти</a></li>

                    <? else: ?>

                    <li class="dropdown" >

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="icon-profile-male"></i> Мой кабинет <i class="icon-angle-down"></i></a>

                        <ul class="dropdown-menu dropdown-menu-left" role="menu">
                            <li><a class="true_link"  href="/user/dashboard">Главная <i class="icon-compass4"></i></a></li>
                            <li><a class="true_link"  href="/user/rooms">Мои объекты <i class="icon-home5"></i></a></li>
                            <li><a class="true_link"  href="/user/add">Добавить объект <i class="icon-plus2"></i></a></li>
                            <li class="divider"></li>
                            <li><a class="true_link" href="/user/logout">Выйти <i class="icon-log-out"></i></a></li>
                        </ul>
                    </li>

                    <? endif; ?>

                </ul>
            </nav>
        </div>

    </div>
</header>
<!-- // END HEADER // -->