<?
    //$request = Zend_Controller_Front::getInstance()->getRequest();
?>
<!DOCTYPE html>
<head>

<!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_


        Created and maintained by Marsel Alamdar
        COPYRIGHT 2013 - 2015, BGGSK

        intro 
_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->


    <title>Квартиры посуточно &mdash; Goyug.com</title>
    <link rel="shortcut icon" href="http://<? echo $_SERVER['HOSTNAME'];?>/favicon.ico" type="image/x-icon">
    <?
        // META TAGS
        $this->headMeta()
        ->appendName('keywords', 'квартиры посуточно, аренда жилья на сутки')
        ->appendName('description', 'На сайте Goyug.com вы можете подобрать жилье посуточно и без посредников. Воспользуйтесь нашим поиском на карте.')

        ->appendName('Author', 'Marsel Alamdar')
        ->appendName('robots', 'INDEX, FOLLOW')
        ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        
        ->appendName('yandex-verification', '785994620eea03e5')
        ->appendName('google-site-verification', 'HicoeF1zBt8CUF1jmApvpQ7xME2QkPpxGma3T0JGOOE')

        ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

        echo $this->headMeta()."\n\n";

        // CSS
        $this->headLink()

        // FONTS
        ->appendStylesheet('/fonts/icomoon/icomoon.css')
        ->appendStylesheet('/fonts/open-sans/style.css')
        ->appendStylesheet('/fonts/rouble/rouble-font.css')

        // BOOTSTRAP
        ->appendStylesheet('/css/bootstrap.min.css')

        // jQuery UI Datepicker Style
        // ->appendStylesheet('/css/ui-datepicker.css')

        // STYLES OF THEME
        ->appendStylesheet('/intro/static/css/jquery.bxslider.css')
        ->appendStylesheet('/intro/static/css/fotorama.css')
        ->appendStylesheet('/intro/static/css/devices.css')
        ->appendStylesheet('/intro/style.css?900101')

        // Adaptive styles
        ->appendStylesheet('/css/ui-application-media-queries.css')

        ."\n\n";

        echo $this->cssHelper();

        // echo $this->headLink();

    ?>

    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />

</head>
<body>

    <?php 
        if(strpos($_SERVER['HTTP_HOST'], 'goyug.com') !== false) {

            echo $this->render('google_analytics.phtml'); 
            echo $this->render('yandex_metrika.phtml');

        }
    ?>

    <?php echo $this->layout()->content; ?>

    <?php

        $this->headScript()
        ->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js', 'text/javascript' )
        ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )
        ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )
        ->appendFile('https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyATQ9YSNhMLfhS6Qpv9lHr84Pvd0rkfUuk', 'text/javascript' )
        ->appendFile("/intro/static/js/gmap.js", 'text/javascript' )
        ->appendFile("/js/flowtype.js", 'text/javascript' )

        // Plugins
        ->appendFile("/intro/static/js/plugins/jquery.queryloader2.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.fotorama.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.stellar.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.transit.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.easings.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.tweet-linkify.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.scrollStopped.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.placeholder.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/jquery.bxslider.min.js", 'text/javascript' )

        // ALL PLUGINS IN ONE FILE
        //->appendFile("/intro/js/plugins/plugins.js", 'text/javascript' )

        //Validator
        ->appendFile('/js/jquery.validate.min.js', 'text/javascript' )
        ->appendFile('/js/jquery.validate.messages-ru.js', 'text/javascript' )

        //Moment.js
        // ->appendFile('/js/moment.min.js', 'text/javascript' )
        // ->appendFile('/js/moment.locale.ru.js', 'text/javascript' )

        // MAIN SCRIPTS
        // ->appendFile("/intro/static/js/countdown.js?1", 'text/javascript' )
        // ->appendFile("/intro/static/js/twitter.js", 'text/javascript' )
        ->appendFile("/intro/static/js/plugins/infobox.js", 'text/javascript' )
        ->appendFile("/intro/static/js/main.js", 'text/javascript' )
        ->appendFile("/js/ui-application.js", 'text/javascript' )

        // *** Masked Input plugin for jQuery
        ->appendFile('/js/jquery.maskedinput.min.js', 'text/javascript' )

        ."\n\n";

        $this->javascriptHelper();

        echo $this->headScript();
    ?>

</body>
</html>

