<?php
    $auth = Zend_Auth::getInstance();
    $request = Zend_Controller_Front::getInstance()->getRequest();

    $this->layout()->title      = Util::getConfig(array("project_title"));

    if($auth->hasIdentity())
    {
        $this->layout()->firstname  = $auth->getIdentity()->u_firstname;
        $this->layout()->lastname   = $auth->getIdentity()->u_lastname;
        $this->layout()->username   = $auth->getIdentity()->u_username;
        $this->layout()->role       = $auth->getIdentity()->u_role;
        $this->layout()->id         = $auth->hasIdentity();
    }
    //echo $request->
?>
<!DOCTYPE html>
<head>
    <!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_
                Created and maintained by Marsel Alamdar
                COPYRIGHT 2013 - 2015, BGGSK

                login
    _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->

    <link href="http://<? echo $_SERVER['HOSTNAME'];?>/favicon.ico" rel="shortcut icon" />
        <?
            // TITLE
            echo $this->headTitle()->setPrefix($this->layout()->title)."\n\n";

            // CSS
            $this->headLink()

            // FONTS
            ->appendStylesheet('/fonts/google/google-open-sans-condensed.css')
            ->appendStylesheet('/fonts/google/google-oleo-script-swash-caps.css')
            ->appendStylesheet('/fonts/google/google-anaheim.css')
            ->appendStylesheet('/fonts/icomoon/icomoon.css')

            // BOOTSTRAP
            ->appendStylesheet('/css/bootstrap.min.css')

            ."\n\n";

        ?>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
        <script src="/js/respond.min.js"></script>
        <![endif]-->
        <?

            echo $this->cssHelper();

            // META TAGS
            $this->headMeta()
            ->appendName('keywords', 'keywords')
            ->appendName('description', '')
            ->appendName('Author', 'Marsel Alamdar')
            ->appendName('robots', 'INDEX, FOLLOW')
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('pragma', 'no-cache')
            ->appendHttpEquiv('Cache-Control', 'no-cache')
            ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

            echo $this->headMeta()."\n\n";

        ?>
        <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />

    </head>
    <body>

    <?php
        if(strpos($_SERVER['HTTP_HOST'], 'goyug.com') !== false) echo $this->render('yandex_metrika.phtml');
    ?>

        <div class="container">

            <div id="content">
                <?=$this->layout()->content;?>
            </div>
            <!--/#content-->

        </div>
        <!-- /.container -->

        <?
            $this->headScript()

            // JQUERY
            ->appendFile('/js/jquery.min-1.10.2.js', 'text/javascript' )
            ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )
            ->appendFile('/js/jquery.validate.min.js', 'text/javascript' )

            // BOOTSTRAP
            ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )
            ;

            $this->javascriptHelper();

            echo $this->headScript();
        ?>
    </body>
</html>

