<!DOCTYPE html>
<head>

<!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_


         Created and maintained by Marsel Alamdar
         COPYRIGHT 2013 - 2015, BGGSK
        

_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->


    <title>GoYug!</title>
    <link href="http://<? echo $_SERVER['HOSTNAME'];?>/favicon.ico" rel="shortcut icon" />
    <?
        // META TAGS
        $this->headMeta()
        ->appendName('Author', 'Marsel Alamdar')
        ->appendName('robots', 'INDEX, FOLLOW')
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

        echo $this->headMeta()."\n\n";

        // CSS
        $this->headLink()

        // FONTS
        ->appendStylesheet('/fonts/google/google-ptsans.css')
        ->appendStylesheet('/fonts/open-sans/style.css')
        ->appendStylesheet('/fonts/rouble/rouble-font.css')
        ->appendStylesheet('/fonts/intro/intro-font.css')
        ->appendStylesheet('/fonts/icomoon/icomoon.css')

        // BOOTSTRAP
        ->appendStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')

        // Common Style
        ->appendStylesheet('/css/ui-application.css')

        // jQuery UI Datepicker Style
        ->appendStylesheet('/css/ui-datepicker.css')

        ."\n\n";

        echo $this->cssHelper();

        // echo $this->headLink();

    ?>

    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />

</head>
<body data-spy="scroll" data-target=".navbar-collapse" id="main-page">

    <?
        echo $this->render('yandex_metrika.phtml'); 
    ?>
    
    <?=$this->render('topnavbar.phtml'); ?>
    <?=$this->layout()->content;?>

    <?
        $this->headScript()

        // JQUERY
        ->appendFile('/js/jquery.min-1.10.2.js', 'text/javascript' )
        ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )

        // BOOTSTRAP
        ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )

        //Validator
        ->appendFile('/js/jquery.validate.min.js', 'text/javascript' )
        ->appendFile('/js/jquery.validate.messages-ru.js', 'text/javascript' )

        // GOOGLE MAP
        ->appendFile('http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7&language=ru-RU&key=AIzaSyATQ9YSNhMLfhS6Qpv9lHr84Pvd0rkfUuk', 'text/javascript' )
        // ->appendFile('http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7&language=ru-RU', 'text/javascript' )
        
        // GMAPS JQUERY
        ->appendFile('/js/gmaps.js', 'text/javascript' )

        //Moment.js
        ->appendFile('/js/moment.min.js', 'text/javascript' )
        ->appendFile('/js/moment.locale.ru.js', 'text/javascript' )

        // HeapBox (select dropdown styling)
        ->appendFile('/js/jquery.heapbox-0.9.4.min.js', 'text/javascript' )

        // Hogan (templating engine)
        // ->appendFile('/js/hogan-2.0.0.js', 'text/javascript' )

        // Handlebars (templating engine)
        ->appendFile('/js/handlebars-v1.3.0.js', 'text/javascript' )

        // TypeHead
        ->appendFile('/js/typeahead.bundle.js', 'text/javascript' )
        
        // Tocify
        ->appendFile('/js/jquery.tocify.min.js', 'text/javascript' )
        
        // DropIt
        ->appendFile('/js/dropit.js', 'text/javascript' )
        
        // UI Main JS
        ->appendFile('/js/ui-application.js', 'text/javascript' )
        
        ."\n\n";

        $this->javascriptHelper();

        echo $this->headScript();
    ?>

</body>
</html>

