<?
    $objectsModel = new Ui_Model_Objects();
    $cities = $objectsModel->getCities();

    $request = Zend_Controller_Front::getInstance()->getRequest();
    $city_uid = $request->getParam('cityuid');

    $city_name = $cities['list'][$city_uid]['name'];
    $city_name_pr = $cities['list'][$city_uid]['name_pr'];
    $city_yandex_web = $cities['list'][$city_uid]['yandex_web'];
?>
<!DOCTYPE html>
<head>
    <!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_
                Created and maintained by Marsel Alamdar
                COPYRIGHT 2013 - 2015, BGGSK

                objects-map-mobile
    _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->
    <title>Снять квартиру посуточно в <? echo $city_name_pr; ?> &mdash; Goyug.com</title>
    <link rel="shortcut icon" href="http://<? echo $_SERVER['HOSTNAME'];?>/favicon.ico" type="image/x-icon">
    <?

    // META TAGS
    $this->headMeta()

    ->appendName('keywords', $city_name)

    ->appendName('description', 'Квартиры посуточно в ' . $city_name_pr . ' без посредников. Самые выгодные предложения по посуточной аренде квартир, домов и комнат. Жилье на сутки в ' . $city_name_pr . '.  Найдено более ' . $cities['list'][$city_uid]['objects'] . ' предложений.')

    ->appendName('yandex-verification', "$city_yandex_web")
    ->appendName('google-site-verification', 'HicoeF1zBt8CUF1jmApvpQ7xME2QkPpxGma3T0JGOOE')

    ->appendName('Author', 'Marsel Alamdar')
    ->appendName('robots', 'INDEX, FOLLOW')
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

    echo $this->headMeta()."\n\n";

    // CSS
    $this->headLink()

    // FONTS
    ->appendStylesheet('/fonts/google/google-ptsans.css')
    ->appendStylesheet('/fonts/rouble/rouble-font.css')
    ->appendStylesheet('/fonts/icomoon/icomoon.css')
    ->appendStylesheet('/fonts/intro/intro-font.css')
    ->appendStylesheet('/fonts/bebas/bebas-font.css')
    ->appendStylesheet('/fonts/open-sans/style.css')

    // BOOTSTRAP
    // ->appendStylesheet('/css/bootstrap.min.css')
    ->appendStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    // ->appendStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')


    // BXSlider Image
    ->appendStylesheet('/css/jquery.bxslider.css')

    // nouiSlider 6
    ->appendStylesheet('/css/jquery.nouislider.css')
    ->appendStylesheet('/css/jquery.nouislider.init.css?9000002')

    // jQuery UI Datepicker Style
    // ->appendStylesheet('/css/ui-datepicker.css?9000002')

    // HeapBox (select dropdown styling)
    // ->appendStylesheet('/css/heapbox/heapbox.css')

    // SelectBoxIt (select dropdown styling) http://gregfranko.com/jquery.selectBoxIt.js
    // ->appendStylesheet('/css/jquery.selectBoxIt.css')

    // DropIT
    // ->appendStylesheet('/css/dropit.css')

    // Custom Scrollbar
    // ->appendStylesheet('/css/jquery.mCustomScrollbar.css')

    // jQuery UI Datepicker Style
    ->appendStylesheet('/css/bootstrap-datetimepicker.min.css')

    // MapBox
     ->appendStylesheet('https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css')
     ->appendStylesheet('https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.css')

    // Jquery Loader
    // ->appendStylesheet('/css/jquery.loader.min.css')

    // Switchery
    // ->appendStylesheet('/css/switchery.css')

    ->appendStylesheet('/css/ui-application.css?9000003')
    // ->appendStylesheet('/css/fakeLoader.css?9000003')

    ->appendStylesheet('/css/ui/objects/map-mobile.css')
    // ->appendStylesheet('/css/fakeLoader.css?9000003')

    ."\n\n";

    //Блокируем хелпер
    //echo $this->cssHelper();

    echo $this->headLink();

    ?>

    <!-- Adaptive styles. It places here to owerwrite helper style. -->
    <link href="/css/ui-application-media-queries.css" media="screen" rel="stylesheet" type="text/css" >

    <!-- <script src="/js/lazysizes.min.js" async=""></script>     -->
    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />

    <?php
        if(strpos($_SERVER['HTTP_HOST'], 'goyug.com') !== false) {
            if(in_array($city_uid, array("krasnodar", "sochi", "kislovodsk", "rostovnadonu", "stavropol", "pyatigorsk")))
            {
                echo $this->render('google_analytics_' . $city_uid . '.phtml');
            } else {
                echo $this->render('google_analytics.phtml');
            }
        }
    ?>

</head>

<body id="objects-page">

    <?php
        if(strpos($_SERVER['HTTP_HOST'], 'goyug.com') !== false) {

            $metriks = array(
                "krasnodar",
                "sochi",
                "kislovodsk",
                "rostovnadonu",
                "stavropol",
                "pyatigorsk",
                "voronezh",
                "volgograd",
                "sevastopol",
                "yalta",
                "zheleznovodsk",
                "ekaterinburg",
                "kazan",
                "nnovgorod",
                "ufa",
                "saratov",
                "samara",
                "spb",
                "tyumen",
                "moscow",
                "omsk",
                "chelyabinsk",
                "irkutsk",
                "yaroslavl",
                "perm",
                "novosibirsk",
                "surgut",
            );

            if(in_array($city_uid, $metriks))
            {
                echo $this->render('yandex_metrika.phtml');
                echo $this->render('yandex_metrika_' . $city_uid . '.phtml');
            } else {
                echo $this->render('yandex_metrika.phtml');
            }
        }
    ?>


    <?php echo $this->layout()->content;?>

    <?php

    //echo '<script>var isMobile = true;</script>'."\n\r";

    $this->headScript()

    // JQUERY
    ->appendFile('/js/jquery.min.1.11.1.js', 'text/javascript' )
    ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )
    ->appendFile('/js/jquery.easing.1.3.js', 'text/javascript' )

    // Mousewheel
    // ->appendFile('/js/jquery.mousewheel-3.1.3.js', 'text/javascript' )

    // Lazy Image Loader
    ->appendFile('/js/lazysizes.min.js', 'text/javascript' )

    // Scroll Panel
    // ->appendFile('/js/jquery.scrollpanel-0.5.0.min.js', 'text/javascript' )

    // Scrollbar
    // ->appendFile('/js/jquery.scrollbar.min.js', 'text/javascript' )

    // Bootstrap
    // ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )
    ->appendFile('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js', 'text/javascript' )

    // MapBox
     ->appendFile('https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js', 'text/javascript' )
     ->appendFile('https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.js', 'text/javascript' )

    // GOOGLE MAP
    ->appendFile('http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7&language=ru-RU', 'text/javascript' )

    // GMAPS JQUERY
    // ->appendFile('/js/gmaps.js', 'text/javascript' )

    // ION Range Slider
    // ->appendFile('/js/ion.rangeSlider.min.js', 'text/javascript' )

    // PowerTip
    // ->appendFile('/js/jquery.powertip.min.js', 'text/javascript' )

    // BxSlider (Images)
    ->appendFile('/js/jquery.bxslider.min.js', 'text/javascript' )

    // Isotope
    ->appendFile('/js/isotope.pkgd.min.js', 'text/javascript' )

    //Moment.js
    ->appendFile('/js/moment.min.js', 'text/javascript' )
    ->appendFile('/js/moment.locale.ru.js', 'text/javascript' )

    // nouiSlider (Range)
    ->appendFile('/js/jquery.nouislider.min.js', 'text/javascript' )

    // ScrollTo
    ->appendFile('/js/jquery.scrollTo.min.js', 'text/javascript' )

    // HeapBox (select dropdown styling)
    // ->appendFile('/js/jquery.heapbox-0.9.4.min.js', 'text/javascript' )

    // SelectBoxIt (select dropdown styling) http://gregfranko.com/jquery.selectBoxIt.js
    // ->appendFile('/js/jquery.selectBoxIt.min.js', 'text/javascript' )

    // Handlebars (templating engine)
    // ->appendFile('/js/handlebars-v1.3.0.js', 'text/javascript' )

    // Bootstrap Paginator
    // ->appendFile('/js/jquery.bootpag.min.js', 'text/javascript' )

    // Underscore
    ->appendFile('/js/underscore-min.js', 'text/javascript' )

    // Custom Scrollbar
    ->appendFile('/js/jquery.mCustomScrollbar.concat.min.js', 'text/javascript' )

    // JQuery Loader
    // ->appendFile('/js/jquery.loader.min.js', 'text/javascript' )

    // Perfect Scrollbar
    // ->appendFile('/js/perfect-scrollbar.jquery.min.js', 'text/javascript' )

    // Switchery
    // ->appendFile('/js/switchery.js', 'text/javascript' )

    // UI Main JS
    ->appendFile('/js/ui-application.js', 'text/javascript' )

    // UI Main JS
    ->appendFile('/js/ui/objects/map-mobile.js', 'text/javascript' )

    // FullCalendar
    ->appendFile('/js/bootstrap-datetimepicker.min.js', 'text/javascript' )

    ."\n\n";

    //Блокируем хелпер
    //$this->javascriptHelper();

    echo $this->headScript();

    ?>
</body>
</html>