<?
    $objectsModel = new Ui_Model_Objects();
    $cities = $objectsModel->getCities();

    $request = Zend_Controller_Front::getInstance()->getRequest();
    //$city_uid = $request->getParam('cityuid');

    //$city_name = $cities['list'][$city_uid]['name'];
?>
<!DOCTYPE html>
<head>
    <!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_
                Created and maintained by Marsel Alamdar
                COPYRIGHT 2013 - 2015, BGGSK

                objects-map
    _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->
    <title>Квартиры посуточно - Goyug.com</title>
    <link href="http://<? echo $_SERVER['HOSTNAME'];?>/favicon.ico" rel="shortcut icon" />
    <?

    // META TAGS
    $this->headMeta()

    //->appendName('keywords', $city_name)
    //->appendName('description', 'Аренда квартир в ' . $city_name . ' на сутки, без посредников. Найдено более ' . $cities['list'][$city_uid]['objects'] . ' предложений.')

    ->appendName('Author', 'Marsel Alamdar')
    ->appendName('robots', 'INDEX, FOLLOW')
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

    echo $this->headMeta()."\n\n";

    // CSS
    $this->headLink()

    // FONTS
    ->appendStylesheet('/fonts/google/google-ptsans.css')
    ->appendStylesheet('/fonts/rouble/rouble-font.css')
    ->appendStylesheet('/fonts/icomoon/icomoon.css')
    ->appendStylesheet('/fonts/intro/intro-font.css')
    ->appendStylesheet('/fonts/bebas/bebas-font.css')
    ->appendStylesheet('/fonts/open-sans/style.css')

    // BOOTSTRAP
    ->appendStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')

    // BXSlider Image
    ->appendStylesheet('/css/jquery.bxslider.css')

    // nouiSlider 6
    ->appendStylesheet('/css/jquery.nouislider.css')
    ->appendStylesheet('/css/jquery.nouislider.init.css?9000002')

    // MapBox
    ->appendStylesheet('https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css')
    ->appendStylesheet('https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.css')

    // MapBox Clustering
    ->appendStylesheet('https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css')
    ->appendStylesheet('https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css')

    ->appendStylesheet('/css/ui-application.css?9000003')
    // ->appendStylesheet('/css/fakeLoader.css?9000003')

    ."\n\n";

    echo $this->cssHelper();

    // echo $this->headLink();

    ?>

    <!-- Adaptive styles. It places here to owerwrite helper style. -->
    <link href="/css/ui-application-media-queries.css" media="screen" rel="stylesheet" type="text/css" >

    <!-- <script src="/js/lazysizes.min.js" async=""></script>     -->
    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />
</head>

<body id="page-page">


    <?php
        echo $this->render('yandex_metrika.phtml');

        //if(in_array($city_uid, array("krasnodar", "sochi", "kislovodsk", "rostovnadonu"))) echo $this->render('yandex_metrika_' . $city_uid . '.phtml');
    ?>

    <?=$this->layout()->content;?>

    <?

    $this->headScript()

    // JQUERY
    ->appendFile('/js/jquery.min.1.11.1.js', 'text/javascript' )
    // ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )
    ->appendFile('/js/jquery-ui.min.1.11.4.js', 'text/javascript' )
    ->appendFile('/js/jquery.easing.1.3.js', 'text/javascript' )

    // Lazy Image Loader
    ->appendFile('/js/lazysizes.min.js', 'text/javascript' )

    // Bootstrap
    ->appendFile('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js', 'text/javascript' )

    // MapBox
    ->appendFile('https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js', 'text/javascript' )
    ->appendFile('https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-zoomslider/v0.7.0/L.Control.Zoomslider.js', 'text/javascript' )

    // MapBox Clustering
    ->appendFile('https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js', 'text/javascript' )

    // GOOGLE MAP
    ->appendFile('http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7&language=ru-RU&key=AIzaSyATQ9YSNhMLfhS6Qpv9lHr84Pvd0rkfUuk', 'text/javascript' )

    // BxSlider (Images)
    ->appendFile('/js/jquery.bxslider.min.js', 'text/javascript' )

    //Moment.js
    ->appendFile('/js/moment.min.js', 'text/javascript' )
    ->appendFile('/js/moment.locale.ru.js', 'text/javascript' )

    // nouiSlider (Range)
    ->appendFile('/js/jquery.nouislider.min.js', 'text/javascript' )

    // ScrollTo
    ->appendFile('/js/jquery.scrollTo.min.js', 'text/javascript' )

    // Underscore
    ->appendFile('/js/underscore-min.js', 'text/javascript' )

    // UI Main JS
    ->appendFile('/js/ui-application.js', 'text/javascript' )


    ."\n\n";

    $this->javascriptHelper();

    echo $this->headScript();

    ?>
</body>
</html>