<?php
    if(!empty($this->city))
    {
        $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>' . $this->city["name"] . ' <span data-block="found" class="foundItemsLabel visible-from-440"></span> </span></a></li>';

    } else {

        $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>Город</span></a></li>';
    }
?>

<!-- // HEADER // -->
<header>
    <div class="row">

        <div class="col col-xs-5">
                <nav class="align-left">
                    <ul>
                        <li class="topnav-logo">
                            <a href="http://<? echo $_SERVER['HOSTNAME']; ?>" class="hidden-from-460"><img src="/images/logo-top-small.png" alt=""></a>
                            <a href="http://<? echo $_SERVER['HOSTNAME']; ?>" class="visible-from-460 logo"><img src="/images/logo-top-smallest.png" alt=""></a>
                        </li>
                        <?php //echo $city_selector; ?>
                        <?php if ( $this->identity && $this->identity->u_id ) { ?>
                            <li class="topnav-money-wrapper"><a href="/user/payment"><?php echo $this->identity->u_money; ?> руб.</a></li>
                            <li class="topnav-money-wrapper">Ваш ID: <?=$this->identity->u_id;?></li>
                        <?php } ?>
                    </ul>
                </nav>
        </div>

        <div class="col col-xs-7 text-right">
            <nav class="align-right topnav-right">
                <ul>

                    <? if(!$this->identity): ?>

                    <li><a class="true_link" href="#" data-toggle="modal" data-target="#modal-login">Войти</a></li>

                    <? else: ?>

                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="icon-profile-male"></i> Мой кабинет <i class="icon-angle-down"></i></a>

                        <ul class="dropdown-menu dropdown-menu-left" role="menu">
                            <li><a class="true_link"  href="/user/dashboard">Главная <i class="icon-compass4"></i></a></li>
                            <li><a class="true_link"  href="/user/rooms">Мои объекты <i class="icon-home5"></i></a></li>
                            <li><a class="true_link"  href="/user/add">Добавить объект <i class="icon-plus2"></i></a></li>
                            <li><a class="true_link"  href="/user/profile">Профиль <i class="icon-user"></i></a></li>
                            <li><a class="true_link"  href="/user/payment">Пополнение баланса <i class="icon-money"></i></a></li>
                            <li><a class="true_link"  href="/user/feedback">Обратная связь <i class="icon-help"></i></a></li>
                            <li class="divider"></li>
                            <li><a class="true_link" href="/user/logout">Выйти <i class="icon-log-out"></i></a></li>
                        </ul>
                    </li>

                    <? endif; ?>

                </ul>
            </nav>
        </div>

    </div>
</header>
<!-- // END HEADER // -->