<?
?>
<!DOCTYPE html>
<head>
    <!-- _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_
                Created and maintained by Marsel Alamdar
                COPYRIGHT 2013 - 2015, BGGSK

                user-lk
    _*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_ -->

    <title>Квартиры посуточно &mdash; Goyug.com</title>
    <link href="http://<? echo $_SERVER['HOSTNAME'];?>/favicon.ico" rel="shortcut icon" />
    <?

    // META TAGS
    $this->headMeta()

    ->appendName('keywords', 'квартиры посуточно, аренда жилья на сутки')
    ->appendName('description', 'На сайте Goyug.com вы можете подобрать жилье посуточно и без посредников. Воспользуйтесь нашим поиском на карте.')

    ->appendName('Author', 'Marsel Alamdar')
    ->appendName('robots', 'INDEX, FOLLOW')
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8');

    echo $this->headMeta()."\n\n";

    // CSS
    $this->headLink()

    // Jquery UI
    // ->appendStylesheet('//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')

    // FONTS
    ->appendStylesheet('/fonts/google/google-ptsans.css')
    ->appendStylesheet('/fonts/open-sans/style.css')
    ->appendStylesheet('/fonts/rouble/rouble-font.css')
    ->appendStylesheet('/fonts/icomoon/icomoon.css')
    ->appendStylesheet('/fonts/house-things/flaticon.css')
    ->appendStylesheet('/fonts/bebas/bebas-font.css')

    // BOOTSTRAP
    ->appendStylesheet('/css/bootstrap.min.css')

    // BootstrapValidator
    ->appendStylesheet('/css/bootstrapValidator.min.css')

    // nouiSlider 6
    ->appendStylesheet('/css/jquery.nouislider.css')
    ->appendStylesheet('/css/jquery.nouislider.init.css')

    // jQuery Select2 3.4.3
    //->appendStylesheet('/css/select2.css')

    // jQuery prettyCheckable
    ->appendStylesheet('/css/prettyCheckable.css')

    // Bootstrap Switch
    //->appendStylesheet('/css/bootstrap-switch.css')

    //iOs switch
    ->appendStylesheet('/css/switchery.min.css')

    // Fileupload
    // ->appendStylesheet('http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css')
    ->appendStylesheet('/css/blueimp-gallery.min.css')
    ->appendStylesheet('/fileupload/css/jquery.fileupload.css')
    ->appendStylesheet('/fileupload/css/jquery.fileupload-ui.css')

    // MapBox
    ->appendStylesheet('https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css')

    // HeapBox (select dropdown styling)
    ->appendStylesheet('/css/heapbox/heapbox.css')

    // SelectBoxIt (select dropdown styling) http://gregfranko.com/jquery.selectBoxIt.js
    ->appendStylesheet('/css/jquery.selectBoxIt.css')

    // FullCalendar
    // ->appendStylesheet('/css/fullcalendar.min.css')
    ->appendStylesheet('/css/fullcalendar.css')

    // DatetimePicker
    //->appendStylesheet('/css/ui-datepicker.css')

    // DropIT
    ->appendStylesheet('/css/dropit.css')

    ->appendStylesheet('/css/ui-application.css')

    //Личный кабинет
    ->appendStylesheet('/css/ui-lk.css')
    ->appendStylesheet('/css/ui-lk-media-query.css')

    // jQuery UI Datepicker Style
    ->appendStylesheet('/css/bootstrap-datetimepicker.min.css')

    // jQuery UI Datepicker Style
    ->appendStylesheet('/css/toastr.min.css')


    ."\n\n";

    echo $this->cssHelper();
    // echo $this->headLink();

    ?>

    <!-- Adaptive styles. It places here to owerwrite helper style. -->
    <link href="/css/ui-application-media-queries.css" media="screen" rel="stylesheet" type="text/css" >

    <base href="http://<?=$_SERVER['HTTP_HOST'];?>/" />
</head>

<body>

    <?php
        if(strpos($_SERVER['HTTP_HOST'], 'goyug.com') !== false) echo $this->render('yandex_metrika.phtml');
    ?>

    <?php echo $this->render('topnavbar.phtml'); ?>
    <?php echo $this->layout()->content;?>

    <?

    $this->headScript()

    // JQUERY
    // ->appendFile('/js/jquery.min-1.10.2.js', 'text/javascript' )
    ->appendFile('/js/jquery.min.1.11.1.js', 'text/javascript' )
    // ->appendFile('/js/jquery-ui-1.10.3.custom.min.js', 'text/javascript' )
    ->appendFile('/js/jquery-ui.min.1.11.4.js', 'text/javascript' )
    ->appendFile('/js/jquery.easing.1.3.js', 'text/javascript' )

    // AngularJS
    ->appendFile('/js/angular.min.js', 'text/javascript' )

    // UnderscoreJS
    ->appendFile('/js/underscore-min.js', 'text/javascript' )

    /*------------------------------------------------------------------------------------
    /* Moment JS
    --------------------------------------------------------------------------------------*/
    ->appendFile('/js/moment.min.2.8.4.js', 'text/javascript' )
    ->appendFile('/js/moment.locale.ru.js', 'text/javascript' )

    // BOOTSTRAP
    ->appendFile('/js/bootstrap.min-3.0.js', 'text/javascript' )

    /*------------------------------------------------------------------------------------
    /* Bootstrap Datetimepicker
    --------------------------------------------------------------------------------------*/
    // ->appendFile('/js/bootstrap-datetimepicker.min.js', 'text/javascript' )

    // BootstrapValidator
    ->appendFile('/js/bootstrapValidator.min.js', 'text/javascript' )
    ->appendFile('/js/bootstrapValidator.lang.ru.js', 'text/javascript' )

    // GOOGLE MAP
    ->appendFile('http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&libraries=places&key=AIzaSyATQ9YSNhMLfhS6Qpv9lHr84Pvd0rkfUuk', 'text/javascript' )
    // ->appendFile('http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7&libraries=places&key=AIzaSyATQ9YSNhMLfhS6Qpv9lHr84Pvd0rkfUuk', 'text/javascript' )
    // ->appendFile('https://maps.googleapis.com/maps/api/js?v=3.7&signed_in=true&libraries=places&language=ru-RU', 'text/javascript' )

    // GMAPS JQUERY
    // ->appendFile('/js/gmaps.js', 'text/javascript' )

    // MapBox
    ->appendFile('https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js', 'text/javascript' )

    // BxSlider (Images)
    ->appendFile('/js/jquery.bxslider.min.js', 'text/javascript' )

    // nouiSlider (Range)
    ->appendFile('/js/jquery.nouislider.min.js', 'text/javascript' )

    //Range Datepicker
    // ->appendFile('/js/moment-with-langs.js', 'text/javascript' )

    // ScrollTo
    ->appendFile('/js/jquery.scrollTo.min.js', 'text/javascript' )

    // HeapBox (select dropdown styling)
    ->appendFile('/js/jquery.heapbox-0.9.4.min.js', 'text/javascript' )

    // SelectBoxIt (select dropdown styling) http://gregfranko.com/jquery.selectBoxIt.js
    //->appendFile('/js/jquery.selectBoxIt.min.js', 'text/javascript' )

    // jQuery Select2 3.4.3
    //->appendFile('/js/select2.min.js', 'text/javascript' )
    //->appendFile('/js/select2_locale_ru.js', 'text/javascript' )

    //jQuery prettyCheckable
    ->appendFile('/js/prettyCheckable.js', 'text/javascript' )

    //Bootstrap Switch
    //->appendFile('/js/bootstrap-switch.min.js', 'text/javascript' )

    //Validator
    // ->appendFile('/js/jquery.validate.min.js', 'text/javascript' )
    // ->appendFile('/js/jquery.validate.messages-ru.js', 'text/javascript' )

    //iOs switch
    ->appendFile('/js/switchery.min.js', 'text/javascript' )

    // *** Fileupload ***
    // ******************************************************************************************************
    // The Templates plugin is included to render the upload/download listings
    ->appendFile('/js/blueimp.tmpl.min.js', 'text/javascript' )

    // The Load Image plugin is included for the preview images and image resizing functionality
    ->appendFile('/js/blueimp.load-image.min.js', 'text/javascript' )

    // *** The Canvas to Blob plugin is included for image resizing functionality
    ->appendFile('/js/blueimp.canvas-to-blob.min.js', 'text/javascript' )

    // *** blueimp Gallery script
    // ->appendFile('http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js', 'text/javascript' )
    ->appendFile('/js/jquery.blueimp-gallery.min.js', 'text/javascript' )

    // *** The Iframe Transport is required for browsers without support for XHR file uploads
    ->appendFile('/fileupload/js/jquery.iframe-transport.js', 'text/javascript' )

    // *** The basic File Upload plugin
    ->appendFile('/fileupload/js/jquery.fileupload.js', 'text/javascript' )
    // *** The File Upload processing plugin
    ->appendFile('/fileupload/js/jquery.fileupload-process.js', 'text/javascript' )
    // *** The File Upload image preview & resize plugin
    ->appendFile('/fileupload/js/jquery.fileupload-image.js', 'text/javascript' )
    // *** The File Upload audio preview plugin
    ->appendFile('/fileupload/js/jquery.fileupload-audio.js', 'text/javascript' )
    // *** The File Upload video preview plugin
    ->appendFile('/fileupload/js/jquery.fileupload-video.js', 'text/javascript' )
    // *** The File Upload validation plugin
    ->appendFile('/fileupload/js/jquery.fileupload-validate.js', 'text/javascript' )
    // *** The File Upload user interface plugin
    ->appendFile('/fileupload/js/jquery.fileupload-ui.js', 'text/javascript' )
    // ******************************************************************************************************

    // DropIt
    ->appendFile('/js/dropit.js', 'text/javascript' )

    // Общий для личного кабинета
    ->appendFile('/js/ui-lk.js', 'text/javascript' )

    // FullCalendar
    ->appendFile('/js/fullcalendar.min.js', 'text/javascript' )
    // ->appendFile('/js/fullcalendar.2.2.7.js', 'text/javascript' )
    // ->appendFile('/js/fullcalendar.locale.ru.js', 'text/javascript' )

    // FullCalendar
    ->appendFile('/js/bootstrap-datetimepicker.min.js', 'text/javascript' )

    // Masked Input
    ->appendFile('/js/jquery.maskedinput.min.js', 'text/javascript' )

    // UI Main JS
    ->appendFile('/js/ui-application.js', 'text/javascript' )

    // UI Main JS
    ->appendFile('/js/toastr.min.js', 'text/javascript' )

    ."\n\n";

    $this->javascriptHelper();

    echo $this->headScript();

    ?>

</body>
</html>