<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form">


    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("General attributes");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Public");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->at_enable;?>
                        </div>
                    </div>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->at_order->getAttrib('id');?>"><?=$this->form->at_order->getLabel();?> <i class="ico-info-sign form-help" title='Порядок сортировки влияет на порядок отображения элементов на сайте. Можно указать любое число. Например: 1, 2, 3 ...'></i></label>
                    <?=$this->form->at_order;?>
                </div><!-- /.col -->

                <div class="col-md-4">
                    <label for="<?=$this->form->at_uid->getAttrib('id');?>"><?=$this->form->at_uid->getLabel();?> <i class="ico-info-sign form-help" title='Универсальный ID. Должен содержать только латинские буквы. Используется для формирования URL. Например: apartment'></i></label>
                    <?=$this->form->at_uid;?>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("Main content");?></legend>

        <div class="form-group">
            <label for=""><?=$this->translate("Amenity name");?></label>
            <div class="row">
                <? foreach($this->langs as $lang => $loc): ?>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png"></span>
                            <?=$this->form->{"at_name_".$lang};?>
                        </div>
                    </div><!-- /.col -->
                    <? endforeach; ?>
            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <label for=""><?=$this->translate("Amenity description");?></label>
            <div class="row">
                <? foreach($this->langs as $lang => $loc): ?>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><img src="<?=IMG_PATH;?>/flag/<?=$loc['region'];?>.png"></span>
                            <?=$this->form->{"at_description_".$lang};?>
                        </div>
                    </div><!-- /.col -->
                    <? endforeach; ?>
            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset>

    <?=$this->form->at_id;?>

    <div class="submit-group">
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
        <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>
    </div>

</form>
