<?
    $ucid = $this->getHelper('PartialLoop')->view->ucid;
    $langs = $this->getHelper('PartialLoop')->view->langs;

    $contextClass = ($this->sf_enable) ? "" : "danger ";
    $contextIcon = ($this->sf_enable) ? "" : "<i class='ico-eye-close'></i> ";

    $sf_image_path = (isset($this->sf_images[0])) ? $this->sf_images[0] : "/images/no-image.png"; 

?>
<tr class="<?=$contextClass;?>>">

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="ico-wrench-2"/></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'update',  'id' => $this->sf_id));?>"><i class="ico-edit"/></i> <?=$this->translate("Edit");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'clone',   'id' => $this->sf_id));?>"><i class="ico-copy"/></i> <?=$this->translate("Clone");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable',  'customize_items' => $this->sf_id));?>"><i class="ico-eye-open"/></i> <?=$this->translate("Enable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable', 'customize_items' => $this->sf_id));?>"><i class="ico-eye-close"/></i> <?=$this->translate("Disable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete',  'id' => $this->sf_id));?>" class="modal-triger" rel="nofollow" data-modal="delete-confirm"><i class="ico-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>
    </td>


    <td><input type='checkbox' name='customize_items[]' value='<?=$this->sf_id;?>' class="chkbx"></td>
    <td><?=$contextIcon;?></td>
    <td><img src="<?=$sf_image_path;?>" alt="..." class="img-circle" style="width: 70px; height: 70px;"></td>
    <td>
        <? 
            foreach($langs as $lang => $val) 
            {
                echo $this->{"sf_name_".$val['lang']}."<br>"; 
                echo $this->{"sf_name_navbar_".$val['lang']}."<br>"; 
            }
        ?>
    </td>
    <td><?=$this->sf_uid;?></td>
    <td><?=$this->sf_objtypename;?></td>
    <td><?=$this->sf_level;?></td>
    <td><?=$this->sf_sftypename;?></td>
    <td><?=$this->sf_order;?></td>
    <td><?=$this->sf_order_navbar;?></td>

</tr>
