.container.privacy {
	padding-top: 80px;
	font-size: 18px;
	line-height: 27px;
	width: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container.privacy strong {
	font-family: 'open_sansbold';
	font-weight: normal;
}
.container.privacy h1,
.container.privacy h2,
.container.privacy h3,
.container.privacy h4 {
	margin-bottom: 30px;
	font-weight: 500;
}
.container.privacy p,
.container.privacy ul,
.container.privacy ol,
.container.privacy div {
	margin-bottom: 10px;
}
.container.privacy li > ul {
	margin-top: 10px;
}