.timepicker .btn,
.timepicker .nav > li > a.btn {
  height: auto;
}

/* Адрес */
.block.address .panel-body {
	padding-bottom: 0;
}
.block.address .module {
	display: none;
}
.block.address .module.module-city {
	display: block;
}
.block.address .module .module-label-note {
  color: red;
  transition: .2s;
}
.block.address .module.module-placemark label span {
  font-weight: normal;
}

/* Ошибка названия */
.form-group label span {
  display: none;
  font-weight: normal;
}
.form-group label span.input-notice {
  display: inline-block;
}
.form-group-error label span.input-error {
  display: inline-block;
  color: red;
}
.form-group-error label span.input-notice {
  display: none;
}
.form-group-error label {
  color: red;
}
.form-group-error input[type=text] {
  border-color: red;
}