.list-group .list-group-item{
	cursor: pointer;
}
.list-group .list-group-item:hover{
	background-color: #428BCA;
	border-color: #428BCA;
	color: #fff;
}

/* block */
.block h2{
	text-align: left;
	font-weight: normal;
	line-height: 40px;
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.block.about,
.block.addon-service {
	text-align: center;
	margin-bottom: 40px;
}
.block.about h2,
.block.addon-service h2 {
	margin-bottom: 40px;
}
.block.about h3,
.block.addon-service h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.block.addon-service h4 {
	font-size: 16px;
}
.block.addon-service h4 del {
	font-size: 14px;
	color: #939393;
}
.block.addon-service h4 span.for-free {
	color: #FB4151;
}
.block.about span {
	border: solid #FB4151 0px;
	padding: 25px;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	display: inline-block;
}
.block.about img,
.block.addon-service img {
	width: 100px;
}
.block.about .title-icon,
.block.addon-service .title-icon {
  font-size: 96px;
  line-height: 96px;
  color: #FD685B;
}
.block.addon-service .btn {
	margin-bottom: 40px;
}
.block .thanks {
	clear: both;
	margin-top: 50px;
	padding-top: 30px;
}

/* btn-dashboard-add */
.btn-dashboard-add {
	margin-bottom: 20px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* addon-service-img */
span.addon-service-img {
	width: 100px;
	height: 100px;
	display: inline-block;
}
span.addon-service-img img {
	width: 100%;
	height: 100%;
}
span.addon-service-img.addon-service-img-photomark {
	border: solid #428BCA 3px;
}
span.addon-service-img.addon-service-img-isempty {
	background-color: #d9f16c;
	width: 96px;
	height: 96px;
}

/* addon-service-preview */
.addon-service-preview {
	text-align: center;
}
.addon-service-preview img {
	max-width: 100%;
	height: auto;
}

/* block-desc-row */
.block-desc-row {
	margin-top: 40px;
	padding-top: 40px;
	border-top: dashed #ddd 1px;
}
.block-desc-row h2 {
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 54px;
}