.reason {
	color: #FB4151;
	margin-left: 5px;
	font-weight: normal;
	display: inline-block;
}
.success {
	color: #5CB85C;
	display: none;
}

/* feedback-history */
.feedback-history {
	margin-top: 10px;
}
.feedback-history h2 {
	margin-bottom: 10px;
}
.feedback-history-list {

}
.feedback-history-list .media {
	margin-bottom: 30px;
	border-bottom: dashed #ddd 1px;
	padding: 20px;
}
.feedback-history-list .media.answer {
	background: #FFF8DC;
	border-bottom: none;
}
.feedback-history-list .media-left {
	float: left;
	border: solid #ddd 1px;
	border-radius: 50%;
	padding: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
}
.feedback-history-list .media.answer .media-left {
	border: solid #DEB887 1px;
}
.feedback-history-list .media-left .media-object {
	width: 34px;
	height: 34px;
}
.feedback-history-list .media-body {
	position: relative;
	top: 12px;
}
.feedback-history-list .media-body h4 {
	font-weight: normal;
}
.feedback-history-list .media-body .date {
	color: #939393;
	font-size: 13px;
}
.feedback-history-list .media-text {
	color: #636363;
	font-size: 16px;
	line-height: 24px;
	clear: both;
}