body {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #E9F0F5;
    font-family:'PT Sans Narrow', sans-serif;
}
h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
#form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
#form-signin .logo{
    margin-bottom: 30px;
    text-align: center;
}
#form-signin .form-signin-heading {
    /*font-family:'Oleo Script Swash Caps', cursive;*/
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}
#form-signin .form-signin-heading .authtoken-expired {
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
    color: red;
}
#form-signin .form-signin-heading .authtoken-expired a {
    text-decoration: underline;
}
#form-signin .form-signin-heading .authtoken-expired a:hover {
    text-decoration: none;
}
#form-signin .checkbox {
    margin-bottom: 10px;
}
#form-signin .checkbox {
    font-weight: normal;
}
#form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#form-signin .form-control:focus {
    z-index: 2;
}
#form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#form-signin .form-group {
    margin: 0;
}
.has-error .form-control {
    background: #ffe7e7;
    border-radius: 5px;
    border-color: red;
}
.tooltip-inner {
    background-color:#CC3300;
    color:#FFFFFF;
    max-width:350px;
    padding:10px 15px;
    text-align:center;
    text-decoration:none;
}
.tooltip.right .tooltip-arrow {
    border-right-color:#CC3300;
}

a.btn-forgot {
    font-size: 18px;
    margin-top: 10px;
    color: #939393;
}

.modal {
    text-align: center;
}
.modal h2 {
    font-weight: normal;
}
.modal p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}
.modal input[type="text"] {
    font-size: 16px;
}
