h2, h3 {
	font-weight: normal;
	margin-bottom: 20px;
	line-height: normal;
}
h3 {
	font-weight: bold;
	margin-bottom: 5px;
}

.text-warning {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
	margin-top: 20px;
}

.object-wrapper {
	margin-bottom: 30px;
	color: #636363;
}

form {
	display: inline-block;
}
form .text-warning {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 20px;
}
form h3 {
	margin-bottom: 10px;
}
form .btn {
	margin-top: 10px;
	text-transform: uppercase;
	min-width: 180px;
}

.payment .icon-rub {
	position: relative;
	top: 2px;
}

.ontop-preview img {
	max-width: 100%;
}