h2, h3 {
	font-weight: normal;
	margin-bottom: 15px;
}
h2 {
	margin-top: 30px;
}

input[name="sum"] {
	width: 30%;
}

.btn {
	margin-top: 10px;
}

input[type="radio"], input[type="checkbox"] {
	margin-top: 7px;
}
.radio-inline, .checkbox-inline {
	padding-left: 10px;
}