h2, h3 {
	font-weight: normal;
	margin-bottom: 20px;
	line-height: normal;
}
h3 {
	font-weight: bold;
}
.object-wrapper {
	margin-bottom: 30px;
	color: #636363;
}

form .text-warning {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 20px;
}
form h3 {
	margin-bottom: 10px;
}
.checkbox .radio-inline {
	padding-left: 5px;
	color: #636363;
}
.checkbox .radio-inline input {
	position: relative;
	top: 4px;
	margin-left: -15px;
}
form .btn {
	margin-top: 10px;
	text-transform: uppercase;
	min-width: 180px;
}

.payment .icon-rub {
	position: relative;
	top: 2px;
}

.photomark-preview img {
	max-width: 100%;
}