.reason {
	color: #FB4151;
	margin-left: 5px;
	font-weight: normal;
	display: inline-block;
}
.checkbox label {
	font-weight: bold;
}
.checkbox input {
	position: relative;
	top: 1px;
}

/* Информация по абонплате */
.rental-info {
	border: solid #ddd 1px;
	border-left: none;
	border-right: none;
	margin-bottom: 30px;
	padding: 15px;
}
.rental-info h2 {

}
.rental-info img.rental-ico-warning,
.rental-info img.rental-ico-success {
	margin-right: 7px;
	position: relative;
	top: -2px;
}
.rental-info img.rental-ico-success {
	top: -1px;
}
.rental-info .rental-nextpay {
	padding-left: 27px;
	color: #939393;
}
.rental-info p:last-child {
	margin-bottom: 0;
}
.rental-info .btn-nextpay {
	margin-left: 27px;
}