.obj-view p,
.obj-view a {
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}
.obj-view a {
  margin-bottom: 0;
}
.obj-view h4 {
  font-family: 'bebas_neuebold';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}




/* card */
.card{
  padding: 0;
  height: auto;
  border: none;
  background-color: #fff;
}
.card:hover{
  background-color: #fff;
}
.card .photo img {
  width: 100%;
}
.card .type{
  font-size: 18px;
  font-family: 'bebas_neuebold';
  margin-bottom: 0;
}
.card .last-update{
  color: #939393;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}
.card .venueData{
  padding-left: 0;
  /*position: absolute;*/
  right: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.card .venueData li{
  font-size: 12px;
  display: inline-block;
  margin-right: 7px;
  border: 1px solid #C1D99F;
  border-radius: 15px;
  padding: 5px 13px;
}
.card .venueData .border-blue{
  border-color: #428BCA;
  color: #428BCA;
}
.card .venueData .border-red{
  border-color: #FB4151;
  color: #FB4151;
}
.card .venuePrice{
  font-family: 'bebas_neuebold';
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  line-height: 18px;
  padding: 20px 0 18px 0;
  background: #F5F5DC;
  color: #202f1f;
  border-bottom: solid #D6E9C6 2px;
}
.card .venuePrice span{
  font-size: 16px;
}
.card .venuePrice .rouble{
  font-size: 25px;
}

/* .obj-stat */
.obj-stat{
  height: auto;
  border: none;
  background-color: #fff;
}
.obj-stat h4{
  margin-top: 0;
}
.obj-stat .table{
  margin-bottom: 0;
}
.obj-stat .table tr td{
  padding: 10px 6px 4px 0;
  border-top: none;
  border-bottom: dashed #ddd 1px;
}
.obj-stat .table tr:last-child td{
  /*border-bottom: solid #ddd 1px;*/
}
.obj-stat .table tr td:last-child{
  text-align: right;
}

.btn-add-wrapper {
  text-align: right;
  position: relative;
  z-index: 10;
}
.btn-add-wrapper .btn-add,
.btn-add-wrapper .btn-mark-out{
  position: relative;
  top: 2px;
  width: 100%;
  font-size: 18px;
}

.btn-add-wrapper .btn-add i,
.btn-add-wrapper .btn-mark-out i {
  margin-right: 12px;
  position: relative;
  top: 1px;
}

.obj-view .add-menu-wrapper .line {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: solid #DDD 1px;
  clear: both;
}

.rooms.disabled,
.rooms.disabled .card,
.rooms.disabled .card a,
.rooms.disabled .card .expire,
.rooms.disabled .card .venuePrice,
.rooms.disabled .card .venueData li,
.rooms.disabled .card .border-blue {
  color: #939393;
  border-color: #939393;
}
.rooms.disabled .obj-actions p {
  text-align: center;
}
.rooms.disabled .obj-actions p.text-warning {
  font-size: 20px;
}
.rooms.disabled .obj-actions p.text-warning i {
  margin-right: 10px;
  position: relative;
  top: 2px;
}
.rooms.disabled .list-group.list-group-inline {
  text-align: center;
}
.rooms.disabled .list-group.list-group-inline .list-group-item {
  width: 100%;
}
.rooms.disabled .obj-actions .list-group.list-group-inline h4 + .list-group-item {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.rooms.disabled .obj-actions .list-group.list-group-inline .list-group-item:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.rooms .photo {
  position: relative;
}
.rooms .photo .photo-preview {
  position: relative;
}
.rooms .photo .photo-preview.photomark {
  border: solid #428BCA 3px;
}

.rooms .photo .photo-preview .options-block {
  position: absolute;
  bottom: 0;
  width: 100%
}
.rooms .photo .photo-preview .options-block ul {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
  text-align: center;
}
.rooms .photo .photo-preview .options-block ul li {
  display: inline-block;
}

/* obj-stat */
.obj-stat {

}
.obj-stat h4 {

}
.obj-stat p {
  color: #333;
}
.obj-stat span {
  font-size: 14px;
  font-family: 'PT Sans';
}
.obj-stat span.value + span.param {
  margin-left: 10px;
}
.obj-stat span.value {
  font-weight: bold;
}

/* obj-actions */
.obj-actions {
  height: auto;
  border: none;
  background-color: #fff;
}
.obj-actions .obj-actions-group-title {
  font-family: 'bebas_neuebold';
}
.obj-actions .list-group-item + h4 {
  margin-top: 15px;
}
.obj-actions .list-group {
  margin-top: 0;
  margin-bottom: 15px;
}
.obj-actions .list-group:last-child {
  margin-bottom: 0;
}
.obj-actions .list-group .list-group-item {
  font-size: 13px;
  width: 100%;
  padding: 8px 0;
  text-indent: 10px;
  line-height: 20px;
  background: #F5F5DC;
  border-color: #FFF;
  transition: .2s;
}
.obj-actions .list-group .list-group-item:hover {
  background: #D6E9C6;
}
.obj-actions .list-group:first-child .list-group-item {
  background: transparent;
  color: #333;
  line-height: 30px;
  text-indent: 0;
  padding: 6px;
  padding-left: 0;
}
.obj-actions .list-group:first-child .list-group-item:hover {
  /*background: #f2b031;*/
  text-decoration: underline;
}
.obj-actions .list-group:first-child .list-group-item.active {
  /*background: #f2b031;*/
}
.obj-actions .list-group:first-child .list-group-item.active:hover {
  /*background: #cf921c;*/
}
.obj-actions .list-group.list-group-inline {
  clear: both;
}
.obj-actions .list-group.list-group-inline .list-group-item {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  text-indent: 0;
}
.obj-actions .list-group.list-group-inline .list-group-item span {
  margin-right: 0;
}
.obj-actions .list-group.list-group-inline h4 + .list-group-item {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.obj-actions .list-group.list-group-inline .list-group-item:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.obj-actions .list-group .list-group-item span {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  /*border: solid #ccc 1px;*/
  display: inline-block;
  vertical-align: bottom;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.obj-actions .list-group .list-group-item.active span:after {
  content: '';
  width: 18px;
  height: 18px;
  background: #fff url('/images/obj-actions/obj-actions-active.svg') center center no-repeat;
  background-size: 10px;
  position: absolute;
  left: 15px;
  top: 3px;
  border-radius: 50%;
  border: solid #5CB85C 1px;
}
.obj-actions .list-group .list-group-item.btn-ontop span {
  background-image: url('/images/obj-actions/obj-actions-ontop.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 8px;
}
.obj-actions .list-group .list-group-item.btn-photomark span {
  background-image: url('/images/obj-actions/obj-actions-photomark.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 8px;
}
.obj-actions .list-group .list-group-item.btn-isempty span {
  background-image: url('/images/obj-actions/obj-actions-isempty.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 8px;
}
.obj-actions .list-group .list-group-item.btn-sale span {
  background-image: url('/images/obj-actions/obj-actions-sale.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 8px;
}
.obj-actions .list-group .list-group-item.btn-hotorder span {
  background-image: url('/images/obj-actions/obj-actions-hotorder.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 8px;
}
.obj-actions .list-group .list-group-item.btn-paramsorder span {
  background-image: url('/images/obj-actions/obj-actions-paramsorder.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 8px;
}
.obj-actions .list-group .list-group-item.btn-calendar span {
  background-image: url('/images/obj-actions/obj-actions-calendar.svg');
}
.obj-actions .list-group .list-group-item.btn-edit span {
  background-image: url('/images/obj-actions/obj-actions-edit.svg');
}
.obj-actions .list-group .list-group-item.btn-enable span {
  background-image: url('/images/obj-actions/obj-actions-enable.svg');
}
.obj-actions .list-group .list-group-item.btn-disable span {
  background-image: url('/images/obj-actions/obj-actions-disable.svg');
}
.obj-actions .list-group .list-group-item.btn-delete {
  background-color: #FB4151;
  color: #fff;
}
.obj-actions .list-group .list-group-item.btn-delete:hover {
  background-color: #df3b49;
}
.obj-actions .list-group .list-group-item.btn-delete span {
  background-image: url('/images/obj-actions/obj-actions-delete.svg');
}

/* card */
.card p {
  font-size: 13px;
}
.card .desc p.addr {
  line-height: 24px;
  margin-bottom: 15px;
}
.card .desc a {
  top: 0;
  font-size: 24px;
  font-family: 'bebas_neuebold';
}
.card .view-on-site {
  float: right;
  text-align: right;
  line-height: 16px;
}
.card .view-on-site a {
  color: #939393;
  font-size: 14px;
  line-height: 16px;
  font-family: 'PT Sans';
}

/* promo */
.promo {
  margin-top: 15px;
}
.promo * {
  font-family: 'PT Sans';
}
.promo .one {
  display: none;
}
.promo .one.active {
  display: block;
}
.promo .one table {
  font-size: 12px;
  margin-bottom: 3px;
  color: #333;
  width: 100%;
}
.promo .one table tr td {
  padding: 8px;
  border-bottom: dashed #cdcdcd 1px;
}
.promo .one table tr:first-child td {

}
.promo .one table tr:last-child td {

}
.promo .one table tr td:first-child {
  padding-left: 0;
  font-size: 12px;
  font-weight: bold;
}
.promo .one table tr td:last-child {
  text-align: right;
  padding-right: 0;
  font-size: 11px;
}