body
{
    background: #f2f2f2;
}
.alert-success
{
	background: #C2E4E7;
	border: none;
	color:  #565A5C;
	font-size: 24px;
	padding: 24px 36px;
}
.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    border: none;
}
/********************************************************************************* Object - Info */
.obj-view
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 16px;
    /*margin: 100px 0 0 0;*/
}

.obj-view-content
{
    width: 100%;
    /*background: gray;*/
}
.obj-view-content .container
{
    padding: 110px 0 0 0;
    /*border: 1px solid red;*/
}

h1
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;

    margin: 0;
    padding: 0;

    color: #000;
}

h2
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;

    margin: 0;
    padding: 0;

    color: #000;
}

h3
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    margin: 0 0 12px 0;
    padding: 0;

    color: #000;
}

h3.rounded
{
    /*height: 30px;*/
    display: inline-block;

    padding: 6px 15px 5px 15px;

    border: 1px solid #000;
    border-radius: 15px;
}
.obj-view-navbar
{
    height: 60px;
    margin: 50px 0 0 0;
    padding: 18px 0 0 0;

    background: #dbdedb;
    border-bottom: 1px solid #babbba;
    z-index: 100;
}

.obj-view-navbar .inner-link
{
    font-size: 18px;

    margin: 0 0 0 15px;

    color: #343434;
}

.obj-view-navbar a
{
    font-size: 16px;
    margin: 0 0 0 15px;
    color: #343434;
    margin-right: 10px;
}
.obj-view-navbar a.active
{
	border: 1px solid #FFE63F;
	background: #FFE63F;
	border-radius: 20px;
	padding: 6px 12px;
	text-decoration: none;
	color: #313544;
}


.obj-view .col-lg-7,
.obj-view .col-lg-5
{
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}
.obj-view-pager
{
    margin-bottom: 0;
}
.obj-view-sidebar
{
    padding: 116px 0 0 0;
}





/********************************************************************************* BxSlider v4.1.2 */

/** RESET AND LAYOUT
===================================*/
.bx-wrapper
{
    position: relative;

    width: 100%;
    margin-top: 25px;
    /*margin: 0 auto */
    padding: 0;

    *zoom: 1;
    z-index: 1001;
}
.bx-wrapper img
{
    display: block;

    max-width: 100%;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport
{
    /*    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
*/
    /*border: 5px solid #fff;*/
    left: 0;
    left: 0;
    /*fix other elements on the page moving (on Chrome)*/

    -webkit-transform: translatez(0);
    -webkit-transform: translateZ(0px);
       -moz-transform: translatez(0);
        -ms-transform: translatez(0);
         -o-transform: translatez(0);
            transform: translatez(0);

    border: none;
    background: #fff;
/*    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
*/
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto
{
    position: absolute;
    bottom: -30px;

    width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading
{
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /*min-height: 300px;*/

    background: url(../images/ui/bxslider/bx_loader.gif) center center no-repeat #fff;
}
/* PAGER */
.bx-pager
{
    font-size: .85em;

    margin-left: 0;
    padding-top: 16px;

    text-align: center;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item
{
    display: inline-block;

    *zoom: 1;
    *display: inline;
}
.bx-pager a
{
    display: block;
    float: left;
    overflow: hidden;

    width: 112px;
    height: 87px;
    margin: 0 15px 15px 0;
    padding: 5px;

    -webkit-transform: translateZ(0px);

    border: 1px solid #ddd;
    outline: 0;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
}
.bx-pager a.active
{
    border: 1px solid #ff6e28;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active
{
    background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev
{
    left: 10px;

    background: url(../../../images/ui/bxslider/controls-tutorial.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next
{
    right: 15px;

    background: url(../../../images/ui/bxslider/controls-tutorial.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover
{
    background-position: 0 0;
}
.bx-wrapper .bx-next:hover
{
    background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a
{
    position: absolute;
    z-index: 2;
    top: 50%;

    width: 32px;
    height: 32px;
    margin-top: -16px;

    text-indent: -9999px;

    outline: 0;
}
.bx-wrapper .bx-controls-direction a.disabled
{
    display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto
{
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start
{
    display: block;

    width: 10px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
    background: url(../../../images/ui/bxslider/controls-tutorial.png) -86px -11px no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active
{
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop
{
    display: block;

    width: 9px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
    background: url(../../../images/ui/bxslider/controls-tutorial.png) -86px -44px no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active
{
    background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager
{
    width: 80%;

    text-align: left;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
{
    right: 0;

    width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: #666\9;
    background: rgba(80, 80, 80, .75);
}
.bx-wrapper .bx-caption span
{
    font-family: Arial;
    font-size: .85em;

    display: block;

    padding: 10px;

    color: #fff;
}


/********************************************************************************* Tutorial - Slider */
.bxslider-tutorial li
{
    width: 100%;
    height: 600px;

    text-align: center;
    box-shadow: none;
    /*padding-top: 120px;*/
}
.bxslider-tutorial li h1
{
    margin: 25px 0 65px 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    width: 850px;
    margin: 10px auto 35px auto;
    color: #fff;
}
.bxslider-tutorial li a
{
    text-decoration: none;
}
.bxslider-tutorial li div.img
{
    /*height: 200px;*/
    position: relative;

    margin: 0 0 0 0;
}
.bxslider-tutorial li div.img img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*max-height: 200px;*/

    max-width: 100%;
    margin: auto;
}
.bxslider-tutorial .slider-1
{
    background: #2CBAE7;
    color: #FFF;
    padding-top: 160px;
}

.tutorial-big-logo
{
    height: 92px;
    width: 300px;
    /*border: 1px solid red;*/
    background: url(../../../images/ui/logo-300x92.png) 0 0 no-repeat;
    margin: 0 auto;
}
.bxslider-tutorial .slider-2
{
    background: #31CCB0;
    color: #FFF;
    padding-top: 60px;
}
.bxslider-tutorial .slider-2 .tutorial-icon-2
{
    height: 200px;
    width: 224px;
    /*border: 1px solid red;*/
    background: url(../../../images/ui/house-1.png) 0 0 no-repeat;
    margin: 0 auto;
}

.bxslider-tutorial .slider-3
{
    background: #3C485F;
}
.bxslider-tutorial .slider-4
{
    background: #F3F1F1;
    color: #000;
    padding-top: 50px;
}
.bxslider-tutorial .slider-4 h1
{
    color: #000;
    margin: 20px auto 20px auto;
}
.bxslider-tutorial .slider-4 h2
{
    color: #2cbae7;
    margin: 0 auto 45px auto;
}
.bxslider-tutorial .slider-4 .btn-bordered-big
{
    color: #000;
    border-color: #000;
}


.progress
{
    border-radius: 0;
    box-shadow: none;
    position: relative;
    z-index: 1001;
}
.progress-bar-success
{
    background: #EE746C;
}

.bxslider-tutorial .slider-5
{
    background: #2CBAE7;
    color: #FFF;
    padding-top: 160px;
}
.bxslider-tutorial .slider-5 h1
{
    color: #FFF;
    margin: 20px auto 20px auto;
}
.bxslider-tutorial .slider-5 h2
{
    color: #FFF;
    margin: 0 auto 45px auto;
}


/********************************************************************************* Buttons Style */
.btn-bordered-big
{
    text-decoration: none;
    border-radius: 0;

    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 10px 15px;
    color: #FFF;
    border: 1px solid #FFF;
}
.btn-bordered-big:hover
{
    background: #FFF;
    color: #000;
}
.white
{
    color: #FFF;
}


.icon-agreement
{
    height: 200px;
    width: 141px;
    background: url(../../../images/ui/icon-agreement.png) 0 0 no-repeat;
    margin: 30px auto 0 auto;

}
.agreement-text
{
    width: 800px;
    height: 100px;
    border: 1px solid #FFF;
    overflow: auto;
    font-size: 9px;
    color: #FFF;
    margin: 0 auto 30px auto;
}

.icon-percent
{
    height: 200px;
    width: 200px;
    background: url(../../../images/ui/icon-percent.png) 0 0 no-repeat;
    margin: 30px auto 0 auto;

}
