#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sortable li {
  margin: 0px 10px 10px 0;
  padding: 1px;
  float: left;
  width: 210px;
  height: 160px;
  text-align: center;
  position: relative;
  border: dashed #ddd 1px;
  padding: 4px;
  background-color: #fff;
}
#sortable li:first-child {
  background-color: #FB4151;
  border: solid #FF6E31 1px;
}
#sortable li img {
  cursor: move;
}
.first{
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 32px;
  width: 100px;
  text-align: center;
  background-color: #5CB85C;
  color: #fff;
}
#sortable li:first-child .first{
  display: block;
}
#sortable li .btn{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#sortable li.ui-state-highlight {
  height: 160px;
  background-color: #F5F5DC;
  border: dashed #D6E9C6 1px;
}

.timepicker .btn,
.timepicker .nav > li > a.btn {
  height: auto;
}

/* Адрес */
.block.address .panel-body {
  padding-bottom: 0;
}
.block.address .module .module-label-note {
  color: red;
  transition: .2s;
}
.block.address .module.module-placemark label span {
  font-weight: normal;
}

/* Ошибка названия */
.form-group label span {
  display: none;
  font-weight: normal;
}
.form-group label span.input-notice {
  display: inline-block;
}
.form-group-error label span.input-error {
  display: inline-block;
  color: red;
}
.form-group-error label span.input-notice {
  display: none;
}
.form-group-error label {
  color: red;
}
.form-group-error input[type=text] {
  border-color: red;
}