<?
    require_once("Util.php");
    
    // I\O
    if(empty($this->l_io))  $io = "";
    elseif( $this->l_io == "in" )   $io = "<i class='icon-signin'></i>";
    elseif( $this->l_io == "out" )   $io = "<i class='icon-signout'></i>";
    
    // Status
    if($this->l_status == "success") 
        $status = "<span class='label label-success'>Success</span>";
    elseif($this->l_status == "error")
        $status = "<span class='label label-important'>Error</span>";
    else
        $status = "";
        
    
    // Object
    if(!empty($this->l_object))
    {
        $obj_decode = json_decode( $this->l_object );
        if(!empty($obj_decode))
        {
            $object_arr = get_object_vars ( $obj_decode );
            $object = "";
            
            foreach($object_arr as $name => $value)
            {
                if($name != "controller" && $name != "module" && $name != "action" && $name != "error_handler") $object .= "<strong>".$name.":</strong> ".$value."<br>";
            }
        }
    }
    
    // Msec
    list($sec, $msec) = explode(".", $this->l_msec);
?>
<tr>
    <td class="center"><input type='checkbox' name='customize_items[]' value='<?=$this->l_id;?>' class="chkbx"></td>          
    <td class="left"><?=Util::getHumanDate($this->l_date, "-", true, true)." ".$msec;?></td>
    <td class=""><?=$io;?></td>
    <td class=""><a href="#" class="filter_param" name="f_l_ip"><?=$this->l_ip;?></a></td>
    <td class="left">/<a href="#" class="filter_param" name="f_l_controller"><?=$this->l_controller;?></a>/<a href="#" class="filter_param" name="f_l_action"><?=$this->l_action;?></a></td>          
    <td class="left"><?=$status;?></td>          
    <td class="left">
        <strong><a href="#" class="toggle">object</a></strong>
        <div class="toggle_item">
            <h4>Request</h4>
            <?=$object;?>
            <br>
            <strong>Response:</strong> <? echo $this->l_result; ?><br>
            <strong>Useragent:</strong> <?=$this->l_useragent;?>
        </div>
    </td>          
    <td class="left"><a href="#" class="filter_param" name="f_l_username"><?=$this->l_username;?></a></td>          
</tr>
