<?
    $ucid = $this->getHelper('PartialLoop')->view->ucid;

    $contextClass = ($this->enable) ? "" : "error ";
    $contextIcon = ($this->enable) ? "" : "<i class='icon-eye-close'></i> ";
?>
<tr class="<?=$contextClass;?>>">

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="ico-cog"/></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'update',  'id' => $this->id));?>"><i class="icon-hdd"/></i> <?=$this->translate("Edit");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'create',  'pid' => $this->id));?>"><i class="icon-plus-sign"/></i> <?=$this->translate("Create child item");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'clone',   'id' => $this->id));?>"><i class="icon-copy"/></i> <?=$this->translate("Clone");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable',  'customize_items' => $this->id));?>"><i class="icon-eye-open"/></i> <?=$this->translate("Enable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable', 'customize_items' => $this->id));?>"><i class="icon-eye-close"/></i> <?=$this->translate("Disable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete',  'id' => $this->id));?>" class="modal-triger" rel="nofollow" data-modal="delete-confirm"><i class="icon-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>
    </td>


    <td>
        <input type='checkbox' name='customize_items[]' value='<?=$this->id;?>' class="chkbx">
    </td>
    <td>
        <div class="col-md-4 col-md-offset-<?=$this->level;?>"><?=$contextIcon;?> <?=$this->name;?>&nbsp;(<?=$this->items;?>)</div>
    </td>
    <td><span class="label label-success"><?=$this->tpl_name;?></span> <a href="<?=$this->url(array('controller' => 'apttemplates', 'action' => 'update',  'id' => $this->tpl_id));?>" title="<?=$this->translate("Edit ") . $this->tpl_name;?>"><i class="icon-edit"></i></a></td>

</tr>
