<?
    $locale         = new Zend_Session_Namespace('locale');
    $curlang        =  $locale->curlocale;

    $contextClass = "";
    $contextClass .= ($this->top_enable) ? "" : "error ";
?>
<tr class="<?=$contextClass;?>>">
    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-cog"/></i>
                <span class="caret"/></span>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'update', 'id' => $this->top_id));?>"><i class="icon-pencil"/></i> <?=$this->translate("Edit");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'clone', 'id' => $this->top_id));?>"><i class="icon-copy"/></i> <?=$this->translate("Clone");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete', 'id' => $this->top_id));?>" data-confirm="WARNING: This will also delete all data related to '<?=$this->name;?>'. This cannot be undone. Are you sure you want to delete '<?=$this->name;?>'?" data-disable-with="Deleting..." data-method="delete" rel="nofollow"><i class="icon-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>

    </td>
    <td><?=$this->{"top_name_".$curlang['lang']};?></td>
    <td><?=$this->{"top_values_".$curlang['lang']};?></td>
    <td><?=$this->{"top_unit_".$curlang['lang']};?></td>
    <td><?=$this->top_uid;?></td>
    <td><?=$this->top_type;?></td>
</tr>