<?
    require_once("Util.php");
    $view = $this->getHelper('PartialLoop')->view;

    $p_public = ($this->p_public)?"<img src=\"/img/ai/on.png\" />":"<img src=\"/img/ai/off.png\" />";

    //Get URL filter params & page
    $params = $view->f_prm;
?>
<tr>
	<td align="center"><a href="<?= $this->url(array_merge($params, array('id' => $this->p_id, 'action' => 'update'))); ?>" title="Редактировать"><img src="/img/ai/edit.png" /></a></td>
    <td align="center"><input type='checkbox' name='customize_items[]' value='<?=$this->p_id;?>'></td>          
    <td align="center"><?=$p_public;?></td>
    <td><?=Util::getHumanDate($this->p_date, "-", true);?></td>
    <td><?=$this->p_title;?></td>
    
    <td class="links_1"><a href="<?=$this->url(array_merge($params, array('id' => $this->p_id, 'action' => 'delete'))); ?>" title="Удалить" onClick="return confirm('Вы уверены что хотите удалить эту запись?')"><img src="/img/ai/delete.png" /></a></td>
</tr>