<?php
    $icons = array(
                                'index' => 'icon-home',
                            'datadict' => 'icon-archive',
                            'renttype' => 'icon-time',
                            'objecttype' => 'icon-sitemap',
                            'acctype' => 'icon-key',
                            'legalform' => 'icon-briefcase',
                            'amenity' => 'icon-gift-2',
                            'restriction' => 'icon-minus-sign',
                            'sys' => 'icon-cogs',
                            'config' => 'icon-cog-2',
                            'reset' => 'icon-cogs',
                            'manageobjects' => 'icon-office',
                            'object' => 'icon-building',
                            'parameter' => 'icon-superscript',
                            'service' => 'icon-coffee',
                            'equipment' => 'icon-laptop',
                            'period' => 'icon-time',
                            'owner' => 'icon-user-5',
                            'user' => 'icon-users',
                            'customer' => 'icon-group',
                            'smartfilters' => 'icon-random',
                            'smartfilters' => 'icon-filter',
                            'sftype' => 'icon-filter',
                            'kladr' => 'icon-location-2',
                            'city' => 'icon-location-2',
                            'log' => 'icon-paragraph-justify',
                            'tools' => 'icon-hammer',
                            'dbdump' => 'icon-upload-alt',
                            'feedback' => 'icon-bubbles4',
                            'parser' => 'icon-connectdevelop',
                            'spitiparser' => 'icon-connectdevelop',
                            'sutochnoparser' => 'icon-connectdevelop',
    );

    ?>
        <li><a href="<?=$this->url(array('controller' => 'index', 'action' => 'index'), 0, true);?>"><?=$this->translate('Homepage');?></a></li>
    <?

    foreach($this->pages as $id => $page)
    {
        if($id < count($this->pages) - 1)
        {

            if(isset($page->params['dropdown']))
            {
            ?>
            <li>
                <div class="btn-group btn-group-sm">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?=$this->translate($page->getLabel());?></a>
                    <ul class="dropdown-menu" role="menu">
                        <?
                            $sub_pages = $page->getPages();

                            foreach($sub_pages as $sub_page)
                            {

                                if(isset($icons[$sub_page->getController()]))
                                    $icon = $icons[$sub_page->getController()];
                                elseif (isset($icons[$sub_page->getAction()]))
                                    $icon = $icons[$sub_page->getAction()];
                                else
                                    $icon = "icon-ok-sign";

                            ?>
                            <li><a href="<?=$this->url(array('controller' => $sub_page->getController(), 'action' => $sub_page->getAction()), 0, true);?>"><i class="<?=$icon;?>"></i> <?=$this->translate($sub_page->getLabel());?></a></li>

                            <?

                            }
                        ?>
                    </ul></div>
            </li>
            <?
            } else {
            ?>
                <li><a href="<?=$this->url(array('controller' => $page->getController(), 'action' => $page->getAction()), 0, true);?>"><?=$this->translate($page->getLabel());?></a></li>
            <?
            }

        } else {
            ?>
                <li><?=$this->translate($page->getLabel());?></li>
            <?
        }
    }
?>