<?
    $currentPpage = $this->navigation()->findOneByController( Zend_Controller_Front::getInstance()->getRequest()->controller );
?>

<ul id="gn-menu" class="gn-menu-main nav navbar-nav">
    <li class="gn-trigger pull-left">
        <a class="gn-icon-menu"><i class="icon-menu2"></i></a>

        <!-- .nav -->
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    <?
                        $icons = array(
                            'index' => 'icon-home',
                            'datadict' => 'icon-archive',
                            'renttype' => 'icon-time',
                            'objecttype' => 'icon-sitemap',
                            'acctype' => 'icon-key',
                            'legalform' => 'icon-briefcase',
                            'amenity' => 'icon-bed',
                            'restriction' => 'icon-forbidden',
                            'sys' => 'icon-cogs',
                            'config' => 'icon-equalizer',
                            'reset' => 'icon-database2',
                            'manageobjects' => 'icon-office',
                            'object' => 'icon-building',
                            'parameter' => 'icon-superscript',
                            'service' => 'icon-coffee',
                            'equipment' => 'icon-laptop',
                            'period' => 'icon-history2',
                            'owner' => 'icon-shop2',
                            'user' => 'icon-users3',
                            'customer' => 'icon-group',
                            'smartfilters' => 'icon-random',
                            'smartfilters' => 'icon-filter',
                            'sftype' => 'icon-filter',
                            'kladr' => 'icon-compass4',
                            'log' => 'icon-unread',
                            'city' => 'icon-location2',
                            'tools' => 'icon-hammer',
                            'dbdump' => 'icon-download8',
                            'feedback' => 'icon-bubbles4',
                            'parser' => 'icon-connectdevelop',
                            'spitiparser' => 'icon-connectdevelop',
                            'sutochnoparser' => 'icon-connectdevelop',
                        );

                        foreach ($this->container as $page)
                        {
                            if ($page->isVisible() && $this->navigation()->accept($page))
                            {
                                if(isset($icons[$page->getController()]))
                                {
                                    $icon = $icons[$page->getController()];
                                }
                                elseif (isset($icons[$page->getAction()]))
                                {
                                    $icon = $icons[$page->getAction()];
                                }
                                else
                                {
                                    $icon = "icon-ok-sign";
                                }

                                //********************************************* ACTIVE PAGE ************************************************
                                $activePageClass = ($page->isActive() || $page->getLabel() == $currentPpage) ? " class='active'" : "";

                                echo "  <li".$activePageClass.">
                                <a href='" . $this->url(array( 'action' => $page->getAction(), 'controller' => $page->getController() ), null, true) . "' class='gn-icon ".$icon."'><span>" . $this->translate( $page->getLabel() ) . "</span></a>";

                                //********************************************* SUBPAGES ************************************************
                                $subcontainer = $page->getPages();
                                if(count($subcontainer) > 0)
                                {
                                    echo "<ul>";
                                    foreach ($subcontainer as $subpage)
                                    {
                                        $icon = (isset($icons[$subpage->getController()])) ?  $icons[$subpage->getController()] : "icon-ok-sign";

                                        $activeSubPageClass = ($subpage->isActive() || $subpage->getLabel() == $currentPpage) ? " class='active'" : "";

                                        echo "<li".$activeSubPageClass."><a href='" . $this->url(array('action' => $subpage->getAction(), 'controller' => $subpage->getController() ), null, true) . "' class='gn-icon ".$icon."'><span>" .  $this->translate( $subpage->getLabel() ) . "</span></a></li>";
                                    }
                                    echo "</ul>";
                                }

                                echo "</li>";

                            }

                        }
                    ?>

                </ul><!--/.gn-menu-->
            </div><!-- /.gn-scroller -->
        </nav>
        <!-- /.nav -->

    </li>
</ul>

<?
