<? if($this->alertErrorMessage): ?>
<div class="alert alert-error">
    <button type="button" class="close fui-cross" data-dismiss="alert"></button>
    <?php echo $this->alertErrorMessage?>
</div>
<? endif; ?>

<form method="<?=$this->form->getMethod();?>" action="<?=$this->form->getAction();?>" id="form-signin" data-async>
    <h2 class="form-signin-heading"><img src="/images/ui/logo-mid-white.png"></h2>

    <div class="form-group">
        <?=$this->form->u_username;?>
    </div>

    <div class="form-group">
        <?=$this->form->u_password;?>
    </div>

    <input type="hidden" name="action" value="dologin">
    <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="<?=$this->translate('Checking');?>..."><i class="ico-key prm"></i> <?=$this->translate("Login");?></button>
</form>

<div id='spinner'></div>
