<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form">

    <fieldset id="fieldset-u_group2"><legend><?=$this->translate("Account");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <label for="<?=$this->form->u_password->getAttrib('id');?>"><?=$this->form->u_password->getLabel();?></label>
                    <?=$this->form->u_password;?>
                </div><!-- /.col -->
                
            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>


    <?=$this->form->u_id;?>

    <div class="submit-group">
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
        <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>
    </div>

</form>
