<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-top-shadow">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#level-search"><i class="ico-search"></i> Поиск</a></li>
                    <li><a href="/#level-apartments">Апартаменты</a></li>
                    <li><a href="/#level-flats">Квартиры</a></li>
                    <li><a href="/#level-map"><i class="ico-map"></i> Карта</a></li>
                    <li class="active"><a href="/help"><i class="ico-info-2"></i> Помощь</a></li>
                    <li><a href="/#level-contacts">Контакты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button type="button" class="btn btn-success">Войти</button> <i class="oror"><strong>или</strong></i> <button type="button" class="btn btn-default">Регистрация</button></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="level level-0-1" id="level-search">
    <div class="container">
        <h1><i class="ico-info-2"></i> Центр помощи</h1>
        <h2 class="pull-center">В стадии разработки</h2>

        <form class="form-inline" role="form" id="level-search-form">
            <div class="row">
                <div class="col-xs-11"><input type="text" class="form-control" id="search-help" placeholder="Найти в центре помощи..."></div>
                <div class="col-xs-1"><button type="submit" class="form-control btn btn-default">Искать</button></div>
            </div>
        </form>

        <div class="clearfix"></div>
    </div>
</div>


<div class="row" id="level-help">
    <div class="container">

        <div class="col-lg-8">

            <h1>Как снимать жилье</h1>
            <hr>

            <h3><span class="label label-warning">ШАГ 1</span> Начните поиск</h3>
            <p>Найдите подходящее жилье, указав пункт назначения, даты поездки и количество гостей на главной странице Airbnb или на странице поиска.</p>

            <h3><span class="label label-warning">ШАГ 2</span> Связаться через Apartkvartira</h3>
            <p>Отправьте хозяевам сообщение, нажав на синюю кнопку «Свяжитесь со мной» под фотографией. Задавайте любые вопросы и уточняйте доступность жилья на интересующие вас даты. Мы рекомендуем связываться сразу с несколькими хозяевами: вы можете отправить им одинаковое сообщение. Хозяин увидит вашу контактную информацию только после подтверждения бронирования, что позволит вам в целях безопасности не раскрывать свои личные данные понапрасну.</p>

            <h3><span class="label label-warning">ШАГ 3</span> Забронируйте</h3>
            <p>Чтобы отправить хозяину официальный запрос на бронь, нажмите на зеленую кнопку «Забронировать» на странице объявления. У хозяина будет 24 часа, чтобы на него ответить (если хозяин не отвечает вовремя, срок действия запроса истекает.) Если вы видите в объявлении отметку «Мгновенное бронирование», вам не нужно предварительно связываться с хозяином или ждать его подтверждения, чтобы забронировать жилье. В этом случае, нажав «Забронировать» вы мгновенное бронируете жилье.</p>

            <h3><span class="label label-warning">ШАГ 4</span> Путешествуйте</h3>
            <p>До вашей поездки осталось уже совсем немного! Но прежде чем отправиться в дорогу, свяжитесь с хозяином, чтобы договориться о времени прибытия и передаче ключей. Всю информацию о своей поездке, включая контактные данные хозяина, вы всегда найдете в разделе «Мои поездки».</p>


            <br><br>
            <h1>Как сдавать жилье</h1>
            <hr>

            <h3><span class="label label-info">ШАГ 1</span> Дайте объявление</h3>
            <p>Объявление на Airbnb создается абсолютно бесплатно. Нажмите на желтую кнопку «Сдайте свое жилье» в правом верхнем углу любой страницы. Откроется форма, в которую вы сможете ввести информацию о жилье. Изменить детали объявления вы сможете в любой момент. Ваше объявление не будет опубликовано до тех пор, пока вы не будете полностью готовы. Поэтому смелее нажимайте «Продолжить» и продолжайте заполнять форму.</p>

            <h3><span class="label label-info">ШАГ 2</span> Общайтесь</h3>
            <p>Вы должны чувствовать себя комфортно с гостями, которые у вас останавливаются. Поэтому Airbnb предлагает вам множество инструментов для общения и проверки потенциальных гостей. Вы не обязаны принимать запрос на бронирование, если не уверены на 100%.</p>

            <h3><span class="label label-info">ШАГ 3</span> Бронируйте</h3>
            <p>Кого принимать в своем доме можете решить только вы. Когда вы получаете запрос на бронь, у вас есть 24 часа, чтобы принять или отклонить его. Через сутки срок его действия истекает. Мы советуем вам ответить на запрос, даже если вы не можете его принять, поскольку истекшие запросы отрицательно влияют на ваше положение в результатах поиска и ваш рейтинг ответов.</p>

            <h3><span class="label label-info">ШАГ 4</span> Принимайте гостей</h3>
            <p>Еще немного и деньги ваши! Осталось сделать несколько вещей, чтобы перейти к самому интересному — встрече с гостями и получению оплаты.</p>

            <br><br>
            <h1><i class="ico-rocket-2"></i> Наши стандарты</h1>
            <hr>

            <h3>Соответствие описанию и фото</h3>
            <p>Фотографии, указание на тип помещения, количество спален, общее описание должны точно отображать действительность, с которой столкнутся гости.</p>

            <h3>Общение</h3>
            <p>Отвечайте на все заявки и запросы бронирования в течение суток.</p>




        </div>

        <div class="col-lg-4">

            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading"><span class="label label-border"><i class="ico-dollar"></i> <i class="ico-long-arrow-right"></i> <i class="ico-office"></i></span> Как снимать жилье</h4>
                    <p class="list-group-item-text">
                        <br>
                        <ul>
                            <li>Начните поиск</li>
                            <li>Свяжитесь с Apartkvartira</li>
                            <li>Забронируйте</li>
                            <li>Путешествуйте</li>
                        </ul>
                </a>

                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading"><span class="label label-border"><i class="ico-office"></i> <i class="ico-long-arrow-right"></i> <i class="ico-dollar"></i></span> Как сдавать жилье</h4>
                    <p class="list-group-item-text">
                        <br>
                        <ul>
                            <li>Дайте объявление</li>
                            <li>Общайтесь</li>
                            <li>Бронируйте</li>
                            <li>Принимайте гостей</li>
                        </ul>
                    </p>
                </a>

                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading"><span class="label label-border"><i class="ico-rocket-2"></i></span> Наши стандарты</h4>
                    <p class="list-group-item-text">
                        <br>
                        <ul>
                            <li>Соответствие описанию и фото</li>
                            <li>Общение</li>
                            <li>Свободные дни</li>
                            <li>Обязательства</li>
                            <li>Чистота</li>
                            <li>Удобства</li>
                            <li>Добро пожаловать</li>
                            <li>Поддержка</li>
                            <li>Отзывы</li>
                        </ul>
                    </p>

                </a>

                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading"><span class="label label-border"><i class="ico-warning-sign"></i></span> Правила</h4>
                </a>

                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading"><span class="label label-border"><i class="ico-support"></i></span> Доверие и безопасность</h4>
                </a>
            </div>


    </div>
</div>

