/* # Marsel Alamdar
    # 2013-2015
    # GoYug!
================================================== */


/* Table of Contents
   ==================================================

    # -- Imports

    # -- Main
    # -- Pages
    # -- Patterns
    # -- Social

    # -- Preloader
    # -- Header

    # -- Home Page
    # -- Countdown

    # -- Content
    # -- About
    # -- Newsletter
    # -- Team
    # -- Twitter
    # -- Services

    # -- Footer
    # -- Subscribe
    # -- Feedback
    # -- Contacts

   ==================================================
*/


/* # -- IMPORTS
================================================== */

@import url('static/css/reset.css');
@import url('static/css/colors.css');


/* # -- MAIN STYLES
================================================== */

*
{
    font-family: 'open_sanslight';

    outline: 0;
}

html,
body
{
    font-size: 18px;

    width: 100%;
    height: 100%;

    background: #fff;
}

.visible-from-460 {
    display: none;
}
.clear {
    clear: both;
}

a
{
    -webkit-transition: color .2s;
       -moz-transition: color .2s;
         -o-transition: color .2s;
            transition: color .2s;
    text-decoration: underline;
    /*text-decoration: none;*/
}
a:hover
{
    text-decoration: none;
}

p
{
    line-height: 1.4em;
}

h1
{
    font-family: 'open_sanslight';
    font-size: 2.666666667em;
    font-weight: normal;
    /*line-height: 2.666666667em;*/

    margin-top: 30px;

    color: #fff;
}
.body h1
{
    color: #000;
}
h1 a
{
    text-decoration: underline;
}
h1 a:hover
{
    text-decoration: none;
}

h2
{
    font-size: 1.333333333em;
}
h3
{
    font-size: 1em;
}
h4
{
    font-size: .777777778em;
}
h5
{
    font-size: 12px;
}
h6
{
    font-size: 10px;
}

.align-left
{
    text-align: left;
}
.align-right
{
    text-align: right;
}
.align-center
{
    text-align: center;
}

.left
{
    float: left;
}
.right
{
    float: right;
}

.icon-1
{
    font-size: 1em;
}
.icon-2
{
    font-size: 2em;
}
.icon-3
{
    font-size: 4em;
}
.icon-4
{
    font-size: 7em;
}
.icon-5
{
    font-size: 12em;
}
.icon-6
{
    font-size: 20em;
}

.wrapper
{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

input,
textarea,
button
{
    -webkit-appearance: none;
       -moz-appearance: none;
         -o-appearance: none;
            appearance: none;
}

input
{
    font-size: 14px;

    width: auto;
    margin: 0;
    padding: 8px 10px;

    border: 0;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}


input,
textarea
{
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

input
{
    font-size: 14px;

    width: auto;
    margin: 0;
    padding: 8px 10px;

    border: 1px solid #3a3a47;
    -webkit-border-radius: 0;
            border-radius: 0;
    background: transparent;
}

input[type='submit']
{
    width: auto;
    padding: 8px 15px;

    cursor: pointer;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='text']:focus,
input[type='email']:focus,
textarea:hover,
textarea:focus
{
    -webkit-box-shadow: 3px 3px 0 #3a3a47;
            box-shadow: 3px 3px 0 #3a3a47;
}

textarea
{
    font-size: 13px;

    margin: 0;
    padding: 8px 10px;

    resize: none;

    border: 1px solid #3a3a47;
    -webkit-border-radius: 0;
            border-radius: 0;
}

input.error,
textarea.error
{
    border-color: #e74c3c;
}

form.flat input,
form.flat textarea
{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;

    padding: 10px 15px;

    vertical-align: top;
    text-transform: none;

    border: 0 !important;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

hr
{
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
}

.disable-hover
{
    pointer-events: none;
}

.no-uppercase
{
    text-transform: none !important;
}


.btn,
a.btn,
input.btn
{
    font-size: 12px;

    padding: 8px 12px;

    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    text-decoration: none !important;
    text-transform: uppercase;

    border: 0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #f0582a;
    /*border: 4px solid #F0582A;*/
    /*color: #000;*/
}

.btn.big,
a.btn.big,
input.btn.big
{
    font-size: 14px;

    padding: 12px 16px;

    letter-spacing: 2px;
}

.btn.large,
a.btn.large,
input.btn.large
{
    font-size: 22px;

    padding: 24px 40px;

    letter-spacing: 1px;
}

.btn.no-color.current
{
    cursor: default;
}

.btn.no-color.current,
.btn.no-color:hover
{
    border: 2px solid rgba(255, 255, 255, 1);
}

/* Fix fonts */
body.fontfix > header a,
body.fontfix #countdown > div .num > div,
body.fontfix #newsletter a,
body.fontfix #team > header > h1,
body.fontfix #team > header > h5,
body.fontfix #subscribe > .wrapper > h4,
body.fontfix #feedback > .wrapper > ul > li > h2,
body.fontfix #contacts > .wrapper > .text > h2,
body.fontfix #home .learn-more a,
body.fontfix #last-section nav a,
body.fontfix #owners > .body > .description > li > h1,
body.fontfix #countdown > div span
{
    font-family: sans-serif;
    font-weight: normal;
}

.rouble
{
    font-family: 'als_rublregular';
}

/* # -- Slogan
================================================== */
#slogan
{
    margin: 0 0 30px 0;
}

#goto-links a
{
    margin: 0 45px 0 0;
}

/* # -- PAGES
================================================== */

.page
{
    position: relative;
    z-index: 5;

    width: 100%;
}

.page.fullscreen
{
    min-height: 100%;
}

.page.fullwidth,
.page.fullwidth .wrapper
{
    max-width: 100% !important;
}

.page.image
{
    display: table;

    height: 200px;

    background: transparent 50% no-repeat;
}

.page.image > .wrapper
{
    display: table-cell;

    height: 200px;

    vertical-align: middle;

    color: #fff;
}

.page.image h1,
.page.image h2,
.page.image h3,
.page.image h4,
.page.image h5,
.page.image h6
{
    /*font-family: Quicksand;*/
}

.page.image h1
{
    font-size: 3em;
    font-weight: bold;

    text-transform: uppercase;
}

.page.image hr
{
    max-width: 550px;
    margin: 25px auto;

    border-color: rgba(255, 255, 255, .5);
}

.page header
{
    z-index: 6;
    /*max-width: 1200px;*/

    width: 100%;
    margin: 0 auto;
    padding: 25px;

    text-align: center;
    /*border: 1px solid red;*/
}

.page header h1,
.page header h2,
.page header h3,
.page header h4,
.page header h5,
.page header h6
{
    /*font-family: Quicksand, sans-serif;*/
    /*text-transform: uppercase;*/
}
.page header h2
{
    font-size: 50px;
}

.page p
{
    margin: .5em 0;
}


/* # -- PATTERNS
================================================== */

.pattern.dot-1
{
    background: url('static/images/patterns/dot-1.png');
    background-color: rgba(0, 0, 0, .3);
}

.pattern.dot-2
{
    background: transparent url('static/images/patterns/dot-2.png');
    background-color: rgba(0, 0, 0, .3);
    -webkit-background-size: 2px;
       -moz-background-size: 2px;
         -o-background-size: 2px;
            background-size: 2px;
}

.pattern.dot-3
{
    background: transparent url('static/images/patterns/dot-3.png');
    background-color: rgba(0, 0, 0, .3);
}

.pattern.line-1
{
    background: transparent url('static/images/patterns/line-1.png');
}

.pattern.line-2
{
    background: transparent url('static/images/patterns/line-2.png');
}

.pattern.gradient-1
{
    background: transparent url('static/images/patterns/gradient-1.png') 50%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.pattern.gradient-2
{
    background: transparent url('static/images/patterns/gradient-2.png') 50%;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}


/* # -- SOCIAL
================================================== */

ul.social
{
    font-size: 0;

    list-style: none;
}

ul.social > li
{
    font-size: 22px;

    display: inline-block;

    margin: 0 5px;
}

ul.social > li > a
{
    padding: 5px;
}

/* -- icons -- */
ul.social.icons > li > a
{
    display: block;

    width: 32px;
    height: 32px;

    -webkit-background-size: 32px;
       -moz-background-size: 32px;
         -o-background-size: 32px;
            background-size: 32px;
}

.icon-twitter
{
    background-image: url(static/images/icons/01_twitter.png);
}
.icon-facebook
{
    background-image: url(static/images/icons/02_facebook.png);
}
.icon-youtube
{
    background-image: url(static/images/icons/03_youtube.png);
}
.icon-dribbble
{
    background-image: url(static/images/icons/04_dribbble.png);
}
.icon-apple
{
    background-image: url(static/images/icons/05_apple.png);
}
.icon-android
{
    background-image: url(static/images/icons/06_android.png);
}
.icon-linkedin
{
    background-image: url(static/images/icons/07_linkedin.png);
}
.icon-behance
{
    background-image: url(static/images/icons/08_behance.png);
}
.icon-vimeo
{
    background-image: url(static/images/icons/09_vimeo.png);
}
.icon-instagram
{
    background-image: url(static/images/icons/10_instagram.png);
}
.icon-wordpress
{
    background-image: url(static/images/icons/11_wordpress.png);
}
.icon-deviantart
{
    background-image: url(static/images/icons/12_deviantart.png);
}
.icon-pinterest
{
    background-image: url(static/images/icons/13_pinterest.png);
}
.icon-google
{
    background-image: url(static/images/icons/14_google.png);
}
.icon-tumblr
{
    background-image: url(static/images/icons/15_tumblr.png);
}
.icon-flickr
{
    background-image: url(static/images/icons/16_flickr.png);
}
.icon-windows8
{
    background-image: url(static/images/icons/17_windows8.png);
}
.icon-evernote
{
    background-image: url(static/images/icons/18_evernote.png);
}
.icon-paypal
{
    background-image: url(static/images/icons/19_paypal.png);
}
.icon-sparow
{
    background-image: url(static/images/icons/20_sparow.png);
}
.icon-blogger
{
    background-image: url(static/images/icons/21_blogger.png);
}
.icon-skype
{
    background-image: url(static/images/icons/22_skype.png);
}
.icon-envato
{
    background-image: url(static/images/icons/23_envato.png);
}
.icon-soundcould
{
    background-image: url(static/images/icons/24_soundcould.png);
}


/* # -- PRELOADER
================================================== */

#preloader
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

#preloader > .half
{
    width: 50%;
    height: 100%;

    background: #e9f0f5;
}

#preloader > .wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    /*max-width: 280px;*/
    margin-top: -100px;
    margin-left: -140px;
}

#preloader .logo
{
    width: 250px;
    height: 74px;
}

#preloader .logo > img
{
    max-height: 100%;
}

#preloader .bar
{
    height: 3px;
    margin-top: 20px;

    background: #000;
    /*background: rgba(0, 0, 0, .5);*/
}

#preloader .percents
{
    /*font-family: sans-serif;*/
    /*font-weight: 300;*/
    position: relative;
    z-index: 2;
    top: -10px;

    display: inline-block;

    padding: 0 15px;

    background: #e9f0f5;
}


/* # -- HEADER
================================================== */

body > header
{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;

    -webkit-transition: background .3s;
       -moz-transition: background .3s;
         -o-transition: background .3s;
            transition: background .3s;

    background: #313544;
    background: rgba(49, 53, 68, .95);
}

body > header .row
{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}
body > header .col
{
    height: 50px;
    margin: 0;
    padding: 0;
}
body > header nav .topnav-logo
{
    margin: 0 5px 0 10px;
}
body > header nav .topnav-logo a,
body > header nav .topnav-logo a:link
{
    width: 100px;
    height: 33px;
    /*border-radius: 0;*/
    padding: 0;

    border: none;
    border: none;
}
body > header .topnav-logo img
{
    margin-top: -3px;
}

body > header nav ul
{
    margin-top: 11px;

    list-style: none;
    /*padding-top: 28px;*/
    /*position: relative;*/
    /*top: 28px;*/
}
body > header.dark nav ul
{
    padding-top: 11px;
}

body > header nav ul > li
{
    display: inline-block;

    margin: 0;
}


body > header nav a
{
    font-family: 'open_sanslight';
    font-size: 11px;
    line-height: 17px;

    display: block;

    margin: 0 5px;
    padding: 5px 12px;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff !important;
    border: 1px solid #505970;
    border-radius: 20px;
    /*border: 1px solid red;*/
    /*    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
        filter: alpha(opacity=50);
*/
}
body > header nav a.rent
{
    background: #26e16c;
    border-color: #1bc25a;
}
body > header nav a.inner-link
{
    border-style: dashed;
}
body > header nav a span
{
    /*padding-bottom: 3px;*/
    /*border-bottom: 1px solid #fff;*/
}
body > header nav a i
{
    font-size: 14px;

    position: relative;
    top: 2px;

    margin-right: 2px;

    color: #fff;
}

body > header nav a.current,
body > header nav a:hover
{
    text-decoration: none;

    opacity: 1;
    color: #fd685b !important;
    border: 1px solid #fd685b;
    border-radius: 20px;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

body > header nav a.rent.current,
body > header nav a.rent:hover
{
    color: #2a7041 !important;
    border-color: #2a7041;
}
body > header nav a.current span,
body > header nav a:hover span
{
    border: none;
}

body > header nav a.current
{
    /*cursor: default;*/
}
body > header nav.topnav-right
{
    padding-right: 10px;
    display: inline-block;
}

/* # -- HEADER NAV (DARK)
================================================== */
body > header.dark
{
    position: fixed;

    height: 50px;

    background: #313544;
    background: rgba(49, 53, 68, .95);
}
body > header.dark nav a.bordered
{
    font-size: 10px;
}
body > header.dark nav a.bordered:hover
{
    color: #000;
    border: 1px solid #fff;
    background: #fff;
}

body > header.dark nav ul
{
    font-size: 0;

    margin-top: 0;

    list-style: none;
}
body > header.dark nav a
{
    font-family: 'open_sanslight';
    font-size: 12px;
    line-height: 17px;

    text-decoration: none;
    letter-spacing: 1px;
}
body > header.dark .logo
{
    padding-top: 0;
}
body > header.dark .logo img
{
    /*    width: 105px;
    height: 35px;
*/
    margin-top: 0;
}

/* # -- HOME PAGE
================================================== */

#home
{
    background: #fff;
}

#home .slider
{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
}

#home > .content
{
    width: 100%;
    height: 100%;
}

#home > .content > .wrapper
{
    position: relative;
    top: 10%;
}

#home hr
{
    width: 100%;
    max-width: 615px;
    margin: 0 auto;

    border-top: 1px solid rgba(255, 255, 255, .3);
}

#home .booking-form
{
    width: 100%;
    height: 689px;
    margin-top: 0;
    padding: 90px 0 0 0;

    background: url(static/images/bg-main-booking-form.png) top center no-repeat;
}

#home .booking-form h1
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    line-height: 55px;

    margin-bottom: 15px;

    color: #fff;
}

#home .booking-form h3
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;

    color: #fff;
}

#home .form-control
{
    /*padding: 0px;    */
    border-radius: 0;
}
#home .form-group
{
    /*borde r: 1px solid red;*/
    width: 100%;
}

#home .main-search-form
{
    width: 400px;
    margin: 24px auto 0 auto;
}
#home .main-search-form input,
#home .main-search-form select
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;

    width: 100%;
    height: 54px;
    margin: 0 auto;

    text-transform: uppercase;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    background: none;
    box-shadow: none;
}

#home .main-search-form button[type='submit']
{
    margin-top: 0;
}
#home .main-search-form .col
{
    margin: 0;
    /*border: 1px solid red;*/
    padding: 0;
}
#home .main-search-form #f_arrdate,
#home .main-search-form #f_objtype
{
    border-right: none;
    /*width: 200px;*/
    padding-left: 6px;
}
#home .main-search-form #f_guests
{
    padding-left: 6px;
}

.form-control::-webkit-input-placeholder
{
    color: white;
}

/* # -- CONTENT
================================================== */

#content
{
    position: relative;
    z-index: 5;

    padding: 0 0 0 0;

    background: #fff;
}

#content > section
{
    position: relative;

    width: 100%;
    max-width: 1150px;
    margin: 0 auto;

    background-color: #fff;
    /*border: 1px solid red;*/
}

#content > section:first-child
{
    margin-top: 0;
}

#content > section:last-child
{
    margin-bottom: 0;
}
#content section#guests
{
    /*margin: 75px auto 0 auto;*/
    /*max-width: 100%;*/
    /*width: 100%;*/
    background: #59cdae;
}



/* # -- ABOUT
================================================== */
#about
{
    margin-bottom: 0;
    padding: 0 0 40px 0;
    color: #343434;
    background: #e9f0f5;
}

#about header h1
{
    font-family: 'open_sanslight';
    font-size: 48px;

    color: #343434;
}
#about .body
{
    text-align: center;
}
#about p
{
    font-size: 30px;
    margin: 25px 160px 25px 160px;
    color: #7b7e80;
}
#about strong
{
    font-family: 'open_sansbold';
    font-weight: bold;
}


#about .double-marg
{
    margin-top: 50px;
    padding-bottom: 50px;
}

.about-workflow
{
    /*margin-top: 50px;*/
    /*background: url(static/images/workflow-bg.png) top center repeat-y;*/
    margin-bottom: 0;
    padding: 0;
    /*border: 1px solid pink;*/
}
.about-workflow .col
{
    height: 900px;
}
.about-workflow .left
{
    position: relative;
    left: 60px;

    background: url(static/images/about-workflow-line.png) 194px 0 repeat-y;
}
.about-workflow .right
{
    position: relative;
    right: 60px;

    background: url(static/images/about-workflow-line.png) 394px 0 repeat-y;
}
.about-workflow h3.rounded
{
    font-family: 'open_sanslight';
    font-size: 30px;
    line-height: 30px;

    display: inline-block;

    height: 70px;
    padding: 17px 45px 0 45px;

    text-align: center;

    color: #343434;
    border: 2px solid #d7e4ed;
    border-radius: 35px;
    /*background: #E9F0F5;*/
    background: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .3);
       -moz-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .3);
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, .3);
}
.about-workflow .left h3
{
    margin-right: 190px;
}
.about-workflow .right h3
{
    margin-left: 190px;
}
.box-guests
{
    background: url(static/images/workflow-bullet-guests.png) 147px center no-repeat;
}
.box-guests .box-text,
.box-owners .box-text
{
    font-size: 16px;
    line-height: 24px;

    float: right;

    width: 320px;
    padding: 18px 25px;

    text-align: left;

    color: #3d3e3e;
    border-radius: 25px;
}
.box-guests .box-text
{
    background: #fff8c6;
}
.box-owners .box-text
{
    float: left;

    background: #e9fde5;
}
.box-guests-1
{
    margin-top: 441px;
}

.box-guests-2
{
    margin-top: 25px;
}

.box-guests-3
{
    margin-top: 25px;
}

.box-guests-4
{
    margin-top: 25px;
}

.box-owners
{
    background: url(static/images/workflow-bullet-owners.png) 347px center no-repeat;
}
.box-owners-1
{
    margin-top: 40px;
}

.box-owners-2
{
    margin-top: 25px;
}

.box-owners-3
{
    margin-top: 25px;
}

#about .cities
{
    margin: 40px 0 80px 0;

    text-align: center;
}
#about .cities .col
{
    /*border: 1px solid red;*/
    width: 143px;
    margin: 0;
    padding: 0;

    text-align: center;
}
#about .cities a h3
{
    font-size: 16px;

    text-decoration: underline;

    color: #000;
}
#about .cities a:hover h3
{
    text-decoration: none;
}
#about .body .cities img
{
    margin: 0 0 20px 0;
}


/* # -- MAIN MAP
================================================== */
#main-map
{
    padding: 0;
    /*background: #E9F0F5;*/
    /*border-top: 1px solid #FFF;*/
    /*border-bottom: 2px solid #FFF;*/

    background: #f6dd55;
}

#main-map header h1
{
    font-family: 'open_sanslight';
    font-size: 48px;

    margin-bottom: 20px;

    color: #2d2e30;
}
#main-map header h2
{
    font-family: 'open_sanslight';
    font-size: 30px;

    color: #2d2e30;
}
#main-map header h2 strong
{
    font-family: 'open_sansbold';
}
#main-map header
{
    width: 100%;
    margin-bottom: 35px;
    /*border-bottom: 2px solid #FFF;*/
}

/* # -- MAP LEGEND
================================================== */
#map-legend
{
    padding: 0;

    color: #fff;
    background: #485b6e;
}
#map-legend a,
#map-legend a:hover,
#map-legend a:link
{
    color: #fff;
}
#map-legend .body
{
    padding: 40px 0;
}
#map-legend .row
{
    margin-bottom: 25px;
}
#map-legend p small
{
    font-size: 11px;

    margin-left: 15px;

    color: #e7ea00;
}



/* # -- HOW
================================================== */
#how
{
    padding: 0 0 40px 0;

    color: #343434;
    background: #f5f7f7;
}

#how header h1
{
    font-family: 'open_sanslight';
    font-size: 48px;
    margin-bottom: 30px;
    color: #343434;
}
#how .body h3
{
    /*font-family: 'open_sanslight';*/
    font-family: 'open_sansbold';
    font-size: 24px;

    margin: 30px 0;

    color: #343434;
}
#how .row
{
    margin-bottom: 20px;
}
#how .body
{
    text-align: center;
}
#how .body p
{
    font-size: 18px;

    padding: 0 20px;
}

.title-icon
{
    font-size: 96px;
    line-height: 96px;

    color: #fd685b;
}

/* # -- OWNERS
================================================== */
#owners
{
    padding: 0 0 40px 0;

    color: #343434;
    background: #e9f0f5;
}

#owners header h1
{
    font-family: 'open_sanslight';
    font-size: 48px;
    margin-bottom: 30px;
    color: #343434;
}
#owners .body h1
{
    font-size: 100px;

    color: #fd685b;
}
#owners .body h3
{
    /*font-family: 'open_sanslight';*/
    font-family: 'open_sansbold';
    font-size: 24px;

    margin: 30px 0;

    color: #343434;
}
#owners .row
{
    margin-bottom: 40px;
}
#owners .body
{
    text-align: center;
}
#owners .body p
{
    font-size: 18px;
    padding: 0 20px;
}
#owners .body img
{
    width: 100px;
}
#owners .clear
{
    margin-bottom: 20px;
}

/* # -- TOP DEST (destinations)
================================================== */
#top-dest
{
    padding: 0 0 0 0;

    color: #343434;
    background: #fff;
}

#top-dest header h1
{
    font-family: 'open_sanslight';
    font-size: 48px;
    font-weight: 100;

    margin-bottom: 15px;

    color: #343434;
}
#top-dest header h4
{
    font-family: 'open_sanslight';
    font-size: 16px;

    text-transform: uppercase;

    color: #939a9d;
    /*font-weight: 200;*/
}

#top-dest .body
{
    text-align: center;

    color: #fff;
}
#top-dest .body a
{
    text-decoration: none;

    color: #fff;
}
#top-dest p
{
    font-size: 30px;

    margin: 25px 160px 25px 160px;

    color: #7b7e80;
}
#top-dest .box
{
    position: relative;

    width: 100%;
    height: 490px;
    margin: 30px 0 60px 0;
}
#top-dest .image
{
    position: absolute;
    top: 0;
    left: 0;
}
#top-dest .content
{
    position: absolute;
    top: 0;

    width: 575px;
    height: 490px;
}
#top-dest .content-fullwidth
{
    position: absolute;
    top: 0;

    width: 100%;
    height: 490px;
}
#top-dest .backlight
{
    position: absolute;
    z-index: 2;
    top: 0;

    width: 575px;
    height: 490px;

    opacity: .33;
    background: #000;
}
#top-dest .content-fullwidth .backlight
{
    width: 100%;
}

#top-dest .text
{
    position: absolute;
    z-index: 3;
    top: 0;

    width: 100%;
    height: 100%;
}
#top-dest .to-center
{
    left: 287px;
}
#top-dest .to-left
{
    left: 0;
}
#top-dest .to-right
{
    left: 575px;
}
#top-dest .body .box h2
{
    font-family: 'open_sansregular';
    font-size: 76px;
    font-weight: normal;

    margin-top: 80px;

    letter-spacing: -2px;
    text-transform: uppercase;
}
#top-dest .body .box h3
{
    font-family: 'open_sanslight';
    font-size: 18px;

    margin-top: 15px;

    text-transform: uppercase;
}
#top-dest .price
{
    width: 210px;
    min-height: 40px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 5px 15px 5px 45px;

    text-align: left;

    background: url(static/images/icon-clock.png) 0 10px no-repeat;
}
#top-dest .big
{
    font-size: 36px;
}

/* # -- TOP OFFERS
================================================== */
#top-offers
{
    padding: 0 0 60px 0;

    color: #343434;
    background: #e7e9e9;
}

#top-offers header h1
{
    font-family: 'open_sanslight';
    font-size: 48px;

    margin-bottom: 15px;

    color: #343434;
}
#top-offers header h4
{
    font-family: 'open_sanslight';
    font-size: 16px;

    text-transform: uppercase;

    color: #939a9d;
}
#top-offers .body
{
    text-align: left;
}
#top-offers .body img
{
    margin-bottom: 30px;
}
#top-offers .body h2
{
    font-family: 'open_sanslight';
    font-size: 24px;
    font-weight: 100;

    margin-bottom: 10px;

    letter-spacing: 1px;

    color: #21a2ae;
}
#top-offers .body h3
{
    font-family: 'open_sanslight';
    font-size: 14px;

    text-transform: uppercase;

    color: #939a9d;
}
#top-offers .price
{
    font-size: 18px;

    margin-top: 15px;
}
#top-offers .price .big
{
    font-size: 30px;
}
#top-offers  a
{
    /*text-decoration: none;*/
    color: #21a2ae;
}


/* # -- PREFOOTER
================================================== */
#prefooter
{
    padding: 80px 0 80px 0;

    color: #343434;
    background: #333;
}
#prefooter .body
{
    font-size: 16px;

    text-align: left;

    color: #fff;
}
#prefooter .body h3
{
    font-family: 'open_sanslight';
    font-size: 18px;
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-weight: 100;
    line-height: 27px;

    margin-bottom: 40px;

    letter-spacing: 0;
    text-transform: uppercase;

    color: #fff;
}
#prefooter .body .col
{
    /*border: 1px solid red;*/
}
#prefooter .offer-box h4,
#prefooter .offer-box h4 a
{
    font-size: 16px;

    margin-bottom: 5px;
    padding: 0;

    color: #63cac5;
}
#prefooter .offer-box h5
{
    /*font-family: 'open_sanslight';*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;

    color: #bac0c3;
}
#prefooter .upper
{
    text-transform: uppercase;
}
#prefooter .body .offer-box
{
    margin-bottom: 35px;
    text-align: center;
}
#prefooter .body .offer-box .phone
{
    font-size: 16px;
    font-family: 'open_sansregular';
}
#prefooter .body .offer-box .phone span
{
    margin-top: 10px;
    font-family: 'open_sansbold';
    display: block;
}
#prefooter .body .offer-box img
{
    overflow: hidden;

    width: 69px;
    height: 69px;

    border: 3px solid #fff;
}

#prefooter .offer-box .price
{
    font-size: 20px;
}
#prefooter .feedback
{
    padding: 0 0 0 30px;

    background: url(static/images/icon-feedback.png) 0 3px no-repeat;
}
#prefooter .like
{
    padding: 0 0 0 30px;

    background: url(static/images/icon-like.png) 0 3px no-repeat;
}
#prefooter .logo
{
    text-align: center;
}
/* # -- newsletter
================================================== */

#newsletter
{
    height: 200px;

    background-repeat: repeat;
    background-position-x: 0;
}

#newsletter > .wrapper
{
    height: 200px;
}

#newsletter a
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
        filter: alpha(opacity=100);
}

#newsletter a:hover
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}


/* # -- TEAM
================================================== */

#team
{
    max-width: 1200px !important;
}

#team header h1
{
    width: 80%;

    text-align: center;

    color: #000;
}

#team .body
{
    margin-top: 55px;
}

#team .body .persons
{
    font-size: 0;

    position: relative;

    list-style: none;

    text-align: center;
}

#team .body .persons > li
{
    font-size: 16px;

    position: relative;

    display: inline-block;

    width: 350px;
    margin: 20px 25px;

    text-align: left;
    vertical-align: center;
}

#team .body .persons > li .photo
{
    position: relative;

    height: 250px;

    background: #55555c;
}

#team .body .persons > li .photo img
{
    max-height: 100%;

    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}

#team .body .persons > li .networks
{
    position: absolute;
    top: 0;

    width: 350px;
    height: 250px;

    -webkit-transition: all .3s;
       -moz-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;

    opacity: 0;
    border: 0 solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(255, 255, 255, .5);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(255, 255, 255, .5);

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
        filter: alpha(opacity=0);
}

#team .body .persons > li .networks:hover
{
    opacity: 1;
    border: 15px solid transparent;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#team .body .persons > li .networks .social
{
    position: absolute;
    top: 50%;

    width: 100%;
    margin-top: -18px;

    text-align: center;
}

#team .body .persons > li .social a
{
    font-size: 26px;

    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;

    color: #fff;
    color: rgba(255, 255, 255, .8);
}

#team .body .persons > li .social a:hover
{
    text-decoration: none;

    color: #fff;
    color: rgba(255, 255, 255, 1);
}

#team .body .persons > li h2
{
    margin-top: 15px;
}

#team .body .persons > li h5
{
    color: #7a7d81;
}


/* # -- TWITTER
================================================== */



.twitter
{
    font-size: 18px;

    display: block;
    overflow: hidden;

    width: 100%;
    max-width: 768px;
    height: 140px;
    margin: 0 auto;
    padding: 0 15px;

    list-style: none;
}

.twitter > li
{
    height: 140px;
    padding-top: 20px;
}

.twitter > li .text
{
    display: table-cell;

    width: 768px;
    height: 45px;
    padding: 0 15px;

    text-align: center;
    vertical-align: middle;
}

.twitter > li .actions
{
    margin-top: 15px;

    text-align: center;
}

.twitter > li .actions a
{
    margin: 0 10px;

    text-decoration: none;
}

.twitter > li .actions a > span
{
    margin-right: 7px;
}

.twitter > li .date
{
    font-size: 16px;

    margin-top: 10px;
}


.twitter a:hover
{
    text-decoration: underline;
}


/* # -- SERVICES
================================================== */



#services .body
{
    margin-top: 35px;
}

#services header h1
{
    width: 100%;

    text-align: center;

    color: #000;
}

#services .body > ul
{
    font-size: 0;

    list-style: none;

    text-align: center;
}

#services .body > ul > li
{
    font-size: 16px;

    display: inline-block;

    width: 266px;
    margin: 20px 25px;

    vertical-align: top;
}

#services .body > ul > li .icon
{
    display: table;

    width: 140px;
    height: 140px;
    margin: 0 auto;

    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#services .body > ul > li .icon > span
{
    font-size: 70px;

    display: table-cell;

    width: 140px;
    height: 140px;

    vertical-align: middle;
}

#services .body > ul > li > h2
{
    font-size: 18px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 10px;

    letter-spacing: 1px;
    text-transform: uppercase;
}

#services .body > ul > li > p
{
    font-size: 14px;

    height: 100px;
    min-height: 100px;
    margin: 0;

    color: #7a7d81;
}
/* # -- GUESTS
================================================== */

#guests
{
    background: red;
}

#guests .body
{
    width: 100%;
    max-width: 1150px;
    margin: 15px auto 0 auto;
}

#guests header h1
{
    width: 100%;

    text-align: center;

    color: #000;
}

#guests .body > ul
{
    font-size: 0;

    list-style: none;

    text-align: center;
}

#guests .body > ul > li
{
    font-size: 16px;

    display: inline-block;

    width: 266px;
    margin: 20px 25px;

    vertical-align: top;
}

#guests .body > ul > li .icon
{
    display: table;

    width: 140px;
    height: 140px;
    margin: 0 auto;

    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#guests .body > ul > li .icon > span
{
    font-size: 70px;

    display: table-cell;

    width: 140px;
    height: 140px;

    vertical-align: middle;
}

#guests .body > ul > li > h2
{
    font-size: 18px;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 10px;

    letter-spacing: 1px;
    text-transform: uppercase;
    /*color: #FF6E28;*/
}

#guests .body > ul > li > p
{
    font-size: 16px;

    height: 100px;
    min-height: 100px;
    margin: 0;

    color: #dcf7f0;
    color: #fff;
}



#demo-love:hover .icon > span
{
    -webkit-animation: demolove 1.3s linear infinite;
       -moz-animation: demolove 1.3s linear infinite;
         -o-animation: demolove 1.3s linear infinite;
            animation: demolove 1.3s linear infinite;
}

@-webkit-keyframes demolove
{
    0%
    {
        color: #3a3a47;
    }
    50%
    {
        color: #c0392b;
    }
    100%
    {
        color: #3a3a47;
    }
}
@-moz-keyframes demolove
{
    0%
    {
        color: #3a3a47;
    }
    50%
    {
        color: #c0392b;
    }
    100%
    {
        color: #3a3a47;
    }
}
@-o-keyframes demolove
{
    0%
    {
        color: #3a3a47;
    }
    50%
    {
        color: #c0392b;
    }
    100%
    {
        color: #3a3a47;
    }
}
@keyframes demolove
{
    0%
    {
        color: #3a3a47;
    }
    50%
    {
        color: #c0392b;
    }
    100%
    {
        color: #3a3a47;
    }
}


/* # -- FOOTER
================================================== */

body > footer
{
    position: fixed;
    z-index: -1;
    bottom: 0;

    overflow: hidden;

    width: 100%;
    height: 550px;
    padding: 100px 0;

    background-color: #3a3c42;
    /*background-color: #333333;*/
}

body > footer > .wrapper
{
    position: relative;
}

body > footer section
{
    position: absolute !important;
}

#footer-space
{
    width: 100%;
    height: 550px;

    background: transparent !important;
}

#last-section
{
    margin-bottom: -75px !important;
    padding: 5px 0;

    color: #fff;
    background-color: #2f3238 !important;
}

#last-section nav
{
    opacity: .85;
}

#last-section nav > ul
{
    font-size: 0;

    list-style: none;

    text-align: center;
}

#last-section nav > ul > li
{
    font-size: 16px;

    display: inline-block;

    margin: 0 15px;
}

#last-section .triangle
{
    position: absolute;
    left: 0;

    width: 30px;
    height: 30px;
    margin-top: 15px;

    border-top: 30px solid #2f3238;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}


/* # -- SUBSCRIBE
================================================== */

#subscribe
{
    background-image: url(http://placehold.it/1200x750);
}

#subscribe form
{
    position: relative;

    overflow: hidden;

    width: 100%;
    max-width: 410px;
    height: 41px;
    margin: 25px auto;
    padding: 0 20px;
}

#subscribe form input,
#subscribe form .status
{
    display: block;
}

#subscribe form .status
{
    padding: 10px 0;

    text-align: center;
}

#subscribe form input[type='email']
{
    position: relative;

    width: 100%;

    opacity: .85;
    background: #fff;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
        filter: alpha(opacity=85);
}

#subscribe form input[type='email']:focus
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#subscribe form input[type='submit']
{
    position: absolute;
    top: 0;
    right: 20px; /* padding fix */

    -webkit-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
}


/* # -- FEEDBACK
================================================== */



#feedback p
{
    color: #7a7d81;
}

#feedback ul
{
    font-size: 0;

    list-style: none;

    text-align: center;
}

#feedback ul > li
{
    font-size: 16px;

    display: inline-block;

    width: 40%;
    padding: 0 35px;

    text-align: left;
    vertical-align: top;
}

#feedback form > div:last-child
{
    text-align: right;
}

#feedback form input,
#feedback form textarea
{
    display: block;

    width: 100%;
    margin: 10px 0;

    opacity: .85;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=85)';
        filter: alpha(opacity=85);
}

#feedback form input:focus,
#feedback form textarea:focus
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#feedback form textarea
{
    height: 150px;
}

#feedback form input[type='submit']
{
    display: inline;

    width: auto;
    margin: 0;
    margin-left: 20px;

    vertical-align: middle;

    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#feedback form .status
{
    vertical-align: middle;

    color: #7a7d81;
}


/* # -- CONTACTS
================================================== */

#contacts
{
    position: relative;

    padding: 0 100px;
}

#contacts .text
{
    position: absolute;
    z-index: 3;

    overflow: hidden;

    width: 30%;
    height: 100%;
    margin-left: -1px;
    padding: 30px;

    text-align: left;

    background: #252525;
    background: rgba(38, 38, 38, .95);
}

#contacts .text ul
{
    margin: 45px 0;
}

#contacts .text ul > li
{
    -webkit-transition: opacity .2s;
       -moz-transition: opacity .2s;
         -o-transition: opacity .2s;
            transition: opacity .2s;

    opacity: .7;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
        filter: alpha(opacity=70);
}

#contacts .text ul > li:hover
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
        filter: alpha(opacity=100);
}

#contacts.page
{
    height: 450px;
}

#map
{
    width: 100%;
    height: 100%;

    background-image: url(static/images/gmap-layout.jpg);
    background-position: 50% 0;
}

#map .marksys
{
    display: none;
}

/*----------------------------------------------------------------
    Map
----------------------------------------------------------------*/

.map
{
    /*height: 15em;*/
    width: 100%;
    height: 600px;
}

.gm-style > div > div
{
    /* Overlay color */
    height: 100%;
}

.gm-style img
{
    /* Fix tooltip */
    max-width: none;
}

.gm-style div
{
    /* Fix tooltip */
    border-style: none;
}

.gm-style > div.gmnoprint
{
    /* display: none; */
}

.gm-style > div > a
{
    /* display: none !important; */
}

/*----------------------------------------------------------------
    Map Infobox
----------------------------------------------------------------*/

.infoBox
{
    text-align: center;
}

.infobox-inner
{
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'open_sanslight';
    font-size: 16px;
    font-weight: 700;

    display: inline-block;

    padding: 10px 15px;

    text-align: center;

    color: #fff;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    background-color: #fd685b;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
            box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    /*font-family: 'web_serveroffregular';*/
}
.infobox-inner a
{
    color: #fff;
}
.infobox-inner:after,
.infobox-inner:before
{
    position: absolute;
    bottom: 100%;
    left: 50%;

    width: 0;
    height: 0;

    content: ' ';
    pointer-events: none;

    border: solid transparent;
}

.infobox-inner:after
{
    margin-left: -10px;

    border-width: 10px;
    border-color: rgba(0,0,0,0);
}

.infobox-inner:before
{
    margin-left: -10px;

    border-width: 10px;
    border-color: rgba(0,0,0,0);
    border-bottom-color: #fd685b;
}


/*----------------------------------------------------------------
    Blur Content
----------------------------------------------------------------*/
.blur
{
    /*    -webkit-filter: blur(15px);
       -moz-filter: blur(15px);
         -o-filter: blur(15px);
        -ms-filter: blur(15px);
            filter: blur(15px);
*/
}


/*----------------------------------------------------------------
    Modal
----------------------------------------------------------------*/
.modal
{
    top: 50px;
    /*! adjust transition time */

    -webkit-transition: all ease-out !important;
       -moz-transition: all .1s ease-out !important;
         -o-transition: all .1s ease-out !important;
            transition: all .1s ease-out !important;
}
.modal.in .modal-dialog
{
    /*! editthis transform to any transform you want */
    /*    -webkit-transform: scale(1.1, 1.1) !important;
    -ms-transform: scale(1.1, 1.1) !important;
    transform: scale(1.1, 1.1) !important;
*/
    top: 50px;
}
.modal.fade .modal-dialog
{
    top: 50px;
    /*! disable sliding from left/right/top/bottom */

    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
}



.modal-content
{
    font-family: 'open_sanslight';
    font-weight: normal;

    width: 706px;
    /*    -webkit-transition: opacity .3s ease;
       -moz-transition: opacity .3s ease;
         -o-transition: opacity .3s ease;
            transition: opacity .3s ease;
*/

    border: none;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 0 100px rgba(62,71,87,.5);
    /*
  display: inline-table;
  vertical-align: middle;
  opacity: 0;
  margin: 30px;
  white-space: normal;
  text-align: left;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
*/
}
.modal-content .row
{
    margin-bottom: 25px;
}
.modal-header
{
    padding-bottom: 0;

    background: #ffe63f;
}
.modal-header h2
{
    margin: 0;
    padding: 0;

    text-align: center;
}
.modal-content p small
{
    font-size: 10px;

    margin-left: 20px;

    color: #f0582a;
}
.modal-content h2
{
    margin-bottom: 15px;
}
.modal-body
{
    padding: 30px 40px 15px 40px;
    /*background: #e9f0f5;*/

    background: #fff;
    background: #f6f6ef;
}
.modal-title
{
    font-family: 'open_sanslight';
    font-weight: normal;
}
.modal-footer
{
    font-size: 12px;

    margin-top: 0;
    padding: 19px 20px 20px;

    text-align: center;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e5e5e5;
}
.modal-footer p
{
    margin-bottom: 15px;
}
.modal-footer h3
{
    font-size: 16px;
    margin-bottom: 5px;
}

.modal-backdrop
{
    background-color: #000;
}

/*----------------------------------------------------------------
    Modal - Login
----------------------------------------------------------------*/
#modal-login .modal-dialog,
#modal-login .modal-content
{
    width: 470px;
}
#modal-signup .modal-dialog,
#modal-signup .modal-content
{
    width: 470px;
}
#modal-signup .checkbox
{
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 20px;
    color: #FD685B;
}
#modal-signup .checkbox.accept
{
    color: #333;
}
#modal-signup .checkbox a
{
    color: inherit;
}
#modal-signup .checkbox input[type=checkbox]
{
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    -o-appearance: checkbox;
    appearance: checkbox;
    margin-left: 0;
}

/*----------------------------------------------------------------
    Regular Form Style
----------------------------------------------------------------*/
.gy-form .form-control
{
    font-family: 'open_sanslight', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;

    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 0;

    text-transform: uppercase;

    color: #333;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 0;
    background: none;
    box-shadow: none;
}
.gy-form .form-control:hover
{
    background: none;
    box-shadow: none;
}
.gy-form .form-control:focus
{
    background: none;
    /*background: #fff;*/
    box-shadow: none;
}

.gy-form .form-control::-webkit-input-placeholder
{
    color: #c4c4c4;
}
.gy-form .form-control:-moz-placeholder
{
    color: #c4c4c4;
}
.gy-form .form-control::-moz-placeholder
{
    color: #c4c4c4;
}
.gy-form .form-control:-ms-input-placeholder
{
    color: #c4c4c4;
}
.gy-form .row
{
    margin-bottom: 0;
}
.gy-form .col
{
    margin-bottom: 15px;
}
.gy-form .big-orange
{
    font-size: 16px;
    line-height: 24px;

    width: 100%;
    height: 54px;
    margin: 0;
    padding: 0;

    border-width: 1px;
}

/*----------------------------------------------------------------
    Dropdown Menu
----------------------------------------------------------------*/
.dropdown-menu{
  min-width: 200px;
  background-color: #fff;
}
.dropdown ul.dropdown-menu {
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 0;
  box-shadow: none;
}
.dropdown ul.dropdown-menu:before {
  position: absolute;
  z-index: 10;
  top: -10px;
  right: 16px;
  content: '';
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
}
.dropdown ul.dropdown-menu:after {
  position: absolute;
  z-index: 9;
  top: -12px;
  right: 14px;
  content: '';
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
}
.dropdown ul.dropdown-menu-left {
  margin-left: -50px;
}
.dropdown-menu > li > a:link,
.dropdown-menu > li > a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 5px;
  text-transform: none;
  color: #000 !important;
  border: none;
  border-radius: 0;
  background: none;
  line-height: 25px;
}
.dropdown-menu > li > a i {
  color: #000 !important;
}
.dropdown-menu > li > a:hover {
  color: #fff !important;
}
.dropdown a.dropdown-toggle:focus {
  text-decoration: none;
}
.dropdown-menu > li {
  display: block;
  margin: 0;
  padding: 0 10px;
  text-align: right;
}
.dropdown-menu > li:hover {
  background: #fd685b;
}

/*----------------------------------------------------------------
    Float Label (Mobile Browswer crash fixed)
----------------------------------------------------------------*/
.floating-label-form-group {
  /*border-bottom: 1px solid #ccc;*/
  margin-bottom: 0;
  position: relative;
  /*padding-bottom: 0.5em;*/
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  background: none;
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  position: relative;
  z-index: 1;
  font-size: 1.5em;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  position: relative;
  top: 2em;
  opacity: 0;
  z-index: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  margin: 0;
  -webkit-transition: top 0.5s ease, opacity 0.5s ease;
     -moz-transition: top 0.5s ease, opacity 0.5s ease;
      -ms-transition: top 0.5s ease, opacity 0.5s ease;
          transition: top 0.5s ease, opacity 0.5s ease;
}

.floating-label-form-group:not(:first-child) {
  border-left: 1px solid #ccc;
  padding-left: 14px;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: blue;
}

form .row:first-child .floating-label-form-group {
  /*border-top: 1px solid #ccc;*/
}


@keyframes float-labels
{
    0%
    {
        font-size: 1.5em;

        top: .1em;

        opacity: 1;
        color: #aaa;
    }
    20%
    {
        font-size: 1.5em;

        opacity: 0;
    }
    30%
    {
        top: .1em;
    }
    50%
    {
        font-size: .85em;

        opacity: 0;
    }
    100%
    {
        top: -1em;

        opacity: 1;
    }
}

@-webkit-keyframes float-labels
{
    0%
    {
        font-size: 1.5em;

        top: .1em;

        opacity: 1;
        color: #aaa;
    }
    20%
    {
        font-size: 1.5em;

        opacity: 0;
    }
    30%
    {
        top: .1em;
    }
    50%
    {
        font-size: .85em;

        opacity: 0;
    }
    100%
    {
        top: -1em;

        opacity: 1;
    }
}

@keyframes float-labels-bottom
{
    0%
    {
        font-size: 1.5em;

        top: .1em;

        opacity: 1;
        color: #aaa;
    }
    20%
    {
        font-size: 1.5em;

        opacity: 0;
    }
    30%
    {
        top: .1em;
    }
    50%
    {
        font-size: .85em;

        opacity: 0;
    }
    100%
    {
        top: 3em;

        opacity: 1;
    }
}

@-webkit-keyframes float-labels-bottom
{
    0%
    {
        font-size: 1.5em;

        top: .1em;

        opacity: 1;
        color: #aaa;
    }
    20%
    {
        font-size: 1.5em;

        opacity: 0;
    }
    30%
    {
        top: .1em;
    }
    50%
    {
        font-size: .85em;

        opacity: 0;
    }
    100%
    {
        top: 3em;

        opacity: 1;
    }
}

/***********************************************************************  Tooltips *******************************/
.tooltip-inner
{
    font-weight: normal;

    min-width: 250px;
    padding: 10px 15px;

    color: #fff;
    background-color: #ff6e31;

    font-family: 'open_sanslight';
    font-size: 15px;
}
.tooltip.bottom .tooltip-arrow
{
    border-bottom-color: #ff6e31;
}
.tooltip.top .tooltip-arrow
{
    border-top-color: #ff6e31;
}
.tooltip.right .tooltip-arrow
{
    border-right-color: #ff6e31;
}

/* .social */
.social {
    position: relative;
    display: inline-block;
}
.social ul {
    list-style: none;
}
.social ul li {
    display: inline-block;
    margin-right: 10px;
}
.social ul li a {
    text-decoration: none;
}
.social ul li a span {
    color: #fff;
    opacity: .4;
    transition: .2s;
    font-size: 20px;
    vertical-align: middle;
}
.social ul li a:hover span {
    opacity: 1;
}
.social-footer {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.social-footer ul li a span {
    font-size: 24px;
}