<div class="navbar navbar-subnavbar navbar-fixed-top" role="navigation">
    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-ex2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 class="navbar-brand"><i class="icon-connectdevelop"></i> Парсер Sutochno</h3>
        </div>

        <div class="navbar-collapse collapse collapse-ex2">
            <ul class="nav navbar-nav">

                <li>
                    <div class="btn-group btn-group-sm">

                        <a  class="btn btn-success" href="<?=$this->url(array('action' => 'index'));?>">Парсинг</a>
                        <a  class="btn btn-success" href="<?=$this->url(array('action' => 'downloadimgs'));?>">Фотки</a>
                        <a  class="btn btn-success" href="<?=$this->url(array('action' => 'clearimgs'));?>">Обработка</a>
                        <a  class="btn btn-success" href="<?=$this->url(array('action' => 'writedb'));?>">Запись</a>

                    </div><!--/.btn-group-->
                </li>

            </ul><!--/.nav navbar-nav-->
        </div><!--/.navbar-collapse-->


    </div><!--/.container-->
</div><!--/.navbar navbar-subnavbar navbar-fixed-top-->

