<!-- // HEADER // -->
<header>
    <div class="row">

        <div class="col col-md-4 col-sm-4 col-xs-4">
            <nav class="align-left">
                <ul>
                    <li class="topnav-logo">
                        <a href="#home" class="hidden-from-460 logo"><img src="/images/logo-top-small.png" alt=""></a>
                        <a href="#home" class="visible-from-460 logo"><img src="/images/logo-top-smallest.png" alt=""></a>
                    </li>
                    <?=$f_city_topmenu;?>
                </ul>
            </nav>
        </div>

        <div class="col col-md-4 col-sm-6 hidden-sm hidden-xs topmenu">
            <nav class="align-center">
                <ul>

                    <li><a class="inner-link" href="#about"><span>О нас</span></a></li>
                    <li><a class="inner-link" href="#main-map"><span>Карта</span></a></li>
                    <li><a class="inner-link" href="#how"><span>Гостям</span></a></li>
                    <li><a class="inner-link" href="#owners"><span>Владельцам</span></a></li>

                </ul>
            </nav>
        </div>

        <div class="col col-md-4 col-sm-8 col-xs-8 text-right">

            <?php if(!$this->isMobile): ?>
            <div class="social social-header">
                <ul>
                    <li><a href="https://vk.com/goyugcom" target="_blank" title="Мы в ВКонтакте"><span class="icon-vk"></span></a></li>
                    <li><a href="https://www.facebook.com/goyugcom" target="_blank" title="Мы в Facebook"><span class="icon-facebook-f"></span></a></li>
                    <li><a href="https://twitter.com/goyugcom" target="_blank" title="Мы в Twitter"><span class="icon-twitter6"></span></a></li>
                </ul>
            </div>
            <?php endif; ?>

            <nav class="align-right topnav-right">
                <ul>

                    <? if(!$this->identity): ?>
                    <li><a class="true_link rent" href="#" data-toggle="modal" data-target="#modal-signup">Сдать жилье</a></li>
                    <li><a class="true_link" href="#" data-toggle="modal" data-target="#modal-login">Войти</a></li>

                    <? else: ?>

                    <li class="dropdown" >

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="icon-profile-male"></i> Мой кабинет <i class="icon-angle-down"></i></a>

                        <ul class="dropdown-menu dropdown-menu-left" role="menu">
                            <li><a class="true_link"  href="/user/dashboard">Главная <i class="icon-compass4"></i></a></li>
                            <li><a class="true_link"  href="/user/rooms">Мои объекты <i class="icon-home5"></i></a></li>
                            <li><a class="true_link"  href="/user/add">Добавить объект <i class="icon-plus2"></i></a></li>
                            <li class="divider"></li>
                            <li><a class="true_link" href="/user/logout">Выйти <i class="icon-log-out"></i></a></li>
                        </ul>
                    </li>

                    <? endif; ?>

                </ul>
            </nav>
        </div>

    </div>
</header>
<!-- // END HEADER // -->