<?php
    $cities = $this->cities["list"];
    $cities_ab = $this->cities["alphabet"];

    $f_city_topmenu = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span id="city-top-menu-text">Город</span></a></li>';
?>

<?php include("header.phtml"); ?>

<!-- // PRELOADER // -->
<!-- <div id="preloader" class="clearfix">
    <div class="wrapper align-center">
        <div class="logo">
            <img src="/intro/static/images/logo-big-preloader.png" alt="">
        </div>
    </div>
    <div class="half left"></div>
    <div class="half right"></div>
</div>
 --><!-- // END PRELOADER // -->


<!-- // MAIN SECTION // -->
<section id="home" class="page fullscreen" data-video="false" data-url="" data-volume="0" data-loop="true">
    <!-- // SLIDER // -->
    <div class="slider fotorama"
            data-width="100%"
            data-height="100%"
            data-fit="cover"
            data-nav="none"
            data-navposition="top"
            data-autoplay="true"
            data-arrows="true"
            data-captions="false"
            data-transition="dissolve"
            data-transitionduration="900"
            data-loop="true"
            data-stellar-ratio="0.2"
            data-keyboard="true">

        <!-- #01 --><img src="/intro/static/images/slider/low/019.jpg" alt="" data-caption="019">
        <!-- #02 --><img src="/intro/static/images/slider/low/013.jpg" alt="" data-caption="013">
        <!-- #03 --><img src="/intro/static/images/slider/low/006.jpg" alt="" data-caption="006">
        <!-- #04 --><img src="/intro/static/images/slider/low/017.jpg" alt="" data-caption="017">
        <!-- #05 --><img src="/intro/static/images/slider/low/011.jpg" alt="" data-caption="011">
        <!-- #06 --><img src="/intro/static/images/slider/low/012.jpg" alt="" data-caption="012">
        <!-- #07 --><img src="/intro/static/images/slider/low/008.jpg" alt="" data-caption="008">
        <!-- #08 --><img src="/intro/static/images/slider/low/014.jpg" alt="" data-caption="014">
        <!-- #09 --><img src="/intro/static/images/slider/low/015.jpg" alt="" data-caption="015">
        <!-- #10 --><img src="/intro/static/images/slider/low/003.jpg" alt="" data-caption="003">
        <!-- #11 --><img src="/intro/static/images/slider/low/002.jpg" alt="" data-caption="002">
        <!-- #12 --><img src="/intro/static/images/slider/low/004.jpg" alt="" data-caption="004">


    </div>
    <!-- // END SLIDER // -->
    <!-- // CONTENT // -->
    <!-- PATTERNS AVAILABLE

                            # dot-1
                            # dot-2
                            # dot-3
                            # line-1
                            # line-2
                            # gradient-1
                            # gradient-2
                            # color-layout + data-color="rgba(0, 0, 0, 0.5)" (or data-color="#000000")

                            USE ONLY WITH .PATTERN CLASS!
    EXAMPLE: class="pattern gradient-2" -->
    <!-- <div class="content" data-color="rgba(0, 0, 0, 0.45)"> -->
    <div class="content pattern color-layout" data-color="rgba(0, 0, 0, 0)">
        <div class="wrapper align-center">
            <div class="booking-form">
                <h1>Посуточная аренда жилья<br> в России</h1>

                <form class="main-search-form" id="main-search-form" role="form" action="<?=$_SERVER['HOSTNAME'];?>" method="post">

                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="f_city_name" name="f_city_name" placeholder="Город" value="">
                                <input type="hidden" name="f_city" id="f_city" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
<!--                         <div class="col col-md-6">

                            <div class="form-group">
                                <select class="" id="f_objtype" name="f_objtype">
                                    <option value="all">Все объекты</option>
                                    <option value="flapt">Апартамент / Квартира</option>
                                    <option value="house">Дом</option>
                                    <option value="guest_house">Гостевой дом</option>
                                </select>
                            </div>

                        </div>

 -->                        <div class="col col-md-12">

                            <div class="form-group">
                                <select class="" id="f_guests" name="f_guests">
                                    <option value="1">1 гость</option>
                                    <option value="2">2 гостя</option>
                                    <option value="3">3 гостя</option>
                                    <option value="4">4 гостя</option>
                                    <option value="5">5 гостей</option>
                                    <option value="6">6 гостей</option>
                                    <option value="7">7 гостей</option>
                                    <option value="8">8 гостей</option>
                                    <option value="9">9 гостей</option>
                                    <option value="10">10 гостей</option>
                                </select>
                            </div>

                        </div>

                    </div>

                    <button type="submit" class="btn big-orange">Найти</button>
                </form>
            </div>
        </div>
    </div>
    <!-- // END CONTENT // -->
</section>
<!-- // END MAIN SECTION // -->


<!-- // ABOUT // -->
<section id="about" class="page">
    <div class="wrapper">
        <header>
            <h1>О нас</h1>
        </header>
        <div class="body">
            <div class="logo align-center">
                <img src="/intro/static/images/logo-small.png" alt="">
            </div>
            <p>ГОУ-ЮГ – это проект, цель которого предоставить</p>
            <p><span class="orange">гостям</span> - удобный инструмент поиска и бронирования жилья для краткосрочного проживания в отпуске, командировке и путешествии,</p>
            <p>a <span class="orange">владельцам жилья</span> - бесплатный доступ к современной системе онлайн бронирования жилья.</p>
        </div>

    </div>
</section>
<!-- // END ABOUT // -->


<!-- // MAP // -->
<!-- 45.041177, 38.982773 -->
<section class="page" id="main-map">

        <header>
            <h1>Города в которых мы работаем</h1>
            <h2>у нас уже более <strong><?php echo $this->objects_total; ?></strong> предложений в <strong><?php echo sizeof($cities); ?></strong> городах</h2>
        </header>

    <div class="map"
        data-maplat="50.482106"
        data-maplon="47.559361"
        data-mapzoom="4"
        data-color="blue"
        data-height="40"
        data-img="/images/ui/marker.png"
        data-info="Краснодар"
        >
    </div>
</section>
<!-- // END MAP // -->

<section class="page" id="map-legend">
    <div class="wrapper">

        <div class="body">

            <div class="col col-md-4 visible-lg visible-md location-pic">
                <img src="/images/icons/ico-big-marker.png">
            </div>

            <div class="col col-md-8 col-sm-12">
            <?php

                $i = 0;

                foreach($cities_ab as $letter => $cities_uids) {

                    if($i % 4 == 0) { ?>
                    <div class="row cities">
                    <?php } ?>

                    <div class="col col-md-3 col-sm-3 col-xs-6">
                        <h2><?php echo $letter; ?></h2>

                        <?php

                            foreach($cities_uids as $null => $city_uid) {

                                $city = $cities[$city_uid]; ?>
                                <p><a href="http://<?php echo $city["uid"]; ?>.<?php echo $_SERVER['HOSTNAME']; ?>"><?php echo $city['name']; ?></a><small><?php echo $city['objects']; ?></small></p>
                        <?php } ?>

                    </div>
                    <?php

                    if(intval($i+1) % 4 == 0) { ?>
                    </div><!-- .row - END -->
                    <?php }

                    $i++;
                }
            ?>
            </div>

        </div>
        <!-- .body - END -->
        <div class="clear"></div>
    </div>
</section>
<!-- // END MAP // -->


<!-- // HOW // -->
<section id="how" class="page">
    <div class="wrapper">

        <header>
            <h1>Как снять жилье?</h1>
        </header>

        <div class="body">

            <div class="col col-md-4 col-sm-4">
                <i class="title-icon icon-map-pin"></i>
                <h3>Карта поможет</h3>
                <p>Еще никогда поиск не бы так прост!</p>
                <p>Легко и быстро при помощи карты и фильтров выберите вариант.</p>
            </div>

            <div class="col col-md-4 col-sm-4">
                <i class="title-icon icon-clock"></i>
                <h3>3D-панорама улиц</h3>
                <p>"Пройдитесь" по району и осмотритесь вокруг с помощью функции "Просмотр улиц".</p>
            </div>

            <div class="col col-md-4 col-sm-4">
                <i class="title-icon icon-star2"></i>
                <h3>Никаких предоплат и запутанных схем</h3>
                <p>Мы не берем плату за свои услуги.<br /> Вы общаетесь с владельцем напрямую.</p>
            </div>

            <!-- <a class="btn big-orange btn-signup" href="#">Зарегистрируйтесь</a> -->
            <!--<a href="#" data-toggle="modal" data-target="#modal-signup" class="btn big-orange">Зарегистрируйтесь</a>-->
            <div class="clear"></div>
        </div>
        <!-- .body - END -->

    </div>
    <!-- .wrapper - END -->
</section>
<!-- // END HOW // -->


<!-- // OWNERS // -->
<section id="owners" class="page">
    <div class="wrapper">

        <header>
            <h1>Как сдать жилье?</h1>
        </header>

        <div class="body">

            <div class="col col-sm-4 col-sm-offset-2">
                <img src="/images/how-top.svg" alt="Приоритет">
                <h3>Как выделить свой объект?</h3>
                <p>Воспользуйтесь одной из наших функций "раскрутки" объявления</p>
            </div>

            <div class="col col-sm-4">
                <img src="/images/how-phone.svg" alt="Телефон">
                <h3>Как с вами свяжется гость? </h3>
                <p>Гостям доступны ваши контакты</p>
            </div>

            <div class="clear"></div>

            <a href="#" data-toggle="modal" data-target="#modal-signup" class="btn big-orange">Присоединяйтесь</a>

        </div><!-- .body - END -->
    </div><!-- .wrapper - END -->
</section>
<!-- // END OWNERS // -->


<!-- // TOP DEST // -->
<section id="top-dest" class="page">
    <div class="wrapper">
        <header>
            <h1>Топ направлений</h1>
            <h4>В России</h4>
        </header>
        <div class="body">

            <?php
                if(count($this->topdest) > 0) {
                    foreach($this->topdest as $i => $val) { ?>
                        <!--
                        content to-right
                        content-fullwidth
                        content to-right
                        -->

                        <!-- Top Destinations Box -->
                        <div class="box <?php echo $val["uid"]; ?>" style="background-image: url('/images/ui/intro/<?php echo $val["uid"]; ?>-big.jpg');">
                            <div class="content-fullwidth">
                                <div class="backlight"></div>
                                <div class="text">
                                    <h2><a href="http://<?php echo $val["uid"]; ?>.<?php echo $_SERVER['HOSTNAME']; ?>"><?php echo $val["name"]; ?></a></h2>
                                    <h3><?php echo $val["objects"]; ?> <?php echo $this->translate( array( 'предложение', 'предложения', 'предложений', $val["objects"], 'ru' ) ); ?></h3>
                                    <div class="price">
                                        от <span class="big"><?php echo $val["minprice"]; ?> <span class="rouble">o</span></span><br>
                                        в сутки
                                    </div>
                                    <a class="btn big-orange" href="http://<?php echo $val["uid"]; ?>.<?php echo $_SERVER['HOSTNAME']; ?>">Просмотр</a>
                                </div>
                            </div>
                        </div>

                        <?
                    }
                }
            ?>

            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- // END TOP DEST // -->


<!-- // TOP OFFERS // -->
<!-- <section id="top-offers" class="page">
    <div class="wrapper">
        <header>
            <h1>Топ предложений</h1>
            <h4>Краснодар, Сочи, Геленджик, Анапа</h4>
        </header>
        <div class="body">
            <div class="row">
                <div class="col col-md-4">
                    <a href="#"><img src="/intro/static/images/top-offer-1.jpg"></a>
                    <h2><a href="#">Сочи, Виноградная</a></h2>
                    <h3>Сочи</h3>
                    <div class="price">
                        от <span class="big orange">1400<span class="rouble">o</span></span> в сутки
                    </div>
                </div>
                <div class="col col-md-4">
                    <a href="#"><img src="/intro/static/images/top-offer-2.jpg"></a>
                    <h2><a href="#">Геленджик, Луначарского</a></h2>
                    <h3>Геленджик</h3>
                    <div class="price">
                        от <span class="big orange">1200<span class="rouble">o</span></span> в сутки
                    </div>
                </div>
                <div class="col col-md-4">
                    <a href="#"><img src="/intro/static/images/top-offer-3.jpg"></a>
                    <h2><a href="#">Анапа, Крепостная</a></h2>
                    <h3>Анапа</h3>
                    <div class="price">
                        от <span class="big orange">1100<span class="rouble">o</span></span> в сутки
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 --><!-- // END TOP OFFERS // -->


<!-- // PREFOOTER // -->
<section id="prefooter" class="page">
    <div class="wrapper">
        <div class="body">

            <h3 class="text-center">Полезная информация</h3>

            <div class="offer-box">
                <h4><a href="/privacy">Согласие на обработку данных</a></h4>
            </div>

<!--             <div class="offer-box">
                <h4><a href="/legal">Реквизиты</a></h4>
            </div>
 -->
<!--             <div class="offer-box">
                <h4 class="phone">Контактный телефон: <span>+7 (861) 211-88-78</span></h4>
            </div>
 -->
            <div class="logo">
                <img src="/intro/static/images/logo-footer.png">
            </div>

            <?php if(!$this->isMobile): ?>
<!--             <div class="social social-footer">
                <ul>
                    <li><a href="https://vk.com/goyugcom" target="_blank" title="Мы в ВКонтакте"><span class="icon-vk"></span></a></li>
                    <li><a href="https://www.facebook.com/goyugcom" target="_blank" title="Мы в Facebook"><span class="icon-facebook-f"></span></a></li>
                    <li><a href="https://twitter.com/goyugcom" target="_blank" title="Мы в Twitter"><span class="icon-twitter6"></span></a></li>
                </ul>
            </div>
 -->            <?php endif; ?>

        </div>
    </div>

</section>
<!-- // END PREFOOTER // -->


<!-- // CONTENT // -->
<section id="content">
    <section id="last-section" class="page fullwidth">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="#" class="btn no-color" data-page="feedback">Обратная связь</a>
                    </li>
                    <!-- <li><a href="#" class="btn no-color" data-page="contacts">Контакты</a></li> -->
                </ul>
            </nav>
            <div class="triangle"></div>
        </header>
    </section>
</section>
<!-- // END CONTENT // -->
<div id="footer-space"></div>
<!-- // FOOTER // -->
<footer>
    <div class="wrapper">
        <!-- // FEEDBACK // -->
        <section id="feedback" class="page image">
            <div class="wrapper align-center">
                <ul>
                    <li class="text">
                        <h2 class="text-center">Нужна более детальная информация?</h2>
                        <hr>
                        <p class="text-center">Дополнительную информацию вы можете получить связавшись с нами по электронной почте <a href="mailto:info@goyug.com">info@goyug.com</a>.</p>
                    </li>
                    <!--
                    <li>
                        <form action="/intro/engine/feedback.php" method="post" class="flat">
                            <div>
                                <input type="text" name="name" value="" placeholder="Ваше имя?">
                                <input type="email" name="email" value="" placeholder="Обратный Email адрес">
                                <textarea name="message" placeholder="Что бы вы хотели нам сказать или спросить у нас?"></textarea>
                            </div>
                            <div>
                                <span class="status" data-success="Ваше сообщение отправлено" data-error="Что-то пошло не так">
                                </span>
                                <input type="submit" value="Отправить" class="btn">
                            </div>
                        </form>
                    </li>
                    -->
                </ul>
            </div>
        </section>
        <!-- // END FEEDBACK // -->
        <!-- // CONTACTS // -->
        <!--
        <section id="contacts" class="page image">
            <div class="wrapper align-center">
                <div class="text">
                    <h2>Контактная информация</h2>
                    <hr>
                    <p>ул. шоссе Нефтяников, 28
                    <br> ТЦ "Ньютон"
                    <br>
                    <br>этаж 4, офис 401
                    <br>Краснодар, Россия
                    </p>
                    <p>Просто позвоните нам:
                    <br> +7 861 211-8878
                    </p>
                </div>
                <div id="map" data-latitude="45.067863" data-longitude="38.982992">
                    <div data-latitude="45.067863" data-longitude="38.982992" data-title="Our office" class="marksys">
                        <div class="align-center" style="padding:5px;color:#000">Наш офис!</div>
                    </div>
                </div>
            </div>
        </section>
        -->
        <!-- // END CONTACTS // -->
    </div>
</footer>
<!-- // END FOOTER //-->

<!-- MODAL - City Selector -->
<div class="modal fade" id="modal-select-city" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Выберите город</h2>
      </div>

      <div class="modal-body">

            <?
                $i = 0;
                foreach($cities_ab as $letter => $cities_uids)
                {
                    if($i % 3 == 0)
                    {
                        ?><div class="row"><?
                    }
                    ?>
                    <div class="col col-md-4">
                        <h2><?php echo $letter; ?></h2>

                        <?
                            foreach($cities_uids as $null => $city_uid)
                            {
                                $city = $cities[$city_uid];
                                ?><p><a class="city-selector" href="#" data-uid="<?php echo $city['uid']; ?>" data-name="<?php echo $city['name']; ?>"><?php echo $city['name']; ?></a><small><?php echo $city['objects']; ?></small></p><?
                            }
                        ?>

                    </div>
                    <?

                    if(intval($i+1) % 3 == 0 || intval($i+1) == sizeof($cities_ab))
                    {
                        ?></div><!-- .row - END --><?
                    }

                    $i++;
                }
            ?>

      </div>

    </div>
  </div>
</div>

<!-- MODAL - Login -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Вход</h2>
      </div>

      <div class="modal-body">

                <form class="gy-form" id="modal-login-form" role="form" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" data-async>

                    <div class="row">
                        <div class="col col-md-12">
                            <!-- <div class="form-group float-label-control"> -->
                            <div class="form-group floating-label-form-group">
                                <label for="">Email или телефон</label>
                                <?php echo $this->form->u_username; ?>
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <div class="form-group floating-label-form-group">
                                <label for="">Пароль</label>
                                <?php echo $this->form->u_password; ?>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="action" value="dologin">
                    <button type="submit" class="btn big-orange" data-loading-text="<?php echo $this->translate('Checking'); ?>...">Войти</button>

                </form>



      </div>
      <!-- .modal-body - END -->

      <div class="modal-footer">
            <h3><a href="#" data-toggle="modal" data-target="#modal-signup">У меня нет аккаунта</a></h3>
            <h3><a href="http://goyug.com/user/index">Я забыл пароль</a></h3>
            <!--<p class="small">Не забудьте ознакомиться с <a href="#">«Пользовательским соглашением»</a> и <a href="#">«Согласие на обработку персональных данных»</a>. Ведь, нажав «Войти» или «Зарегистрироваться», вы примете его.</p>-->
      </div>
      <!-- .modal-footer - END -->

    </div>
  </div>
</div>

<!-- MODAL - Signup -->
<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Регистрация</h2>
      </div>

      <div class="modal-body">

            <form class="gy-form" id="modal-signup-form" role="form" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" data-async>

                <div class="row">
                    <div class="col col-md-12">
                        <div class="form-group floating-label-form-group">
                            <label for="">Имя</label>
                            <input type="text" class="form-control" id="msf_name" name="msf_name" placeholder="Имя" value="">
                        </div>
                    </div>
                    <!-- .col - END -->

                    <div class="col col-md-12">
                        <div class="form-group floating-label-form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" id="msf_email" name="msf_email" placeholder="Email" value="">
                        </div>
                    </div>
                    <!-- .col - END -->

                    <div class="col col-md-12">
                        <div class="form-group floating-label-form-group">
                            <label for="">Номер телефона</label>
                            <input type="text" class="form-control" id="msf_mobile" name="msf_mobile" placeholder="Номер телефона" value="">
                        </div>
                    </div>
                    <!-- .col - END -->

                    <div class="col col-md-12">
                        <div class="form-group floating-label-form-group">
                            <label for="">Пароль</label>
                            <input type="password" class="form-control" id="msf_password" name="msf_password" placeholder="Пароль" value="">
                        </div>
                    </div>
                    <!-- .col - END -->

                </div>
                <!-- .row - END -->

                <input type="hidden" name="action" value="doreg">
                <button type="submit" class="btn big-orange" id="btn-register" disabled="disabled" data-loading-text="<?php echo $this->translate('Checking'); ?>...">Зарегистрироваться</button>

            </form>

      </div>
      <!-- .modal-body - END -->

      <div class="modal-footer">
            <h3><a href="#" data-toggle="modal" data-target="#modal-login">У меня есть аккаунт на GoYug</a></h3>
            <div class="checkbox">
                <label for="">
                    <input type="checkbox" id="register-privacy"> Я прочитал и принял <a href="/privacy" target="_blank">Согласие на обработку персональных данных</a>
                </label>
            </div>
      </div>
      <!-- .modal-footer - END -->

    </div>
  </div>
</div>