<?
    $cur_city = $this->sessFilter["f_city"];
    $cities = $this->cities["list"];
    $cities_ab = $this->cities["alphabet"];

    // echo $cur_city;
    if(!empty($cur_city) && isset($cities[$cur_city]))
    {
        $f_city_uid = $cur_city;
        $f_city_name = $cities[$cur_city]["name"];
        $f_city_topmenu = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="ico-sort-down"></i> <span>' . $cities[$cur_city]["name"] . '</span></a></li>';

    } else {

        $f_city_uid = "";
        $f_city_name = "";
        $f_city_topmenu = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="ico-sort-down"></i> <span>Город</span></a></li>';
    }
?>

 <!-- // PRELOADER // -->
<div id="preloader" class="clearfix">
    <div class="wrapper align-center">
        <div class="logo">
            <img src="/intro/static/images/logo-big-preloader.png" alt="">
        </div>
    </div>
    <div class="half left"></div>
    <div class="half right"></div>
</div>
<!-- // END PRELOADER // -->
<!-- // HEADER // -->
<header>
    <div class="row wrapper">
        
        <div class="col col-md-3">
                <nav class="align-left">
                <ul>
                    <li class="logo">
                        <a href="#home"><img src="/intro/static/images/logo-top-small.png" alt=""></a>
                    </li>
                    <?=$f_city_topmenu;?>
                </ul>
                </nav>
        </div>

        <div class="col col-md-6">
            <nav class="align-center">
                <ul>

                    <li><a href="#about"><span>О нас</span></a></li>
                    <li><a href="#how"><span>Гостям</span></a></li>
                    <li><a href="#owners"><span>Владельцам</span></a></li>
                    <li><a href="#main-map"><span>Карта</span></a></li>

                </ul>
            </nav>
        </div>

        <div class="col col-md-3">
            <nav class="align-right">
                <ul>
                    
                    <? if(!$this->identity): ?>
                    <li><a class="bordered true_link" href="#" data-toggle="modal" data-target="#modal-login">Войти или зарегистрироваться</a></li>
                    
                    <? else: ?>

                    <li class="dropdown" id="top-navbar">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ico-user-2"></i> <?=$this->identity->u_username;?> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="true_link"  href="/user/dashboard">Панель управления</a></li>
                            <li><a class="true_link"  href="/user/rooms">Ваши объявления</a></li>
                            <li class="divider"></li>
                            <li><a class="true_link" href="/user/logout">Выйти</a></li>
                        </ul>
                    </li>

                <? endif; ?>

                </ul>
            </nav>
        </div>

    </div>
</header>
<!-- // END HEADER // -->
<!-- // MAIN SECTION // -->
<section id="home" class="page fullscreen" data-video="false" data-url="" data-volume="0" data-loop="true">
    <!-- // SLIDER // -->
    <div class="slider fotorama" 
            data-width="100%" 
            data-height="100%" 
            data-fit="cover" 
            data-nav="none" 
            data-navposition="top" 
            data-autoplay="true" 
            data-arrows="true" 
            data-captions="false"
            data-transition="dissolve" 
            data-transitionduration="900" 
            data-loop="true"
            data-stellar-ratio="0.2"
            data-keyboard="true">
        
        <!-- #01 --><img src="/intro/static/images/slider/low/019.jpg" alt="" data-caption="019">
        <!-- #02 --><img src="/intro/static/images/slider/low/013.jpg" alt="" data-caption="013">
        <!-- #03 --><img src="/intro/static/images/slider/low/006.jpg" alt="" data-caption="006">
        <!-- #04 --><img src="/intro/static/images/slider/low/017.jpg" alt="" data-caption="017">
        <!-- #05 --><img src="/intro/static/images/slider/low/011.jpg" alt="" data-caption="011">
        <!-- #06 --><img src="/intro/static/images/slider/low/012.jpg" alt="" data-caption="012">
        <!-- #07 --><img src="/intro/static/images/slider/low/008.jpg" alt="" data-caption="008">
        <!-- #08 --><img src="/intro/static/images/slider/low/014.jpg" alt="" data-caption="014">
        <!-- #09 --><img src="/intro/static/images/slider/low/015.jpg" alt="" data-caption="015">
        <!-- #10 --><img src="/intro/static/images/slider/low/003.jpg" alt="" data-caption="003">
        <!-- #11 --><img src="/intro/static/images/slider/low/002.jpg" alt="" data-caption="002">
        <!-- #12 --><img src="/intro/static/images/slider/low/004.jpg" alt="" data-caption="004">
        

    </div>
    <!-- // END SLIDER // -->
    <!-- // CONTENT // -->
    <!-- PATTERNS AVAILABLE
                            
                            # dot-1
                            # dot-2
                            # dot-3
                            # line-1
                            # line-2
                            # gradient-1
                            # gradient-2
                            # color-layout + data-color="rgba(0, 0, 0, 0.5)" (or data-color="#000000")
                                            
                            USE ONLY WITH .PATTERN CLASS!
    EXAMPLE: class="pattern gradient-2" -->
    <!-- <div class="content" data-color="rgba(0, 0, 0, 0.45)"> -->
    <div class="content pattern color-layout" data-color="rgba(0, 0, 0, 0)">
        <div class="wrapper align-center">
            <div class="booking-form">
                <h1>Бронирование жилья<br> на Юге России</h1>
                <h3>квартиры, апартаменты, миниотели, хостелы</h3>

                <form class="main-search-form" id="main-search-form" role="form" action="" method="post">
                    
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="f_city_name" name="f_city_name" placeholder="Город" value="<?=$f_city_name;?>">
                                <input type="hidden" name="f_city" id="f_city" value="<?=$f_city_uid;?>">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="f_arrdate" name="f_arrdate" placeholder="ДАТА ЗАЕЗДА">
                                <input type="hidden" name="arrdate_hid">
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="f_depdate" name="f_depdate" placeholder="ДАТА ВЫЕЗДА">
                                <input type="hidden" name="depdate_hid">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-6">

                            <div class="form-group">
                                <select class="" id="f_objtype" name="f_objtype">
                                    <option value="all">Все объекты</option>
                                    <option value="flapt">Апартамент / Квартира</option>
                                    <option value="hotel">Отель</option>
                                    <option value="hostel">Хостел</option>
                                </select>
                            </div>

                        </div>
                        
                        <div class="col col-md-6">

                            <div class="form-group">
                                <select class="" id="f_guests" name="f_guests">
                                    <option value="1">1 гость</option>
                                    <option value="2">2 гостя</option>
                                    <option value="3">3 гостя</option>
                                    <option value="4">4 гостя</option>
                                    <option value="5">5 гостей</option>
                                </select>
                            </div>

                        </div>

                    </div>


                    <button type="submit" class="btn big-orange">Найти</button>
                </form>
            </div>
        </div>
    </div>
    <!-- // END CONTENT // -->
</section>
<!-- // END MAIN SECTION // -->


<!-- // ABOUT // -->
<section id="about" class="page">
    <div class="wrapper">
        <header>
            <h1>О нас</h1>
        </header>
        <div class="body">
            <div class="logo align-center">
                <img src="/intro/static/images/logo-small.png" alt="">
            </div>
            <p>
            ГОУ-ЮГ – это проект, цель которого предоставить
            </p>
            <p>
            <span class="orange">гостям юга</span> - удобный инструмент поиска и бронирования жилья для краткосрочного проживания в отпуске, командировке и путешествии,
            </p>
            <p>
            a <span class="orange">владельцам жилья</span> - бесплатный доступ к современной системе онлайн бронирования жилья.
            </p>
            
            <h1 class="double-marg"><a href="#" data-target=".about-workflow" class="my-collapse">Как это работает?</a></h1>
            
            <div class="about-workflow">
                <div class="row">
                    
                    <!-- ********** Workflow for GUEST *************** -->
                    <div class="col col-md-6 left">
                        
                        <h3 class="rounded">Для гостя</h3>
                        
                        <div class="box-guests box-guests-1">
                            <div class="box-text">
                                Подбирает интересующий его вариант, бронирует его в режиме онлайн. Предоплата не взимается.
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="box-guests box-guests-2">
                            <div class="box-text">
                                Получает от нас информацию о бронировании с реквизитами владельца жилья.<br><br>
                                Для гарантирования бронирования связывается с владельцем жилья и уточняет детали.
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="box-guests box-guests-3">
                            <div class="box-text">
                                В согласованное время размещается в выбранном варианте и вносит оплату за проживание.
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div><!-- .col-md-6 - END -->
                    

                    <!-- ********** Workflow for OWNERS *************** -->
                    <div class="col col-md-6 right">
                        
                        <h3 class="rounded">Для владельца</h3>
                        
                        <div class="box-owners box-owners-1">
                            <div class="box-text">
                                Бесплатно размещает у нас информацию о своем жилье.<br><br>
                                Заполняет календарь занятости.<br><br>
                                Активирует функцию мгновенного бронирования.
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="box-owners box-owners-2">
                            <div class="box-text">
                                Получает от нас информацию о бронировании с реквизитами гостя.<br><br>
                                Для подтверждения брони связывается с гостем и уточняет факт бронирования и детали заезда.
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                    </div><!-- .col-md-6 - END -->
                
                </div><!-- .row - END -->

            </div><!-- .about-workflow - END -->
        </div>

    </div>
</section>
<!-- // END ABOUT // -->


<!-- // MAP // -->
<!-- 45.041177, 38.982773 -->
<section class="page" id="main-map">

        <header>
            <h1>Города в которых мы работаем</h1>
            <h2>у нас уже более <strong><?=$this->objects_total;?></strong> предложений в <strong><?=count($cities);?></strong> городах</h2>
        </header>

    <div class="map" 
        data-maplat="45.615182" 
        data-maplon="38.938993" 
        data-mapzoom="7" 
        data-color="blue" 
        data-height="40" 
        data-img="/images/ui/marker.png" 
        data-info="Краснодар"
        >
    </div>
</section>                                  
<!-- // END MAP // -->

<section class="page" id="map-legend">
    <div class="wrapper">

        <div class="body">
            
            <div class="row">
            <div class="col col-md-4">
                <img src="/images/icons/ico-big-marker.png">
            </div>

            <div class="col col-md-8">
            <?
                $i = 0;
                foreach($cities_ab as $letter => $cities_uids)
                {
                    if($i % 4 == 0)
                    {
                        ?><div class="row"><?
                    }
                    ?>
                    <div class="col col-md-3">
                        <h2><?=$letter;?></h2>

                        <?
                            foreach($cities_uids as $null => $city_uid)
                            {
                                $city = $cities[$city_uid];
                                ?><p><a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc/f_city/<?=$city["uid"];?>/f_minprice/<?=$city["minprice"];?>/f_maxprice/<?=$city["maxprice"];?>"><?=$city['name'];?></a><small><?=$city['objects'];?></small></p><?
                            }
                        ?>

                    </div>
                    <?

                    if(intval($i+1) % 4 == 0)
                    {
                        ?></div><!-- .row - END --><?
                    }

                    $i++;
                }
            ?>
            </div>
            </div>

        </div>
        <!-- .body - END -->

    </div>
</section>                                  
<!-- // END MAP // -->


<!-- // HOW // -->
<section id="how" class="page">
    <div class="wrapper">
        
        <header>
            <h1>Как снять жилье?</h1>
        </header>

        <div class="body">
            <div class="row">
                
                <div class="col col-md-4">
                    <div class="align-center">
                        <img src="/intro/static/images/main-how-01.png" alt="">
                    </div>
                    <h3>Карта решает</h3>
                    <p>Еще никогда поиск не бы так прост!</p>
                    <p>Легко и быстро при помощи карты и фильтров выберите вариант.</p>
                </div>
                
                <div class="col col-md-4">
                    <div class="align-center">
                        <img src="/intro/static/images/main-how-02.png" alt="">
                    </div>
                    <h3>Жилье в реальном времени</h3>
                    <p>Большинство наших предложений доступно к мгновенному бронированию. <br>Забудьте про звонки и запросы!</p>
                </div>
                
                <div class="col col-md-4">
                    <div class="align-center">
                        <img src="/intro/static/images/main-how-03.png" alt="">
                    </div>
                    <h3>Бронируйте без предоплаты</h3>
                    <p>
                    Мы  не требуем предоплаты при бронировании.<br>
                    Все оплаты вы производите во время проживания.
                    </p>
                </div>
            
            </div>
            <!-- .row - END -->

            <a class="btn big-orange btn-signup" href="#">Зарегистрируйтесь</a>

        </div>
        <!-- .body - END -->

    </div>
    <!-- .wrapper - END -->

</section>
<!-- // END HOW // -->


<!-- // OWNERS // -->
<section id="owners" class="page">
    <div class="wrapper">
        
        <header>
            <h1>Как сдать жилье?</h1>
        </header>
        
        <div class="body">
            <div class="row">
                
                <div class="col col-md-4">
                    <h1><i class="ico-cool"></i></h1>
                    <h3>Это бесплатно</h3>
                    <p>Мы не требуем оплаты за размещение, не берем абонплаты и не требуем эксклюзивности при работе с нами.</p>
                </div>
                
                <div class="col col-md-4">
                    <h1><i class="ico-list-ol"></i></h1>
                    <h3>Никаких проплаченных рейтингов</h3>
                    <p>Мы не берем платы за продвижение и позицию в поиске.<br>
                    Регулярно обновляйте свой календарь занятости и вы на первых позициях поиска.</p>
                </div>
                
                <div class="col col-md-4">
                    <h1><i class="ico-bolt"></i></h1>
                    <h3>Мгновенное бронирование</h3>
                    <p>
                    Ваше жилье доступно для мгновенного бронирования гостями.<br>
                    Забудьте про звонки и запросы!
                    </p>
                </div>
            
            </div>
            <!-- .row - END -->

            <a class="btn big-orange btn-join" href="#">Присоединяйтесь</a>

        </div><!-- .body - END -->
    </div><!-- .wrapper - END -->
</section>
<!-- // END OWNERS // -->




<!-- // TOP DEST // -->
<section id="top-dest" class="page">
    <div class="wrapper">
        <header>
            <h1>Топ направлений</h1>
            <h4>На Юге России</h4>
        </header>
        <div class="body">
            
            <?
                if(count($this->topdest) > 0)
                {
                    foreach($this->topdest as $i => $val)
                    {
                        ?>
                        <!--
                        content to-right
                        content-fullwidth
                        content to-right
                        -->

                        <!-- Top Destinations Box -->
                        <div class="box">
                            <div class="image"><img src="/images/ui/intro/<?=$val["uid"];?>-big.jpg"></div>
                            <div class="content-fullwidth">
                                <div class="backlight"></div>
                                <div class="text">
                                    <h2><a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc/f_city/<?=$val["uid"];?>/f_minprice/<?=$val["minprice"];?>/f_maxprice/<?=$val["maxprice"];?>"><?=$val["name"];?></a></h2>
                                    <h3><?=$val["objects"];?> <?=$this->translate( array( 'предложение', 'предложения', 'предложений', $val["objects"], 'ru' ) );?></h3>
                                    <div class="price">
                                        от <span class="big"><?=$val["minprice"];?> <span class="rouble">o</span></span><br>
                                        в сутки
                                    </div>
                                    <a class="btn big-orange" href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc/f_city/<?=$val["uid"];?>/f_minprice/<?=$val["minprice"];?>/f_maxprice/<?=$val["maxprice"];?>">Просмотр</a>
                                </div>
                            </div>
                        </div>

                        <?
                    }
                }
            ?>

            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- // END TOP DEST // -->


<!-- // TOP OFFERS // -->
<section id="top-offers" class="page">
    <div class="wrapper">
        <header>
            <h1>Топ предложений</h1>
            <h4>Краснодар, Сочи, Геленджик, Анапа</h4>
        </header>
        <div class="body">
            <div class="row">
                <div class="col col-md-4">
                    <a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc"><img src="/intro/static/images/top-offer-1.jpg"></a>
                    <h2><a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc">Сочи, Виноградная</a></h2>
                    <h3>Сочи</h3>
                    <div class="price">
                        от <span class="big orange">1400<span class="rouble">o</span></span> в сутки
                    </div>
                </div>
                <div class="col col-md-4">
                    <a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc"><img src="/intro/static/images/top-offer-2.jpg"></a>
                    <h2><a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc">Геленджик, Луначарского</a></h2>
                    <h3>Геленджик</h3>
                    <div class="price">
                        от <span class="big orange">1200<span class="rouble">o</span></span> в сутки
                    </div>
                </div>
                <div class="col col-md-4">
                    <a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc"><img src="/intro/static/images/top-offer-3.jpg"></a>
                    <h2><a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc">Анапа, Крепостная</a></h2>
                    <h3>Анапа</h3>
                    <div class="price">
                        от <span class="big orange">1100<span class="rouble">o</span></span> в сутки
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // END TOP OFFERS // -->


<!-- // PREFOOTER // -->
<section id="prefooter" class="page">
    <div class="wrapper">
        <div class="body">
            <div class="row">
                <!-- // OFFERS //-->
                <div class="col col-md-4">
                    <h3>Свежие объекты</h3>
                    <div class="row offer-box">
                        <div class="col col-md-3">
                            <img src="/images/ui/footer-offers-1.png">
                        </div>
                        <div class="col col-md-9">
                            <h4><a href="#">Мини-отель “Центральный”</a></h4>
                            <h5 class="upper">Краснодар</h5>
                            <p>от <span class="price">1200<span class="rouble">o</span></span> за ночь</p>
                        </div>
                    </div>
                    <div class="row offer-box">
                        <div class="col col-md-3">
                            <img src="/images/ui/footer-offers-2.png">
                        </div>
                        <div class="col col-md-9">
                            <h4><a href="#">Квартира, Сормовская</a></h4>
                            <h5 class="upper">Сочи</h5>
                            <p>от <span class="price">1000<span class="rouble">o</span></span> за ночь</p>
                        </div>
                    </div>
                    <div class="row offer-box">
                        <div class="col col-md-3">
                            <img src="/images/ui/footer-offers-3.png">
                        </div>
                        <div class="col col-md-9">
                            <h4><a href="#">Апартаменты, Красная</a></h4>
                            <h5 class="upper">Геленджик</h5>
                            <p>от <span class="price">2400<span class="rouble">o</span></span> за ночь</p>
                        </div>
                    </div>
                </div>
                <!-- // END OFFERS //-->
                <!-- // FEEDBACKS //-->
                <div class="col col-md-4">
                    <h3>Свежие отзывы</h3>
                    <div class="row offer-box">
                        <div class="col col-md-3">
                            <img src="/images/ui/footer-offers-1.png">
                        </div>
                        <div class="col col-md-9">
                            <h4><a href="#">Анапа, ул. Крепостная</a></h4>
                            <h5 class="upper">Анапа</h5>
                            <p class="feedback">27</p>
                        </div>
                    </div>
                    <div class="row offer-box">
                        <div class="col col-md-3">
                            <img src="/images/ui/footer-offers-2.png">
                        </div>
                        <div class="col col-md-9">
                            <h4><a href="#">Квартира, Сормовская</a></h4>
                            <h5 class="upper">Сочи</h5>
                            <p class="feedback">4</p>
                        </div>
                    </div>
                    <div class="row offer-box">
                        <div class="col col-md-3">
                            <img src="/images/ui/footer-offers-3.png">
                        </div>
                        <div class="col col-md-9">
                            <h4><a href="#">Апартаменты, Красная</a></h4>
                            <h5 class="upper">Геленджик</h5>
                            <p class="feedback">31</p>
                        </div>
                    </div>
                </div>
                <!-- // END FEEDBACKS //-->
                <!-- // POPULAR //-->
                <div class="col col-md-4">
                    <h3>Популярное</h3>
                    <div class="row offer-box">
                        <div class="col col-md-3">
                            <img src="/images/ui/footer-offers-1.png">
                        </div>
                        <div class="col col-md-9">
                            <h4><a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc">Анапа, ул. Крепостная</a></h4>
                            <h5 class="upper">Анапа</h5>
                            <p class="like">1</p>
                        </div>
                    </div>
                    <div class="row offer-box">
                        <div class="col col-md-3">
                            <img src="/images/ui/footer-offers-2.png">
                        </div>
                        <div class="col col-md-9">
                            <h4><a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc">Квартира, Сормовская</a></h4>
                            <h5 class="upper">Сочи</h5>
                            <p class="like">4</p>
                        </div>
                    </div>
                    <div class="row offer-box">
                        <div class="col col-md-3">
                            <img src="/images/ui/footer-offers-3.png">
                        </div>
                        <div class="col col-md-9">
                            <h4><a href="/objects/index/f_guests/2/f_objtype/all/f_sort_type/price/f_sort_dest/asc">Апартаменты, Красная</a></h4>
                            <h5 class="upper">Геленджик</h5>
                            <p class="like">12</p>
                        </div>
                    </div>
                </div>
                <!-- // END POPULAR //-->
            </div>
            <!-- // END row //-->
            <div class="logo">
                <img src="/intro/static/images/logo-footer.png">
            </div>
        </div>
        <!-- // END body //-->
    </div>
    <!-- // END wrapper //-->
</section>
<!-- // END OWNERS // -->


<!-- // CONTENT // -->
<section id="content">
    <section id="last-section" class="page fullwidth">
        <header>
            <nav>
                <ul>
                    <li><a href="#" class="btn no-color" data-page="feedback">Обратная связь</a>
                    </li>
                    
                    <!-- <li><a href="#" class="btn no-color" data-page="contacts">Контакты</a></li> -->
                
                </ul>
            </nav>
            <div class="triangle"></div>
        </header>
    </section>
</section>
<!-- // END CONTENT // -->
<div id="footer-space"></div>
<!-- // FOOTER // -->
<footer>
    <div class="wrapper">
        <!-- // FEEDBACK // -->
        <section id="feedback" class="page image">
            <div class="wrapper align-center">
                <ul>
                    <li class="text">
                        <h2>Нужна более детальная информация?</h2>
                        <hr>
                        <p>Дополнительную информацию вы можете получить связавшись с нами через форму обратной связи или просто написав нам на <a href="mailto:info@goyug.com">info@goyug.com</a>, и мы вышлем вам более детальное предложение</p>
                    </li>
                    <li>
                        <form action="/intro/engine/feedback.php" method="post" class="flat">
                            <div>
                                <input type="text" name="name" value="" placeholder="Ваше имя?">
                                <input type="email" name="email" value="" placeholder="Обратный Email адрес">
                                <textarea name="message" placeholder="Что бы вы хотели нам сказать или спросить у нас?"></textarea>
                            </div>
                            <div>
                                <span class="status" data-success="Ваше сообщение отправлено" data-error="Что-то пошло не так">
                                </span>
                                <input type="submit" value="Отправить" class="btn">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </section>
        <!-- // END FEEDBACK // -->
        <!-- // CONTACTS // -->
        <section id="contacts" class="page image">
            <div class="wrapper align-center">
                <div class="text">
                    <h2>Контактная информация</h2>
                    <hr>
                    <p>ул. шоссе Нефтяников, 28
                    <br> ТЦ "Ньютон"
                    <br>
                    <br>этаж 4, офис 401
                    <br>Краснодар, Россия
                    </p>
                    <p>Просто позвоните нам:
                    <br> +7 861 211-8878
                    </p>
                </div>
                <div id="map" data-latitude="45.067863" data-longitude="38.982992">
                    <div data-latitude="45.067863" data-longitude="38.982992" data-title="Our office" class="marksys">
                        <div class="align-center" style="padding:5px;color:#000">Наш офис!</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- // END CONTACTS // -->
    </div>
</footer>
<!-- // END FOOTER //-->

<!-- MODAL - City Selector -->
<div class="modal fade" id="modal-select-city" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Выберите город</h2>
      </div>
      
      <div class="modal-body">

            <?
                $i = 0;
                foreach($cities_ab as $letter => $cities_uids)
                {
                    if($i % 3 == 0)
                    {
                        ?><div class="row"><?
                    }
                    ?>
                    <div class="col col-md-4">
                        <h2><?=$letter;?></h2>

                        <?
                            foreach($cities_uids as $null => $city_uid)
                            {
                                $city = $cities[$city_uid];
                                ?><p><a class="city-selector" href="#" data-uid="<?=$city['uid'];?>" data-name="<?=$city['name'];?>"><?=$city['name'];?></a><small><?=$city['objects'];?></small></p><?
                            }
                        ?>

                    </div>
                    <?

                    if(intval($i+1) % 3 == 0 || intval($i+1) == sizeof($cities_ab))
                    {
                        ?></div><!-- .row - END --><?
                    }

                    $i++;
                }
            ?>

      </div>
      
    </div>
  </div>
</div>


<!-- MODAL - Login -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Вход</h2>
      </div>
      
      <div class="modal-body">

                <form class="gy-form" id="modal-login-form" role="form" method="<?=$this->form->getMethod();?>" action="<?=$this->form->getAction();?>" data-async>
                    
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <?=$this->form->u_username;?>
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <div class="form-group">
                                <?=$this->form->u_password;?>
                            </div>
                        </div>
                    </div>
                
                    <input type="hidden" name="action" value="dologin">
                    <button type="submit" class="btn big-orange" data-loading-text="<?=$this->translate('Checking');?>...">Войти</button>

                </form>



      </div>
      <!-- .modal-body - END -->

      <div class="modal-footer">
            <h3><a href="#" data-toggle="modal" data-target="#modal-signup">у меня нет аккаунта</a></h3>
            <p class="small">Не забудьте ознакомиться с <a href="#">«Пользовательским соглашением»</a> и <a href="#">«Согласие на обработку персональных данных»</a>. Ведь, нажав «Войти» или «Зарегистрироваться», вы примете его.</p>
      </div>
      <!-- .modal-footer - END -->

    </div>
  </div>
</div>

<!-- MODAL - Signup -->
<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Регистрация</h2>
      </div>

      
      <div class="modal-body">

                <form class="gy-form" id="modal-signup-form" role="form" action="" method="post" data-async>
                    
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="msf-name" name="msf-name" placeholder="Имя" value="">
                            </div>
                        </div>
                        <!-- .col - END -->

                        <div class="col col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="msf-email" name="msf-email" placeholder="Электронная почта" value="">
                            </div>
                        </div>
                        <!-- .col - END -->

                        <div class="col col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="msf-mobile" name="msf-mobile" placeholder="Номер телефона" value="">
                            </div>
                        </div>
                        <!-- .col - END -->

                        <div class="col col-md-12">
                            <div class="form-group">
                                <input type="password" class="form-control" id="msf-password" name="msf-password" placeholder="Пароль" value="">
                            </div>
                        </div>
                        <!-- .col - END -->

                    </div>
                    <!-- .row - END -->

                    <button type="submit" class="btn big-orange">Зарегистрироваться</button>
                

                </form>


      </div>
      <!-- .modal-body - END -->
      
      <div class="modal-footer">
            <h3><a href="#" data-toggle="modal" data-target="#modal-login">у меня есть аккаунт на GoYug</a></h3>
            <p class="small">Не забудьте ознакомиться с <a href="#">«Пользовательским соглашением»</a> и <a href="#">«Согласие на обработку персональных данных»</a>. Ведь, нажав «Войти» или «Зарегистрироваться», вы примете его.</p>
      </div>
      <!-- .modal-footer - END -->

    </div>
  </div>
</div>
