
<div class="row">
<div class="col-md-3 col-md-offset-4">

<h2>Mail Test</h2>

<div class="panel panel-default">
  <div class="panel-body">

<form method="post">
  
  <div class="form-group">
    <label for="email-to">Email To: </label>
    <input type="email" class="form-control" id="email-to" name="email_to" placeholder="To: ">
  </div>

<div class="radio">
  <label>
    <input type="radio" name="email_transport" id="email_transport1" value="zend">
    Send by Zend
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="email_transport" id="email_transport2" value="func" checked>
    Send by Mail Func
  </label>
</div>

<div class="radio">
  <label>
    <input type="radio" name="email_transport" id="email_transport3" value="phpmailer" checked>
    Send by Mail PHPMailer Lib
  </label>
</div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>

</div>
</div>

</div>
</div>

<?
	if(isset($email_to) && !empty($email_to)) {
		echo $email_to;
	}
?>

