<h2><?=$this->name;?>: Сброс по номеру игрока</h2>
<h3><span class="red">&larr;</span> <a href="/ai/<?=$this->ucid;?>/">назад к списку</a></h3>

<? 
    echo $this->form; 
    
    if(!empty($this->val)):

    ?><h3>Результаты</h3><ul><?
    echo "<li>Игроки (p_player): ".$this->player." элементов удалено</li>";
    echo "<li>Игровой процесс (gf_gameflow): ".$this->gameflow." элементов удалено</li>";
    echo "<li>Лог (l_log): ".$this->log." элементов удалено</li>";
    echo "<li>Недельная статистика (sw_statweek): ".$this->statweek." элементов удалено</li>";
    ?></ul><? 

    endif;        