<div class="navbar navbar-subnavbar navbar-fixed-top" role="navigation">
    <div class="container">


        <div class="navbar-header">
            <h3 class="navbar-brand"><i class="ico-ban-circle"></i> <?=$this->translate("An unexpected error occurred");?></h3>
        </div>
        <div class="navbar-collapse collapse collapse-ex2">
            <ul class="nav navbar-nav">

                <li>
                    <div class="btn-group btn-group-sm">
                        <a href="<?=$_SERVER['HTTP_REFERER'];?>" class="btn btn-default"><i class="ico-long-arrow-left"></i> <?=$this->translate("Back one step");?></a>
                    </div><!--/.btn-group-->
                </li>

            </ul><!--/.nav navbar-nav-->
        </div><!--/.navbar-collapse-->

    </div><!--/.container-->
</div><!--/.navbar navbar-subnavbar navbar-fixed-top-->

