#citymap-wrapper
{
    position: relative;

    overflow: hidden;

    padding: 0;
}
#citymap
{
    z-index: 1;

    overflow: hidden;

    width: 1140px;
    height: 500px;

    background: #ccc;
}

#infoWindow
{
    position: absolute;
    z-index: 3;

    display: hidden;

    cursor: default;

    background: #fff;
}
#infoWindowWrapper
{
    position: absolute;
    z-index: 3;
    top: 18px;
    left: 18px;

    overflow: hidden;

    width: 407px;
    height: 93px;

    cursor: default;
}
canvas
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    overflow: hidden;

    pointer-events: none;

    /*border: 1px solid red;*/
}

img
{
    max-width: none;
}

@media (max-width: 979px) and (min-width: 768px)
{
    .row-fluid .span2
    {
        width: 33.0%;
    }
    .row-fluid .span10
    {
        width: 64.0%;
    }
}
