<div class="help-title navbar navbar-fixed-top">
    <div class="container">
        <h1><i class="ico-phone-2"></i> Контактная информация и реквизиты</h1>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row help">
    <div class="container">
        <div class="col-lg-9 col help-content">
            <h2>Контактная информация</h2>
            <div class="row">
                <div class="col col-md-6">
                    <h3>Адрес</h3>
                    <p>
                    г. Краснодар<br>
                    ул. Шоссе Нефтяников 28<br>
                    оф. 404
                    </p>

                </div>
                <div class="col col-md-6">
                    <h3>Как с нами связаться</h3>
                    <p>
                    +7 918 217-0163<br>
                    +7 960 484-9810
                    </p>
                    <p><a href="mailto: info@apartkvartira.ru">info@apartkvartira.ru</a></p>

                </div>
            </div>

            <h3>Реквизиты</h3>
            Наименование юрлица: ООО «АпартКвартира.ру»<br>
            ИНН 2308201715<br>
            ОГРН 1132308009459<br>
            Юридический адрес: 350051,Краснодарский край, г. Краснодар, ул. Шоссе Нефтяников, д.28, офис 404<br>
            Фактический адрес: 350051,Краснодарский край, г. Краснодар, ул. Шоссе Нефтяников, д.28, офис 404<br>

        </div>
    </div>
</div>