<?php

    if(!empty($this->city))
    {
      $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>' . $this->city["name"] . ' <span data-block="found" class="foundItemsLabel visible-from-440"></span> </span></a></li>';

    } else {

      $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>Город</span></a></li>';
    }
?>

<?php include("header.phtml"); ?>

<div class="container privacy">
  <div class="row">
    <div class="col-xs-12">

      <h1>Реквизиты</h1>

<p>ИП Сурков Сергей Полиевтович</p>
<p>Адрес: 350072, г.Краснодар, ул.40 Лет Победы , д.146 корп.9, кв.60</p>
<p>ИНН: 860401777500</p>
<p>ОГРН: 313231105800050</p>
<p>Банк: Краснодарский РФ ОАО "Россельхозбанк", г.Краснодара</p>
<p>БИК: 040349536</p>
<p>Корр.счет: 30101810700000000536</p>
<p>Расчетный счет: 40802810303000000379</p>
<br>
<p><strong>Контактный телефон: +7 (861) 211-88-78</strong></p>


    </div>
  </div>
</div>

<?php include("modal.phtml"); ?>