<?php

    if(!empty($this->city))
    {
      $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>' . $this->city["name"] . ' <span data-block="found" class="foundItemsLabel visible-from-440"></span> </span></a></li>';

    } else {

      $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>Город</span></a></li>';
    }
?>

<?php include("header.phtml"); ?>

<div class="container privacy">
  <div class="row">
    <div class="col-xs-12">

      <h1>Согласие на обработку персональных данных</h1>

      <p>Пользователь, зарегистрировавшись на сайте или подписываясь на оповещения об информации по адресу <strong><a href="/">http://goyug.com</a></strong>, обязуется принять Согласие на обработку персональных данных (далее – Согласие).</p>

      <p>Принятием (акцептом) оферты настоящего Согласия является регистрация Пользователя на Сайте или подача заявки на получение товара/услуги. Пользователь дает свое согласие <strong>ИП Сурков Сергей Полиевтович</strong>, расположенному по адресу <strong>350072, г.Краснодар, ул.40 Лет Победы , д.146 корп.9, кв.60</strong>, на обработку своих персональных данных со следующими условиями:</p>

      <ol>
        <li>Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их использованием.</li>
        <li>Согласие дается на обработку следующих персональных данных:
          <ul>
            <li>Фамилия Имя Отчество</li>
            <li>Номера контактных телефонов</li>
            <li>Адреса электронной почты</li>
            <li>Адрес проживания</li>
          </ul>
        </li>
        <li>Персональные данные не относятся к общедоступным</li>
        <li><strong>Целью обработки персональных данных является – предоставление пользователю информации о доступных для бронирования апартаментах и квартирах, находящихся в базе данных ИП Сурков Сергей Полиевтович.</strong></li>

        <li>Основанием для обработки персональных данных является Ст. 24 Конституции Российской Федерации; ст.6 Федерального закона №152-ФЗ «О персональных данных»;, иные федеральные законы и нормативно правовые акты.</li>

        <li>В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезли-чивание, блокирование, удаление, уничтожение.</li>

        <li>Передача персональных данных третьим лицам осуществляется на основании установленного законодательства Российской Федерации, договора с участием Пользователя или с согласия Пользователя. <strong>Передача персональных данных третьим лицам не осуществляется.</strong></li>

        <li>Персональные данные обрабатываются ИП Сурков Сергей Полиевтович в течении трех лет. Хранение персональных данных осуществляется согласно Федеральному закону №125-ФЗ «Об архивном деле в Российской Федерации» и иным нормативно правовым актам в области архивного дела и архивного хранения.</li>

        <li>Согласие может быть отозвано Пользователем, путем направления письменного заявления представителю ИП Сурков Сергей Полиевтович на электронный адрес <a href="mailto: info@goyug.com">info@goyug.com</a>.</li>

        <li>Настоящее согласие действует все время до момента прекращения обработки персональных данных, указанных в п.8 и п.9 данного Согласия.</li>

      </ol>

    </div>
  </div>
</div>

<?php include("modal.phtml"); ?>