<div class="help-title navbar navbar-fixed-top">
    <div class="container">

        <h1><i class="ico-lock-3"></i> Безопасность онлайн платежей</h1>

        <div class="clearfix"></div>
    </div>
</div>


<div class="row help">
    <div class="container">

        <div class="col-lg-9 col help-content">

            <h2>Безопасность онлайн платежей</h2>

            <p>Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере. </p>

            <p>Безопасность обработки Интернет-платежей гарантирует <strong>ЗАО «Банк Русский Cтандарт»</strong>. Все операции с платежными картами происходят в соответствии с  требованиями <strong>VISA International, MasterCard, American Express и других платежных систем</strong>. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.  В случаи использования регулярных платежей, при совершении первой операции номер Вашей карты и срок действия будут сохранены на стороне Банка в безопасном хранилище. По факту выполнения или оказания услуг со стороны компании, данные будут удалены автоматически. Все ресурсы Банка соответствуют <strong>стандартам безопасности PCI DSS</strong>.</p>
            
            <p>При проведении операции, Вы будете дополнительно перенаправлены на страницу Банка-Эмитента для ввода подтверждающего кода безопасности (в случае если банк, выпустивший Вашу карту поддерживает технологию 3DSecure, и Ваша карта также поддерживает данную программу).</p>
            
            <p>3D Secure – процедура дополнительной аутентификации держателя карты, предназначенная для обеспечения гарантированной безопасности платежей по банковским картам в Сети Интернет. </p>
            
            <p>Технологическое решение 3D Secure имеет свой собственный бренд в каждой из платежных систем:</p>

            <ul>
                <li>Verified by Visa – по картам платежной системы Visa Int.</li>
                <li>MasterCard Secure Code – по картам, выпущенным в рамках MasterCard Intv</li>
                <li>SafeKey и JSecure – платежная система American Express и JCB соответственно</li>
            </ul>
            
            <p>В независимости от названия, технология 3D Secure предполагает защищенную сессию при проведении интернет-транзакции и позволяет пользователям-держателям карты, подтвердить правомерность операции для Банка выпустивший карту.</p>
            
            <p>В случае возникновения вопросов по поводу данной конфиденциальности предоставляемой Вами информации, Вы можете связаться с ЗАО «Банк Русский Cтандарт» по телефону: 8 (800) 200-6-200.</p>

    </div>


</div>
</div>