<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form">


    <fieldset id="fieldset-u_group1"><legend><?=$this->translate("General attributes");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Enable");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->u_active;?>
                        </div>
                    </div>
                </div><!-- /.col -->


            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>

    
    <fieldset id="fieldset-u_group3"><legend><?=$this->translate("Legal info");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <label for="<?=$this->form->u_lf_id->getAttrib('id');?>"><?=$this->form->u_lf_id->getLabel();?></label>
                    <?=$this->form->u_lf_id;?>
                </div><!-- /.col -->


                <div class="col-md-3">
                    <label for="<?=$this->form->u_inn->getAttrib('id');?>"><?=$this->form->u_inn->getLabel();?></label>
                    <?=$this->form->u_inn;?>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>


    <fieldset id="fieldset-u_group4"><legend><?=$this->translate("User info");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-4">
                    <label for="<?=$this->form->u_lastname->getAttrib('id');?>"><?=$this->form->u_lastname->getLabel();?></label>
                    <?=$this->form->u_lastname;?>
                </div><!-- /.col -->

                <div class="col-md-4">
                    <label for="<?=$this->form->u_firstname->getAttrib('id');?>"><?=$this->form->u_firstname->getLabel();?></label>
                    <?=$this->form->u_firstname;?>
                </div><!-- /.col -->

                <div class="col-md-4">
                    <label for="<?=$this->form->u_patronomyc->getAttrib('id');?>"><?=$this->form->u_patronomyc->getLabel();?></label>
                    <?=$this->form->u_patronomyc;?>
                </div><!-- /.col -->

                
            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <label for="<?=$this->form->u_email->getAttrib('id');?>"><?=$this->form->u_email->getLabel();?></label>
                    <?=$this->form->u_email;?>
                </div><!-- /.col -->

                <div class="col-md-9">
                    <label for="<?=$this->form->u_url->getAttrib('id');?>"><?=$this->form->u_url->getLabel();?></label>
                    <?=$this->form->u_url;?>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <label for="<?=$this->form->u_phone_1->getAttrib('id');?>"><?=$this->form->u_phone_1->getLabel();?></label>
                    <?=$this->form->u_phone_1;?>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->u_phone_2->getAttrib('id');?>"><?=$this->form->u_phone_2->getLabel();?></label>
                    <?=$this->form->u_phone_2;?>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label for="<?=$this->form->u_phone_3->getAttrib('id');?>"><?=$this->form->u_phone_3->getLabel();?></label>
                    <?=$this->form->u_phone_3;?>
                </div><!-- /.col -->

            </div><!-- /.row -->

            <div class="alert alert-danger" role="alert" id="alert-phone-exist">Телефон уже есть в базе: <strong id="phone-exist-details"></strong></div>

        </div><!-- /.form-group -->
    </fieldset>



    <fieldset id="fieldset-u_group5"><legend><?=$this->translate("Additional info");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Is Phoned");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->u_is_phoned;?>
                        </div>
                    </div>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->

        <div class="form-group">
            <div class="row">

                <div class="col-md-6">
                    <label for="<?=$this->form->u_notes->getAttrib('id');?>"><?=$this->form->u_notes->getLabel();?></label>
                    <?=$this->form->u_notes;?>
                </div>


            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>




    <?=$this->form->u_id;?>

    <div class="submit-group">
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
        <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>
    </div>

</form>
