<?
    $ucid = $this->getHelper('PartialLoop')->view->ucid;
    $langs = $this->getHelper('PartialLoop')->view->langs;

    $contextClass = ($this->u_active) ? "" : "danger ";
    $contextIcon = ($this->u_active) ? "<i class='icon-eye5'></i> " : "<i class='icon-eye-blocked'></i> ";

?>
<tr class="<?=$contextClass;?>>">

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-pencil"/></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'update',  'id' => $this->u_id));?>"><i class="icon-edit"/></i> <?=$this->translate("Edit");?></a></li>
                <!-- <li><a href="<?=$this->url(array('action' => 'clone',   'id' => $this->u_id));?>"><i class="icon-copy"/></i> <?=$this->translate("Clone");?></a></li> -->
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable',  'customize_items' => $this->u_id));?>"><i class="icon-eye5"/></i> <?=$this->translate("Enable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable', 'customize_items' => $this->u_id));?>"><i class="icon-eye-blocked"/></i> <?=$this->translate("Disable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete',  'id' => $this->u_id));?>" class="modal-triger" rel="nofollow" data-modal="delete-confirm"><i class="icon-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>
    </td>

    <td><input type='checkbox' name='customize_items[]' value='<?=$this->u_id;?>' class="chkbx"></td>
    <td><?=$contextIcon;?></td>
    <td><?=$this->u_id;?></td>
    <td><?=$this->u_lastname;?> <?=$this->u_firstname;?> <?=$this->u_patronomyc;?></td>
    <td><?=$this->u_phone_1;?></td>
    <td><?=$this->u_phone_2;?></td>
    <td><?=$this->u_phone_3;?></td>
    <td><?=$this->u_email;?></td>
    <td><?=$this->city;?></td>
    <td><?=$this->objects;?></td>

</tr>
