<!--
****************************************************************
MAIN AREA
****************************************************************
-->
<div class="row">

      <div class="obj-view-navbar navbar-fixed-top">

            <div class="container">

                  <!-- Filter panel - Open button -->
                  <a href="<?=$this->url( $this->backlink );?>" class="btn-round btn-transp">
                  <span class="padd"><i class="ico-chevron-left"></i> Назад к результатам поиска</span>
                  </a>

            </div>
            <!-- .container - END -->

      </div>

      <div class="obj-view-content">
            <div class="container">
                  <div class="row">
                        


                        <div class="obj-view-title col-lg-7" id="obj-view-title">
                              <h2>Сравнение объектов</h2>

                              <div class="obj-view-compare">

                                    <?
                                          $obj_ids = array_keys($this->item);
                                          $items = $this->item;

                                          $cols = floor( 12 / (count($this->item) + 1));

                                          foreach($obj_ids as $junk => $obj_id)
                                          {
                                                $obj = $items[$obj_id]
                                                ?>
                                                <?
                                          }
                                    ?>

                                          <div class="row">
                                                <div class="col col-lg-<?=$cols;?>">
                                                      &nbsp;
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[57]["obj_name_ru"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[67]["obj_name_ru"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[77]["obj_name_ru"];?>
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col col-lg-<?=$cols;?> col-image">
                                                      &nbsp;
                                                </div>
                                                <div class="col col-lg-<?=$cols;?> col-image">
                                                      <img src="<?=$this->images[57]["x200"][0];?>">
                                                </div>
                                                <div class="col col-lg-<?=$cols;?> col-image">
                                                      <img src="<?=$this->images[67]["x200"][0];?>">
                                                </div>
                                                <div class="col col-lg-<?=$cols;?> col-image">
                                                      <img src="<?=$this->images[77]["x200"][0];?>">
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col col-lg-<?=$cols;?> col-title">
                                                      Площадь
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[57]["obj_sqr"];?> m&sup2;
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[67]["obj_sqr"];?> m&sup2;
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[77]["obj_sqr"];?> m&sup2;
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col col-lg-<?=$cols;?> col-title">
                                                      Комнат
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[57]["obj_rooms"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[67]["obj_rooms"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[77]["obj_rooms"];?>
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col col-lg-<?=$cols;?> col-title">
                                                      Ванных
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[57]["obj_bathrooms"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[67]["obj_bathrooms"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[77]["obj_bathrooms"];?>
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col col-lg-<?=$cols;?> col-title">
                                                      Спален
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[57]["obj_bedrooms"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[67]["obj_bedrooms"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[77]["obj_bedrooms"];?>
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col col-lg-<?=$cols;?> col-title">
                                                      Макс. гостей
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[57]["obj_guests"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[67]["obj_guests"];?>
                                                </div>
                                                <div class="col col-lg-<?=$cols;?>">
                                                      <?=$items[77]["obj_guests"];?>
                                                </div>
                                          </div>



                                    

                              </div>
                              <?
                                    // print_r($this->item);
                                    // print_r($this->images);
                              ?>




                        </div>
                        <!-- obj-view-title col-lg-7 - END -->

                        <div class="col-lg-5">



                        </div>
                        <!-- .col-lg-5 - END -->

                  </div>
                  <!-- .row - END -->
            </div>
            <!-- .container - END -->
      </div>
      <!-- .obj-view-content - END -->




</div>
<!-- .obj-view - END -->
