<?php
    if(!empty($this->city)) {
        $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>' . $this->city["name"] . ' </span><span data-block="found" class="foundItemsLabel visible-from-440"></span></a></li>';
    } else {
        $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>Город</span></a></li>';
    }
?>

<?php include("header-mobile.phtml"); ?>

<!--
****************************************************************
OBJECTS FILTER
****************************************************************
-->

    <div id="objects-filter">
        <div class="leftInfoBox hide-from-440">найдено <span data-block="found" class="foundItemsLabel"></span> <span class="foundItemsText"></span> в городе <span class="bigBlue"><?=$this->city['name'];?></span></div>
        <div class="triggerAddon visible-from-440">
            <button class="panelTriggerAddon objects-list" data-target="#modal-paramsorder" data-toggle="modal" id="paramsorder-toggle" >Предложите мне вариант!</button>
            <img src="/images/loading.gif" id="card-loading" class="card-loading">
            <button class="panelTriggerAddon filters-list" data-target="filters"></button>
            <button class="panelTriggerAddon objects-view" data-target="venueView"></button>
        </div>
    </div><!-- #objects-filter - END -->

    <!--
    ****************************************************************
    OBJECTS AREA
    ****************************************************************
    -->
    <div class="row" id="objects-area">
        <!--
        ****************************************************************
        MAPBOX
        ****************************************************************
        -->
        <div id="objects-map" data-lat="<?=$this->city['lat'];?>" data-lng="<?=$this->city['lng'];?>" data-minprice="<?=$this->city['minprice'];?>" data-maxprice="<?=$this->city['maxprice'];?>" data-cityuid="<?=$this->city['uid'];?>">
            <div id='map-canvas' class='custom-popup'></div>

            <!--
            ****************************************************************
            VENUE LIST
            ****************************************************************
            -->
            <div id="venueList" class="panelSlide panelLeft panelOpened">
                <div class='panelContent'></div>
                <div class='panelTrigger actionButton'>
                    <span class="textOpened"><span class="symbol">&larrb;</span> <span class="panel-trigger-btn-text objects">свернуть</span></span>
                    <span class="textClosed"><span class="panel-trigger-btn-text objects">объекты</span> <span class="symbol">&rarrb;</span></span>
                </div>

                <div class="pagination">
                    <button class="show-more prev" data-nav="prev" disabled><i class="icon-chevron-left"></i></button>
                    <button class="show-more next" data-nav="next"><i class="icon-chevron-right"></i></button>
                </div>
            </div>
            <!-- #venueList -->

            <!--
            *****************************************************************
            * VENUE VIEW
            *****************************************************************
            *-->
            <div id="venueView" class="panelSlide panelLeft panelClosed bigcard">
                <div class='panelContent'>

                  <div class="imageSlider">
                      <ul class="bxslider" id="venueImgSlider">
                      </ul>
                  </div>
                    <!-- .vvImageSlider -->

                  <div class="venueBlock">

                      <div class="venueTitle row">

                        <div class="venueName">
                            <span data-block="name">{{title}}</span>
                            <div data-block="address" class="venueAddress">{{address}}}</div>
                        </div><!-- .venueName -->

                        <div class="venuePrice">
                            <div class="venuePriceInner"><span data-block="price">{{price}}</span> <span class="rouble">c</span></div>
                        </div>

                      </div><!-- .venueTitle -->

                      <div class="venueShowPhone">
                          <a id="showtelext" class="btn btn-success btn-block showtelext" data-block="id" data-id="" href="">Показать телефон</a>
                      </div>

                      <div class="venueMeta">

                        <div class="blockName">Условия бронирования</div>

                        <ul>
                            <li>
                                <span class="param">Время заезда</span>
                                <span class="value" data-block="checkin">{{checkin}}</span>
                            </li>
                            <li>
                                <span class="param">Время заезда</span>
                                <span class="value" data-block="checkout">{{checkout}}</span>
                            </li>
                            <li>
                                <span class="param">Минимальный срок аренды (дней)</span>
                                <span class="value" data-block="minstay">{{minstay}}</span>
                            </li>
                        </ul>

                        <div class="blockName">Общие характеристики</div>

                        <ul>
                            <li>
                                <span class="param">Тип объекта</span>
                                <span class="value" data-block="ot_name">{{ot_name}}</span>
                            </li>
                            <li>
                                <span class="param">Площадь</span>
                                <span class="value"><span data-block="sqr">{{sqr}}</span> м<sup>2</sup></span>
                            </li>
                            <li>
                                <span class="param">Комнат</span>
                                <span class="value" data-block="rooms">{{rooms}}</span>
                            </li>
                            <li>
                                <span class="param">Этаж</span>
                                <span class="value" data-block="floor">{{floor}}</span>
                            </li>
                            <li>
                                <span class="param">Максимальное количество гостей</span>
                                <span class="value" data-block="guests">{{guests}}</span>
                            </li>
                            <li>
                                <span class="param">Спальных мест</span>
                                <span class="value" data-block="sleepers">{{sleepers}}</span>
                            </li>
                        </ul>

                      </div><!-- .venueMeta -->

                </div><!-- .venueBlock -->

                <a class="venueBookBtn actionButton" data-block="url" href="">Подробнее</a>

            </div><!-- .panelContent -->

            <div class='panelTrigger actionButton'>
                <span class="textOpened"><span class="symbol">&times;</span></span>
            </div>

        </div>
        <!-- #venueView -->

        <!--
        *****************************************************************
        * FILTERS
        *****************************************************************
        *-->
        <div id="filters" class="panelSlide panelRight panelClosed">

            <div class='panelTrigger actionButton'>
                <span class="textOpened"><span class="panel-trigger-btn-text filters">свернуть</span> <span class="symbol">&rarrb;</span></span>
                <span class="textClosed"><span class="symbol">&larrb;</span> <span class="panel-trigger-btn-text filters">фильтры</span></span>
            </div>

            <div class='panelContent'>

                <div id="filter-price" class="filter filter-group-bordered">

                    <div class="filterTitle">Цена <span id="f-price-min"></span> &mstpos; <span id="f-price-max"></span> <span class="rouble">a</span></div>

                    <div class="price-slider-parent">
                        <div class="slider f-price-slider filterItem"></div>

                        <div class="ruler">
                            <span class="left"><span class="bg" id="f-price-min-label"></span></span>
                            <span class="left-center"><span class="bg"></span></span>
                            <span class="center"><span class="bg" id="f-price-mid-label"></span></span>
                            <span class="right-center"><span class="bg"></span></span>
                            <span class="right"><span class="bg" id="f-price-max-label"></span></span>
                        </div>
                    </div>

                </div><!-- #filter-price -->

                <!-- Hidden filters -->
                <input type='hidden' value='0' id="filter-isempty">
                <input type='hidden' value='0' id="filter-ontop">
                <input type='hidden' value='0' id="filter-sale">


                <div id='filter-rooms' class='filter filter-group-bordered'>

                    <div class="filterTitle">Количество комнат</div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='1' class="filterItem" />
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    1 комнатные
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='2' class="filterItem"/>
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    2 комнатные
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='3' class="filterItem"/>
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    3 комнатные
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='4' class="filterItem"/>
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    4 комнатные
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='5' class="filterItem"/>
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    5 комнатные
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='6' class="filterItem" />
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    6 комнатные
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='7' class="filterItem" />
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    7 комнатные
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='8' class="filterItem" />
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    8 комнатные
                                </label>
                            </div>
                        </div>
                    </div>

                </div><!-- #filter-rooms -->

                <div id="filter-guests" class="filter filter-group-bordered centered">

                    <div class="filterTitle">Количество гостей</div>

                    <div class="input-group number-spinner">

                        <span class="input-group-btn data-dwn">
                            <button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                        </span>

                        <input type="text" class="form-control text-center filterItem" value="1" min="1" max="20">

                        <span class="input-group-btn data-up">
                            <button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                        </span>

                    </div>

                </div><!-- #filter-guests -->

                <div id='filter-objtype' class='filter filter-group-bordered'>

                    <div class="filterTitle">Тип жилья</div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='flapt' class="filterItem" />
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    Квартира/Апартамент
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='house' class="filterItem"/>
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    Дом
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type='checkbox' checked=checked value='guest_house' class="filterItem"/>
                                    <span class="cr"><i class="cr-icon icon-check"></i></span>
                                    Гостевой Дом
                                </label>
                            </div>
                        </div>
                    </div>

                </div><!-- #filter-objtype -->

                <div class="filterFoundItems">Найдено <span class="filterFoundNumber"></span> предложений</div>

            </div><!-- .panelContent -->
        </div><!-- #filters -->

    </div>
</div>

<!--
****************************************************************
Карточка предпросмотра
****************************************************************
-->
<div id="venuePopupTMPL" class="hide">

    <div class="popup" data-uid="{{uid}}">
        <div class="contentHolder">

            <div class="infoCol">

                <div class="venueBlock">
                    <div class="venueDetails">

                        <div class="venueName" data-uid="{{uid}}" data-id="{{obj_id}}">
                            <a href="#">{{title}}</a>
                        </div><!-- /.venueName -->

                        <div class="venueMeta">

                            <div class="venueAddress">
                                <i class="ico-location-2"></i> {{address}}<br>
                                <a href="#" class="openStreetview" data-lat="{{lat}}" data-lng="{{lng}}" data-address="{{address}}"><i class="ico-binoculars"></i> просмотр улиц</a>
                            </div>
                            <div class="venueData">
                                <div class="venueDataItem">{{rooms}} комн.</div>
                                <div class="venueDataItem"><i class="icon-male"></i> &times; {{guests}}</div>
                                <div class="venueDataItem">{{sqr}} m<sup>2</sup></div>
                            </div>

                        </div><!-- /.venueMeta -->

                    </div><!-- /.venueDetails -->
                </div><!-- /.venueBlock -->
            </div><!-- /.infoCol -->

            <div class="photoCol">

                <div class="photoContainer" data-uid="{{uid}}" data-id="{{obj_id}}">
                    {{image}}
                </div>
                <div class="venuePrice">
                    {{price}} <span class="rouble">c</span> <span>за ночь</span>
                </div>
                <!-- /.photoContainer -->

            </div>
        </div>
    </div>

</div>

<!--
****************************************************************
Карточка в списке
****************************************************************
-->
<div id="venueListTMPL" class="hide">
    <div id="{{uid}}" class="card" data-uid="{{uid}}" data-id="{{obj_id}}" data-idx="{{idx}}">
        <div class="contentHolder">

            <div class="infoCol">

                <div class="venueBlock">
                    <div class="venueDetails">

                        <div class="venueName" data-uid="{{uid}}" data-id="{{obj_id}}">
                            <a href="#">{{title}}</a>
                            {{ontop}}
                        </div>
                        <!-- /.venueName -->

                        <div class="venueMeta">

                            <div class="venueAddress">
                                <i class="ico-location-2"></i> {{address}} <a href="#" class="" data-lat="{{lat}}" data-lng="{{lng}}" data-address="{{address}}"><i class="ico-binoculars"></i></a>
                                <div>
                                    <a href="http://<?php echo $this->hostname; ?>/{{obj_id}}"><i class="icon-chevron-with-circle-right"></i> подробности</a>
                                </div>
                            </div>
                            <div class="venueData">
                                <div class="venueDataItem">{{rooms}} комн.</div>
                                <div class="venueDataItem"><i class="icon-male"></i> &times; {{guests}}</div>
                                <div class="venueDataItem">{{sqr}} m<sup>2</sup></div>
                            </div>

                        </div>

                    </div>
                    <!-- /.venueDetails -->
                </div>
                <!-- /.venueBlock -->

            </div>
            <!-- /.infoCol -->

            <div class="photoCol" data-uid="{{uid}}" data-id="{{obj_id}}">
                <div class="photoContainer">
                    {{isempty}}
                    {{image}}
                </div>
                <div class="venuePrice">
                    {{price}} <span class="rouble">c</span><br>
                    <span>за ночь</span>
                </div>
                <!-- /.photoContainer -->
            </div>
            <!-- /.photoCol -->

        </div>
        <!-- /.contentHolder -->
    </div>
    <!-- /.card -->
</div>
<!-- /#map-list-tmpl -->

<!-- MODAL - Params Order -->
<div class="modal fade" id="modal-paramsorder" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Предложите мне вариант заселения в <?=$this->city['name_pr']?>Владельцы <strong>сами</strong> предложат вам вариант согласно указанным параметрам</h2>
            </div>

            <div class="modal-body">

                <form class="gy-form" id="paramsorder-form" role="form">

                    <input type="hidden" name="addr_city_uid" value="<?php echo $this->city['uid']; ?>">
                    <input type="hidden" name="addr_city" value="<?php echo $this->city['name']; ?>">

                    <!-- Заполнение формы -->
                    <div class="paramsorder-form-info">
                        <div class="row">
                            <div class="col col-sm-6 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-name">Ваше имя</label>
                                    <input type="text" id="paramsorder-name" class="form-control" placeholder="Ваше имя" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['name']) ) echo $_SESSION['paramsorder']['name']; ?>">
                                </div>
                            </div>
                            <div class="col col-sm-6 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-phone">Ваш телефон</label>
                                    <input type="text" id="paramsorder-phone" class="form-control" placeholder="Ваш телефон" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['phone']) ) echo $_SESSION['paramsorder']['phone']; ?>">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-sm-12 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-email">E-mail</label>
                                    <input type="text" id="paramsorder-email" class="form-control" placeholder="Ваш E-mail (не обязательно)" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['email']) ) echo $_SESSION['paramsorder']['email']; ?>">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-sm-6 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-checkin">Дата заезда</label>
                                    <input type="text" id="paramsorder-checkin" class="form-control" placeholder="Дата заезда" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['checkin']) ) echo $_SESSION['paramsorder']['checkin']; ?>">
                                </div>
                            </div>
                            <div class="col col-sm-6 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-checkout">Дата выезда</label>
                                    <input type="text" id="paramsorder-checkout" class="form-control" placeholder="Дата выезда" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['checkout']) ) echo $_SESSION['paramsorder']['checkout']; ?>">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-sm-6 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-guests">Кол-во гостей</label>
                                    <input type="text" id="paramsorder-guests" class="form-control" placeholder="Укажите количество гостей" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['guests']) ) echo $_SESSION['paramsorder']['guests']; ?>">
                                </div>
                            </div>
                            <div class="col col-sm-6 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-price">Цена</label>
                                    <input type="text" id="paramsorder-price" class="form-control" placeholder="Укажите желаемую цену за сутки" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['price']) ) echo $_SESSION['paramsorder']['price']; ?>">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-sm-12 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-district">Район</label>
                                    <input type="text" id="paramsorder-district" class="form-control" placeholder="Укажите предпочтительный район города" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['district']) ) echo $_SESSION['paramsorder']['district']; ?>">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-sm-12 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-comment">Комментарий</label>
                                    <input type="text" id="paramsorder-comment" class="form-control" placeholder="Комментарий к заявке" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['comment']) ) echo $_SESSION['paramsorder']['comment']; ?>">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Подтверждение кодом -->
                    <div class="paramsorder-form-code">
                        <div class="row">
                            <div class="col col-sm-8 col-xs-12">
                                <div class="paramsorder-form-code-onphone-wrapper">
                                    <span class="paramsorder-form-code-onphone">Смс с кодом отправлено на номер: <span id="paramsorder-form-code-onphone"></span></span>
                                </div>
                            </div>
                            <div class="col col-sm-4 col-xs-12">
                                <div class="paramsorder-form-code-onphone-wrapper">
                                    <span class="paramsorder-form-code-rollback" onclick="sendparamsOrderRollback()"><i class="icon-chevron-thin-left"></i> Исправить данные</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12 col-xs-12">
                                <div class="form-group floating-label-form-group">
                                    <label for="paramsorder-code">Код из смс</label>
                                    <input type="text" id="paramsorder-code" class="form-control" placeholder="Код подтверждения" value="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn big-orange" id="paramsorder-button" onclick="sendParamsOrder()">Отправить</button>

                </form>

            </div>
            <!-- .modal-body - END -->

            <div class="modal-footer">
                <p id="paramsorder-reason" class="paramsorder-reason"></p>
                <p class="paramsorder-info">Запрос по параметрам</p>
            </div>
            <!-- .modal-footer - END -->

        </div>
    </div>
</div>

<?php include("modal.phtml"); ?>