<!--
****************************************************************
GEO JSON
****************************************************************
-->
<script type="text/javascript">
var geojson = <?=$this->geojson;?>;
</script>

<?php

	if(!empty($this->city)) {

		$city_selector = '
		<li>
			<a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu">
				<i class="icon-location2"></i>
				<span>' . $this->city["name"] . ' <span data-block="found" class="foundItemsLabel visible-from-440"></span> </span>
			</a>
		</li>';

	} else {

		$city_selector = '
		<li>
			<a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu">
				<i class="icon-location2"></i>
				<span>Город</span>
			</a>
		</li>';
	}
?>

<?php include("header.phtml"); ?>

<!--
****************************************************************
OBJECTS FILTER
****************************************************************
-->

	<div id="objects-filter">
		<div class="leftInfoBox hide-from-440">
			<h1>
				<span class="h1IntroWrapper">
					Квартиры посуточно <br />
					в <span class="bigBlue"><?=$this->city['name_pr'];?></span>
				</span>
				<span class="foundItemsLabelWrapper">
					предложений: <span data-block="found" class="foundItemsLabel"><img src="/images/loading.gif" alt="Загрузка"></span>
				</span>
			</h1>
			<!--<span class="foundItemsText"></span>-->

			<?php
				if(intval($this->city['objects']) >= 20):
			?>
			<div id="stat-top" data-city-uid="<?=$this->city['uid']?>" data-stat-orders-init="<?=$this->statOrders?>" data-filter='filter-ontop' class="stat-orders">
				<table>
					<tr>
						<td><img src="/images/stat-orders-logo.png" alt="Заявки по объектам"></td>
						<td><span class="stat-orders-desc">Лидеры по просмотрам за сегодня:</span></td>
						<td><span class="stat-orders-count"><?=$this->statOrders?></span><!--<i class="icon-plus stat-orders-plus"></i>--></td>
					</tr>
				</table>
			</div>
			<div id="stat-isempty" class="stat-orders" data-filter='filter-isempty'>
				<table>
					<tr>
						<td><img src="/images/stat-isempty-logo.png" alt="СВОБОДНА СЕГОДНЯ"></td>
						<td><span class="stat-orders-desc">Свободна<br /> сегодня: </span></td>
						<td><span class="stat-orders-count"><?=$this->statIsempty?></span></td>
					</tr>
				</table>
			</div>
			<div id="stat-sale" class="stat-orders" data-filter='filter-sale'>
				<table>
					<tr>
						<td><img src="/images/stat-sale-logo.png" alt="СКИДКА"></td>
						<td><span class="stat-orders-desc">Сегодня<br /> со скидкой: </span></td>
						<td><span class="stat-orders-count"><? echo $this->statSale; ?></span></td>
					</tr>
				</table>
			</div>
			<?php endif; ?>

		</div>
		<div class="triggerAddon visible-from-440">
			<button class="panelTriggerAddon objects-view" data-target="venueView">Скрыть объект</button>
			<button class="panelTriggerAddon objects-list" data-target="venueList">Карта</button>
			<button class="panelTriggerAddon filters-list" data-target="filters">Фильтр</button>
		</div>
	</div><!-- #objects-filter - END -->

	<!--
	****************************************************************
	OBJECTS AREA
	****************************************************************
	-->
	<div class="row" id="objects-area">
		<!--
		****************************************************************
		MAPBOX
		****************************************************************
		-->
		<div id="objects-map" data-lat="<?=$this->city['lat'];?>" data-lng="<?=$this->city['lng'];?>" data-minprice="<?=$this->city['minprice'];?>" data-maxprice="<?=$this->city['maxprice'];?>" data-cityuid="<?=$this->city['uid'];?>" data-zoom="<?=$this->city['zoom'];?>">

			<div id='map-canvas' class='custom-popup'></div>
<!-- 			<div id="map-disabled">
				<h3>Уважаемые пользователи нашего ресурса.</h3>
				<p>В связи с тем, что сервис который предоставлял нам карту для отображения объектов перестал работать с ресурсами из РФ, мы планируем переходить на отечественные картографические сервисы.</p>

				<p>Данный процесс потребует некоторого времени, но мы будем прилагать все усилия чтобы возобновить работу сайта как можно скорее, а вашу работу сделать удобней.</p>

				<p>С уважением, команда GOYUG.</p>

			</div>
 -->
			<!--
			****************************************************************
			VENUE LIST STATIC
			****************************************************************
			-->
			<div id="venueList" class="panelSlide panelLeft panelOpened">
				<div class="panelButtons">
					<h3>Подбор жилья по-новому!</h3>
					<h4>Владельцы свяжутся с вами!</h4>
					<button class="btn hotorder-toggle" id="hotorder-toggle" data-toggle="modal" data-target="#modal-hotorder">
						<img src="/images/stat-hotorder-logo.png" alt="Срочное заселение">
						Срочное заселение
					</button>
					<button class="btn paramsorder-toggle" id="paramsorder-toggle" data-toggle="modal" data-target="#modal-paramsorder">
						<img src="/images/stat-paramsorder-logo.png" alt="Срочное заселение">
						Предложите мне вариант!
					</button>
					<span class="close"><i class="icon-close"></i></span>
				</div>
				<div class='panelContent'>

					<!-- Load Venue List - Static -->
					<?
						foreach ($this->objects as $key => $val) {

							$ontop_class = ($val['obj_ontop_mark']) ? "ontop" : "";
							$photomark_class = ($val['obj_photomark']) ? "photomark" : "";

							$phantom_mark = ($val['obj_phantom']) ? "&hellip;" : "";
						?>
						<div id="<?=$val['obj_uid'];?>" class="card <?=$ontop_class;?> <?=$photomark_class;?>" data-uid="<?=$val['obj_uid'];?>" data-id="<?=$val['obj_id'];?>">
								<div class="contentHolder">

									<div class="infoCol">

										<div class="venueBlock">
											<div class="venueDetails">

												<div class="venueName" data-uid="<?=$val['obj_uid'];?>" data-id="<?=$val['obj_id'];?>">
													<a href="#" title="<?=$val['obj_name_ru'];?>"><?=$val['obj_name_ru'];?></a>
													<div class="ontop"><?php if($val['obj_ontop_mark']) echo 'Поднято: '.Util::getHumanDate(date("Y-m-d H:i:s", $val['obj_ontop']), '-', true, true); ?></div>
												</div>
												<!-- /.venueName -->

												<div class="venueMeta">

													<div class="venueAddress">
														<i class="icon-location"></i> г. <?=$val['obj_addr_city'];?>, <?=$val['obj_addr_street'];?> <?=$val['obj_addr_number'];?> <?=$phantom_mark;?>
														<br>
														<a href="#" class="openStreetview" data-lat="<?=$val['obj_addr_lat'];?>" data-lng="<?=$val['obj_addr_lon'];?>" data-address="<?=$val['obj_addr_street'];?> <?=$val['obj_addr_number'];?>"><i class="icon-binoculars"></i> просмотр улиц</a>
														<a href="http://<?=$this->hostname;?>/<?php echo $val['obj_id']; ?>" class="openDetails"><i class="icon-home"></i> подробности</a>
													</div>
													<div class="venueData">
														<div class="venueDataItem"><?=$val['obj_rooms'];?> комн.</div>
														<div class="venueDataItem"><i class="icon-male"></i> &times; <?=$val['obj_guests'];?></div>
														<div class="venueDataItem"><?=$val['obj_sqr'];?> m<sup>2</sup></div>
														<div class="venueDataItem statViews"><i class="icon-eye"></i> <span title="Просмотров за сегодня">Сегодня: <?=$val['views_today'];?></span> / <span title="Просмотров за все время"><?=$val['views_total'];?></span></div>
													</div>

												</div>

											</div>
											<!-- /.venueDetails -->
										</div>
										<!-- /.venueBlock -->

									</div>
									<!-- /.infoCol -->

									<div class="photoCol" data-uid="<?=$val['obj_uid'];?>" data-id="<?=$val['obj_id'];?>">
										<div class="photoContainer">
											<?php if($val['obj_isempty']) echo '<div class="isempty-label">Свободна сегодня</div>'; ?>
											<div class="func-wrapper">
												<?php if($val['obj_sale']) echo '<div class="sale-label"><img src="/images/options/options-sale-2x.png" alt="Скидки" title="Скидки"></div>'; ?>
											</div>
											<img
												class="lazyload"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												<?php if(file_exists($_SERVER['DOCUMENT_ROOT'].'/upload/object/'.$val['obj_id'].'/x100/'.$val['obj_title_image'])): ?>
												data-src="/upload/object/<?=$val['obj_id'];?>/x100/<?=$val['obj_title_image'];?>"
												<?php else: ?>
												data-src="/images/map-object-avatar-default.jpg"
												<?php endif; ?>
												alt="Фото <?=$val['obj_addr_street'];?> <?=$val['obj_addr_number'];?>">
										</div>
										<div class="venuePrice">
											<?=$val['obj_price'];?> <span class="rouble">c</span><br>
											<span>за сутки</span>
										</div>
										<!-- /.photoContainer -->
									</div>
									<!-- /.photoCol -->

								</div>
								<!-- /.contentHolder -->
							</div>
							<!-- /.card -->
						<?
						}
					?>

				</div>
				<div class='panelTrigger actionButton'>
					<span class="textOpened"><span class="symbol">&larrb;</span> <span class="panel-trigger-btn-text objects">свернуть</span></span>
					<span class="textClosed"><span class="panel-trigger-btn-text objects">объекты</span> <span class="symbol">&rarrb;</span></span>
				</div>
			</div>
			<!-- #venueList -->

			<!--
			*****************************************************************
			* VENUE VIEW
			*****************************************************************
			*-->
			<div id="venueView" class="panelSlide panelLeft panelClosed bigcard">
				<div class='panelContent'></div>
			<!-- .panelContent -->

			<div class='panelTrigger actionButton'>
				<span class="textOpened"><span class="symbol">&times;</span></span>
			</div>

		</div>
		<!-- #venueView -->

		<!--
		*****************************************************************
		* FILTERS
		*****************************************************************
		*-->
		<div id="filters" class="panelSlide panelRight panelClosed">

			<div class='panelTrigger actionButton'>
				<span class="textOpened"><span class="panel-trigger-btn-text filters">свернуть</span> <span class="symbol">&rarrb;</span></span>
				<span class="textClosed"><span class="symbol">&larrb;</span> <span class="panel-trigger-btn-text filters">фильтры</span></span>
			</div>

			<div class='panelContent'>

				<div id="filter-price" class="filter filter-group-bordered">

					<div class="filterTitle">Цена <span id="f-price-min"></span> &mstpos; <span id="f-price-max"></span> <span class="rouble">a</span></div>

					<div class="price-slider-parent">
						  <div class="slider f-price-slider filterItem"></div>

						  <div class="ruler">
								<span class="left"><span class="bg" id="f-price-min-label"></span></span>
								<span class="left-center"><span class="bg"></span></span>
								<span class="center"><span class="bg" id="f-price-mid-label"></span></span>
								<span class="right-center"><span class="bg"></span></span>
								<span class="right"><span class="bg" id="f-price-max-label"></span></span>
						  </div>
					</div>

				</div><!-- #filter-price -->

				<!-- Hidden filters -->
				<input type='hidden' value='0' id="filter-isempty">
				<input type='hidden' value='0' id="filter-ontop">
				<input type='hidden' value='0' id="filter-sale">


				<div id='filter-rooms' class='filter filter-group-bordered'>

					<div class="filterTitle">Количество комнат</div>

					<div class="row">
						<div class="col-xs-6">
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='1' class="filterItem" />
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									1 комнатные
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='2' class="filterItem"/>
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									2 комнатные
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='3' class="filterItem"/>
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									3 комнатные
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='4' class="filterItem"/>
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									4 комнатные
								</label>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='5' class="filterItem"/>
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									5 комнатные
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='6' class="filterItem" />
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									6 комнатные
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='7' class="filterItem" />
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									7 комнатные
								</label>
							</div>

						</div>
					</div>

				</div><!-- #filter-rooms -->

<!--  				<div id="filter-guests" class="filter filter-group-bordered centered">

					<div class="filterTitle">Количество гостей</div>

					<div class="input-group number-spinner">

						<span class="input-group-btn data-dwn">
							<button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
						</span>

						<input type="text" class="form-control text-center filterItem" value="1" min="1" max="20">

						<span class="input-group-btn data-up">
							<button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
						</span>

					</div>

				</div>
 -->				<!-- #filter-guests -->

<!--  				<div id='filter-objtype' class='filter filter-group-bordered'>

					<div class="filterTitle">Тип жилья</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='flapt' class="filterItem" />
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									Квартира/Апартамент
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='house' class="filterItem"/>
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									Дом
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type='checkbox' checked=checked value='guest_house' class="filterItem"/>
									<span class="cr"><i class="cr-icon icon-check"></i></span>
									Гостевой Дом
								</label>
							</div>
						</div>

					</div>

				</div>
 -->				<!-- #filter-objtype -->

<!--                  <div id="filter-minstay" class="filter filter-group-bordered centered">

					<div class="filterTitle">Мин. срок аренды</div>

					<div class="input-group number-spinner">

						<span class="input-group-btn data-dwn">
						<button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
						</span>

						<input type="text" class="form-control text-center filterItem" value="1" min="1" max="5">

						<span class="input-group-btn data-up">
						<button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
						</span>

					</div>
                    </div>

				</div>
 -->				<!-- #filter-minstay -->

				<!--
				<div id="filter-instantbook" class="filter filter-group-bordered centered">
					<label class="ios7-switch">
						<span class='io7-switch-text filterTitle'>Моментальная бронь</span>
						<input type="checkbox" class="filterItem" value='on'>
						<span></span>
					</label>
				</div>
				-->

				<div class="filterFoundItems">Найдено <span class="filterFoundNumber"></span> предложений</div>

			</div><!-- .panelContent -->
		</div>
		<!-- #filters -->

		<!--
					*****************************************************************
					* STREETVIEW
					*****************************************************************
		*-->
		<div id="streetview" class="">
			<div class="svControlBlock">
				<div class="closeStreetview actionButton"><span class="symbol">&times;</span> Закрыть просмотр улиц</div>
				<div class="label infoLabel svLabelAddress"></div>
				<div class="label warnLabel svNotAvailable">Просмотр улиц для этого адреса недоступен</div>
			</div>
			<div id="svPano"></div>
		</div>

	</div>
<!--
****************************************************************
Vunue Popups
****************************************************************
-->
<!-- Load Venue Popups List - Static -->
<?
	foreach ($this->objects as $key => $val) {
?>
	<div class="hide" id="popup-<?=$val['obj_uid'];?>">
	<div class="popup" data-uid="<?=$val['obj_uid'];?>">
		<div class="contentHolder">

			<div class="infoCol">

				<div class="venueBlock">
					<div class="venueDetails">

						<div class="venueName" data-uid="<?=$val['obj_uid'];?>" data-id="<?=$val['obj_id'];?>">
							<a href="#"><?=$val['obj_name_ru'];?></a>
						</div><!-- /.venueName -->

						<div class="venueMeta">

							<div class="venueAddress">
								<i class="ico-location-2"></i>г. <?=$val['obj_addr_city'];?>, <?=$val['obj_addr_street'];?> <?=$val['obj_addr_number'];?><br>
								<a href="#" class="openStreetview" data-lat="<?=$val['obj_addr_lat'];?>" data-lng="<?=$val['obj_addr_lon'];?>" data-address="<?=$val['obj_addr_street'];?> <?=$val['obj_addr_number'];?>"><i class="ico-binoculars"></i> просмотр улиц</a>

							</div>
							<div class="venueData">
								<div class="venueDataItem"><?=$val['obj_rooms'];?> комн.</div>
								<div class="venueDataItem"><i class="icon-male"></i> &times; <?=$val['obj_guests'];?></div>
								<div class="venueDataItem"><?=$val['obj_sqr'];?> m<sup>2</sup></div>
								<div class="venueDataItem colorBlue"><i class="icon-star3"></i> <?=$val['obj_rating'];?></div>
							</div>

						</div><!-- /.venueMeta -->

					</div><!-- /.venueDetails -->
				</div><!-- /.venueBlock -->
			</div><!-- /.infoCol -->

			<div class="photoCol" data-uid="<?=$val['obj_uid'];?>" data-id="<?=$val['obj_id'];?>">

				<div class="photoContainer">
					<img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/upload/object/<?=$val['obj_id'];?>/x100/<?=$val['obj_title_image'];?>" alt="Фото <?=$val['obj_addr_street'];?> <?=$val['obj_addr_number'];?>">
				</div>
				<div class="venuePrice">
					<?=$val['obj_price'];?> <span class="rouble">c</span> <span>за ночь</span>
				</div>
				<!-- /.photoContainer -->

			</div>
		</div>
	</div>
	</div>
<?
	}
?>


<!--
****************************************************************
Vunue Popup Template
****************************************************************
-->
<div id="venuePopupTMPL" class="hide">

	<div class="popup" data-uid="{{uid}}">
		<div class="contentHolder">

			<div class="infoCol">

				<div class="venueBlock">
					<div class="venueDetails">

						<div class="venueName" data-uid="{{uid}}" data-id="{{obj_id}}">
							<a href="#">{{title}}</a>
						</div><!-- /.venueName -->

						<div class="venueMeta">

							<div class="venueAddress">
								<i class="ico-location-2"></i> {{address}}<br>
								<a href="#" class="openStreetview" data-lat="{{lat}}" data-lng="{{lng}}" data-address="{{address}}"><i class="ico-binoculars"></i> просмотр улиц</a>
							</div>
							<div class="venueData">
								<div class="venueDataItem">{{rooms}} комн.</div>
								<div class="venueDataItem"><i class="icon-male"></i> &times; {{guests}}</div>
								<div class="venueDataItem">{{sqr}} m<sup>2</sup></div>
								<div class="venueDataItem colorBlue"><i class="ico-star"></i> {{rating}}</div>
							</div>

						</div><!-- /.venueMeta -->

					</div><!-- /.venueDetails -->
				</div><!-- /.venueBlock -->
			</div><!-- /.infoCol -->

			<div class="photoCol">

				<div class="photoContainer" data-uid="{{uid}}" data-id="{{obj_id}}">
					{{image}}
				</div>
				<div class="venuePrice">
					{{price}} <span class="rouble">c</span> <span>за ночь</span>
				</div>
				<!-- /.photoContainer -->

			</div>
		</div>
	</div>

</div>

<!--
****************************************************************
Vunue View Template
****************************************************************
-->
<div id="venueViewTMPL" class="hide">

				  <div class="imageSlider">
					  <ul class="bxslider" id="venueImgSlider">
					  </ul>
				  </div>
					<!-- #venueImgSlider -->

				  <div class="venueBlock">

					  <div class="venueTitle row">

						<div class="venueName">
							<span data-block="name">{{title}}</span>
							<div class="venueAddress" data-block="address">{{address}}</div>
						</div><!-- .venueName -->

						<div class="venuePrice">
							<div class="venuePriceInner"><span data-block="price">{{price}}</span> <span class="rouble">c</span></div>
						</div>

					  </div><!-- .venueTitle -->

					  <div class="venueMeta">



						  <!-- Условия бронирования -->
						  <div class="venueParams">
							<h3><i class="ico-info-3"></i> Условия бронирования</h3>
							<div class="venueParamsContent">
							<table>
							  <tbody>
							  <tr>
								<td>Время заезда</td>
								<td class="value"><i class="icon-clock-o"></i> {{checkin}}</td>
							  </tr>
							  <tr>
								<td>Время выезда</td>
								<td class="value"><i class="icon-clock-o"></i> {{checkout}}</td>
							  </tr>
							  <tr>
								<td>Мин. срок аренды (дней)</td>
								<td class="value">
								  {{minstay}}
								</td>
							  </tr>
							  </tbody>
							</table>
							  </div>
						  </div>

						  <!-- Параметры квартиры -->
						  <div class="venueParams">
							<h3><i class="ico-info-3"></i> Параметры квартиры</h3>
							<div class="venueParamsContent">
							<table>
							  <tbody>
							  <tr>
								<td>Площадь</td>
								<td class="value">{{sqr}} м&sup2;</td>
							  </tr>
							  <tr>
								<td>Кол-во комнат</td>
								<td class="value">{{rooms}}</td>
							  </tr>
							  <tr>
								<td>Макс. кол-во гостей</td>
								<td class="value"><i class="icon-man"></i> <span class="times">&times;</span> {{guests}}</td>
							  </tr>
							  <tr>
								<td>Спальных мест</td>
								<td class="value"><i class="icon-bed"></i> {{sleepers}}</td>
							  </tr>
							  </tbody>
							</table>
							</div>
						  </div>

						  <!-- Календарь занятости
                          <div class="venueParams">
							<h3><i class="icon-info-3"></i> Календарь занятости</h3>

							<div class="venueParamsContent">
								<div id="venueCalendar"></div>
							</div>
						  </div> -->

					  </div><!-- .venueMeta -->

				</div><!-- .venueBlock -->

				<a class="venueBookBtn actionButton" href="">
					подробнее
				</a>

				</div><!-- #venueViewTMPL -->

<!--
****************************************************************
Map List Template
****************************************************************
-->
<div id="venueListTMPL" class="hide">
	<div id="{{uid}}" class="card" data-uid="{{uid}}" data-id="{{obj_id}}">
		<div class="contentHolder">

			<div class="infoCol">

				<div class="venueBlock">
					<div class="venueDetails">

						<div class="venueName" data-uid="{{uid}}" data-id="{{obj_id}}">
							<a href="#">{{title}}</a>
						</div>
						<!-- /.venueName -->

						<div class="venueMeta">

							<div class="venueAddress">
								<i class="ico-location-2"></i> {{address}} <a href="#" class="openStreetview" data-lat="{{lat}}" data-lng="{{lng}}" data-address="{{address}}"><i class="ico-binoculars"></i> просмотр улиц</a>
							</div>
							<div class="venueData">
								<div class="venueDataItem">{{rooms}} комн.</div>
								<div class="venueDataItem"><i class="icon-male"></i> &times; {{guests}}</div>
								<div class="venueDataItem">{{sqr}} m<sup>2</sup></div>
								<div class="venueDataItem colorBlue"><i class="ico-star"></i> {{rating}}</div>
							</div>

						</div>

					</div>
					<!-- /.venueDetails -->
				</div>
				<!-- /.venueBlock -->

			</div>
			<!-- /.infoCol -->

			<div class="photoCol" data-uid="{{uid}}" data-id="{{obj_id}}">
				<div class="photoContainer">
					{{image}}
				</div>
				<div class="venuePrice">
					{{price}} <span class="rouble">c</span><br>
					<span>за ночь</span>
				</div>
				<!-- /.photoContainer -->
			</div>
			<!-- /.photoCol -->

		</div>
		<!-- /.contentHolder -->
	</div>
	<!-- /.card -->
</div>
<!-- /#map-list-tmpl -->

<!-- MODAL - Hot Order -->
<div class="modal fade" id="modal-hotorder" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title">Срочное заселение в <?=$this->city['name_pr']?></h2>
			</div>

			<div class="modal-body">

				<form class="gy-form" id="hotorder-form" role="form">

					<input type="hidden" name="addr_city_uid" value="<?php echo $this->city['uid']; ?>">
					<input type="hidden" name="addr_city" value="<?php echo $this->city['name']; ?>">

					<!-- Заполнение формы -->
					<div class="hotorder-form-info">
						<div class="row">
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="hotorder-name">Ваше имя</label>
									<input type="text" id="hotorder-name" class="form-control" placeholder="Ваше имя" value="<?php if( isset($_SESSION['hotorder']) && isset($_SESSION['hotorder']['name']) ) echo $_SESSION['hotorder']['name']; ?>">
								</div>
							</div>
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
										<label for="hotorder-phone">Ваш телефон</label>
										<input type="text" id="hotorder-phone" class="form-control" placeholder="Ваш телефон" value="<?php if( isset($_SESSION['hotorder']) && isset($_SESSION['hotorder']['phone']) ) echo $_SESSION['hotorder']['phone']; ?>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="hotorder-checkin">Дата заезда</label>
									<input type="text" id="hotorder-checkin" class="form-control" placeholder="Дата заезда" value="<?php if( isset($_SESSION['hotorder']) && isset($_SESSION['hotorder']['checkin']) ) echo $_SESSION['hotorder']['checkin']; ?>">
								</div>
							</div>
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="hotorder-checkout">Дата выезда</label>
									<input type="text" id="hotorder-checkout" class="form-control" placeholder="Дата выезда" value="<?php if( isset($_SESSION['hotorder']) && isset($_SESSION['hotorder']['checkout']) ) echo $_SESSION['hotorder']['checkout']; ?>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="hotorder-guests">Кол-во гостей</label>
									<input type="text" id="hotorder-guests" class="form-control" placeholder="Укажите количество гостей" value="<?php if( isset($_SESSION['hotorder']) && isset($_SESSION['hotorder']['guests']) ) echo $_SESSION['hotorder']['guests']; ?>">
								</div>
							</div>
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="hotorder-price">Цена</label>
									<input type="text" id="hotorder-price" class="form-control" placeholder="Укажите желаемую цену за сутки" value="<?php if( isset($_SESSION['hotorder']) && isset($_SESSION['hotorder']['price']) ) echo $_SESSION['hotorder']['price']; ?>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col col-sm-12 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="hotorder-district">Район</label>
									<input type="text" id="hotorder-district" class="form-control" placeholder="Укажите здесь предпочтительный район города" value="<?php if( isset($_SESSION['hotorder']) && isset($_SESSION['hotorder']['district']) ) echo $_SESSION['hotorder']['district']; ?>">
								</div>
							</div>
						</div>
					</div>

					<!-- Подтверждение кодом -->
					<div class="hotorder-form-code">
						<div class="row">
							<div class="col col-sm-8 col-xs-12">
								<div class="hotorder-form-code-onphone-wrapper">
									<span class="hotorder-form-code-onphone">Смс с кодом отправлено на номер: <span id="hotorder-form-code-onphone"></span></span>
								</div>
							</div>
							<div class="col col-sm-4 col-xs-12">
								<div class="hotorder-form-code-onphone-wrapper">
									<span class="hotorder-form-code-rollback" onclick="sendHotOrderRollback()"><i class="icon-chevron-thin-left"></i> Исправить данные</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col col-sm-12 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="hotorder-code">Код из смс</label>
									<input type="text" id="hotorder-code" class="form-control" placeholder="Код подтверждения" value="">
								</div>
							</div>
						</div>
					</div>

					<br />

					<button type="button" class="btn big-orange" id="hotorder-button" onclick="sendHotOrder()">Отправить</button>

				</form>

			</div>
			<!-- .modal-body - END -->

			<div class="modal-footer">
				<p id="hotorder-reason" class="hotorder-reason"></p>
				<p class="hotorder-info">Ваш запрос получат владельцы, готовые принять вас <strong>в ближайшие часы</strong></p>
			</div>
			<!-- .modal-footer - END -->

		</div>
	</div>
</div>

<!-- MODAL - Params Order -->
<div class="modal fade" id="modal-paramsorder" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2 class="modal-title">Предложите мне вариант заселения в <?=$this->city['name_pr']?><span>Владельцы <strong>сами</strong> предложат вам вариант согласно указанным параметрам</span></h2>
			</div>

			<div class="modal-body">

				<form class="gy-form" id="paramsorder-form" role="form">

					<input type="hidden" name="addr_city_uid" value="<?php echo $this->city['uid']; ?>">
					<input type="hidden" name="addr_city" value="<?php echo $this->city['name']; ?>">

					<!-- Заполнение формы -->
					<div class="paramsorder-form-info">
						<div class="row">
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-name">Ваше имя</label>
									<input type="text" id="paramsorder-name" class="form-control" placeholder="Ваше имя" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['name']) ) echo $_SESSION['paramsorder']['name']; ?>">
								</div>
							</div>
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-phone">Ваш телефон</label>
									<input type="text" id="paramsorder-phone" class="form-control" placeholder="Ваш телефон (не обязательно)" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['phone']) ) echo $_SESSION['paramsorder']['phone']; ?>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col col-sm-12 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-email">E-mail</label>
									<input type="text" id="paramsorder-email" class="form-control" placeholder="Ваш E-mail (обязательно)" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['email']) ) echo $_SESSION['paramsorder']['email']; ?>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-checkin">Дата заезда</label>
									<input type="text" id="paramsorder-checkin" class="form-control" placeholder="Дата заезда" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['checkin']) ) echo $_SESSION['paramsorder']['checkin']; ?>">
								</div>
							</div>
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-checkout">Дата выезда</label>
									<input type="text" id="paramsorder-checkout" class="form-control" placeholder="Дата выезда" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['checkout']) ) echo $_SESSION['paramsorder']['checkout']; ?>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-guests">Кол-во гостей</label>
									<input type="text" id="paramsorder-guests" class="form-control" placeholder="Укажите количество гостей" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['guests']) ) echo $_SESSION['paramsorder']['guests']; ?>">
								</div>
							</div>
							<div class="col col-sm-6 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-price">Цена</label>
									<input type="text" id="paramsorder-price" class="form-control" placeholder="Укажите желаемую цену за сутки" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['price']) ) echo $_SESSION['paramsorder']['price']; ?>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col col-sm-12 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-district">Район</label>
									<input type="text" id="paramsorder-district" class="form-control" placeholder="Укажите здесь предпочтительный район города" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['district']) ) echo $_SESSION['paramsorder']['district']; ?>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col col-sm-12 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-comment">Комментарий</label>
									<input type="text" id="paramsorder-comment" class="form-control" placeholder="Комментарий к заявке" value="<?php if( isset($_SESSION['paramsorder']) && isset($_SESSION['paramsorder']['comment']) ) echo $_SESSION['paramsorder']['comment']; ?>">
								</div>
							</div>
						</div>
					</div>

					<!-- Подтверждение кодом -->
					<div class="paramsorder-form-code">
						<div class="row">
							<div class="col col-sm-8 col-xs-12">
								<div class="paramsorder-form-code-onphone-wrapper">
									<span class="paramsorder-form-code-onphone">Смс с кодом отправлено на номер: <span id="paramsorder-form-code-onphone"></span></span>
								</div>
							</div>
							<div class="col col-sm-4 col-xs-12">
								<div class="paramsorder-form-code-onphone-wrapper">
									<span class="paramsorder-form-code-rollback" onclick="sendparamsOrderRollback()"><i class="icon-chevron-thin-left"></i> Исправить данные</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col col-sm-12 col-xs-12">
								<div class="form-group floating-label-form-group">
									<label for="paramsorder-code">Код из смс</label>
									<input type="text" id="paramsorder-code" class="form-control" placeholder="Код подтверждения" value="">
								</div>
							</div>
						</div>
					</div>

					<br />

					<button type="button" class="btn big-orange" id="paramsorder-button" onclick="sendParamsOrder()">Отправить</button>

				</form>

			</div>
			<!-- .modal-body - END -->

			<div class="modal-footer">
				<p id="paramsorder-reason" class="paramsorder-reason">Запрос по параметрам</p>
				<p class="paramsorder-info"></p>
			</div>
			<!-- .modal-footer - END -->

		</div>
	</div>
</div>

<?php include("modal.phtml"); ?>