<!-- MODAL - City Selector -->
<div class="modal fade" id="modal-select-city" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Выберите город</h2>
    </div>

    <div class="modal-body">

      <?
        $i = 0;
        foreach($this->cities['alphabet'] as $letter => $cities_uids)
        {
          if($i % 3 == 0)
          {
            ?><div class="row"><?
          }
          ?>
          <div class="col col-md-4">
            <h2><?php echo $letter; ?></h2>

            <?
              foreach($cities_uids as $null => $city_uid)
              {
                $city = $this->cities['list'][$city_uid];
                ?><p><a href="http://<? echo $city['uid']; ?>.<? echo $_SERVER['HOSTNAME']; ?>"><?php echo $city['name']; ?></a><small><?php echo $city['objects']; ?></small></p><?
              }
            ?>

          </div>
          <?

          if(intval($i+1) % 3 == 0 || intval($i+1) == sizeof($this->cities['alphabet']))
          {
            ?></div><!-- .row - END --><?
          }

          $i++;
        }
      ?>

    </div>

  </div>
  </div>
</div>

<!-- MODAL - Login -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Вход</h2>
    </div>

    <div class="modal-body">

        <form class="gy-form" id="modal-login-form" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" data-async>

          <div class="row">
            <div class="col col-md-12">
              <div class="form-group float-label-control">
                <label for="u_username">Email или телефон</label>

                <input type="text" name="u_username" id="u_username" value="" class="form-control" placeholder="Email или телефон">

              </div>
            </div>
            <div class="col col-md-12">
              <div class="form-group float-label-control">
                <label for="u_password">Пароль</label>
                <input type="password" name="u_password" id="u_password" value="" class="form-control" placeholder="Пароль">
              </div>
            </div>
          </div>

          <input type="hidden" name="action" value="dologin">
          <button type="submit" class="btn big-orange" data-loading-text="<?php echo $this->translate('Checking'); ?>...">Войти</button>

        </form>



    </div>
    <!-- .modal-body - END -->

    <div class="modal-footer">
      <h3><a href="#" data-toggle="modal" data-target="#modal-signup">У меня нет аккаунта</a></h3>
      <h3><a href="http://goyug.com/user/index" >Я забыл пароль</a></h3>
      <!--<p class="small">Не забудьте ознакомиться с <a href="#">«Пользовательским соглашением»</a> и <a href="#">«Согласие на обработку персональных данных»</a>. Ведь, нажав «Войти» или «Зарегистрироваться», вы примете его.</p>-->
    </div>
    <!-- .modal-footer - END -->

  </div>
  </div>
</div>

<!-- MODAL - Signup -->
<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2 class="modal-title">Регистрация</h2>
    </div>


    <div class="modal-body">

        <form class="gy-form" id="modal-signup-form" method="<?php echo $this->form->getMethod(); ?>" action="<?php echo $this->form->getAction(); ?>" data-async>

          <div class="row">
            <div class="col col-md-12">
              <div class="form-group float-label-control">
                <label for="msf_name">Имя</label>
                <input type="text" class="form-control" id="msf_name" name="msf_name" placeholder="Имя" value="">
              </div>
            </div>
            <!-- .col - END -->

            <div class="col col-md-12">
              <div class="form-group float-label-control">
                <label for="msf_email">Email</label>
                <input type="text" class="form-control" id="msf_email" name="msf_email" placeholder="Email" value="">
              </div>
            </div>
            <!-- .col - END -->

            <div class="col col-md-12">
              <div class="form-group float-label-control">
                <label for="msf_mobile">Номер телефона</label>
                <input type="text" class="form-control" id="msf_mobile" name="msf_mobile" placeholder="Номер телефона" value="">
              </div>
            </div>
            <!-- .col - END -->

            <div class="col col-md-12">
              <div class="form-group float-label-control">
                <label for="msf_password">Пароль</label>
                <input type="password" class="form-control" id="msf_password" name="msf_password" placeholder="Пароль" value="">
              </div>
            </div>
            <!-- .col - END -->

          </div>
          <!-- .row - END -->

          <input type="hidden" name="action" value="doreg">
          <button type="submit" class="btn big-orange" id="btn-register" disabled="disabled" data-loading-text="<?php echo $this->translate('Checking'); ?>...">Зарегистрироваться</button>

        </form>


    </div>
    <!-- .modal-body - END -->

    <div class="modal-footer">
      <h3><a href="#" data-toggle="modal" data-target="#modal-login">У меня есть аккаунт на GoYug</a></h3>
      <div class="checkbox">
        <label for="register-privacy">
            <input type="checkbox" id="register-privacy"> Я прочитал и принял <a href="/page/privacy" target="_blank">Согласие на обработку персональных данных</a>
        </label>
      </div>
    </div>
    <!-- .modal-footer - END -->

  </div>
  </div>
</div>