<?php
    if(!empty($this->city))
    {
        $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>' . $this->city["name"] . ' <span data-block="found" class="foundItemsLabel visible-from-440"></span> </span></a></li>';

    } else {

        $city_selector = '<li><a href="#" data-toggle="modal" data-target="#modal-select-city" id="f_city_topmenu"><i class="icon-location2"></i> <span>Город</span></a></li>';
    }

    // print_r($this->city); die;
?>

<?php include("header.phtml"); ?>

<!--
****************************************************************
MAIN AREA
****************************************************************
-->
<div class="container">
<div class="row" id="obj-view" class="obj-view" data-cityuid="<?php echo $this->item['obj_addr_city_uid']; ?>" data-lat="<?php echo $this->item['obj_addr_lat']; ?>" data-lng="<?php echo $this->item['obj_addr_lon']; ?>">

  <!-- Панель управления -->
  <div class="col-xs-12 obj-view-navbar navbar-fixed-top">
    <div class="container">
      <a href="" class="inner-link back">
        <span class="padd"><i class="icon-angle-left"></i> Назад <span>к результатам поиска</span></span>
      </a>
      <a href="#obj-view-title" class="inner-link active">
        <span class="padd ">Фото и характеристики</span>
      </a>
      <a href="#obj-view-properties" class="inner-link">
        <span class="padd">Описание</span>
      </a>
      <a href="#obj-view-calendar" class="inner-link">
        <span class="padd">Календарь занятости</span>
      </a>
      <a href="#obj-view-location" class="inner-link">
        <span class="padd">Расположение</span>
      </a>
    </div>
  </div>

  <!-- Контент -->
  <div class="col-xs-12 obj-view-content">
    <div class="container">

      <!-- Блок 1 -->
      <div class="row obj-view-main">

        <!-- Название и фотографии -->
        <div class="col-md-8 obj-view-title" id="obj-view-title">

          <h1><? echo $this->item['obj_rooms'] ?>-комнатная квартира посуточно</h1>
          <h2><?php echo $this->item['obj_addr_city']; ?>, <?php echo $this->item['obj_name_ru']; ?></h2>

          <div id="object-info-images">
            <ul class="bxslider">
              <?php foreach($this->item['images']['full'] as $i_id => $i_val){ ?>
              <li><img src="<?php echo $i_val; ?>"></li>
              <?php } ?>
            </ul>
          </div>
          <div id="object-info-pager" class="bx-pager">
            <?php foreach($this->item['images']['thmb'] as $i_id => $i_val) { ?>
            <a data-slide-index="<?php echo $i_id; ?>" href=""><img src="<?php echo $i_val; ?>"></a>
            <?php } ?>
            <div class="clear"></div>
          </div>

        </div>

        <!-- Цена, телефон, краткая инфа -->
        <div class="col-md-4 price-tel-info" id="price-tel-info">

          <!-- Цена -->
          <div class="obj-view-price">
            <div class="wrapper">
              <div class="price-main"><?php echo $this->item['obj_price']; ?> <i class="icon-rouble"></i> в сутки</div>
            </div>
          </div>

          <!-- Телефон -->
          <div class="obj-view-booking">
            <div class="wrapper">
              <div class="row">

                <div class="col-xs-12">
                  <button type="button" class="btn btn-primary" id="showtel" data-toggle="modal" data-target="#modal-showtel"><i class="icon-phone4"></i> Показать контакты</button>
                </div>

                <!--
                <div class="col-xs-12">
                  <button type="button" class="btn btn-primary" id="showtelext" data-toggle="modal" data-target="#modal-showtelext"><i class="icon-phone4"></i> Показать контакты владельца</button>
                </div>
                -->

                <br />
                <div class="col-xs-12">
                  <button type="button" class="btn btn-success" id="send-request-to-owner" data-toggle="modal" data-target="#modal-send-request-to-owner"><i class="icon-paper-plane2"></i> Запрос на E-mail</button>
                </div>

              </div>
            </div>
          </div>

          <!-- Промо -->
          <div class="obj-view-promo">
            <div class="list-group">

              <!-- Поднять объект -->
              <a href="http://goyug.com/user/ontop/id/<?php echo $this->item['obj_id']; ?>" type="button" class="list-group-item btn-ontop"><span></span>Поднять и выделить на карте</a>

              <!-- Сегодня свободна -->
              <a href="http://goyug.com/user/isempty/id/<?php echo $this->item['obj_id']; ?>" type="button" class="list-group-item btn-isempty"><span></span>Активировать «Свободна сегодня»</a>

              <!-- Скидки -->
              <a href="http://goyug.com/user/sale/id/<?php echo $this->item['obj_id']; ?>" type="button" class="list-group-item btn-sale"><span></span>Активировать «Скидки»</a>

            </div>
          </div>

          <!-- Условия бронирования -->
          <div class="obj-view-payinfo">
            <h3><i class="ico-info-3"></i> Условия бронирования</h3>
            <table>
              <tbody>
              <tr>
                <td>Время заезда</td>
                <td><?php echo $this->item['obj_checkin']; ?></td>
              </tr>
              <tr>
                <td>Время выезда</td>
                <td><?php echo $this->item['obj_checkout']; ?></td>
              </tr>
              <tr>
                <td>Мин. срок аренды</td>
                <td>
                  <?php echo $this->item['obj_price_minstay']; ?>
                  <?php echo $this->translate( array( $this->item['per_form_1_ru'], $this->item['per_form_2_ru'], $this->item['per_form_3_ru'], $this->item['obj_price_minstay'], 'ru' ) ); ?>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- Параметры квартиры -->
          <div class="obj-view-placeparams">
            <h3><i class="ico-info-3"></i> Параметры квартиры</h3>
            <table>
              <tbody>
              <tr>
                <td>Площадь</td>
                <td><?php echo $this->item['obj_sqr']; ?> м&sup2;</td>
              </tr>
              <tr>
                <td>Кол-во комнат</td>
                <td><?php echo $this->item['obj_rooms']; ?></td>
              </tr>
              <tr>
                <td>Макс. кол-во гостей</td>
                <td><i class="icon-man"></i> <span class="times">&times;</span> <?php echo $this->item['obj_guests']; ?></td>
              </tr>
              <tr>
                <td>Спальных мест</td>
                <td><i class="icon-bed"></i> <?php echo $this->item['obj_sleepers']; ?></td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- Мета-данные -->
          <input type="hidden" name="obj_uid" value="<?php echo $this->item["obj_uid"]; ?>">
          <input type="hidden" name="obj_id" value="<?php echo $this->item["obj_id"]; ?>">
          <input type="hidden" name="ot_bookfee_pct" value="<?php echo $this->item["ot_bookfee_pct"]; ?>">
          <input type="hidden" name="ot_bookfee_fix" value="<?php echo $this->item["ot_bookfee_fix"]; ?>">
          <input type="hidden" name="obj_guests" value="<?php echo $this->item["obj_guests"]; ?>">
          <input type="hidden" name="obj_price" value="<?php echo $this->item["obj_price"]; ?>">

        </div>
        <!-- Цена, телефон, краткая инфа окончание -->

      </div>
      <!-- Блок 1 окончание -->

      <!-- Данные крупно
      <div class="row obj-view-params" id="obj-view-params">
        <div class="col col-sm-3">
          <h2>Площадь</h2>
          <span></span>
        </div>
        <div class="col col-sm-3">
          <h2>Комнат</h2>
          <span></span>
        </div>
        <div class="col col-sm-3">
          <h2>Макс. гостей</h2>
          <span></span>
        </div>
        <div class="col col-sm-3">
          <h2>Спальных мест</h2>
          <span></span>
        </div>
      </div> -->

      <!-- Оборудование, удобства, ограничения -->
      <div class="row obj-view-properties" id="obj-view-properties">

        <div class="col-sm-4">
          <h2><i class="ico-power-cord"></i> Оборудование</h2>
          <ul>
            <?php
              if(count($this->item['equipment'])){
                foreach($this->item['equipment'] as $id => $val){ ?>
                <li class="item"><?php echo $val; ?></li>
            <?php
                }
              } ?>
          </ul>
          <div class="clear"></div>
        </div>

        <div class="col-sm-4">
          <h2>Удобства</h2>
          <ul>
            <?php
              if(count($this->item['amenity'])){
                foreach($this->item['amenity'] as $id => $val){ ?>
                <li class="item"><?php echo $val; ?></li>
            <?php
                }
              } ?>
          </ul>
          <div class="clear"></div>
        </div>

        <div class="col-sm-4">
          <h2 class="red"><i class="ico-minus-sign"></i> Ограничения</h2>
          <ul>
            <?php
              if(count($this->item['restriction'])){
                foreach($this->item['restriction'] as $id => $val){ ?>
                <li class="item restrict"><?php echo $val; ?></li>
            <?php
                }
              } else { ?>
                <li class="item restrict">Не указаны</li>
            <?php
                } ?>
          </ul>
        </div>

      </div>

      <!-- Описание -->
      <div class="row obj-view-desc" id="obj-view-desc">
        <div class="col col-xs-12">
          <h2>Описание</h2>
          <p><?php echo nl2br($this->item['obj_fulldesc_ru']); ?></p>
        </div>
      </div>

      <!-- Календарь -->
      <div class="row obj-view-calendar" id="obj-view-calendar">
        <div class="col col-xs-12">
          <h2>Календарь занятости</h2>

          <script>
            var disabledDays = <? echo $this->item['calendarJSON']; ?>;
          </script>
          <div id="obj-calendar-legend" class="obj-calendar-legend">
            <span class="legend_item_closed"></span>&nbsp; &mdash; &nbsp;Занятые даты
          </div>
          <div id="obj-calendar" class="obj-calendar"></div>

        </div>
      </div>

      <!-- Карта -->
      <div class="row obj-view-location" id="obj-view-location">
        <div class="col col-xs-12 obj-view-map">
          <h2><i class="ico-location-2"></i> Адрес</h2>
          <p>
            <strong>
              г. <?php echo $this->item['obj_addr_city']; ?>,
              <?php echo $this->item['obj_addr_street']; ?>, <?php echo $this->item['obj_addr_number']; ?>
            </strong>
          </p>
          <div id="obj-view-map">
            <div id="obj-view-map-canvas"></div>
          </div>
        </div>
        <!--
        <div class="col col-sm-3 obj-view-milestones">
          <h2>Адрес</h2>
          <p>
            <strong><?php //echo $this->item['obj_addr_city']; ?></strong><br>
            <?php //echo $this->item['obj_addr_street']; ?>, <?php //echo $this->item['obj_addr_number']; ?><br>
          </p>
        </div>
        -->
      </div>

      <a href="">Квартиры посуточно в <? echo $this->cities['list'][$this->item['obj_addr_city_uid']]['name_pr'];?></a>

    </div>
    <!-- .container -->
  </div>
  <!-- .obj-view-content - END -->

</div>
</div>

<!-- MODAL - Showtel -->
<div class="modal fade" id="modal-showtel" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Контакты владельца</h2>
      </div>

      <div class="modal-body">

        <h3>Мы будем вам признательны, за поддержку. <br>
Сообщите владельцу, что нашли этот объект на сайте GOYUG (ГОУЮГ).</h3>

        <div class="phone">
          <?php echo Util::getHumanTel($this->item["u_phone_1"]); ?>
          <?php echo (!empty($this->item["u_phone_2"])) ? "<br>" . Util::getHumanTel($this->item["u_phone_2"]) : ""; ?>
          <?php echo (!empty($this->item["u_phone_3"])) ? "<br>" . Util::getHumanTel($this->item["u_phone_3"]) . "<br>" : ""; ?>
          <?php echo ( !empty($this->item["u_email"]) && $this->item['u_show_email'] ) ? "<br>" . $this->item["u_email"] . "<br>" : ""; ?>
        </div>

        <!--
        <form class="gy-form" role="form">

          <h3>Как все прошло?</h3>

          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success btn-callback" data-result="yes">Спасибо, дозвонился</button>
            <button type="submit" class="btn btn-warning btn-callback" data-result="no">Никто не ответил</button>
            <button type="submit" class="btn btn-danger btn-callback" data-result="none">Номер недоступен</button>
          </div>

        </form>
        -->

      </div>
      <!-- .modal-body - END -->

    </div>
  </div>
</div>

<!-- MODAL - ShowtelExt -->
<div class="modal fade" id="modal-showtelext" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Контакты владельца</h2>
      </div>

      <div class="modal-body">

        <div class="query">
          <h3>Расскажите немного о себе</h3>

          <form class="gy-form" id="showtelext-form" role="form">

            <div class="row">
              <div class="col col-sm-12 col-xs-12">
                <div class="form-group floating-label-form-group">
                  <label for="showtelext-name">Ваше имя</label>
                  <input type="text" id="showtelext-name" class="form-control" placeholder="Ваше имя" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['name']; ?>">
                </div>
              </div>
              <!--
              <div class="col col-sm-6 col-xs-12">
                <div class="form-group floating-label-form-group">
                  <label for="showtelext-phone">Ваш телефон</label>
                  <input type="text" id="showtelext-phone" class="form-control" placeholder="Ваш телефон" value="<?php //if( isset($_SESSION['order']) ) echo $_SESSION['order']['phone']; ?>">
                </div>
              </div>
              -->
            </div>

            <div class="row">
              <div class="col col-sm-12 col-xs-12">
                <div class="form-group floating-label-form-group">
                  <label for="showtelext-email">E-mail</label>
                  <input type="text" id="showtelext-email" class="form-control" placeholder="Ваш E-mail" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['email']; ?>">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col col-sm-6 col-xs-12">
                <div class="form-group floating-label-form-group">
                  <label for="showtelext-checkin">Дата заезда</label>
                  <input type="text" id="showtelext-checkin" class="form-control" readonly placeholder="Дата заезда" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['checkin']; ?>">
                </div>
              </div>
              <div class="col col-sm-6 col-xs-12">
                <div class="form-group floating-label-form-group">
                  <label for="showtelext-checkout">Дата выезда</label>
                  <input type="text" id="showtelext-checkout" class="form-control" readonly placeholder="Дата выезда" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['checkout']; ?>">
                </div>
              </div>
            </div>

            <button type="button" class="btn big-orange" id="showtelext-button" onclick="showTelExt()">Показать контакты</button>

          </form>
        </div>

        <div class="result">
          <h3>Контакты владельца</h3>
          <div class="phone"></div>
          <div class="email"></div>
          <!--
          <button type="button" class="btn big-orange" id="send-ring-query-btn">Позвонить бесплатно</button>
          <p class="text-center" id="send-ring-query-text">Нажмите «Позвонить бесплатно» и мы соединим вас с владельцем объекта <strong>бесплатно</strong></p>
          -->
        </div>

      </div>
      <!-- .modal-body - END -->

      <div class="modal-footer">
        <p id="showtelext-reason" class="showtelext-reason"></p>
        <p class="showtelext-info">Указанные данные помогут быстрее найти подходящий вариант жилья</p>
      </div>
      <!-- .modal-footer - END -->

    </div>
  </div>
</div>

<!-- MODAL - Send Order -->
<div class="modal fade" id="modal-send-request-to-owner" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Запрос на E-mail</h2>
      </div>

      <div class="modal-body">

        <form class="gy-form" id="order-object-form" role="form">

          <div class="row">

            <div class="col col-sm-6 col-xs-12">
              <div class="form-group floating-label-form-group">
                <label for="order-object-name">Ваше имя</label>
                <input type="text" id="order-object-name" class="form-control" placeholder="Ваше имя" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['name']; ?>">
              </div>
            </div>

            <div class="col col-sm-6 col-xs-12">
              <div class="form-group floating-label-form-group">
                <label for="order-object-email">E-mail</label>
                <input type="text" id="order-object-email" class="form-control" placeholder="Ваш E-mail" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['email']; ?>">
              </div>
            </div>

          </div>

<!--           <div class="row">

            <div class="col col-sm-12 col-xs-12">
              <div class="form-group floating-label-form-group">
                <label for="order-object-phone">Ваш телефон</label>
                <input type="text" id="order-object-phone" class="form-control" placeholder="Ваш телефон (не обязательно)" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['phone']; ?>">
              </div>
            </div>

          </div>
 -->
          <div class="row">

            <div class="col col-sm-6 col-xs-12">
              <div class="form-group floating-label-form-group">
                <label for="order-object-checkin">Дата заезда</label>
                <input type="text" id="order-object-checkin" class="form-control" placeholder="Дата заезда" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['checkin']; ?>">
              </div>
            </div>

            <div class="col col-sm-6 col-xs-12">
              <div class="form-group floating-label-form-group">
                <label for="order-object-checkout">Дата выезда</label>
                <input type="text" id="order-object-checkout" class="form-control" placeholder="Дата выезда" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['checkout']; ?>">
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col col-sm-12 col-xs-12">
              <div class="form-group floating-label-form-group">
                <label for="order-object-comment">Примечание</label>
                <input type="text" id="order-object-comment" class="form-control" placeholder="Примечание (не обязательно)" value="<?php if( isset($_SESSION['order']) ) echo $_SESSION['order']['comment']; ?>">
              </div>
            </div>

          </div>

          <button type="button" class="btn big-orange" id="order-object-button" onclick="sendOrder()">Отправить</button>

        </form>

      </div>
      <!-- .modal-body - END -->

      <div class="modal-footer">
        <p id="order-object-reason" class="order-object-reason"></p>
        <p class="order-object-info">Указанные вами данные отправяться владельцу объекта</p>
      </div>
      <!-- .modal-footer - END -->

    </div>
  </div>
</div>

<?php include("modal.phtml"); ?>
