<!-- Update -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view update">

  <!-- Оповещения -->
  <?php include("notification.phtml"); ?>

  <div class="row">
    <div class="col-md-12">

      <h1>Создание объекта</h1>

      <!-- Меню карточки -->
      <div class="row menu">
        <!-- Действия -->
        <div class="col-sm-4 col-sm-push-8 text-right">
          <img src="/images/loading.gif" alt="Процесс" class="curcle-progress">
          <div class="btn-group actions" role="group" aria-label="...">
            <button type="button" class="btn btn-success btn-save">Сохранить</button>
            <button type="button" class="btn btn-primary" onclick="location.replace('/user/rooms')">Закрыть</button>
          </div>
        </div>
        <!-- Вкладки -->
        <div class="col-sm-8 col-sm-pull-4">
          <div class="btn-group tabs" role="group" aria-label="...">
            <button type="button" class="btn btn-primary active" onclick="selectTab('general')" id="btn-general">Общие</button>
            <button type="button" class="btn btn-primary" onclick="selectTab('properties')" id="btn-properties">Свойства</button>
            <button type="button" class="btn btn-primary" onclick="selectTab('address')" id="btn-address">Адрес</button>
            <button type="button" class="btn btn-primary" onclick="selectTab('photo')" id="btn-photo">Фотографии</button>
          </div>
        </div>
      </div>

      <!-- Разделы карточки -->
      <div class="row parts">
        <div class="col-md-12">

          <form action="<?php echo $this->form->getAction(); ?>" method="<?php echo $this->form->getMethod(); ?>" role="form" id="main-form" data-async>

          <input type="hidden" name="obj_id" value="<?php echo $this->object['obj_id']; ?>" id="obj_id">
          <input type="hidden" name="action" value="addObject">

          <!-- TAB Общие -->
          <div class="block general active" id="tab-general">

            <div class="row">
              <!-- Панель цен -->
              <div class="col-md-4">
                <!-- Цены -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Цены</h3>
                  </div>
                  <div class="panel-body no-padding">
                    <!-- Тип размещения
                    <div class="form-group">
                      <label for="<?php //echo $this->form->obj_acc_type->getAttrib('id'); ?>">Тип размещения</label>
                      <?php //echo $this->form->obj_acc_type; ?>
                    </div> -->
                    <!-- Минимальный период -->
                    <div class="form-group">
                      <label for="<?php echo $this->form->obj_price_minstay->getAttrib('id'); ?>">Минимальный период</label>
                      <?php echo $this->form->obj_price_minstay; ?>
                    </div>
                    <!-- Период оплаты
                    <div class="form-group">
                      <label for="<?php //echo $this->form->obj_price_period->getAttrib('id'); ?>">Период оплаты</label>
                      <?php //echo $this->form->obj_price_period; ?>
                    </div> -->
                    <!-- Цена -->
                    <div class="form-group">
                      <label for="<?php echo $this->form->obj_price->getAttrib('id'); ?>">Цена за сутки</label>
                      <div class="input-group"><?php echo $this->form->obj_price; ?> <span class="input-group-addon"><span class="rouble">i</span></span></div>
                    </div>
                    <!-- Депозит
                    <div class="form-group">
                      <label for="<?php //echo $this->form->obj_deposit->getAttrib('id'); ?>">Депозит</label>
                      <div class="input-group"><?php //echo $this->form->obj_deposit; ?> <span class="input-group-addon"><span class="rouble">i</span></span></div>
                    </div>-->
                  </div>
                </div>
              </div>
              <!-- Панель параметров -->
              <div class="col-md-8">
                <!-- Параметры -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Параметры</h3>
                  </div>
                  <div class="panel-body no-padding">
                    <div class="row">
                      <div class="col-sm-5">
                        <!-- Тип объекта -->
                        <div class="form-group">
                          <label for="">Тип объекта</label>
                          <?php echo $this->form->ot_object_type; ?>
                        </div>
                      </div>
                      <div class="col-sm-7">

                        <div class="row">
                          <div class="col-sm-4">
                            <!-- Площадь -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_sqr->getAttrib('id'); ?>">Площадь <i class="ico-info-sign form-help" title='Площадь'></i></label>
                              <div class="input-group"><?php echo $this->form->obj_sqr; ?><span class="input-group-addon">м&sup2;</span></div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <!-- Заезд -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_checkin->getAttrib('id'); ?>">Заезд <i class="ico-info-sign form-help" title='Например: 12:00'></i></label>
                              <?php echo $this->form->obj_checkin; ?>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <!-- Выезд -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_checkout->getAttrib('id'); ?>">Выезд <i class="ico-info-sign form-help" title='Например: 14:00'></i></label>
                              <?php echo $this->form->obj_checkout; ?>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-4">
                            <!-- Гости -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_guests->getAttrib('id'); ?>">Гости</label>
                              <?php echo $this->form->obj_guests; ?>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <!-- Комнаты -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_rooms->getAttrib('id'); ?>">Комнаты</label>
                              <?php echo $this->form->obj_rooms; ?>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <!-- Спальных мест -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_sleepers->getAttrib('id'); ?>">Спальных мест</label>
                              <?php echo $this->form->obj_sleepers; ?>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <!--
                    <div class="row">
                      <div class="col-sm-4">

                      </div>
                      <div class="col-sm-4">

                      </div>
                      <div class="col-sm-4">

                        <!-- Спальни
                        <div class="form-group">
                          <label for="<?php //echo $this->form->obj_bedrooms->getAttrib('id'); ?>">Спальни</label>
                          <?php //echo $this->form->obj_bedrooms; ?>
                        </div>
                      </div>
                    </div>
                    -->

                    <!--
                    <div class="row">
                      <div class="col-sm-3">
                        <!-- Ванные
                        <div class="form-group">
                          <label for="<?php //echo $this->form->obj_bathrooms->getAttrib('id'); ?>">Ванные</label>
                          <?php //echo $this->form->obj_bathrooms; ?>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <!-- Односпальные кровати
                        <div class="form-group">
                          <label for="<?php //echo $this->form->obj_beds_sngl->getAttrib('id'); ?>">Односпальные кровати</label>
                          <?php //echo $this->form->obj_beds_sngl; ?>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <!-- Двуспальные кровати
                        <div class="form-group">
                          <label for="<?php //echo $this->form->obj_beds_dbl->getAttrib('id'); ?>">Двуспальные кровати</label>
                          <?php //echo $this->form->obj_beds_dbl; ?>
                        </div>
                      </div>
                      <div class="col-sm-3">
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>

            <!-- Описание -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Описание</h3>
              </div>
              <div class="panel-body no-padding">
                <!-- Название объекта -->
                <div class="form-group">
                  <label for="obj_name_ru">Название объекта <span class="input-notice">(До 30 символов)</span> <span class="input-error">(Название не может быть длинней 30 символов)</span></label>
                  <?php echo $this->form->obj_name_ru; ?>
                </div>
                <!-- Краткое описание
                <div class="form-group">
                  <label for="obj_shortdesc_ru">Краткое описание</label>
                  <?php //echo $this->form->obj_shortdesc_ru; ?>
                </div> -->
                <!-- Описание -->
                <div class="form-group">
                  <label for="obj_fulldesc_ru">Описание</label>
                  <?php echo $this->form->obj_fulldesc_ru; ?>
                </div>
              </div>
            </div>

          </div><!-- TAB -->

          <!-- TAB Свойства -->
          <div class="block properties" id="tab-properties">

            <!-- Оборудование -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Оборудование</h3>
              </div>
              <div class="panel-body no-padding">
                <div class="form-group">
                  <?php echo $this->form->eq_equipment; ?>
                </div>
              </div>
            </div>

            <!-- Удобства -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Удобства</h3>
              </div>
              <div class="panel-body no-padding">
                <div class="form-group">
                  <?php echo $this->form->at_amenity; ?>
                </div>
              </div>
            </div>

            <!-- Ограничения -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Ограничения</h3>
              </div>
              <div class="panel-body no-padding">
                <div class="form-group">
                  <?php echo $this->form->rst_restriction; ?>
                </div>
              </div>
            </div>

          </div><!-- TAB -->

          <!-- TAB Адрес -->
          <div class="block address" id="tab-address">

            <!-- Адрес -->
            <div class="panel panel-default">

              <div class="panel-heading">
                <h3 class="panel-title">Укажите адрес объекта и метку на карте</h3>
              </div>

              <div class="panel-body">

                <script>
                  var cityCoords = [];
                  <?php foreach ($this->cities['list'] as $key => $city) { ?><?php echo 'cityCoords["'.$key.'"] = {"lat":'.$city['lat'].',"lng":'.$city['lng'].'};'; ?><?php } ?>
                </script>

                <!-- Выбор города -->
                <div class="module module-city">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="obj_addr_city_uid">Выберите свой город: </label>
                      <select class="form-control" name="obj_addr_city_uid" id="obj_addr_city_uid">
                        <option value="">=== не выбран ===</option>
                        <?php foreach ($this->cities['list'] as $key => $city) { ?>
                        <option value="<?php echo $city['uid']; ?>" <?php if($city['uid'] == $this->object['obj_addr_city_uid']) echo 'selected'; ?>><?php echo $city['name']; ?></option>
                        <?php } ?>
                      </select>
                    </div>
                  </div>
                </div>
                </div>

                <!-- Адрес -->
                <div class="module module-addr">
                <div class="row">
                  <div class="col-md-6">
                    <!-- Улица -->
                    <div class="form-group">
                      <label for="obj_addr_street">Улица <span class="module-label-note" id="module-label-note-addr-street">(обязательно)</span></label>
                      <?php echo $this->form->obj_addr_street; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- № дома -->
                    <div class="form-group">
                      <label for="obj_addr_number">№ дома <span class="module-label-note" id="module-label-note-addr-number">(обязательно)</span></label>
                      <?php echo $this->form->obj_addr_number; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Этаж -->
                    <div class="form-group">
                      <label for="obj_addr_floor">Этаж <span class="module-label-note" id="module-label-note-addr-floor">(обязательно)</span></label>
                      <?php echo $this->form->obj_addr_floor; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Этажность -->
                    <div class="form-group">
                      <label for="obj_addr_elevation">Этажность <span class="module-label-note" id="module-label-note-addr-elevation">(обязательно)</span></label>
                      <?php echo $this->form->obj_addr_elevation; ?>
                    </div>
                  </div>
                </div>
                </div>

                <!-- Метка на карте -->
                <div class="module module-placemark">
                <div class="row">
                  <div class="col-md-12">
                    <label for="obj_addr_city_uid">Проверьте, верно ли указан объект на карте <span>(метку можно перетаскивать мышкой)</span></label>
                    <input type="text" class="form-control search-address hidden" name="search_address" id="search_address" placeholder="Найти адрес">
                    <div id="googlemap" class="googlemap"></div>
                  </div>
                </div>
                </div>

              </div>
            </div>

            <div class="hidden">
              <?php
                //Адрес для работы карты и сохранения
                echo $this->form->obj_addr_country_code;
                echo $this->form->obj_addr_country;
                echo $this->form->obj_addr_zip;
                echo $this->form->obj_addr_city;
                echo $this->form->obj_addr_area_1;
                echo $this->form->obj_addr_area_2;
              ?>
            </div>

            <!-- Адрес объекта -->
            <div class="panel panel-default hidden">
              <div class="panel-heading">
                <h3 class="panel-title">Адрес объекта</h3>
              </div>

              <div class="panel-body no-padding">
                <!--
                <div class="row">
                  <div class="col-md-1">
                    <!-- Код
                    <div class="form-group">
                      <label for="">Код</label>
                      <?php //echo $this->form->obj_addr_country_code; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Страна
                    <div class="form-group">
                      <label for="">Страна</label>
                      <?php //echo $this->form->obj_addr_country; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Индекс
                    <div class="form-group">
                      <label for="">Индекс</label>
                      <?php //echo $this->form->obj_addr_zip; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Город
                    <div class="form-group">
                      <label for="">Город</label>
                      <?php //echo $this->form->obj_addr_city; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Зона 1
                    <div class="form-group">
                      <label for="">Зона 1</label>
                      <?php //echo $this->form->obj_addr_area_1; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Зона 2
                    <div class="form-group">
                      <label for="">Зона 2</label>
                      <?php //echo $this->form->obj_addr_area_2; ?>
                    </div>
                  </div>
                </div>
                -->
                <div class="row">
                  <div class="col-md-1">
                    <!-- Подъезд
                    <div class="form-group">
                      <label for="">Подъезд</label>
                      <?php //echo $this->form->obj_addr_entrance; ?>
                    </div>-->
                  </div>
                  <div class="col-md-1">
                    <!-- Квартира
                    <div class="form-group">
                      <label for="">Квартира</label>
                      <?php //echo $this->form->obj_addr_room; ?>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden">
            <?php
              //Координаты для карты
              echo $this->form->obj_addr_lon;
              echo $this->form->obj_addr_lat;
              echo $this->form->obj_addr_lon_view;
              echo $this->form->obj_addr_lat_view;
            ?>
            </div>
            <!-- Координаты
            <div class="row">
              <div class="col-md-6">
                <!-- Координаты
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Координаты</h3>
                  </div>
                  <div class="panel-body no-padding">
                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Долгота
                        <div class="form-group">
                          <label for="">Долгота</label>
                          <?php //echo $this->form->obj_addr_lon; ?>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <!-- Широта
                        <div class="form-group">
                          <label for="">Широта</label>
                          <?php //echo $this->form->obj_addr_lat; ?>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Координаты для Streetview
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Координаты для Streetview</h3>
                  </div>
                  <div class="panel-body no-padding">
                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Долгота
                        <div class="form-group">
                          <label for="">Долгота</label>
                          <?php //echo $this->form->obj_addr_lon_view; ?>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <!-- Широта
                        <div class="form-group">
                          <label for="">Широта</label>
                          <?php //echo $this->form->obj_addr_lat_view; ?>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->

          </div><!-- TAB -->
          </form>

          <!-- TAB Фотографии -->
          <div class="block photo" id="tab-photo">

            <!-- Фотографии -->
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                  <p>Фотографии можно добавить только после <strong>создания</strong> объекта</p>
                </div>
              </div>
            </div>

          </div><!-- TAB -->

        </div>
      </div><!-- .row.parts -->

    </div>
  </div>

</div><!-- .obj-view - END -->