<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>
<!-- Контейнер основной -->
<div class="container obj-view">
    <div class="row">
        <div class="col-md-12">

            <h1><a type="button" class="btn btn-success" onclick="location.replace('/user/rooms')"><i class="icon-arrow-left"></i> К списку объектов</a> Календарь объекта - <span id="info_addr_1"><?php echo $this->object['obj_addr_street']." ".$this->object['obj_addr_number']; ?></span>
            <?php if($this->object['obj_addr_floor']) { ?>
            <span id="info_addr_1"> эт. <?php echo $this->object['obj_addr_floor']; ?></span>
            <?php } ?></h1>

            <div class="obj-list">

                <div class="row fc-calendar-nav">
                    <div class="col-lg-9">
                        
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <a type="button" class="btn btn-primary" id="fc-prevmon"><i class="icon-arrow-left"></i> Месяц назад</a>
                                <a type="button" class="btn btn-primary" id="fc-today"><i class="icon-clock7"></i> Текущий месяц</a>
                                <a type="button" class="btn btn-primary" id="fc-nextmon"><i class="icon-arrow-right"></i> Месяц вперед</a>
                            </div>
                    </div>

                    <div class="col-lg-3">
                            
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <a type="button" class="btn btn-success" id="fc-2m"><i class="icon-calendar"></i> 2 месяца</a>
                                <a type="button" class="btn btn-success" id="fc-4m"><i class="icon-calendar"></i> 4 месяца</a>
                            </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 fc-calendar-wrap">
                        <div id="booking-calendar-1" data-objid="<? echo $this->obj_id; ?>"></div>
                    </div>
                    <div class="col-lg-6 fc-calendar-wrap">
                        <div id="booking-calendar-2" data-objid="<? echo $this->obj_id; ?>"></div>
                    </div>
                </div>

                <div class="row fc-calendar-3-4">
                    <div class="col-lg-6 fc-calendar-wrap">
                        <div id="booking-calendar-3" data-objid="<? echo $this->obj_id; ?>"></div>
                    </div>
                    <div class="col-lg-6 fc-calendar-wrap">
                        <div id="booking-calendar-4" data-objid="<? echo $this->obj_id; ?>"></div>
                    </div>
                </div>

                <!-- Modal - #modal-add-event -->
                <!-- *********************************************************************************************************************************** -->
                <div class="modal fade" id="modal-add-event" tabindex="-1" role="dialog" aria-labelledby="modal-add-event" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h2 class="modal-title">Закрыть даты</h2>
                            </div>


                            <div class="modal-body">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="cal_startdate">Начало периода <i class="ico-info-sign"></i></label>
                                            <div class="input-group" id="pick_cal_startdate">
                                                <input type="text" name="cal_startdate" id="cal_startdate" value="" helper="formText" class="form-control">
                                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="cal_enddate">Конец периода <i class="ico-info-sign"></i></label>
                                            <div class="input-group" id="pick_cal_enddate">
                                                <input type="text" name="cal_enddate" id="cal_enddate" value="" helper="formText" class="form-control">
                                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- .modal-body - END -->

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary"><i class="ico-ok"></i> Закрыть даты</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ico-close"></i>  Отмена</button>
                            </div>
                            <!-- .modal-footer - END -->

                        </div>
                    </div>
                </div>



                <!-- *********************************************************************************************************************************** -->
                <!-- MODAL - #modal-add-event - END -->
                <!-- MODAL - #modal-delete-event -->
                <!-- *********************************************************************************************************************************** -->
                <div class="modal fade" id="modal-delete-event" tabindex="-1" role="dialog" aria-labelledby="modal-delete-event" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                                <h2 class="modal-title">Открыть даты</h2>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Вы уверены что точно хотите открыть эти даты?</h3>
                                        </div>

                                        <div class="col-lg-12">
                                            <span id="event-info-title"></span> на <strong><span id="event-info-days"></span> <span id="event-info-days-label"></span></strong><br>
                                            с <span id="event-info-startdate-label"></span><br>
                                            по <span id="event-info-enddate-label"></span>
                                        </div>

                                        <input type="hidden" id="event-info-id">
                                    </div>
                                </div>
                            </div>
                            <!-- .modal-body - END -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary"><i class="ico-trash"></i> Открыть даты</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="ico-close"></i>  Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- *********************************************************************************************************************************** -->
                <!-- MODAL - #modal-add-event - END -->
                <!-- </div> -->
                <!-- obj-view-title - END -->
            </div>
        </div>
    </div>