<!-- Dashboard -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view">

  <!-- Оповещения -->
  <?php 
    // include("notification.phtml"); 
  ?>

<!-- Абонплата -->
      <?php if( count($this->objects) && $this->is_rental ) { ?>
      <div class="row">
        <div class="col-sm-12">
          <div class="rental-info">
            <h3>Информация о месячном абонементе</h3>
            <?php if($this->u_user['u_rental']): ?>
              <p><img class="rental-ico-success" src="/images/rental-ico-success.svg" alt="Ваши объекты не отображаются на сайте">Ваши объекты отображаются на сайте</p>
              <?php if($this->u_user['u_rental_nextpay'] == '0000-00-00 00:00:00'): ?>
                <p class="rental-nextpay">Окончание абонемента: <?php echo Util::getHumanDate($this->u_user['u_rental_deactivate'], "-", true, true); ?></p>
                <a href="/user/rentalreactivate/" class="btn btn-success btn-nextpay" title="Возобновить автопродление">Возобновить автопродление</a>
              <?php else: ?>
                <p class="rental-nextpay">Cледующее списание за продление мнесячного абонемента: <?php echo Util::getHumanDate($this->u_user['u_rental_nextpay'], "-", true, true); ?></p>
                <a href="/user/rentaldeactivate/" class="btn btn-danger btn-nextpay" title="Отключить услугу">Отключить абонемент</a>
              <?php endif; ?>
            <?php else: ?>
              <p><img class="rental-ico-warning" src="/images/rental-ico-warning.svg" alt="Ваши объекты не отображаются на сайте">Ваши объекты не отображаются на сайте. <strong>Продлите абонемент</strong>, чтобы пользователи могли просматривать ваши объекты.</p>
              <a href="/user/rental/" class="btn btn-success" title="Подключить услугу">Подключить абонемент</a>
            <?php endif; ?>
          </div>
        </div>
      </div>
      <?php } ?>

<br><br>

  <div class="row">
    <div class="col-md-12">

      <h1>Панель управления</h1>

      <div class="row obj-view-content">
        <div class="col-lg-3">
          <a class="btn btn-success btn-block btn-dashboard-add" href="/user/add">+ Добавить объект</a>
          <ul class="list-group">
            <a class="list-group-item" href="/user/rooms">Мои объекты</a>
            <a class="list-group-item" href="/user/add">Добавить объект</a>
            <a class="list-group-item" href="/user/profile">Профиль</a>
            <a class="list-group-item" href="/user/payment">Пополнить баланс</a>
            <a class="list-group-item" href="/user/feedback">Обратная связь</a>
          </ul>
        </div>
        <div class="col-lg-9 tabs">

          <!-- Как мы работаем? -->
          <div class="row block about active" id="tab-about">

            <div class="col-md-12">
              <h2>Как мы работаем?</h2>
            </div>

            <div class="col-md-4 col-md-offset-2">
              <img src="/images/how-top.svg" alt="Приоритет">
              <h3>Как выделить свой объект?</h3>
              <p>Воспользуйтесь дополнительными функциями!</p>
            </div>

            <div class="col-md-4">
              <img src="/images/how-phone.svg" alt="Телефон">
              <h3>Как с вами свяжется гость? </h3>
              <p>Гостям доступен номер вашего телефона и E-mail.</p>
            </div>

            <!--
            <div class="col-md-12">
              <div class="thanks">
                <a href="/user/thanks" title="Оплатить за результат" class="btn btn-success btn-lg btn-block">Оплатить за результат</a>
              </div>
            </div>
            -->

          </div>

          <!-- Работа с заявками -->
          <div class="row block addon-service active" id="tab-addon-service">

            <div class="col-md-12">
              <h2>Работа с заявками</h2>
            </div>

            <div class="col-md-6">
              <span class="addon-service-img">
                <img src="/images/addon-service-img-hotorder.jpg" alt="Срочное заселение">
              </span>
              <h3>Срочное заселение</h3>
              <p>
                Пользователь на сайте GoYug.com заполняет специальную форму «Срочное заселение» с целью подобрать жилье максимально быстро, получив предложения от собственников.<br />
                Если функция активна на вашем объекте, то на ваш <br /><strong>E-mail</strong> придет соответствующая заявка.<br />
                Номер телефона заказчика в обязательном порядке <strong>проверяется</strong> смс-кодом.
              </p>
              <h4>Стоимость: <strong>0 <span class="rouble">c</span> в месяц</strong></h4>
              <button class="btn btn-success" onclick="goTo('hotorder')">Как это работает?</button>
            </div>

            <div class="col-md-6">
              <span class="addon-service-img">
                <img src="/images/addon-service-img-paramsorder.jpg" alt="Запрос по параметрам">
              </span>
              <h3>Запрос по параметрам</h3>
              <p>
                Пользователь на сайте GoYug.com заполняет специальную форму «Предложите мне вариант» с целью подобрать жилье максимально комфортно, получив предложения от собственников.<br />
                Если функция активна на вашем объекте, то на ваш <br /><strong>E-mail</strong> придет соответствующая заявка.<br />
                Номер телефона заказчика в обязательном порядке <strong>проверяется</strong> смс-кодом.
              </p>
              <h4>Стоимость: <strong>0 <span class="rouble">c</span> в месяц</strong></h4>
              <button class="btn btn-success" onclick="goTo('paramsorder')">Как это работает?</button>
            </div>

          </div>

          <!-- Дополнительные функции -->
          <div class="row block addon-service active" id="tab-addon-service">

            <div class="col-md-12">
              <h2>Дополнительные функции</h2>
            </div>

            <div class="col-md-4">
              <span class="addon-service-img">
                <img src="/images/addon-service-img-ontop.jpg" alt="Поднятие">
              </span>
              <h3>Поднять и выделить<br /> на карте</h3>
              <p>Объект поднимется на первое место в списке объектов на сайте, а также выделится цветом и рамкой в списке и на карте <strong>на 3 дня</strong>.</p>
              <h4>Стоимость: <del>50</del> 25 <span class="rouble">c</span></h4>
              <button class="btn btn-success" onclick="goTo('ontop')">Как это работает?</button>
            </div>

            <div class="col-md-4">
              <span class="addon-service-img">
                <img src="/images/addon-service-img-isempty.jpg" alt="Свободна сегодня">
              </span>
              <h3>Объект<br /> сегодня свободен</h3>
              <p>На главной фотографии объекта добавится лейбл <strong>«Свободна сегодня»</strong>.<br /> Метка на карте выделится цветом.</p>
              <?php if($this->is_rental): ?>
              <h4>Стоимость: <strong>0 <span class="rouble">c</span> в месяц</strong></h4>
              <?php else: ?>
              <h4>Стоимость: 5 <span class="rouble">c</span> в сутки</h4>
              <?php endif; ?>
              <button class="btn btn-success" onclick="goTo('isempty')">Как это работает?</button>
            </div>

            <div class="col-md-4">
              <span class="addon-service-img">
                <img src="/images/addon-service-img-sale.jpg" alt="Скидки">
              </span>
              <h3>Объект<br /> со скидкой</h3>
              <p>На главной фотографии объекта добавится пиктограмма <strong>«Скидки»</strong>.<br /> Метка на карте выделится цветом.<br /><br /></p>
              <?php if($this->is_rental): ?>
              <h4>Стоимость: <strong>0 <span class="rouble">c</span> в месяц</strong></h4>
              <?php else: ?>
              <h4>Стоимость: <strong>3 <span class="rouble">c</span> в сутки</strong></h4>
              <?php endif; ?>
              <button class="btn btn-success" onclick="goTo('sale')">Как это работает?</button>
            </div>

          </div>

          <!-- ontop -->
          <div id="block-desc-ontop" class="row block-desc-row">
            <div class="col-md-12">
              <h2>Поднять и выделить на карте</h2>
              <div class="addon-service-preview">
                <img src="/images/ontop-preview.jpg" alt="Пример поднятия">
              </div>
            </div>
          </div>

          <!-- isempty -->
          <div id="block-desc-isempty" class="row block-desc-row">
            <div class="col-md-12">
              <h2>Объект сегодня свободен</h2>
              <div class="addon-service-preview">
                <img src="/images/isempty-preview.jpg" alt="Пример выделения «Свободна сегодня»">
              </div>
            </div>
          </div>

          <!-- sale -->
          <div id="block-desc-sale" class="row block-desc-row">
            <div class="col-md-12">
              <h2>Объект на распродаже</h2>
              <div class="addon-service-preview">
                <img src="/images/sale-preview.jpg" alt="Пример выделения «Распродажа»">
              </div>
            </div>
          </div>

          <!-- hotorder -->
          <div id="block-desc-hotorder" class="row block-desc-row">
            <div class="col-md-12">
              <h2>Срочное заселение</h2>
              <div class="addon-service-preview">
                <img src="/images/hotorder-preview.jpg" alt="Пример выделения «Срочное заселение»">
              </div>
            </div>
          </div>

          <!-- paramsorder -->
          <div id="block-desc-paramsorder" class="row block-desc-row">
            <div class="col-md-12">
              <h2>Запрос по параметрам</h2>
              <div class="addon-service-preview">
                <img src="/images/paramsorder-preview.jpg" alt="Пример выделения «Срочное заселение»">
              </div>
            </div>
          </div>

        </div><!-- .tabs -->

      </div><!-- .obj-view-content - END -->

    </div>
  </div>

</div><!-- .obj-view - END -->