<!-- Delete -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view delete">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-9 col-xs-12">
          <h1>Удаление объекта</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-3 col-xs-12 menu text-right">
          <a href="/user/rooms" class="btn btn-success btn-block btn-save">К списку объектов</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h3>Проверьте выбранный объект:</h3>

          <div class="object-wrapper">
            <?php //print_r($this->object); ?>
            <div class="photo">

            </div>
            <div class="address">г. <?php echo $this->object->obj_addr_city.', '.$this->object->obj_addr_street.' '.$this->object->obj_addr_number; ?></div>

          </div>

          <div class="">

            <form id="delete-form-owner" action="/user/deleteprocess/id/<?php echo $this->object->obj_id; ?>" method="POST">

              <input type="hidden" name="delete_token" value="<?php echo $_SESSION['delete_token']; ?>">
              <input type="hidden" name="u_id" value="<?php echo $this->identity->u_id; ?>">

              <p class="bg-warning text-warning">Внимание! Вся информация об объекте удалится из базы. Восстановить ее будет невозможно!</p>
              <button type="submit" name="submit-button" class="btn btn-danger">Удалить объект</button>

            </form>

          </div>

        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->