<!-- Profile -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view profile">

  <!-- Оповещения -->
  <?php 
    // include("notification.phtml"); 
  ?>

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-8">
          <h1>Обратная связь</h1>
        </div>
        <!-- Меню -->
        <div class="col-sm-4 menu text-right">
          <img src="/images/loading.gif" alt="Процесс" class="curcle-progress">
          <button type="button" class="btn btn-success btn-save">Отправить</button>
        </div>
      </div>

      <!-- Форма -->
      <div class="row form">
        <div class="col-md-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Напишите нам сообщение</h3>
            </div>
            <div class="panel-body no-padding">
              <form action="" method="POST" role="form" id="main-form" data-async>

                <input type="hidden" name="u_id" value="<?php echo $this->u_user['u_id']; ?>" id="u_id">
                <input type="hidden" name="action" value="feedback" id="action">

                <!-- E-mail -->
                <div class="form-group u_email">
                  <label for="u_email">E-mail для ответа <span class="reason"></span></label>
                  <input type="text" class="form-control" name="u_email" id="u_email" placeholder="E-mail для ответа" value="<?php echo $this->u_user['u_email']; ?>">
                </div>

                <!-- Сообщение -->
                <div class="form-group text">
                  <label for="text">Сообщение <span class="reason"></span></label>
                  <textarea name="text" class="form-control" id="text" rows="10" placeholder="Напишите здесь ваше сообщение"></textarea>
                </div>

              </form>
              <p id="success" class="success">Ваше сообщение отправлено! Благодарим за обращение.</p>
            </div>
          </div>

        </div>
      </div>

      <!-- История -->
      <div class="row">
        <div class="col-lg-12">
          <div class="feedback-history">
            <h2>История обращений</h2>
            <div class="feedback-history-list">
              <?php foreach ($this->feedbacks as $key => $feedback) { ?>
              <?php $feedback['fb_direction'] == 'answer' ? $feedback['image'] = '/images/feedback-support.png' : $feedback['image'] = '/images/feedback-user.svg'; ?>
              <div class="media <?php if($feedback['fb_direction'] == 'answer') echo "answer"; ?>">
                <div class="media-left media-top">
                  <img class="media-object" src="<?php echo $feedback['image'] ?>" alt="Пользователь">
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><?php if($feedback['fb_direction'] == 'answer') echo "Ответ тех. поддержки"; else echo "Вы писали"; ?></h4>
                  <div class="date"><?php echo Util::getHumanDate($feedback['fb_date'], "-", true, true); ?></div>
                </div>
                <div class="media-text">
                  <?php echo $feedback['fb_text']; ?>
                </div>
              </div>
              <?php } ?>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->