<!-- Isempty -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view isempty">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-9 col-xs-12">
          <h1>Объект свободен сегодня</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-3 col-xs-12 menu text-right">
          <a href="/user/rooms" class="btn btn-success btn-block btn-save">К списку объектов</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h3>Проверьте выбранный объект:</h3>

          <div class="object-wrapper">
            <?php //print_r($this->object); ?>
            <div class="photo">

            </div>
            <div class="address">г. <?php echo $this->object->obj_addr_city.', '.$this->object->obj_addr_street.' '.$this->object->obj_addr_number; ?></div>

          </div>

          <div class="payment">

            <?php if(!$this->is_rental): ?>
            <h2>Стоимость функции: <?php echo $this->price; ?> <i class="icon-rub"></i> <u>в сутки</u></h2>
            <?php endif;?>

            <form id="isempty-form-owner"

              <?php if( $this->identity->u_money >= $this->price || $this->is_rental ): ?>
              action="/user/isemptybalanceprocess/id/<?php echo $this->object->obj_id; ?>"
              <?php else: ?>
              action="/user/payment"
              <?php endif; ?>

              method="POST">

              <!-- Обязательное поле -->
              <input name="shopId" value="<?php echo $this->shopId; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="scid" value="<?php echo $this->scId; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="sum" type="hidden" value="<?php echo $this->price; ?>" data-type="number">

              <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden"/>
              <input type="hidden" name="shopSuccessURL" value="http://goyug.com/user/rooms">
              <input type="hidden" name="shopFailURL" value="http://goyug.com/user/rooms">
              <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden"/>
              <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden"/>

              <?php if( $this->identity->u_money >= $this->price && !$this->is_rental ): ?>
              <p class="bg-warning text-warning">После активации функции, с вашего баланса будет списываться <?php echo $this->price; ?> <i class="icon-rub"></i> <u>в сутки</u></p>
              <button type="submit" name="submit-button" class="btn btn-danger">Активировать функцию «СВОБОДНА СЕГОДНЯ»</button>
              <?php elseif( $this->is_rental ): ?>
              <button type="submit" name="submit-button" class="btn btn-danger">Активировать функцию «СВОБОДНА СЕГОДНЯ»</button>
              <?php else: ?>
              <p class="bg-warning text-warning">У вас недостаточно средств для активации функции СВОБОДНА СЕГОДНЯ. Сперва пополните баланс личного кабинета.</p>
              <button type="submit" name="submit-button" class="btn btn-danger">Пополнить баланс</button>
              <?php endif; ?>

            </form>

          </div>

          <div class="isempty-preview">
            <img src="/images/isempty-preview.jpg" alt="Описание функции СВОБОДНА СЕГОДНЯ">
          </div>
        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->