<?php if($this->alertErrorMessage): ?>
<div class="alert alert-error">
  <button type="button" class="close fui-cross" data-dismiss="alert"></button>
  <?php echo $this->alertErrorMessage; ?>
</div>
<? endif; ?>
<h2 class="form-signin-heading">Личный кабинет владельца</h2>
<form method="<?=$this->form->getMethod();?>" action="<?=$this->form->getAction();?>" id="form-signin" data-async>
  <div class="logo"><img src="/images/ui/logo-mid-white.png"></div>
  <div class="form-signin-heading">
    Войдите в систему для того, чтобы управлять своими объектами
    <?
      if( isset($_SESSION['authtoken_expired']) && $_SESSION['authtoken_expired'] )
        echo '
        <p class="authtoken-expired">
          Ваш токен доступа устарел<br />
          Введите логин и пароль или <a href="" data-toggle="modal" data-target="#modal-forgot">закажите новую одноразовую ссылку</a> для входа
        </p>';
    ?>
  </div>
  <div class="form-group">
    <?php echo $this->form->u_username; ?>
  </div>
  <div class="form-group">
    <?php echo $this->form->u_password; ?>
  </div>
  <input type="hidden" name="action" value="dologin">
  <button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="<?=$this->translate('Checking');?>..."><i class="ico-key prm"></i> <?php echo $this->translate("Login"); ?></button>
  <a href="" class="btn btn-forgot btn-block" data-toggle="modal" data-target="#modal-forgot">Я забыл пароль</a>
</form>

<div id='spinner'></div>

<!-- MODAL - Forgot -->
<div class="modal fade" id="modal-forgot" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Забыли пароль?</h2>
      </div>

      <div class="modal-body">

        <p id="reason">Укажите E-mail, связанный с вашей учетной записью, и мы вышлем на него ссылку для одноразового доступа в ваш личный кабинет, где вы сможете поменять пароль.</p>

        <form id="modal-forgot-form" action="/user/ajax" method="POST">

          <div class="row">
            <div class="col col-md-12">
              <div class="form-group float-label-control">
                <label for="u_email" class="sr-only">Email</label>
                <input type="text" name="u_email" id="u_email" value="" class="form-control" placeholder="Введите свой E-mail">
              </div>
            </div>
          </div>

          <input type="hidden" name="action" value="forgot">
          <button type="submit" class="btn btn-primary btn-lg btn-forgot" data-loading-text="Идет отправка...">Выслать доступ</button>

        </form>

      </div>
      <!-- .modal-body - END -->

    </div>
  </div>
</div>