<!-- Приглашение
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Пригласив друзей на GoYug, вы — и приглашенные вами — можете получить бонус на путешествие. Чтобы начать, зайдите на <a href="https://www.goyug.com/invite">https://www.goyug.com/invite</a>. Приглашенные вами участники должны создать новый GoYug-аккаунт, нажав на ссылку, которую вы им прислали. В этом случае вы оба заработаете бонус, который можно использовать для оплаты нового бронирования.
    </div>
  </div>
</div>
-->

<!-- E-mail - если нет у владельца его в базе -->
<?php if(!$this->identity->u_email) { ?>
<div class="row user-email">
  <div class="col-sm-12">
    <h3><i class="icon-mail5"></i><span id="user-email-reason">Чтобы использовать все функции нашего сервиса, пожалуйста, укажите свой E-mail:</span></h3>
  </div>
</div>
<div class="row user-email">
  <div class="col-sm-10">
    <div class="form-group">
      <label for="user-email" class="sr-only">E-mail</label>
      <input type="text" class="form-control" id="user-email" placeholder="your-email@domain.ru">
    </div>
  </div>
  <div class="col-sm-2">
    <button class="btn-danger-small" id="user-email-submit" onclick="saveUserEmail()">Сохранить</button>
  </div>
</div>
<div class="row user-email">
  <div class="col-sm-12">
    <div class="line"></div>
  </div>
</div>
<?php } ?>

<!-- Пробуждение -->
<?php if( ($this->identity->u_next_email_task == 'awake_success' || $this->identity->u_next_email_task == 'awake_success_sms') && !$this->is_rental ) { ?>
<div id="user-awake-success" class="user-awake-success">
  <div class="row">
    <div class="col-lg-11 col-md-10 col-sm-12">
      <h2><span id="user-email-reason">Благодарим вас за использование нашего сервиса! Размещение ваших объектов продлено на <strong>30 дней</strong>!</span></h2>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-12">
      <button class="btn btn-info btn-block" onclick="userAwakeOK()">ОК</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h3>Удачной работы!</h3>
    </div>
  </div>
</div>
<?php } ?>

<!-- Активация -->
<?php if( $this->identity->u_next_email_task == 'activate_awake_success' ) { ?>
<div id="user-activate-awake-success" class="user-awake-success">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>
        <span id="user-email-reason">Благодарим вас за использование нашего сервиса! Размещайте, редактируйте ваши объекты совершенно <strong>бесплатно</strong>!</span>
        <br />
        <span>Для входа в ваш Личный Кабинет используйте <strong>Логин:</strong> <?php echo $this->identity->u_phone_1; ?>, <strong>Пароль:</strong> <?php echo $this->identity->u_phone_1; ?></span>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h3>Удачной работы!</h3>
    </div>
  </div>
</div>
<?php } ?>

<!-- Абонплата -->
<?php if( $this->is_rental && !in_array($this->action, $this->part_rental_exclude) && $_SESSION['shownotification']['rental'] ) { ?>
<div class="rental-notification">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <span class="close" onclick="hideNotification()">х</span>
      <h2>Уважаемые Владельцы!</h2>
      <p>По вашим многочисленным просьбам, мы изменили условия работы с нашим ресурсом.</p>
      <p>Мы <strong>отменили плату</strong> за инструменты продвижения объявлений «СВОБОДНО СЕГОДНЯ» и «РАСПРОДАЖА», сделав их полностью <strong>БЕСПЛАТНЫМИ</strong>.</p>
      <p>Вместо этого, мы ввели <span style="color: red; text-transform: uppercase;"><strong>месячный абонемент владельца</strong></span>, который включает в себя:</p>
      <ul>
        <li>безлимитное размещение объявлений;</li>
        <li>бесплатное пользование большинством функций продвижения;</li>
        <li>получение актуальных заявок и запросов от гостей без ограничений.</li>
      </ul>
      <p>Стоимость месячного абонемента - <strong>100 рублей</strong>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h3>Удачной работы!</h3>
    </div>
  </div>
</div>
<?php } ?>
