<!-- Ontop -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view ontop">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-9 col-xs-12">
          <h1>Поднять и выделить на карте</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-3 col-xs-12 menu text-right">
          <a href="/user/rooms" class="btn btn-success btn-block btn-save">К списку объектов</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">

          <!-- <h2>Стоимость услуги: <del class="line-througth">50</del> <?php echo $this->price; ?> <i class="icon-rub"></i></h2> -->

          <h3>Выбранный объект:</h3>

          <div class="object-wrapper">
            <?php //print_r($this->object); ?>
            <div class="photo"></div>
            <div class="address">г. <?php echo $this->object->obj_addr_city.', '.$this->object->obj_addr_street.' '.$this->object->obj_addr_number; ?></div>
          </div>

          <div class="payment">

            <form id="ontop-form-owner" action="<?php echo $this->action; ?>" method="POST">

              <input name="shopId" value="<?php echo $this->shopId; ?>" type="hidden"/>
              <input name="scid" value="<?php echo $this->scId; ?>" type="hidden"/>
              <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden"/>
              <input name="sum" type="hidden" value="<?php echo $this->price; ?>" data-type="number">

              <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden"/>
              <input name="shopSuccessURL" type="hidden" value="http://goyug.com/user/rooms">
              <input name="shopFailURL" type="hidden" value="http://goyug.com/user/rooms">
              <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden"/>
              <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden"/>

              <h3>Выберите количество поднятий:</h3>

              <div class="checkbox-wrapper">
                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="ontopAutoUpdateCount" value="1" checked> 1 поднятие <strong><?php echo $this->price; ?> <i class="icon-rub"></i></strong> (выделение 3 дня)
                  </label>
                </div>

                <?php if( !$this->identity->u_action_enabled ): ?>
                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="ontopAutoUpdateCount" value="2"> 2 поднятия <strong>45 <i class="icon-rub"></i></strong> (выделение 6 дней) - поднятие на 1-е место в списке каждые 3 дня в течение 6-ти дней
                  </label>
                </div>
                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="ontopAutoUpdateCount" value="3"> 3 поднятия <strong>65 <i class="icon-rub"></i></strong> (выделение 9 дней) - поднятие на 1-е место в списке каждые 3 дня в течение 9-ти дней
                  </label>
                </div>
                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="ontopAutoUpdateCount" value="5"> 5 поднятий <strong>105 <i class="icon-rub"></i></strong> (выделение 15 дней) - поднятие на 1-е место в списке каждые 3 дня в течение 15-ти дней
                  </label>
                </div>

                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="ontopAutoUpdateCount" value="10"> 10 поднятий <strong>220 <i class="icon-rub"></i></strong> (выделение 30 дней) - поднятие на 1-е место в списке каждые 3 дня в течение 30-ти дней
                  </label>
                </div>

                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="ontopAutoUpdateCount" value="20"> <span style='color: red;'>20 поднятий <strong>420 <i class="icon-rub"></i></strong></span> <strike>500 <i class="icon-rub"></i></strike> (выделение 60 дней) - поднятие на 1-е место в списке каждые 3 дня в течение 60-ти дней
                  </label>
                </div>

                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="ontopAutoUpdateCount" value="30"> <span style='color: red;'>30 поднятий <strong>620 <i class="icon-rub"></i></strong></span> <strike>750 <i class="icon-rub"></i></strike>(выделение 90 дней) - поднятие на 1-е место в списке каждые 3 дня в течение 90-ти дней
                  </label>
                </div>

                <?php endif; ?>

              </div>

              <h3>Выберите способ оплаты:</h3>

              <div class="checkbox-wrapper">
                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="paymentType" value="AC" checked> Банковская карта
                  </label>
                </div>
                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="paymentType" value="PC"> Яндекс.Деньги
                  </label>
                </div>
                <div class="checkbox">
                  <label class="radio-inline">
                    <input type="radio" name="paymentType" value="GYLK"> Баланс личного кабинета
                  </label>
                </div>
              </div>

              <p class="bg-warning text-warning">После оплаты, объект поднимется на первое место в списке объектов на сайте, а также выделится <strong>на 3 дня</strong> в списке и на карте</p>

              <button type="submit" name="submit-button" class="btn btn-danger">Оплатить поднятие</button>

            </form>

            <?php if($this->identity->u_role == 'administrator'): ?>
            <form action="" id="ontop-form-admin" async="true">
              <input type="hidden" name="action" value="ontop">
              <input type="hidden" name="obj_id" value="<?php echo $this->object->obj_id; ?>">
              <button class="btn btn-success btn-ontop">Поднять без оплаты</button>
            </form>
            <?php endif; ?>

            <form id="ontop-form-actions">
              <input type="hidden" name="action-yandex" value="<?php echo $this->action; ?>">
              <input type="hidden" name="action-goyug" value="/user/ontopbalance/id/<?php echo $this->object->obj_id; ?>">
            </form>

          </div>

          <div class="ontop-preview">
            <img src="/images/ontop-preview.jpg" alt="Пример поднятия">
          </div>

        </div>
      </div>

    </div>
  </div>

</div>