<!-- Ontop -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view ontopbalance">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-9">
          <h1>Поднять и выделить на карте</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-3 menu text-right">
          <a href="/user/rooms" class="btn btn-success btn-save">К списку объектов</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">

          <div class="object-wrapper">
            <?php //print_r($this->object); ?>
            <div class="photo">

            </div>
            <div class="address">г. <?php echo $this->object->obj_addr_city.', '.$this->object->obj_addr_street.' '.$this->object->obj_addr_number; ?></div>

          </div>

          <div class="payment">

            <h3>Ваш баланс: <?php echo $this->identity->u_money; ?> <i class="icon-rub"></i></h3>
            <h3>Стоимость услуги: <?php echo $this->sumTotal ?> <i class="icon-rub"></i></h3>

            <?php if( $this->identity->u_money - $this->sumTotal < 0 ): ?>
            <p class="bg-warning text-warning">У вас недостаточно средств для поднятия объекта. Сперва пополните баланс личного кабинета, или оплатите услугу при помощи других методов.</p>
            <form action="/user/payment" method="GET">
              <button type="submit" class="btn btn-danger">Пополнить баланс</button>
            </form>
            <form action="/user/ontop/id/<?php echo $this->object->obj_id; ?>" method="GET">
              <button type="submit" class="btn btn-success">Выбрать другой метод оплаты</button>
            </form>
            <?php else: ?>
            <h3>После списания останется: <?php echo $this->identity->u_money - $this->sumTotal; ?> <i class="icon-rub"></i></h3>
            <form action="/user/ontopbalanceprocess" method="POST">
              <!-- Обязательное поле -->
              <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="sum" type="hidden" value="<?php echo $this->sumTotal; ?>" data-type="number">
              <!-- Не обязательные поля -->
              <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden"/>
              <input name="shopSuccessURL" type="hidden" value="http://goyug.com/user/rooms">
              <input name="shopFailURL" type="hidden" value="http://goyug.com/user/rooms">
              <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden"/>
              <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden"/>
              <input name="ontopAutoUpdateCount" type="hidden" value="<?php echo $_POST['ontopAutoUpdateCount']; ?>">

              <?php
              switch ($_POST['ontopAutoUpdateCount']) {
                case 1:
                  echo '<p class="bg-warning text-warning">После списания средств, объект поднимется на 1-е место в списке объектов, а также выделится <strong>на 3 дня</strong> в списке и на карте</p>';
                  break;
                
                case 2:
                  echo '<p class="bg-warning text-warning">После списания средств, объект каждые <strong>3&nbsp;дня</strong> (в течении 6-ти дней) будет подниматься на 1-е место в списке объектов, а также выделится <strong>на 6&nbsp;дней</strong> в списке и на карте</p>';
                  break;
                
                case 3:
                  echo '<p class="bg-warning text-warning">После списания средств, объект каждые <strong>3&nbsp;дня</strong> (в течении 9-ти дней) будет подниматься на 1-е место в списке объектов, а также выделится <strong>на 9&nbsp;дней</strong> в списке и на карте</p>';
                  break;
                
                case 5:
                  echo '<p class="bg-warning text-warning">После списания средств, объект каждые <strong>3&nbsp;дня</strong> (в течении 15-ти дней) будет подниматься на 1-е место в списке объектов, а также выделится <strong>на 15&nbsp;дней</strong> в списке и на карте</p>';
                  break;
                
                case 10:
                  echo '<p class="bg-warning text-warning">После списания средств, объект каждые <strong>3&nbsp;дня</strong> (в течении 30-ти дней) будет подниматься на 1-е место в списке объектов, а также выделится <strong>на 30&nbsp;дней</strong> в списке и на карте</p>';
                  break;
                
                case 20:
                  echo '<p class="bg-warning text-warning">После списания средств, объект каждые <strong>3&nbsp;дня</strong> (в течении 60-ти дней) будет подниматься на 1-е место в списке объектов, а также выделится <strong>на 60&nbsp;дней</strong> в списке и на карте</p>';
                  break;
                
                case 30:
                  echo '<p class="bg-warning text-warning">После списания средств, объект каждые <strong>3&nbsp;дня</strong> (в течении 90-ти дней) будет подниматься на 1-е место в списке объектов, а также выделится <strong>на 90&nbsp;дней</strong> в списке и на карте</p>';
                  break;
                
                default:
                  # code...
                  break;
              }
              ?>

              <button type="submit" class="btn btn-danger">Поднять объект</button>
            </form>
            <?php endif; ?>

          </div>

          <?php if( $this->identity->u_money - $this->sumTotal > 0 ): ?>
          <div class="ontop-preview">
            <img src="/images/ontop-preview.jpg" alt="Пример поднятия">
          </div>
          <?php endif; ?>

        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->