<!-- Paramsorder -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view paramsorder">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-9 col-xs-12">
          <h1>Запрос по параметрам</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-3 col-xs-12 menu text-right">
          <a href="/user/rooms" class="btn btn-success btn-block btn-save">К списку объектов</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h3>Проверьте выбранный объект:</h3>

          <div class="object-wrapper">
            <?php //print_r($this->object); ?>
            <div class="photo">

            </div>
            <div class="address">г. <?php echo $this->object->obj_addr_city.', '.$this->object->obj_addr_street.' '.$this->object->obj_addr_number; ?></div>

          </div>

          <div class="payment">

            <h2>Стоимость функции: <?php echo $this->price; ?> <i class="icon-rub"></i> <u>в месяц</u></h2>

            <form id="paramsorder-form-owner"

              <?php if($this->identity->u_money >= $this->price): ?>
              action="/user/paramsorderbalanceprocess/id/<?php echo $this->object->obj_id; ?>"
              <?php else: ?>
              action="/user/payment"
              <?php endif; ?>

              method="POST">

              <!-- Обязательное поле -->
              <input name="shopId" value="<?php echo $this->shopId; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="scid" value="<?php echo $this->scId; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="sum" type="hidden" value="<?php echo $this->price; ?>" data-type="number">

              <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden"/>
              <input type="hidden" name="shopSuccessURL" value="http://goyug.com/user/rooms">
              <input type="hidden" name="shopFailURL" value="http://goyug.com/user/rooms">
              <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden"/>
              <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden"/>

              <?php if($this->identity->u_money >= $this->price): ?>
              <p class="bg-warning text-warning">После активации функции, с вашего баланса будет списываться <?php echo $this->price; ?> <i class="icon-rub"></i> <u>в месяц</u></p>
              <button type="submit" name="submit-button" class="btn btn-danger">Активировать функцию «ЗАПРОС ПО ПАРАМЕТРАМ»</button>
              <?php else: ?>
              <p class="bg-warning text-warning">У вас недостаточно средств для активации функции «ЗАПРОС ПО ПАРАМЕТРАМ». Сперва пополните баланс личного кабинета.</p>
              <button type="submit" name="submit-button" class="btn btn-danger">Пополнить баланс</button>
              <?php endif; ?>

            </form>

          </div>

          <div class="paramsorder-preview">
            <img src="/images/paramsorder-preview.jpg" alt="Описание функции ЗАПРОС ПО ПАРАМЕТРАМ">
          </div>
        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->