<!-- Payment Fail -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view payment-fail">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-xs-12">
          <h1>Ошибка операции</h1>
          <h2>Сожалеем!</h2>
          <h3>Ваши действия завершились неудачей. Если все введенные данные были верными - обратитесь в службу поддержки пользователей.</h3>
          <?php if(isset($_SESSION['delete_error'])) { echo '<p>'.$_SESSION['delete_error'].'</p>'; unset($_SESSION['delete_error']); } ?>
          <a href="/user/feedback" class="btn btn-success">Написать в службу поддержки</a>
        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->