<!-- Payment -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view payment">

  <!-- Оповещения -->
  <?php 
    // include("notification.phtml"); 
  ?>

<!-- Абонплата -->
      <?php 
          if( count($this->objects) && $this->is_rental ) { 
        ?>
      <div class="row">
        <div class="col-sm-12">
          <div class="rental-info">
            <h3>Информация о месячном абонементе</h3>
            <?php if($this->u_user['u_rental']): ?>
              <p><img class="rental-ico-success" src="/images/rental-ico-success.svg" alt="Ваши объекты не отображаются на сайте">Ваши объекты отображаются на сайте</p>
              <?php if($this->u_user['u_rental_nextpay'] == '0000-00-00 00:00:00'): ?>
                <p class="rental-nextpay">Окончание абонемента: <?php echo Util::getHumanDate($this->u_user['u_rental_deactivate'], "-", true, true); ?></p>
                <a href="/user/rentalreactivate/" class="btn btn-success btn-nextpay" title="Возобновить автопродление">Возобновить автопродление</a>
              <?php else: ?>
                <p class="rental-nextpay">Cледующее списание за продление мнесячного абонемента: <?php echo Util::getHumanDate($this->u_user['u_rental_nextpay'], "-", true, true); ?></p>
                <a href="/user/rentaldeactivate/" class="btn btn-danger btn-nextpay" title="Отключить услугу">Отключить абонемент</a>
              <?php endif; ?>
            <?php else: ?>
              <p><img class="rental-ico-warning" src="/images/rental-ico-warning.svg" alt="Ваши объекты не отображаются на сайте">Ваши объекты не отображаются на сайте. <strong>Продлите абонемент</strong>, чтобы пользователи могли просматривать ваши объекты.</p>
              <a href="/user/rental/" class="btn btn-success" title="Подключить услугу">Подключить абонемент</a>
            <?php endif; ?>
          </div>
        </div>
      </div>
      <?php } ?>

  <br><br>

  <div class="row">
    <div class="col-md-12">

      <div class="row">

        <div class="col-xs-12">
          <h1>Пополнение баланса</h1>
          <h2>Текущий баланс</h2>
          <h3>Ваш баланс на <?php echo Util::getHumanDate(date("Y-m-d H:i:s"), "-", true, true); ?> составляет: <?php echo $this->identity->u_money; ?> руб.</h3>

          <h2>Пополнение</h2>
          <h3>Введите любую сумму в рублях (от 10 руб.)</h3>

          <form action="https://yoomoney.ru/eshop.xml" method="POST">

            <div class="form-group">
              <!-- Обязательное поле -->
              <input type="text" class="form-control" name="sum" value="0" data-type="number">
            </div>

            <!--<h3>С вашего счета спишется: <span id="addmoney-sum">0</span> <span class="icon-ruble"></span></h3>-->

            <!-- Обязательное поле -->
            <input name="shopId" value="<?php echo $this->shopId; ?>" type="hidden"/>
            <!-- Обязательное поле -->
            <input name="scid" value="<?php echo $this->scId; ?>" type="hidden"/>
            <!-- Обязательное поле -->
            <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden"/>

            <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden"/>
            <input type="hidden" name="shopSuccessURL" value="http://goyug.com/user/paymentsuccess">
            <input type="hidden" name="shopFailURL" value="http://goyug.com/user/paymentfail">
            <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden"/>
            <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden"/>

            <h2>Выберите способ оплаты:</h2>

            <div class="checkbox">
              <label class="radio-inline">
                <input type="radio" name="paymentType" value="AC" checked> Банковская карта
              </label>
            </div>
            <!--
            <div class="checkbox">
              <label class="radio-inline">
                <input type="radio" name="paymentType" value="MC"> Платеж со счета мобильного телефона
              </label>
            </div>
            -->
            <div class="checkbox">
              <label class="radio-inline">
                <input type="radio" name="paymentType" value="PC"> Яндекс.Деньги
              </label>
            </div>

            <button type="submit" name="submit-button" class="btn btn-success">Оплатить</button>

          </form>

        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->