<!-- Payment Success -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view payment-success">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <div class="col-xs-12">
          <h1>Завершение операции</h1>
          <h2>Поздравляем!</h2>
          <h3>Ваши действия успешно завершены!</h3>
          <a class="btn btn-success" href="/user/rooms">Перейти к объектам</a>
        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->