<!-- Photomark -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view ontopbalance">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-9">
          <h1>Выделить объявление рамкой</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-3 menu text-right">
          <a href="/user/rooms" class="btn btn-success btn-save">К списку объектов</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">

          <div class="object-wrapper">
            <?php //print_r($this->object); ?>
            <div class="photo">

            </div>
            <div class="address">г. <?php echo $this->object->obj_addr_city.', '.$this->object->obj_addr_street.' '.$this->object->obj_addr_number; ?></div>

          </div>

          <div class="payment">

            <h3>Ваш баланс: <?php echo $this->identity->u_money; ?> <i class="icon-rub"></i></h3>
            <h3>Стоимость услуги: <?php echo $this->price; ?> <i class="icon-rub"></i></h3>

            <?php if( $this->identity->u_money - $this->price < 0 ): ?>
            <p class="bg-warning text-warning">У вас недостаточно средств для поднятия объекта. Сперва пополните баланс личного кабинета, или оплатите услугу при помощи других методов.</p>
            <form action="/user/payment" method="GET">
              <button type="submit" class="btn btn-danger">Пополнить баланс</button>
            </form>
            <form action="/user/photomark/id/<?php echo $this->object->obj_id; ?>" method="GET">
              <button type="submit" class="btn btn-success">Выбрать другой метод оплаты</button>
            </form>
            <?php else: ?>
            <h3>После списания останется: <?php echo $this->identity->u_money - $this->price; ?> <i class="icon-rub"></i></h3>
            <form action="/user/photomarkbalanceprocess" method="POST">
              <!-- Обязательное поле -->
              <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="sum" type="hidden" value="<?php echo $this->price; ?>" data-type="number">
              <!-- Не обязательные поля -->
              <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden"/>
              <input type="hidden" name="shopSuccessURL" value="http://goyug.com/user/rooms">
              <input type="hidden" name="shopFailURL" value="http://goyug.com/user/rooms">
              <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden"/>
              <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden"/>
              <p class="bg-warning text-warning">После оплаты, объявление выделится рамкой в списке <strong>на 3 дня</strong></p>
              <button type="submit" class="btn btn-danger">Выделить объявление</button>
            </form>
            <?php endif; ?>

          </div>

          <?php if( $this->identity->u_money - $this->price > 0 ): ?>
          <div class="photomark-preview">
            <img src="/images/photomark-preview.jpg" alt="Пример выделения">
          </div>
          <?php endif; ?>

        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->