<!-- Photomark -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view ontop">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-9 col-xs-12">
          <h1>Выделить объявление рамкой</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-3 col-xs-12 menu text-right">
          <a href="/user/rooms" class="btn btn-success btn-block btn-save">К списку объектов</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h3>Проверьте выбранный объект:</h3>

          <div class="object-wrapper">
            <?php //print_r($this->object); ?>
            <div class="photo">

            </div>
            <div class="address">г. <?php echo $this->object->obj_addr_city.', '.$this->object->obj_addr_street.' '.$this->object->obj_addr_number; ?></div>

          </div>

          <div class="payment">

            <h2>Стоимость услуги: <del class="line-througth">25</del> <?php echo $this->price; ?> <i class="icon-rub"></i></h2>

            <form id="ontop-form-owner" action="/user/photomarkbalance/id/<?php echo $this->object->obj_id; ?>" method="POST">

              <!-- Обязательное поле -->
              <input name="shopId" value="<?php echo $this->shopId; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="scid" value="<?php echo $this->scId; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden"/>
              <!-- Обязательное поле -->
              <input name="sum" type="hidden" value="<?php echo $this->price; ?>" data-type="number">

              <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden"/>
              <input type="hidden" name="shopSuccessURL" value="http://goyug.com/user/rooms">
              <input type="hidden" name="shopFailURL" value="http://goyug.com/user/rooms">
              <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden"/>
              <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden"/>

              <h3>Выберите способ оплаты:</h3>

              <div class="checkbox">
                <label class="radio-inline">
                  <input type="radio" name="paymentType" value="GYLK" checked> Баланс личного кабинета
                </label>
              </div>

              <p class="bg-warning text-warning">После оплаты, объявление выделится рамкой в списке <strong>на 3 дня</strong></p>

              <button type="submit" name="submit-button" class="btn btn-danger">Выделить объявление</button>

            </form>

          </div>

          <div class="photomark-preview">
            <img src="/images/photomark-preview.jpg" alt="Пример выделения">
          </div>
        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->