<!-- Profile -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view profile">

  <!-- Оповещения -->
  <?php include("notification.phtml"); ?>

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-8">
          <h1>Редактирование профиля</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-4 menu text-right">
          <img src="/images/loading.gif" alt="Процесс" class="curcle-progress">
          <button type="button" class="btn btn-success btn-save">Сохранить</button>
        </div>
      </div>

<!-- Абонплата -->
      <?php if( count($this->objects) && $this->is_rental ) { ?>
      <div class="row">
        <div class="col-sm-12">
          <div class="rental-info">
            <h3>Информация о месячном абонементе</h3>
            <?php if($this->u_user['u_rental']): ?>
              <p><img class="rental-ico-success" src="/images/rental-ico-success.svg" alt="Ваши объекты не отображаются на сайте">Ваши объекты отображаются на сайте</p>
              <?php if($this->u_user['u_rental_nextpay'] == '0000-00-00 00:00:00'): ?>
                <p class="rental-nextpay">Окончание абонемента: <?php echo Util::getHumanDate($this->u_user['u_rental_deactivate'], "-", true, true); ?></p>
                <a href="/user/rentalreactivate/" class="btn btn-success btn-nextpay" title="Возобновить автопродление">Возобновить автопродление</a>
              <?php else: ?>
                <p class="rental-nextpay">Cледующее списание за продление мнесячного абонемента: <?php echo Util::getHumanDate($this->u_user['u_rental_nextpay'], "-", true, true); ?></p>
                <a href="/user/rentaldeactivate/" class="btn btn-danger btn-nextpay" title="Отключить услугу">Отключить абонемент</a>
              <?php endif; ?>
            <?php else: ?>
              <p><img class="rental-ico-warning" src="/images/rental-ico-warning.svg" alt="Ваши объекты не отображаются на сайте">Ваши объекты не отображаются на сайте. <strong>Продлите абонемент</strong>, чтобы пользователи могли просматривать ваши объекты.</p>
              <a href="/user/rental/" class="btn btn-success" title="Подключить услугу">Подключить абонемент</a>
            <?php endif; ?>
          </div>
        </div>
      </div>
      <?php } ?>
      
      <!-- Карточка -->
      <div class="row form">
        <div class="col-md-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Поля со * обязательны для заполнения</h3>
            </div>
            <div class="panel-body no-padding">
              <form action="" method="POST" role="form" id="main-form" data-async>

                <input type="hidden" name="u_id" value="<?php echo $this->u_user['u_id']; ?>" id="u_id">
                <input type="hidden" name="action" value="saveProfile" id="action">

                <div class="row">
                  <div class="col-md-4">
                    <!-- Имя -->
                    <div class="form-group u_firstname">
                      <label for="u_firstname">Имя* <span class="reason"></span></label>
                      <input type="text" class="form-control" name="u_firstname" id="u_firstname" placeholder="Имя" value="<?php echo $this->u_user['u_firstname']; ?>">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!-- Фамилия -->
                    <div class="form-group u_lastname">
                      <label for="u_lastname">Фамилия <span class="reason"></span></label>
                      <input type="text" class="form-control" name="u_lastname" id="u_lastname" placeholder="Фамилия" value="<?php echo $this->u_user['u_lastname']; ?>">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!-- Отчество -->
                    <div class="form-group u_patronomyc">
                      <label for="u_patronomyc">Отчество <span class="reason"></span></label>
                      <input type="text" class="form-control" name="u_patronomyc" id="u_patronomyc" placeholder="Отчество" value="<?php echo $this->u_user['u_patronomyc']; ?>">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <!-- Телефон 1 -->
                    <div class="form-group u_phone_1">
                      <label for="u_phone_1">Телефон 1* <span class="reason"></span></label>
                      <input type="text" class="form-control" name="u_phone_1" id="u_phone_1" placeholder="Телефон 1" value="<?php echo Util::getHumanTel($this->u_user['u_phone_1']); ?>">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!-- Телефон 2 -->
                    <div class="form-group u_phone_2">
                      <label for="u_phone_2">Телефон 2 <span class="reason"></span></label>
                      <input type="text" class="form-control" name="u_phone_2" id="u_phone_2" placeholder="Телефон 2" value="<?php echo Util::getHumanTel($this->u_user['u_phone_2']); ?>">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!-- Телефон 3 -->
                    <div class="form-group u_phone_3">
                      <label for="u_phone_3">Телефон 3 <span class="reason"></span></label>
                      <input type="text" class="form-control" name="u_phone_3" id="u_phone_3" placeholder="Телефон 3" value="<?php echo Util::getHumanTel($this->u_user['u_phone_3']); ?>">
                    </div>
                  </div>
                </div>

                <!-- E-mail -->
                <div class="form-group u_email">
                  <label for="u_email">E-mail* <span class="reason"></span></label>
                  <input type="text" class="form-control" name="u_email" id="u_email" placeholder="E-mail" value="<?php echo $this->u_user['u_email']; ?>">
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <!-- Пароль -->
                    <div class="form-group password">
                      <label for="password">Новый пароль <span class="reason"></span></label>
                      <input type="password" class="form-control" name="password" id="password" placeholder="Новый пароль">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- Подтверждение пароля -->
                    <div class="form-group password_confirm">
                      <label for="password_confirm">Пароль еще раз <span class="reason"></span></label>
                      <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Пароль еще раз">
                    </div>
                  </div>
                </div>

                <!-- Подписка -->
                <div class="row">
                  <div class="col-md-12">
                    <!-- Новости -->
                    <div class="form-group u_subscribe_news">
                      <div class="checkbox">
                        <label for="u_subscribe_news">Я хочу получать оповещения о новых функциях сайта <span class="reason"></span></label>
                        <input type="checkbox" name="u_subscribe_news" id="u_subscribe_news" value="1" <?php if($this->u_user['u_subscribe_news']) echo "checked"; ?>>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <!-- E-mail заявки -->
                    <div class="form-group u_subscribe_email">
                      <div class="checkbox">
                        <label for="u_subscribe_email">Я хочу получать E-mail оповещения о запросах информации по моей квартире<span class="reason"></span></label>
                        <input type="checkbox" name="u_subscribe_email" id="u_subscribe_email" value="1" <?php if($this->u_user['u_subscribe_email']) echo "checked"; ?>>
                      </div>
                    </div>
                  </div>
                  <!-- Sms заявки
                  <div class="col-md-12">
                    <div class="form-group u_subscribe_sms">
                      <div class="checkbox">
                        <label for="u_subscribe_sms">Я хочу получать Sms оповещения о заявках на бронь объектов <span class="reason"></span></label>
                        <input type="checkbox" name="u_subscribe_sms" id="u_subscribe_sms" value="1" <?php //if($this->u_user['u_subscribe_sms']) echo "checked"; ?>>
                      </div>
                    </div>
                  </div>
                   -->
                  <div class="col-md-12">
                    <!-- Показ E-mail в контаках -->
                    <div class="form-group u_show_email">
                      <div class="checkbox">
                        <label for="u_show_email">Показывать мой E-mail посетителям сайта <span class="reason"></span></label>
                        <input type="checkbox" name="u_show_email" id="u_show_email" value="1" <?php if($this->u_user['u_show_email']) echo "checked"; ?>>
                      </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>


        </div>
      </div><!-- .row.parts -->

    </div>
  </div>

</div><!-- .obj-view - END -->