<!-- Rental -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view rental">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-9 col-xs-12">
          <h1>Подключение к сервису</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-3 col-xs-12 menu text-right">
          <a href="/user/profile" class="btn btn-success btn-save">К профилю</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">

          <div class="payment">

            <h2>Стоимость абонентской платы: <?php echo $this->price; ?> <i class="icon-rub"></i> <u>за 30 дней</u></h2>

            <p>Оплатив абонентскую плату, вы сможете публиковать <strong>любое количество объектов</strong>.</p>

            <form id="rental-form-owner"

              <?php if($this->identity->u_money >= $this->price): ?>
              action="/user/rentalbalanceprocess/"
              <?php else: ?>
              action="/user/payment"
              <?php endif; ?>

              method="POST">

              <!-- Обязательное поле -->
              <input name="shopId" value="<?php echo $this->shopId; ?>" type="hidden">
              <!-- Обязательное поле -->
              <input name="scid" value="<?php echo $this->scId; ?>" type="hidden">
              <!-- Обязательное поле -->
              <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden">
              <!-- Обязательное поле -->
              <input name="sum" type="hidden" value="<?php echo $this->price; ?>" data-type="number">

              <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden">
              <input type="hidden" name="shopSuccessURL" value="http://goyug.com/user/profile">
              <input type="hidden" name="shopFailURL" value="http://goyug.com/user/profile">
              <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden">
              <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden">

              <?php if($this->identity->u_money >= $this->price): ?>
              <p class="bg-warning text-warning">Абонентская плата будет списываться <strong>каждые 30 дней</strong>, пока не будет отключено размещение на сайте.</p>
              <button type="submit" name="submit-button" class="btn btn-danger">Активировать размещение</button>
              <?php else: ?>
              <p class="bg-warning text-warning">У вас недостаточно средств для активации размещения. Сперва <strong>пополните баланс</strong> личного кабинета.</p>
              <button type="submit" name="submit-button" class="btn btn-danger">Пополнить баланс</button>
              <?php endif; ?>

            </form>

          </div>

          <!--
          <div class="rental-preview">
            <img src="/images/rental-preview.jpg" alt="Описание абонентской платы">
          </div>
          -->

        </div>
      </div>

    </div>
  </div>

</div>