<!-- RentalDeactivate -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view rentaldeactivate">

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        <!-- Заголовок -->
        <div class="col-sm-9 col-xs-12">
          <h1>Отключить размещение на сайте</h1>
        </div>
        <!-- Меню карточки -->
        <div class="col-sm-3 col-xs-12 menu text-right">
          <a href="/user/profile" class="btn btn-success btn-save">К профилю</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">

          <h3>Выберите действие:</h3>

          <div class="payment">
            <form id="rental-form-owner" action="/user/rentaldeactivatebalanceprocess/" method="POST">

              <!-- Обязательное поле -->
              <input name="shopId" value="<?php echo $this->shopId; ?>" type="hidden">
              <!-- Обязательное поле -->
              <input name="scid" value="<?php echo $this->scId; ?>" type="hidden">
              <!-- Обязательное поле -->
              <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden">
              <!-- Обязательное поле -->
              <input name="sum" type="hidden" value="<?php echo $this->price; ?>" data-type="number">

              <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden">
              <input type="hidden" name="shopSuccessURL" value="http://goyug.com/user/profile">
              <input type="hidden" name="shopFailURL" value="http://goyug.com/user/profile">
              <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden">
              <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden">

              <p class="bg-warning text-warning">Вы отключите <strong>автоматическое</strong> продление размещения, объекты будут отображаться на сайте до: <strong><?php echo Util::getHumanDate($this->user->u_rental_deactivate, "-", true, true); ?></strong></p>
              <button type="submit" name="submit-button" class="btn btn-danger">Отключить автопродление размещения на сайте</button>

            </form>
          </div>

          <br />
          <br />

          <div class="payment">
            <form id="rental-form-owner-two" action="/user/rentaldeactivatebalanceprocessnow/" method="POST">

              <!-- Обязательное поле -->
              <input name="shopId" value="<?php echo $this->shopId; ?>" type="hidden">
              <!-- Обязательное поле -->
              <input name="scid" value="<?php echo $this->scId; ?>" type="hidden">
              <!-- Обязательное поле -->
              <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden">
              <!-- Обязательное поле -->
              <input name="sum" type="hidden" value="<?php echo $this->price; ?>" data-type="number">

              <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden">
              <input type="hidden" name="shopSuccessURL" value="http://goyug.com/user/profile">
              <input type="hidden" name="shopFailURL" value="http://goyug.com/user/profile">
              <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden">
              <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden">

              <p class="bg-warning text-warning">Вы отключите размещение, объекты перестанут отображаться на сайте. Остаток платежа за неиспользованный период <strong>не возвращается</strong>.</p>
              <button type="submit" name="submit-button" class="btn btn-danger">Отключить размещение на сайте</button>

            </form>
          </div>

        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->