<!-- Rooms -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view">

  <!-- Оповещения -->
  <?php 
    // include("notification.phtml"); 
  ?>

      <!-- Абонплата -->
      <?php if( count($this->objects) && $this->is_rental ) { ?>
      <div class="row">
        <div class="col-sm-12">
          <div class="rental-info">
            <h3>Информация о месячном абонементе</h3>
            <?php if($this->u_user['u_rental']): ?>
              <p><img class="rental-ico-success" src="/images/rental-ico-success.svg" alt="Ваши объекты не отображаются на сайте">Ваши объекты отображаются на сайте</p>
              <?php if($this->u_user['u_rental_nextpay'] == '0000-00-00 00:00:00'): ?>
                <p class="rental-nextpay">Окончание абонемента: <?php echo Util::getHumanDate($this->u_user['u_rental_deactivate'], "-", true, true); ?></p>
                <a href="/user/rentalreactivate/" class="btn btn-success btn-nextpay" title="Возобновить автопродление">Возобновить автопродление</a>
              <?php else: ?>
                <p class="rental-nextpay">Cледующее списание за продление мнесячного абонемента: <?php echo Util::getHumanDate($this->u_user['u_rental_nextpay'], "-", true, true); ?></p>
                <a href="/user/rentaldeactivate/" class="btn btn-danger btn-nextpay" title="Отключить услугу">Отключить абонемент</a>
              <?php endif; ?>
            <?php else: ?>
              <p><img class="rental-ico-warning" src="/images/rental-ico-warning.svg" alt="Ваши объекты не отображаются на сайте">Ваши объекты не отображаются на сайте. <strong>Продлите абонемент</strong>, чтобы пользователи могли просматривать ваши объекты.</p>
              <a href="/user/rental/" class="btn btn-success" title="Подключить услугу">Подключить абонемент</a>
            <?php endif; ?>
          </div>
        </div>
      </div>
      <?php } ?>

</br></br>

  <div class="row">
    <div class="col-md-12">

      <div class="row add-menu-wrapper">
        <div class="col-lg-9 col-md-9 col-sm-8">
          <h1>Управление объектами</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 btn-add-wrapper">
          <a href="/user/add" class="btn btn-success btn-lg btn-add"><i class="icon-plus2"></i>Добавить объект</a>
        </div>
        <div class="col-xs-12">
          <div class="line"></div>
        </div>
      </div>

      <!-- Таблица объектов -->
      <?php foreach($this->objects as $id => $val){ ?>
      <div class="row rooms <?php if (!$val['obj_enable']) echo "disabled"; ?>">

        <!-- Информация об объекте -->
        <div class="col-md-9">

          <div class="card" id="<?php echo $val['obj_uid']; ?>" data-uid="<?php echo $val['obj_uid']; ?>">
            <div class="row">

                <!-- Фотография -->
                <div class="col-sm-6 photo">
                  <div class="photo-preview <?php if($val['obj_photomark']) echo 'photomark'; ?>" data-uid="<?php echo $val['obj_uid']; ?>">
                    <div class="options-block">
                      <ul>
                        <?php if($val['obj_ontop_mark']): ?>
                        <li><img src="/images/options/options-ontop-2x.png" alt="Поднято наверх"></li>
                        <?php endif; ?>

                        <?php if($val['obj_isempty']): ?>
                        <li><img src="/images/options/options-isempty-2x.png" alt="Свободна сегодня"></li>
                        <?php endif; ?>

                        <?php if($val['obj_sale']): ?>
                        <li><img src="/images/options/options-sale-2x.png" alt="Скидки"></li>
                        <?php endif; ?>
                      </ul>
                    </div>
                    <a href="/user/update/id/<?php echo $val['obj_id']; ?>"><img src="<?php echo $val['obj_image']; ?>"></a>
                  </div>
                  <div class="venuePrice">
                    <?php echo $val['obj_price']; ?> <span class="rouble">c</span><br>
                    <span>за сутки</span>
                  </div>
                </div>

                <!-- Информация -->
                <div class="col-sm-6 desc">

                  <p class="addr">
                    <a href="/user/update/id/<?php echo $val['obj_id']; ?>"><?php echo $val['obj_name_ru']; ?></a>
                    <?php if ($val['obj_enable']) { ?>
                    <!--<span class="view-on-site"><a href="<?php //echo 'http://'.$val['obj_addr_city_uid'].'.'.$_SERVER['HOSTNAME']; ?>/<?php //echo $val['obj_id']; ?>" target="_blank" title="Посмотреть на сайте"><i class="icon-eye"></i></a></span>-->
                    <span class="view-on-site"><a href="<?php echo 'http://'.$val['obj_addr_city_uid'].'.'.$_SERVER['HOSTNAME']; ?>/<?php echo $val['obj_id']; ?>" target="_blank" title="Посмотреть на сайте">Посмотреть<br /> на сайте</a></span>
                    <?php } ?>
                  </p>

                  <p class="type">ID: <?php echo $val['obj_id']; ?></p>

                  <p><i class="ico-location-2"></i>г. <?php echo $val['obj_addr_city']; ?>, <?php echo $val['obj_addr_street']; ?> <?php echo $val['obj_addr_number']; ?></p>

                  <!-- Статистика объекта -->
                  <div class="obj-stat">
                    <h4>Просмотры</h4>
                    <p>
                      <span class="param">За сегодня:</span> <span class="value"><?php echo $this->todayViews[$val['obj_id']]; ?></span>
                      <span class="param">За все время:</span> <span class="value"><?php echo $this->totalViews[$val['obj_id']]; ?></span>
                    </p>
                  </div>

                  <!-- Выделить все сразу
                  <?php //if($val['obj_enable']): ?>
                  <div class="mark-out <?php //if($val['obj_mark_out']) echo "active"; ?>" id="mark-out-<?php //echo $val['obj_id']; ?>" data-id="<?php //echo $val['obj_id']; ?>">
                    <label for="obj-mark-out-<?php //echo $val['obj_id']; ?>"><i class="icon-bookmark"></i> Выделено до: <span id="marked-to-<?php //echo $val['obj_id']; ?>"> <?php //echo Util::getHumanDate($val['obj_mark_out_deactivate'], "-", true, true); ?></span></label>
                  </div>
                  <?php //endif; ?>
                  -->

                  <!-- ПРОМО -->
                  <div class="promo">

                    <h4 <?php if(!$val['obj_enable']) echo 'class="hidden"'; ?>>Информация по активным функциям</h4>

                    <!-- Поднятие -->
                    <?php if( $val['obj_ontop_mark'] && $val['obj_enable'] ): ?>
                    <div class="one one-ontop <?php if( $val['obj_ontop_mark'] && $val['obj_enable'] ) echo 'active'; ?>">
                      <table>
                        <tr>
                          <td>Последнее поднятие:</td>
                          <td><?php echo Util::getHumanDate(date("Y-m-d H:i:s", $val['obj_ontop']), "-", true, true); ?></td>
                        </tr>
                        <tr>
                          <td>Выделено (список и карта) до:</td>
                          <td class="deactivate"><?php echo Util::getHumanDate($val['obj_ontop_deactivate'], "-", true, true); ?></td>
                        </tr>
                        <?php
                          if($val['obj_ontop_auto_update_count'] >= 1): ?>
                          <tr>
                            <td>Осталось автоподнятий:</td>
                            <td class="deactivate"><?php echo $val['obj_ontop_auto_update_count']; ?></td>
                          </tr>
                          <?php
                          endif;
                        ?>
                      </table>
                    </div>
                    <?php endif; ?>

                    <!-- Свободна сегодня -->
                    <div class="one one-isempty <?php if( $val['obj_isempty'] && $val['obj_enable'] ) echo 'active'; ?>">
                      <table>
                        <?php if($val['obj_isempty_nextpay'] != '0000-00-00 00:00:00'): ?>
                        <tr>
                          <td>Свободна сегодня - продление:</td>
                          <td class="deactivate">
                            <?php echo Util::getHumanDate($val['obj_isempty_nextpay'], "-", true, true); ?>
                          </td>
                        </tr>
                        <?php else: ?>
                        <tr>
                          <td>Свободна сегодня до:</td>
                          <td class="deactivate">
                            <?php echo Util::getHumanDate($val['obj_isempty_deactivate'], "-", true, true); ?>
                          </td>
                        </tr>
                        <?php endif;?>
                      </table>
                    </div>

                    <!-- Скидки -->
                    <div class="one one-sale <?php if( $val['obj_sale'] && $val['obj_enable'] ) echo 'active'; ?>">
                      <table>
                        <?php if($val['obj_sale_nextpay'] != '0000-00-00 00:00:00'): ?>
                        <tr>
                          <td>Скидки - продление:</td>
                          <td class="deactivate">
                            <?php echo Util::getHumanDate($val['obj_sale_nextpay'], "-", true, true); ?>
                          </td>
                        </tr>
                        <?php else: ?>
                        <tr>
                          <td>Скидки до:</td>
                          <td class="deactivate">
                            <?php echo Util::getHumanDate($val['obj_sale_deactivate'], "-", true, true); ?>
                          </td>
                        </tr>
                        <?php endif;?>
                      </table>
                    </div>

                    <!-- Срочное заселение -->
                    <div class="one one-hotorder <?php if( $val['obj_hotorder'] && $val['obj_enable'] ) echo 'active'; ?>">
                      <table>
                        <?php if($val['obj_hotorder_nextpay'] != '0000-00-00 00:00:00'): ?>
                        <tr>
                          <td>Срочное заселение - продление:</td>
                          <td class="deactivate">
                            <?php echo Util::getHumanDate($val['obj_hotorder_nextpay'], "-", true, true); ?>
                          </td>
                        </tr>
                        <?php else: ?>
                        <tr>
                          <td>Срочное заселение до:</td>
                          <td class="deactivate">
                            <?php echo Util::getHumanDate($val['obj_hotorder_deactivate'], "-", true, true); ?>
                          </td>
                        </tr>
                        <?php endif;?>
                      </table>
                    </div>

                    <!-- Запрос по параметрам -->
                    <div class="one one-paramsorder <?php if( $val['obj_paramsorder'] && $val['obj_enable'] ) echo 'active'; ?>">
                      <table>
                        <?php if($val['obj_paramsorder_nextpay'] != '0000-00-00 00:00:00'): ?>
                        <tr>
                          <td>Запрос по параметрам - продление:</td>
                          <td class="deactivate">
                            <?php echo Util::getHumanDate($val['obj_paramsorder_nextpay'], "-", true, true); ?>
                          </td>
                        </tr>
                        <?php else: ?>
                        <tr>
                          <td>Запрос по параметрам до:</td>
                          <td class="deactivate">
                            <?php echo Util::getHumanDate($val['obj_paramsorder_deactivate'], "-", true, true); ?>
                          </td>
                        </tr>
                        <?php endif;?>
                      </table>
                    </div>

                  </div>
                  <!-- ПРОМО - окончание -->

                </div>
            </div>
          </div>

        </div>

        <!-- Редактирование -->
        <div class="col-md-3 obj-actions">

          <div class="list-group">

            <?php if (!$val['obj_enable']) { ?><p class="text-warning">Объект отключен</p><p>Объект отключен и не отображается на сайте</p><?php } ?>

            <h4 <?php if(!$val['obj_enable']) echo 'class="hidden"'; ?>>Дополнительные функции</h4>

            <!-- Поднять объект -->
            <?php if( $val['obj_enable'] ): ?>
            <a href="/user/ontop/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-ontop <?php if($val['obj_ontop_mark']) echo "active"; ?>"><span></span>Поднять и выделить на карте</a>
            <?php endif; ?>

            <!-- Сегодня свободна -->
            <?php if ( ($val['obj_enable'] && !$val['obj_isempty']) || ($val['obj_enable'] && $val['obj_isempty'] && $val['obj_isempty_nextpay'] == '0000-00-00 00:00:00') ) { ?>
            <a href="/user/isempty/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-isempty"><span></span>Включить «Свободна сегодня»</a>
            <?php } else if ($val['obj_enable'] && $val['obj_isempty']) { ?>
            <a href="/user/isemptydeactivate/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-isempty <?php if($val['obj_isempty']) echo "btn-isempty-true active"; ?>"><span></span>Отключить «Свободна сегодня»</a>
            <?php } ?>

            <!-- Скидки -->
            <?php if ( ($val['obj_enable'] && !$val['obj_sale']) || ($val['obj_enable'] && $val['obj_sale'] && $val['obj_sale_nextpay'] == '0000-00-00 00:00:00') ) { ?>
            <a href="/user/sale/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-sale"><span></span>Включить «Скидки»</a>
            <?php } else if ($val['obj_enable'] && $val['obj_sale']) { ?>
            <a href="/user/saledeactivate/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-sale <?php if($val['obj_sale']) echo "btn-sale-true active"; ?>"><span></span>Отключить «Скидки»</a>
            <?php } ?>

            <h4 <?php if(!$val['obj_enable']) echo 'class="hidden"'; ?>>Работа с заявками</h4>

            <!-- Срочное заселение -->
            <?php if ( ($val['obj_enable'] && !$val['obj_hotorder']) || ($val['obj_enable'] && $val['obj_hotorder'] && $val['obj_hotorder_nextpay'] == '0000-00-00 00:00:00') ) { ?>
            <a href="/user/hotorder/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-hotorder"><span></span>Включить «Срочное заселение»</a>
            <?php } else if ($val['obj_enable'] && $val['obj_hotorder']) { ?>
            <a href="/user/hotorderdeactivate/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-hotorder <?php if($val['obj_hotorder']) echo "btn-hotorder-true active"; ?>"><span></span>Отключить «Срочное заселение»</a>
            <?php } ?>

            <!-- Запрос по параметрам -->
            <?php if ( ($val['obj_enable'] && !$val['obj_paramsorder']) || ($val['obj_enable'] && $val['obj_paramsorder'] && $val['obj_paramsorder_nextpay'] == '0000-00-00 00:00:00') ) { ?>
            <a href="/user/paramsorder/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-paramsorder"><span></span>Включить «Запрос по параметрам»</a>
            <?php } else if ($val['obj_enable'] && $val['obj_paramsorder']) { ?>
            <a href="/user/paramsorderdeactivate/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-paramsorder <?php if($val['obj_paramsorder']) echo "btn-paramsorder-true active"; ?>"><span></span>Отключить «Запрос по параметрам»</a>
            <?php } ?>

          </div>

          <div class="list-group list-group-inline">

            <h4>Управление объектом</h4>

            <!-- Календарь -->
            <?php if ($val['obj_enable']) { ?>
            <a href="/user/calendar/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-calendar" title="Календарь броней"><span></span> Календарь броней</a>
            <?php } ?>

            <!-- Редактирование -->
            <a href="/user/update/id/<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-edit" title="Редактировать объект"><span></span> Редактировать</a>

            <!-- Включение -->
            <?php if (!$val['obj_enable']) { ?>
            <a href="#" data-obj-id="<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-enable" title="Включить объект"><span></span> Включить</a>
            <?php } ?>

            <!-- Удаление -->
            <?php if (!$val['obj_enable']) { ?>
            <a href="/user/delete/id/<?php echo $val['obj_id']; ?>" data-obj-id="<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-delete" title="Удалить объект"><span></span> Удалить</a>
            <?php } ?>

            <!-- Выключение -->
            <?php if ($val['obj_enable']) { ?>
            <a href="#" data-obj-id="<?php echo $val['obj_id']; ?>" type="button" class="list-group-item btn-disable" title="Выключить объект"><span></span> Выключить</a>
            <?php } ?>

          </div>

        </div>

      </div>

      <div class="line"></div>

      <?php } ?>

    </div>
  </div>

</div>