<h2 class="form-signin-heading">Рассылки GOYUG.COM</h2>

<?php
  //print_r($this->result);
?>

<div class="btn-block">
  <a href="/user/dashboard" class="btn btn-success">Перейти в Личный Кабинет</a>
  <a href="/" class="btn btn-info">Перейти на сайт</a>
</div>

<?php if($this->result['status']): ?>

  <?php

    $h3 = "";
    $desc = "";

    switch ($this->result['mode']) {

      //Рассылки заявок
      case 'email':

        switch ($this->result['direction']) {

          //Отписка
          case 'unsubscribe':
            $h3 = "Вы только что отписались от рассылки";
            $desc = '
            <p>Чтобы вновь получать оповещения о новых запросах о брони объектов, поставьте галочку «Я хочу получать E-mail оповещения о запросах информации по моей квартире» в Личном Кабинете.</p>
            <img src="/images/user-profile-subscribe.jpg" alt="Настройки профиля">
            ';
            break;

          //Подписка
          case 'subscribe':
            $h3 = "Поздравляем! Вы только что подписались на получение заявок на бронь квартиры.";
            break;
        }

        break;

      default:
        # code...
        break;
    }
  ?>

  <h3><?php echo $h3; ?></h3>
  <div class="desc"><?php echo $desc; ?></div>

<?php else: ?>

  <h3>Возникли ошибки:</h3>
  <p><?php echo $this->result['reason']; ?></p>

<?php endif; ?>