<!-- Thanks -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view thanks">

  <div class="row">
    <div class="col-md-12">

      <div class="row">

        <div class="col-xs-12">

          <h1>Оплата за результат</h1>

          <h3>Уважаемый собственник! Если наш сервис помог вам заработать, вы можете произвести перевод на произвольную сумму, и эти деньги пойдут на содержание и развитие ресурса.</h3>

          <h2>Перевод</h2>
          <h3>Введите сумму в рублях, которую хотели бы перевести:</h3>

          <form action="https://money.yandex.ru/eshop.xml" method="POST">

            <div class="form-group">
              <!-- Обязательное поле -->
              <input type="text" class="form-control" name="sum" value="150" data-type="number">
            </div>

            <h3>С вашего счета спишется: <span id="addmoney-sum">150</span> <span class="icon-ruble"></span></h3>

            <!-- Обязательное поле -->
            <input name="shopId" value="<?php echo $this->shopId; ?>" type="hidden"/>
            <!-- Обязательное поле -->
            <input name="scid" value="<?php echo $this->scId; ?>" type="hidden"/>
            <!-- Обязательное поле -->
            <input name="customerNumber" value="<?php echo $this->identity->u_id; ?>" type="hidden"/>

            <input name="orderNumber" value="<?php echo $this->orderNumber; ?>" type="hidden"/>
            <input type="hidden" name="shopSuccessURL" value="http://goyug.com/user/paymentsuccess">
            <input type="hidden" name="shopFailURL" value="http://goyug.com/user/paymentfail">
            <input name="cps_phone" value="<?php echo '+'.$this->identity->u_phone_1; ?>" type="hidden"/>
            <input name="cps_email" value="<?php echo $this->identity->u_email; ?>" type="hidden"/>

            <h2>Выберите способ оплаты:</h2>

            <div class="checkbox">
              <label class="radio-inline">
                <input type="radio" name="paymentType" value="AC" checked> Банковская карта
              </label>
            </div>
            <!--
            <div class="checkbox">
              <label class="radio-inline">
                <input type="radio" name="paymentType" value="MC"> Платеж со счета мобильного телефона
              </label>
            </div>
            -->
            <div class="checkbox">
              <label class="radio-inline">
                <input type="radio" name="paymentType" value="PC"> Яндекс.Деньги
              </label>
            </div>

            <button type="submit" name="submit-button" class="btn btn-success">Спасибо!</button>

          </form>

        </div>
      </div>

    </div>
  </div>

</div><!-- .obj-view - END -->