<!-- Ссылки верхнего меню -->
<div class="navbar navbar-default navbar-fixed-top obj-view-navbar hidden-xs">
  <div class="container">
    <ul>
      <li <?php if($this->action == 'dashboard') echo "class=\"active\"";?>>
        <a href="/user/dashboard"><span>Главная</span></a>
      </li>
      <li <?php if(in_array($this->action, Array("rooms", "update", "calendar"))) echo "class=\"active\""; ?>>
        <a href="/user/rooms">
        <span>Мои объекты</span>
        <?php if(count($this->objects) > 0) { ?> <span class="badge"><?php echo count($this->objects); ?></span> <?php } ?>
        </a>
      </li>
      <!--
      <li <?php //if($this->action == 'add') echo "class=\"active\"";?>>
        <a href="/user/add">Добавить объект</a>
      </li>
      -->
      <li <?php if($this->action_ctrl == 'payment') echo "class=\"active\"";?>>
        <a href="/user/payment">Пополнить баланс</a>
      </li>
      <li <?php if($this->action == 'profile') echo "class=\"active\"";?>>
        <a href="/user/profile">Профиль</a>
      </li>
      <li <?php if($this->action == 'feedback') echo "class=\"active\"";?>>
        <a href="/user/feedback">Обратная связь</a>
      </li>
    </ul>
  </div><!-- container -->
</div><!-- navbar -->