<!--
****************************************************************
MAIN AREA
****************************************************************
-->
<?
?>
<div class="overlay"></div>

<div class="row" id="obj-view" class="obj-view">

      <div class="obj-view-navbar navbar-fixed-top">

            <div class="container">
                  <?
                  ?>

                  <!-- Filter panel - Open button -->
                  <a href="#"><span>Панель управления</span></a>
                  <a href="/user/rooms" class="active"><span>Ваши объявления</span></a>
                  <a href="#"><span>Ваши бронирования</span></a>

            </div>
            <!-- .container - END -->

      </div>

      <div class="obj-view-content">
            <div class="container">

              <ul class="bxslider-tutorial">
                
                <li progress-val="20" class="slider-1">
                  <div class="tutorial-big-logo"></div>
                  <h1 class="white">Добро пожаловать</h1>
                  <a class="btn-bordered-big go-next-slide" href="#">Вперед</a>
                </li>

                <li progress-val="40" class="slider-2">
                  <div class="tutorial-icon-2"></div>
                  <h1>Планируете ли вы сдавать у нас свое жилье ?</h1>
                  <a class="btn-bordered-big go-next-slide" href="#">Да, я владелец жилья</a>
                  <a class="btn-bordered-big go-slide" go-slide-num="5" href="#">Нет, я просто турист</a>
                </li>
                
                <li progress-val="60" class="slider-3">
                  <div class="icon-agreement"></div>
                  <h1>Ознакомьтесь с нашим партнерским соглашением</h1>
                  <div class="agreement-text">

<p>ПОЖАЛУЙСТА, ПРОЧТИТЕ ЭТИ УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ УСЛУГ ВНИМАТЕЛЬНО, ПОСКОЛЬКУ ОНИ СОДЕРЖАТ ВАЖНУЮ ИНФОРМАЦИЮ О ВАШИХ ЮРИДИЧЕСКИХ ПРАВАХ, СРЕДСТВАХ ЗАЩИТЫ И ВАШИХ ОБЯЗАННОСТЯХ. ЭТО ВКЛЮЧАЕТ РАЗЛИЧНЫЕ ОГРАНИЧЕНИЯ И ИСКЛЮЧЕНИЯ, СТАТЬЮ, ОПРЕДЕЛЯЮЩУЮ ПРИМЕНИМЫЕ ЮРИСДИКЦИЮ И МЕСТО РАССМОТРЕНИЯ СПОРОВ, А ТАКЖЕ ОБЯЗАТЕЛЬСТВО СОБЛЮДАТЬ ПРИМЕНИМЫЕ ЗАКОНЫ И ПОДЗАКОННЫЕ АКТЫ.</p>

<p>В ЧАСТНОСТИ, ХОЗЯЕВА ДОЛЖНЫ ПОНИМАТЬ, КАКИМ ОБРАЗОМ ДЕЙСТВУЮТ ЗАКОНЫ В ИХ СООТВЕТСТВУЮЩИХ ГОРОДАХ. В НЕКОТОРЫХ ГОРОДАХ СУЩЕСТВУЮТ ЗАКОНЫ, КОТОРЫЕ ОГРАНИЧИВАЮТ ИХ ВОЗМОЖНОСТЬ РАЗМЕЩАТЬ ГОСТЕЙ ЗА ПЛАТУ НА КОРОТКИЕ СРОКИ. ВО МНОГИХ ГОРОДАХ ХОЗЯЕВА ОБЯЗАНЫ ОСУЩЕСТВИТЬ РЕГИСТРАЦИЮ, ПОЛУЧИТЬ РАЗРЕШЕНИЕ ИЛИ ЛИЦЕНЗИЮ ПЕРЕД РАЗМЕЩЕНИЕМ ОБЪЯВЛЕНИЙ В ОТНОШЕНИИ НЕДВИЖИМОГО ИМУЩЕСТВА ИЛИ ДО ПРИНЯТИЯ ГОСТЕЙ. НЕКОТОРЫЕ ВИДЫ КРАТКОСРОЧНОГО БРОНИРОВАНИЯ МОГУТ БЫТЬ ЗАПРЕЩЕНЫ ПОЛНОСТЬЮ. МЕСТНЫЕ ОРГАНЫ ВЛАСТИ В ЗНАЧИТЕЛЬНОЙ СТЕПЕНИ РАЗЛИЧАЮТСЯ С ТОЧКИ ЗРЕНИЯ ТОГО, КАК ОНИ ПРИМЕНЯЮТ ДАННЫЕ ЗАКОНЫ. НАКАЗАНИЯ МОГУТ ВКЛЮЧАТЬ ШТРАФЫ ИЛИ ИНЫЕ МЕРЫ ПРАВОПРИМЕНЕНИЯ. ХОЗЯЕВАМ СЛЕДУЕТ ИЗУЧИТЬ МЕСТНЫЕ ЗАКОНЫ ПЕРЕД РАЗМЕЩЕНИЕМ ОБЪЯВЛЕНИЯ О МЕСТЕ НА AIRBNB.</p>

<p>Дата последнего обновления: 30 июня 2014</p>

<p><b><u>УСЛОВИЯ ПРЕДОСТАВЛЕНИЯ УСЛУГ</u></b></p>

<p>Если вы используете Сайт, Приложение или Услуги и проживаете в Соединенных Штатах Америки, вы вступаете в договорные отношения с компанией Airbnb, Inc. (Эйр-би-эн-би, Инк.) в отношении использования Сайта, Приложения или Услуг и компанией Airbnb Payments, Inc. (Эйр-би-эн-би Пэйментс, Инк.) в отношении любых ваших платежей или выплат в вашу пользу, осуществляемых посредством Сайта, Приложения или Услуг. Если вы проживаете за пределами Соединенных Штатов Америки, вы вступаете в договорные отношения с компанией Airbnb Ireland (Эйр-би-эн-би Айрленд). Если вы первоначально проживали в Соединенных Штатах Америки и вступили в договорные отношения с компанией Airbnb, Inc. и/или Airbnb Payments, Inc., но в дальнейшем измените место жительства и оно будет находиться за пределами Соединенных Штатов Америки, вы вступите в договорные отношения с компанией Airbnb Ireland с момента изменения вашего места жительства, и наоборот. (Компании Airbnb, Inc., Airbnb Ireland и Airbnb Payments, Inc. (последняя исключительно в отношении деятельности, касающейся выплат и платежей) в дальнейшем именуются «<b>Airbnb</b>», «<b>мы</b>», «<b>нас</b>», «<b>нам</b>», «<b>нами</b>» или «<b>наш</b>»). Компании Airbnb Payments, Inc. и Airbnb Ireland должны, в зависимости от контекста, по отдельности или совместно именоваться компанией или компаниями «<b>Airbnb Payments</b>».</p>

<p>Компания Airbnb предоставляет онлайн-платформу, которая соединяет хозяев недвижимости для аренды с гостями, желающими снять такую недвижимость (совместно - «<b>Услуги</b>»); такие Услуги предлагаются на <a href="http://www.airbnb.com" target="_blank">www.airbnb.com</a> и других веб-сайтах, с помощью которых компания Airbnb предлагает свои Услуги (совместно именуемые «<b>Сайт</b>»), а также с помощью приложения для мобильных устройств («<b>Приложение</b>»). Используя Сайт или Приложение, вы соглашаетесь соблюдать и быть связанным условиями и положениями настоящих Условий предоставления услуг («<b>Условия</b>»), вне зависимости от того, станете ли вы зарегистрированным пользователем Услуг. Настоящие Условия регламентируют ваш доступ и использование Сайта, Приложения и Услуг, всего Общего контента (определение представлено ниже), а также ваше участие в Программе рекомендаций (определение представлено ниже) и являются юридически обязывающим соглашением между вами и компанией Airbnb. Просим Вас также внимательно прочитать нашу Политику конфиденциальности, доступной по адресу: <a href="http://www.airbnb.ru/terms/privacy_policy" target="_blank">http://www.airbnb.ru/terms/privacy_policy</a>. Если вы не согласны с настоящими Условиями, вы не имеете права получать информацию или продолжать иным образом использовать Сайт, Приложение или Услуги. Использование Сайта и Приложения с несоблюдением настоящих Условий может повлечь за собой гражданскую и уголовную ответственность.</p>

<p>САЙТ, ПРИЛОЖЕНИЕ И УСЛУГИ ПРЕДСТАВЛЯЮТ СОБОЙ ОНЛАЙН-ПЛАТФОРМУ, ПРИ ПОМОЩИ КОТОРОЙ ХОЗЯЕВА (ОПРЕДЕЛЕНИЕ ПРЕДСТАВЛЕНО НИЖЕ) МОГУТ СОЗДАВАТЬ ОБЪЯВЛЕНИЯ (ОПРЕДЕЛЕНИЕ ПРЕДСТАВЛЕНО НИЖЕ) ДЛЯ МЕСТ ОТДЫХА/ПРОЖИВАНИЯ (ОПРЕДЕЛЕНИЕ ПРЕДСТАВЛЕНО НИЖЕ), А ГОСТИ (ОПРЕДЕЛЕНИЕ ПРЕДСТАВЛЕНО НИЖЕ) МОГУТ ПОЛУЧАТЬ ИНФОРМАЦИЮ О МЕСТАХ ОТДЫXA/ПРОЖИВАНИЯ И БРОНИРОВАТЬ ИХ НЕПОСРЕДСТВЕННО У ХОЗЯЕВ. ВЫ ПОНИМАЕТЕ И СОГЛАШАЕТЕСЬ, ЧТО КОМПАНИЯ AIRBNB НЕ ЯВЛЯЕТСЯ СТОРОНОЙ КАКИХ-ЛИБО СОГЛАШЕНИЙ, ЗАКЛЮЧАЕМЫХ МЕЖДУ ХОЗЯЕВАМИ И ГОСТЯМИ, КОМПАНИЯ AIRBNB ТАКЖЕ НЕ ЯВЛЯЕТСЯ БРОКЕРОМ НЕДВИЖИМОСТИ, АГЕНТОМ ИЛИ СТРАХОВОЙ КОМПАНИЕЙ. КОМПАНИЯ AIRBNB НЕ КОНТРОЛИРУЕТ ПОВЕДЕНИЕ ХОЗЯЕВ, ГОСТЕЙ И ПРОЧИХ ПОЛЬЗОВАТЕЛЕЙ САЙТА, ПРИЛОЖЕНИЯ И УСЛУГ ИЛИ ЛЮБЫХ МЕСТ ОТДЫХА/ПРОЖИВАНИЯ И ОТКАЗЫВАЕТСЯ ОТ ЛЮБОЙ ОТВЕТСТВЕННОСТИ В ЭТОМ ОТНОШЕНИИ В МАКСИМАЛЬНО ДОПУСТИМОМ ПО ЗАКОНУ ОБЪЕМЕ.</p>

<p><b>Ключевые термины</b></p>

<p>«<b>Контент Airbnb</b>» означает весь Контент, который компания Airbnb предоставляет с помощью Сайта, Приложения или Услуг, включая любой Контент, полученный по лицензии от третьего лица, за исключением Контента Членов.</p>

<p>«<b>Срок действия запроса о бронировании</b>» означает срок, начинающийся с момента направления запроса о бронировании Гостем (как этот срок определяется компанией Airbnb по ее единоличному усмотрению), в течение которого Хозяин может принять решение подтвердить или отклонить запрос о бронировании, как это предусмотрено Сайтом, Приложением или Услугами. В различных местах могут применяться различные Сроки действия запроса о бронировании. </p>

<p>«<b>Общий контент</b>» означает Контент Членов и Контент Airbnb.</p>

<p>«<b>Контент</b>» означает текст, графические элементы, изображения, музыку, программное обеспечение (за исключением Приложения), аудио-, видеоматериалы, информацию и прочие материалы.</p>

<p>«<b>Гость</b>» означает Члена, который обращается к Хозяину с запросом о бронировании Места отдыха/проживания с помощью Сайта, Приложения или Услуг, или Члена, который останавливается в Месте отдыха/проживания и не является Хозяином такого Места отдыха/проживания.</p>

<p>«<b>Хозяин</b>» означает Члена, размещающего Объявление с помощью Сайта, Приложения или Услуг.</p>

<p>«<b>Объявление</b>» означает Место отдыха/проживания, информация о котором размещена Хозяином и которое предлагается для аренды с помощью Сайта, Приложения и Услуг.</p>

<p>«<b>Член</b>» означает лицо, прошедшее процесс регистрации аккаунта в Airbnb, включая, помимо прочего, Хозяев и Гостей, как описано в разделе «Регистрация Аккаунта» ниже.</p>

<p>«<b>Контент Членов</b>» означает весь Контент, который Члены могут размещать, загружать, публиковать, подавать или передавать, чтобы доступ к нему был возможен с помощью Сайта, Приложения или Услуг.</p>

<p>«<b>Налог</b>» или «<b>Налоги</b>» означает налог с продаж, налог на добавленную стоимость (НДС), налог на товары и услуги, налог на временное размещение, туристические и иные налоги на посетителей, налоги на предоставление жилья и размещение, сборы (такие как сбор за использования места для проведения конференций), которые предоставляющие жилье лица по закону могут быть обязаны собрать и перечислить государственным органам, и прочие похожие муниципальные налоги, налоги штата, федеральные и национальные косвенные налоги, прочие удержания и личные или корпоративные подоходные налоги.</p>

<p>В некоторых разделах Сайта и Приложения (а также для целей вашего доступа или использования определенных аспектов Услуг или Общего контента) могут публиковаться иные условия использования, либо от вас может потребоваться, чтобы вы дали свое согласие и приняли дополнительные условия. Если между настоящими Условиями и условиями, опубликованными в отношении определенного раздела Сайта, Приложения, Услуг или Общего контента существуют расхождения, преимущественную силу в отношении вашего пользования или доступа к этому разделу Сайта, Приложения, Услуг или Общего контента будут иметь последние.</p>

<p>ВЫ ПОДТВЕРЖДАЕТЕ И СОГЛАШАЕТЕСЬ, ЧТО ОСУЩЕСТВЛЯЯ ДОСТУП ИЛИ ИСПОЛЬЗУЯ САЙТ, ПРИЛОЖЕНИЕ ИЛИ УСЛУГИ, ЛИБО ЗАГРУЖАЯ ИЛИ РАЗМЕЩАЯ ЛЮБОЙ КОНТЕНТ С САЙТА ИЛИ НА САЙТЕ, С ПОМОЩЬЮ ПРИЛОЖЕНИЯ ИЛИ УСЛУГ, ЛИБО УЧАСТВУЯ В ПРОГРАММЕ РЕКОМЕНДАЦИЙ, ВЫ ТЕМ САМЫМ ЗАЯВЛЯЕТЕ, ЧТО ВЫ ПРОЧИТАЛИ, ПОНИМАЕТЕ И СОГЛАШАЕТЕСЬ СОБЛЮДАТЬ НАСТОЯЩИЕ УСЛОВИЯ, ВНЕ ЗАВИСИМОСТИ ОТ ТОГО, ЗАРЕГИСТРИРОВАЛИСЬ ЛИ ВЫ НА САЙТЕ И В ПРИЛОЖЕНИИ. ЕСЛИ ВЫ НЕ СОГЛАСНЫ С НАСТОЯЩИМИ УСЛОВИЯМИ, ВЫ НЕ ИМЕЕТЕ ПРАВА ОСУЩЕСТВЛЯТЬ ДОСТУП ИЛИ ИСПОЛЬЗОВАТЬ САЙТ, ПРИЛОЖЕНИЕ, УСЛУГИ ИЛИ ОБЩИЙ КОНТЕНТ, ЛИБО УЧАСТВОВАТЬ В ПРОГРАММЕ РЕКОМЕНДАЦИЙ. Если вы принимаете или соглашаетесь на настоящие Условия от имени компании или другого юридического лица, вы тем самым заявляете и гарантируете, что вы имеете полномочия связывать такую компанию или другое юридическое лицо настоящими Условиями, и в таком случае слова «вы» и «ваш» будут относиться к такой компании или другому юридическому лицу.</p>

<p><b>Изменения</b></p>


                  </div>
                  <a class="btn-bordered-big go-next-slide" href="#">Согласен</a>
                </li>
                
                <li progress-val="80" class="slider-4">
                  <div class="icon-percent"></div>
                  <h1>Самое главное</h1>
                  <h2>Мы берем 5% от вашей цены за ночь</h2>
                  <a class="btn-bordered-big go-next-slide" href="#">Хорошо, я согласен</a>
                </li>

                <li progress-val="100" class="slider-5">
                  <div class="tutorial-big-logo"></div>
                  <h1>Спасибо что выбрали нас</h1>
                  <h2>Ваш личный кабинет настроен. Можете приступать.</h2>
                  <a class="btn-bordered-big close-slider" href="#">Поехали</a>
                </li>

              </ul>

            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
              </div>
            </div>

            </div>
            <!-- .container - END -->
      </div>
      <!-- .obj-view-content - END -->

</div>
<!-- #object-info - END -->