<!-- Update -->

<!-- Верхнее меню -->
<?php include("topmenu.phtml"); ?>

<!-- Контейнер основной -->
<div class="container obj-view update">

  <div class="row">
    <div class="col-md-12">

      <h1>Редактирование объекта -
        <span id="info_addr_1"><?php echo $this->object['obj_addr_street']." ".$this->object['obj_addr_number']; ?></span>
        <?php if($this->object['obj_addr_floor']) { ?>
          <span id="info_addr_1"> эт. <?php echo $this->object['obj_addr_floor']; ?></span>
        <?php } ?>
      </h1>

      <div class="row submenu">
        <div class="col-xs-6 uid">
          <h3>UID: <span id="info_obj_uid"><?php echo $this->object['obj_uid']; ?></span></h3>
        </div>
        <div class="col-xs-6 public">
          <!-- Опубликовать -->
          <div class="form-group">
            <?php if($this->object['obj_enable']) { ?>
              <label for="obj_enable" class="active">Опубликовано</label>
            <?php } else { ?>
              <label for="obj_enable">Не опубликовано</label>
            <?php } ?>
            <input type="checkbox" name="obj_enable_dummy" id="obj_enable_dummy" <?php if ($this->object['obj_enable']) echo "checked=\"checked\""; ?>>
          </div>
        </div>
      </div>

      <!-- Меню карточки -->
      <div class="row menu">
        <!-- Действия -->
        <div class="col-sm-4 col-sm-push-8 text-right">
          <img src="/images/loading.gif" alt="Процесс" class="curcle-progress">
          <div class="btn-group actions" role="group" aria-label="...">
            <button type="button" class="btn btn-success btn-save">Сохранить</button>
            <button type="button" class="btn btn-primary" onclick="location.replace('/user/rooms')">Закрыть</button>
          </div>
        </div>
        <!-- Вкладки -->
        <div class="col-sm-8 col-sm-pull-4">
          <div class="btn-group tabs" role="group" aria-label="...">
            <button type="button" class="btn btn-primary active" onclick="selectTab('general')" id="btn-general">Общие</button>
            <button type="button" class="btn btn-primary" onclick="selectTab('properties')" id="btn-properties">Свойства</button>
            <button type="button" class="btn btn-primary" onclick="selectTab('address')" id="btn-address">Адрес</button>
            <button type="button" class="btn btn-primary" onclick="selectTab('photo')" id="btn-photo">Фотографии</button>
          </div>
        </div>
      </div>

      <!-- Разделы карточки -->
      <div class="row parts">
        <div class="col-md-12">

          <form action="<?php echo $this->form->getAction(); ?>" method="<?php echo $this->form->getMethod(); ?>" role="form" id="main-form" data-async>

          <input type="hidden" name="obj_id" value="<?php echo $this->object['obj_id']; ?>" id="obj_id">
          <input type="hidden" name="action" value="saveObject">
          <input type="hidden" name="obj_enable" id="obj_enable" value="<?php echo $this->object['obj_enable']; ?>">

          <!-- TAB Общие -->
          <div class="block general active" id="tab-general">

            <div class="row">
              <!-- Панель цен -->
              <div class="col-md-4">
                <!-- Цены -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Цены</h3>
                  </div>
                  <div class="panel-body no-padding">
                    <!-- Тип размещения
                    <div class="form-group">
                      <label for="<?php //echo $this->form->obj_acc_type->getAttrib('id'); ?>">Тип размещения</label>
                      <?php //echo $this->form->obj_acc_type; ?>
                    </div> -->
                    <!-- Минимальный период -->
                    <div class="form-group">
                      <label for="<?php echo $this->form->obj_price_minstay->getAttrib('id'); ?>">Минимальный период</label>
                      <?php echo $this->form->obj_price_minstay; ?>
                    </div>
                    <!-- Период оплаты
                    <div class="form-group">
                      <label for="<?php //echo $this->form->obj_price_period->getAttrib('id'); ?>">Период оплаты</label>
                      <?php //echo $this->form->obj_price_period; ?>
                    </div> -->
                    <!-- Цена -->
                    <div class="form-group">
                      <label for="<?php echo $this->form->obj_price->getAttrib('id'); ?>">Цена за сутки</label>
                      <div class="input-group"><?php echo $this->form->obj_price; ?> <span class="input-group-addon"><span class="rouble">i</span></span></div>
                    </div>
                    <!-- Депозит
                    <div class="form-group">
                      <label for="<?php //echo $this->form->obj_deposit->getAttrib('id'); ?>">Депозит</label>
                      <div class="input-group"><?php //echo $this->form->obj_deposit; ?> <span class="input-group-addon"><span class="rouble">i</span></span></div>
                    </div>-->
                  </div>
                </div>
              </div>
              <!-- Панель параметров -->
              <div class="col-md-8">
                <!-- Параметры -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Параметры</h3>
                  </div>
                  <div class="panel-body no-padding">
                    <div class="row">
                      <div class="col-sm-5">
                        <!-- Тип объекта -->
                        <div class="form-group">
                          <label for="">Тип объекта</label>
                          <?php echo $this->form->ot_object_type; ?>
                        </div>
                      </div>
                      <div class="col-sm-7">

                        <div class="row">
                          <div class="col-sm-4">
                            <!-- Площадь -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_sqr->getAttrib('id'); ?>">Площадь <i class="ico-info-sign form-help" title='Площадь'></i></label>
                              <div class="input-group"><?php echo $this->form->obj_sqr; ?><span class="input-group-addon">м&sup2;</span></div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <!-- Заезд -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_checkin->getAttrib('id'); ?>">Заезд <i class="ico-info-sign form-help" title='Например: 12:00'></i></label>
                              <?php echo $this->form->obj_checkin; ?>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <!-- Выезд -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_checkout->getAttrib('id'); ?>">Выезд <i class="ico-info-sign form-help" title='Например: 14:00'></i></label>
                              <?php echo $this->form->obj_checkout; ?>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-4">
                            <!-- Гости -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_guests->getAttrib('id'); ?>">Гости</label>
                              <?php echo $this->form->obj_guests; ?>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <!-- Комнаты -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_rooms->getAttrib('id'); ?>">Комнаты</label>
                              <?php echo $this->form->obj_rooms; ?>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <!-- Спальных мест -->
                            <div class="form-group">
                              <label for="<?php echo $this->form->obj_sleepers->getAttrib('id'); ?>">Спальных мест</label>
                              <?php echo $this->form->obj_sleepers; ?>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <!--
                    <div class="row">
                      <div class="col-sm-4">

                      </div>
                      <div class="col-sm-4">

                      </div>
                      <div class="col-sm-4">

                        <!-- Спальни
                        <div class="form-group">
                          <label for="<?php //echo $this->form->obj_bedrooms->getAttrib('id'); ?>">Спальни</label>
                          <?php //echo $this->form->obj_bedrooms; ?>
                        </div>
                      </div>
                    </div>
                    -->

                    <!--
                    <div class="row">
                      <div class="col-sm-3">
                        <!-- Ванные
                        <div class="form-group">
                          <label for="<?php //echo $this->form->obj_bathrooms->getAttrib('id'); ?>">Ванные</label>
                          <?php //echo $this->form->obj_bathrooms; ?>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <!-- Односпальные кровати
                        <div class="form-group">
                          <label for="<?php //echo $this->form->obj_beds_sngl->getAttrib('id'); ?>">Односпальные кровати</label>
                          <?php //echo $this->form->obj_beds_sngl; ?>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <!-- Двуспальные кровати
                        <div class="form-group">
                          <label for="<?php //echo $this->form->obj_beds_dbl->getAttrib('id'); ?>">Двуспальные кровати</label>
                          <?php //echo $this->form->obj_beds_dbl; ?>
                        </div>
                      </div>
                      <div class="col-sm-3">
                      </div>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>

            <!-- Описание -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Описание</h3>
              </div>
              <div class="panel-body no-padding">
                <!-- Название объекта -->
                <div class="form-group">
                  <label for="obj_name_ru">Название объекта <span class="input-notice">(До 30 символов)</span> <span class="input-error">(Название не может быть длинней 30 символов)</span></label>
                  <?php echo $this->form->obj_name_ru; ?>
                </div>
                <!-- Краткое описание
                <div class="form-group">
                  <label for="obj_shortdesc_ru">Краткое описание</label>
                  <?php //echo $this->form->obj_shortdesc_ru; ?>
                </div> -->
                <!-- Описание -->
                <div class="form-group">
                  <label for="obj_fulldesc_ru">Описание</label>
                  <?php echo $this->form->obj_fulldesc_ru; ?>
                </div>
              </div>
            </div>

          </div><!-- TAB -->

          <!-- TAB Свойства -->
          <div class="block properties" id="tab-properties">

            <!-- Оборудование -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Оборудование</h3>
              </div>
              <div class="panel-body no-padding">
                <div class="form-group">
                  <?php echo $this->form->eq_equipment; ?>
                </div>
              </div>
            </div>

            <!-- Удобства -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Удобства</h3>
              </div>
              <div class="panel-body no-padding">
                <div class="form-group">
                  <?php echo $this->form->at_amenity; ?>
                </div>
              </div>
            </div>

            <!-- Ограничения -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Ограничения</h3>
              </div>
              <div class="panel-body no-padding">
                <div class="form-group">
                  <?php echo $this->form->rst_restriction; ?>
                </div>
              </div>
            </div>

          </div><!-- TAB -->

          <!-- TAB Адрес -->
          <div class="block address" id="tab-address">

            <!-- Карта Google -->
            <div class="panel panel-default">

              <div class="panel-heading">
                <h3 class="panel-title">Укажите адрес объекта и метку на карте</h3>
              </div>

              <div class="panel-body">

                <script>
                  var cityCoords = [];
                  <?php foreach ($this->cities['list'] as $key => $city) { ?><?php echo 'cityCoords["'.$key.'"] = {"lat":'.$city['lat'].',"lng":'.$city['lng'].'};'; ?><?php } ?>
                </script>

                <!-- Выбор города -->
                <div class="module module-city">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="obj_addr_city_uid">Выберите свой город:</label>
                      <select class="form-control" name="obj_addr_city_uid" id="obj_addr_city_uid">
                        <option value="">=== не выбран ===</option>
                        <?php foreach ($this->cities['list'] as $key => $city) { ?>
                        <option value="<?php echo $city['uid']; ?>" <?php if($city['uid'] == $this->object['obj_addr_city_uid']) echo 'selected'; ?>><?php echo $city['name']; ?></option>
                        <?php } ?>
                      </select>
                    </div>
                  </div>
                </div>
                </div>

                <!-- Адрес -->
                <div class="module module-addr">
                <div class="row">
                  <div class="col-md-6">
                    <!-- Улица -->
                    <div class="form-group">
                      <label for="obj_addr_street">Улица <span class="module-label-note" id="module-label-note-addr-street">(обязательно)</span></label>
                      <?php echo $this->form->obj_addr_street; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- № дома -->
                    <div class="form-group">
                      <label for="obj_addr_number">№ дома <span class="module-label-note" id="module-label-note-addr-number">(обязательно)</span></label>
                      <?php echo $this->form->obj_addr_number; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Этаж -->
                    <div class="form-group">
                      <label for="obj_addr_floor">Этаж <span class="module-label-note" id="module-label-note-addr-floor">(обязательно)</span></label>
                      <?php echo $this->form->obj_addr_floor; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Этажность -->
                    <div class="form-group">
                      <label for="obj_addr_elevation">Этажность <span class="module-label-note" id="module-label-note-addr-elevation">(обязательно)</span></label>
                      <?php echo $this->form->obj_addr_elevation; ?>
                    </div>
                  </div>
                </div>
                </div>

                <!-- Метка на карте -->
                <div class="module module-placemark">
                <div class="row">
                  <div class="col-md-12">
                    <label for="obj_addr_city_uid">Проверьте, верно ли указан объект на карте <span>(метку можно перетаскивать мышкой)</span></label>
                    <input type="text" class="form-control search-address hidden" name="search_address" id="search_address" placeholder="Найти адрес">
                    <div id="googlemap" class="googlemap"></div>
                  </div>
                </div>
                </div>

              </div>
            </div>

            <div class="hidden">
              <?php
                //Адрес для работы карты и сохранения
                echo $this->form->obj_addr_country_code;
                echo $this->form->obj_addr_country;
                echo $this->form->obj_addr_zip;
                echo $this->form->obj_addr_city;
                echo $this->form->obj_addr_area_1;
                echo $this->form->obj_addr_area_2;
              ?>
            </div>

            <!-- Адрес объекта -->
            <div class="panel panel-default hidden">
              <div class="panel-heading">
                <h3 class="panel-title">Адрес объекта</h3>
              </div>

              <div class="panel-body no-padding">
                <!--
                <div class="row">
                  <div class="col-md-1">
                    <!-- Код
                    <div class="form-group">
                      <label for="">Код</label>
                      <?php //echo $this->form->obj_addr_country_code; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Страна
                    <div class="form-group">
                      <label for="">Страна</label>
                      <?php //echo $this->form->obj_addr_country; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Индекс
                    <div class="form-group">
                      <label for="">Индекс</label>
                      <?php //echo $this->form->obj_addr_zip; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Город
                    <div class="form-group">
                      <label for="">Город</label>
                      <?php //echo $this->form->obj_addr_city; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Зона 1
                    <div class="form-group">
                      <label for="">Зона 1</label>
                      <?php //echo $this->form->obj_addr_area_1; ?>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <!-- Зона 2
                    <div class="form-group">
                      <label for="">Зона 2</label>
                      <?php //echo $this->form->obj_addr_area_2; ?>
                    </div>
                  </div>
                </div>
                -->
                <div class="row">
                  <div class="col-md-1">
                    <!-- Подъезд
                    <div class="form-group">
                      <label for="">Подъезд</label>
                      <?php //echo $this->form->obj_addr_entrance; ?>
                    </div>-->
                  </div>
                  <div class="col-md-1">
                    <!-- Квартира
                    <div class="form-group">
                      <label for="">Квартира</label>
                      <?php //echo $this->form->obj_addr_room; ?>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden">
            <?php
              //Координаты для карты
              echo $this->form->obj_addr_lon;
              echo $this->form->obj_addr_lat;
              echo $this->form->obj_addr_lon_view;
              echo $this->form->obj_addr_lat_view;
            ?>
            </div>
            <!-- Координаты
            <div class="row">
              <div class="col-md-6">
                <!-- Координаты
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Координаты</h3>
                  </div>
                  <div class="panel-body no-padding">
                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Долгота
                        <div class="form-group">
                          <label for="">Долгота</label>
                          <?php //echo $this->form->obj_addr_lon; ?>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <!-- Широта
                        <div class="form-group">
                          <label for="">Широта</label>
                          <?php //echo $this->form->obj_addr_lat; ?>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Координаты для Streetview
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Координаты для Streetview</h3>
                  </div>
                  <div class="panel-body no-padding">
                    <div class="row">
                      <div class="col-sm-6">
                        <!-- Долгота
                        <div class="form-group">
                          <label for="">Долгота</label>
                          <?php //echo $this->form->obj_addr_lon_view; ?>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <!-- Широта
                        <div class="form-group">
                          <label for="">Широта</label>
                          <?php //echo $this->form->obj_addr_lat_view; ?>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->

          </div><!-- TAB -->
          </form>

          <!-- TAB Фотографии -->
          <div class="block photo" id="tab-photo">

            <!-- Фотографии -->
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                  <ul>
                    <li>Ограничение на размер файлов: <strong>5 MB</strong></li>
                    <li>Разрешены к закачке только файлы типа: <strong>JPG, GIF, PNG</strong></li>
                    <li>Файлы можно добавлять путем обычного "перетаскивания" в окно браузреа</li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- The file upload form used as target for the file upload widget -->
            <form id="fileupload" action="" method="POST" enctype="multipart/form-data">
              <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
              <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                  <!-- The fileinput-button span is used to style the file input field as button -->
                  <span class="btn btn-success fileinput-button">
                  <i class="ico-plus"></i>
                  <span>Добавить файлы...</span>
                  <input type="file" name="files[]" multiple>
                  </span>
                  <button type="submit" class="btn btn-primary start fileupload-actions">
                  <i class="ico-upload"></i>
                  <span>Загрузить все</span>
                  </button>
                  <button type="reset" class="btn btn-warning cancel fileupload-actions">
                  <i class="ico-ban-circle"></i>
                  <span>Отменить</span>
                  </button>
                  <button type="button" class="btn btn-danger delete fileupload-actions">
                  <i class="ico-trash"></i>
                  <span>Удалить</span>
                  </button>
                  <!-- <input type="checkbox" class="toggle"> -->
                  <!-- The global file processing state -->
                  <span class="fileupload-process"></span>
                </div>
                <!-- The global progress state -->
                <div class="col-lg-5 fileupload-progress fade">
                  <!-- The global progress bar -->
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                  </div>
                  <!-- The extended global progress state -->
                  <div class="progress-extended">&nbsp;</div>
                </div>
              </div>
              <!-- The table listing the files available for upload/download -->
              <table>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td></td>
                </tr>
              </table>

              <!--
                <table role="presentation" class="table table-striped">
                <tbody class="files" id="sortable"></tbody>
              </table>
              -->

              <ul class="files" id="sortable"></ul>
              <input type="hidden" name="upload_id" value="<?php echo $this->upload_id; ?>" id="upload_id">
              <input type="hidden" name="upload_ucid" value="<?php echo $this->upload_ucid; ?>" id="upload_ucid">
            </form>

            <!-- The blueimp Gallery widget -->
            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
              <div class="slides"></div>
              <h3 class="title"></h3>
              <a class="prev">‹</a>
              <a class="next">›</a>
              <a class="close">×</a>
              <a class="play-pause"></a>
              <ol class="indicator"></ol>
            </div>

            <!-- The template to display files available for upload
            <script id="template-upload" type="text/x-tmpl">
              {% for (var i=0, file; file=o.files[i]; i++) { %}
              <table>
              <tr class="template-upload fade">

                <td>
                  <span class="preview"></span>
                </td>

                <td>
                  <p class="name">{%=file.name%}</p>
                  <strong class="error text-danger"></strong>
                </td>

                <td>
                  <p class="size">Processing...</p>
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                </td>

                <td>
                {% if (!i && !o.options.autoUpload) { %}
                  <button class="btn btn-primary start" disabled>
                    <i class="ico-upload"></i>
                    <span>Начать загрузку</span>
                  </button>
                {% } %}

                {% if (!i) { %}
                  <button class="btn btn-warning cancel">
                    <i class="ico-ban-circle"></i>
                    <span>Отменить</span>
                  </button>
                {% } %}
                </td>

              </tr>
              </table>
              {% } %}
            </script> -->

            <!-- The template to display files available for download
            <script id="template-download" type="text/x-tmpl">
              {% for (var i=0, file; file=o.files[i]; i++) { %}
              {%/*console.log(file);*/%}

              <tr class="template-download fade" id="tr-{%=file.id%}">
                <td>
                  <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                  </span>
                </td>

                <td>
                  <p class="name">
                    {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                    <span>{%=file.name%}</span>
                    {% } %}
                  </p>

                  {% if (file.error) { %}
                  <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                  {% } %}
                </td>

                <td>
                    <span class="size">{%=o.formatFileSize(file.size)%}</span>
                </td>

                <td>
                  {%=file.res%},
                  {%=file.x1200_res%},
                  <span class="size">{%=file.x800_res%}</span><br>
                  <span class="size">{%=file.x800_res%}</span>,
                  <span class="size">{%=file.x600_res%}</span>,
                  <span class="size">{%=file.x500_res%}</span><br>
                  <span class="size">{%=file.x400_res%}</span>,
                  {%=file.x300_res%},
                  <span class="size">{%=file.thumbnail_res%}</span><br>
                  <span class="size">{%=file.x100_res%}</span>
                </td>

                <td>
                  {% if (file.deleteUrl) { %}

                  <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="ico-trash"></i>
                    <span>Удалить</span>
                  </button>
                  <input type="checkbox" name="delete" value="1" class="toggle">

                  {% } else { %}

                  <button class="btn btn-warning cancel">
                    <i class="ico-ban-circle"></i>
                    <span>Отменить</span>
                  </button>

                  {% } %}
                </td>

              </tr>
              {% } %}
            </script> -->

            <!-- The template to display files available for upload -->
            <script id="template-upload" type="text/x-tmpl">
              {% for (var i=0, file; file=o.files[i]; i++) { %}
              <li>

              </li>
              {% } %}
            </script>

            <!-- The template to display files available for download -->
            <script id="template-download" type="text/x-tmpl">
              {% for (var i=0, file; file=o.files[i]; i++) { %}
              {%/*console.log(file);*/%}
              <li class="template-download fade" id="tr-{%=file.id%}">

                <span class="preview">
                  {% if (file.thumbnailUrl) { %}
                  <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                  {% } %}
                </span>

                {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                  <i class="ico-trash"></i>
                  <span>Удалить</span>
                </button>
                {% } %}

                <span class="first">Главное фото</span>

              </li>
              {% } %}
            </script>

          </div><!-- TAB -->

        </div>
      </div><!-- .row.parts -->

    </div>
  </div>

</div><!-- .obj-view - END -->