<h2><?=$this->name;?>: создание</h2>
<h3><span class="red">&larr;</span> <a href="<?=$this->backurl;?>">назад к списку</a></h3>

<? 
    echo $this->form; 
    $this->layout()->jquery = $this->CKEditor(array('#p_full'));
    $this->layout()->jquery .= "$('#p_titlepic').uploadify({ 'swf' : '/uploadify/uploadify.swf', 'uploader' : '/uploadify/uploadify.php', 'buttonText' : 'BROWSE...', });";

?>
    