<div class="navbar navbar-subnavbar navbar-fixed-top" role="navigation">
    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-ex2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 class="navbar-brand"><i class="ico-coffee"></i> <?=$this->translate("Services");?></h3>
        </div>

        <div class="navbar-collapse collapse collapse-ex2">
            <ul class="nav navbar-nav">

                <li>
                    <div class="btn-group btn-group-sm">

                        <a href="<?=$this->url(array('controller' => 'service', 'action' => 'create'));?>" class="btn btn-sm btn-success"><i class="ico-plus-2"></i> <?=$this->translate("Create");?></a>
                        <a href="<?=$this->url(array('controller' => 'service', 'action' => 'import'));?>" class="btn btn-sm btn-default modal-triger" data-modal="import-data"><i class="ico-download-alt"></i> <?=$this->translate("Import");?></a>

                        <? if($this->getHelper('Partial')->view->qty > 0): ?>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="ico-stack"></i> <?=$this->translate("Group actions");?> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a class="sub-action-link" href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable'));?>"><i class="ico-eye-open"></i>  <?=$this->translate("Enable");?></a></li>
                                <li><a class="sub-action-link" href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable'));?>"><i class="ico-eye-close"></i>  <?=$this->translate("Disable");?></a></li>
                                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'delete'));?>" class='delete-confirm' data-source='sub-action-form' rel="nofollow"><i class="ico-trash"></i>  <?=$this->translate("Delete");?></a></li>
                            </ul>
                        </div><!--/.btn-group-->
                        <? endif; ?>

                    </div><!--/.btn-group-->
                </li>

            </ul><!--/.nav navbar-nav-->
        </div><!--/.navbar-collapse-->


    </div><!--/.container-->
</div><!--/.navbar navbar-subnavbar navbar-fixed-top-->

