<div class="row">
    
    <?php include("leftmenu.phtml"); ?>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Результат операции</div>
            <div class="panel-body">
			...
            </div>
        </div>
    </div>
</div>