    <div class="col-md-4">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <!-- <a href="#" class="btn btn-default btn-ajax-action" data-method="set_floors"><i class="ico-refresh"></i> Расставить этажи объектам</a> -->
            <!-- <a href="#" class="btn btn-default btn-ajax-action" data-method="clear_images"><i class="icon-refresh"></i> Почистить фотки</a> -->
            <!-- <a href="#" class="btn btn-default btn-ajax-action" data-method="refresh_stat"><i class="ico-refresh"></i> Обновить стату</a> -->
            <a href="#" class="btn btn-default btn-ajax-action" data-method="refresh_cities_stat"><i class="icon-refresh"></i> Обновить стату по городам</a>
            <a href="#" class="btn btn-default btn-ajax-action" data-method="rebuild_geo_json"><i class="icon-refresh"></i> Пересоздать GeoJson городов</a>
            <!-- <a href="#" class="btn btn-default btn-ajax-action" data-method="default_owners_passwords"><i class="ico-refresh"></i> Дефолтные пароли владельцам</a> -->
            <a href="#" class="btn btn-default btn-ajax-action" data-method="find_unlinked_objdirs"><i class="icon-refresh"></i> Поиск "отвязанных" директорий с картинками</a>
            <a href="#" class="btn btn-default btn-ajax-action" data-method="find_obj_no_imgdir"><i class="icon-refresh"></i> Поиск объектов, без папки для картинок</a>
            <a href="#" class="btn btn-default btn-ajax-action" data-method="find_unlinked_imgfiles"><i class="icon-refresh"></i> Поиск записей в f_files без реальных файлов</a>
            <a href="#" class="btn btn-default btn-ajax-action" data-method="find_obj_wo_owners"><i class="icon-refresh"></i> Поиск объектов без владельцев</a>
            <!-- <a href="#" class="btn btn-default btn-ajax-action" data-method="mark_random_objects"><i class="ico-refresh"></i> Пометить на карте случайные объекты</a> -->
            <!-- <a href="#" class="btn btn-default btn-ajax-action" data-method="ontop_dummy"><i class="ico-refresh"></i> Фиктивно поднять</a> -->
            <!-- <a href="#" class="btn btn-default btn-ajax-action" data-method="rename_images"><i class="icon-refresh"></i> Переименовать все фотки</a> -->
            <!-- <a href="/ai/tools/delobjects" class="btn btn-default">Удаление объектов по списку ID</a> -->
            <a href="/ai/tools/importemails" class="btn btn-default"><i class="icon-refresh"></i>Импортировать Email'ы</a>
        </div>
    </div>