body
{
    background: #f2f2f2;
    font-size: 18px;
}
/********************************************************************************* Object - Info */
.obj-book
{
    font-family: 'PT Sans';
    font-size: 16px;
    /*margin: 100px 0 0 0;*/
}

.obj-book-content .container
{
    padding: 125px 0 0 0;
    /*border: 1px solid red;*/
}

h1
{
    font-family: 'PT Sans';
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;

    margin: 0;
    padding: 0;

    color: #000;
}

h2
{
    font-family: 'PT Sans';
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;

    margin: 0;
    padding: 0;

    color: #000;
}

h3
{
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    margin: 0 0 12px 0;
    padding: 0;

    color: #000;
}

h3.rounded
{
    /*height: 30px;*/
    display: inline-block;

    padding: 6px 15px 5px 15px;

    border: 1px solid #000;
    border-radius: 15px;
}
.obj-book-navbar
{
    height: 60px;
    margin: 50px 0 0 0;
    padding: 18px 0 0 0;

    background: #E9F0F5;
    z-index: 100;
}

.obj-book-navbar .inner-link
{
    font-size: 18px;

    margin: 0 0 0 15px;

    color: #343434;
}

.obj-book .col-lg-7,
.obj-book .col-lg-5
{
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}
.obj-book-pager
{
    margin-bottom: 0;
}
.obj-book-sidebar
{
    padding: 116px 0 0 0;
}

/********************************************************************************* Object - Booking - Steps */
.obj-book-steps
{
    margin: 20px 0;
}
.book-step
{
    font-family: 'PT Sans';
    font-size: 30px;
    line-height: 30px;

    display: block;

    width: 50px;
    height: 50px;
    margin: 0 auto 5px auto;
    padding: 10px 0 0 0;

    text-decoration: none;

    border-radius: 25px;
}
.book-step span
{
    font-size: 18px;
}
.book-step-current
{
    border: 1px solid #FF6E31;    
    color: #FFF;
    background: #FF6E31;
    
}
.book-step-past
{
    border: 1px solid #FF6E31;    
    color: #FF6E31;
    background: none;
}
.book-step-past:hover
{
    color: #fff;
    background: #FF6E31;
}
.book-step-future
{
    border: 1px solid #898989;    
    color: #898989;
}

.obj-book-steps .col
{
    text-align: center;
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
}
.book-step-title
{
    font-size: 18px;
}
.book-step-line hr, .book-step-line-future hr
{
    height: 1px;
    width: 174px;
    margin-left: -59px;
    margin-top: 25px;
    border: none;
    background: #FF6E31;
}
.book-step-line-future hr
{
    background: #898989;
}


/********************************************************************************* Object - Booking - Forms */
.form-group
{
    padding: 25px 0;
    border: 1px solid #CCCCCC;
    border-radius: 25px;

}
.form-group-active
{
    background: #DFF0D8;
}
.form-group-active .form-control
{
    border-color: #000;
}


.form-group h2
{
    text-align: center;
}
.form-group .row
{
    padding: 0 25px;
    margin-bottom: 25px;
}

.form-control
{
    font-size: 18px;
    padding: 6px 12px;
    border: 2px solid #CCCCCC;
    box-shadow: none;
}
.btn-danger.disabled, .btn-danger[disabled]
{
    background: #FF6E31;
    border-color: #FF6E31;
}

.sigin-or-signup
{
    margin: 20px 0;
}
/********************************************************************************* Object - View - Booking */
.obj-book-booking
{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    /*border: 1px solid #C2CACD;*/

    border-radius: 10px;
    /*background: #e4ecec;*/
    background: #3c495e;
    -webkit-box-shadow: #ccc 0 0 15px;
       -moz-box-shadow: #ccc 0 0 15px;
            box-shadow: #ccc 0 0 15px;
}
.obj-book-booking .wrapper
{
    padding: 15px 20px 2px 20px;
}

.obj-book-booking .row
{
    margin-bottom: 15px;
}
.obj-book-booking label
{
    font-size: 20px;
    font-weight: normal;

    margin-bottom: 10px;
    /*color: #1d3d4a;*/

    color: #fff;
}
.obj-book-booking .col
{
    font-size: 20px;
    color: #fff;
}
.obj-book-booking h2
{
    font-weight: normal;

    padding: 10px 0;

    color: #fff;
    border-bottom: 1px solid #fff;
}
.obj-book-booking .form-invert
{
    color: #fff;
    border: 2px solid #fff;
    background: #3c495e;
    box-shadow: none;
}
/********************************************************************************* Object - View - Booking -> END */

/********************************************************************************* Object - Booking - Preview */
.obj-book-preview
{
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;


}
.obj-book-preview-title h3
{
    margin: 0 0 5px 0;
}
.obj-book-preview-title h2
{
    line-height: 20px;
}
.obj-book-preview-title
{
    padding:  20px 35px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
}
.obj-book-preview-payinfo
{
    padding:  0px 35px 10px 35px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
}
.obj-book-preview-params
{
    padding:  0px 35px 10px 35px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
}
.obj-book-preview-params .row
{

}


.obj-book-preview .wrapper
{
    padding: 25px;
}
/********************************************************************************* Object - Booking - Preview - END */

/********************************************************************************* Object - View - Price */
.obj-book-price
{
    display: inline-block;

    margin: 0 0 0 0;
    /*border: 1px solid #ff6e28;*/
    /*    border-radius: 35px;
    height: 70px;
*/
}
.obj-book-price .wrapper
{
    padding: 25px 0 22px 20px;
}
.price-main
{
    font-family: 'PT Sans Narrow';
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    /*text-align: center;*/

    color: #ff6e28;
}
.price-period
{
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #ff6e28;
}
/********************************************************************************* Object - View - Price -> END */

/********************************************************************************* Object - View - Bill */
.obj-book-bill
{
    margin: 0 0 0 0;

    border-top: 1px solid #c2cacd;
    border-bottom: 1    px solid #c2cacd;
}
.obj-book-bill .row
{
    margin: 0;
    padding: 0;

    border-bottom: 1px solid #c2cacd;
}
.obj-book-bill .nobrd
{
    border: none;
}
.obj-book-bill .col-md-6
{
    font-size: 22px;
    line-height: 22px;

    padding: 9px 20px 7px 38px;

    color: #0c9;
    /*color: #51B64F;*/
}
.obj-book-bill .bill-now
{
    background: #47cae0;
}
.obj-book-bill .bill-now .col-md-6
{
    color: #fff;
}
.obj-book-bill .bill-total
{
    border-bottom: none;
}
.obj-book-bill .bill-total .col-md-6
{
    font-size: 22px;
    /*font-weight::; bold;*/

    color: #fff;
}

/********************************************************************************* Object - View - Bill -> END */

/********************************************************************************* Object - View - Params */
.obj-book-params
{
    margin: 35px 0 35px 0;
    /*    border-top: 2px solid #dae4e7;
    border-bottom: 3px solid #c2cacd;
    background: #fff;
*/    /*border: 1px solid #C2CACD;*/
    /*border-radius: 15px;*/
}
.obj-book-params .col
{
    margin: 0;
    padding: 20px 0;

    text-align: center;
    /*border-right: 1px solid #c2cacd;*/
}
.obj-book-params .nobrd
{
    border: none;
}
.obj-book-params h3
{
    font-size: 25px;
}
.obj-book-params span
{
    font-size: 18px;
}
/********************************************************************************* Object - View - Params -> END */


/********************************************************************************* Object - View - Payinfo */
.obj-book-payinfo
{
    font-size: 16px;

    margin: 45px 0;
    padding: 0 15px;
}
.obj-book-payinfo .row
{
    padding: 7px 0;

    border-bottom: 1px solid #d3d3d3;
}
/********************************************************************************* Object - View - Payinfo -> END */


/********************************************************************************* Object - View - Properties */
.obj-book-properties
{
    font-size: 18px;

    margin: 70px 0;

    border: 1px solid #d3d3d3;
    border-radius: 15px;
    background: #fff;
}
.obj-book-properties h2
{
    margin: 0 0 20px 0;
}
.obj-book-properties .col
{
    border-right: 1px solid #d3d3d3;
}
.obj-book-properties .item
{
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;

    background: url(../../../images/list-marker1.png) 0 5px no-repeat;
}
.obj-book-properties .wrapper
{
    padding: 20px;
}
.obj-book-properties .red
{
    color: red;
}
.obj-book-properties .nobrd
{
    border: none;
}
/********************************************************************************* Object - View - Properties -> END */


/********************************************************************************* Object - View - Location */
.obj-book-location
{
    margin: 45px 0 0 0;
}
.obj-book-location .col
{
    padding: 0;
}

.obj-book-milestones .wrapper
{
    font-size: 16px;

    padding: 50px 0 0 40px;
}
.obj-book-milestones p
{
    margin: 0 0 30px 0;
}
.obj-book-milestones ul
{
    margin: 0 0  30px 0;
    padding: 0;
}
.obj-book-milestones li
{
    padding: 0 0 0 20px;

    list-style: none;

    background: url(../../../images/mdash-black.png) 0 10px no-repeat;
}

#obj-book-map
{
    position: relative;
    left: 0;

    width: 100%;
    height: 500px;
    margin: 25px 0 25px 0;

    -webkit-transform: translateZ(0px);

    border: 5px solid #fff;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
}
#obj-book-map-canvas
{
    position: relative;

    width: 100%;
    height: 490px;
}

/********************************************************************************* Object - View - Location - END */



/********************************************************************************* BxSlider v4.1.2 */

/** RESET AND LAYOUT
===================================*/
.bx-wrapper
{
    position: relative;

    width: 800px;
    margin-top: 25px;
    /*margin: 0 auto */
    padding: 0;

    *zoom: 1;
}
.bx-wrapper img
{
    display: block;

    max-width: 100%;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport
{
    /*    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
*/
    /*border: 5px solid #fff;*/
    left: 0;
    left: 0;
    /*fix other elements on the page moving (on Chrome)*/

    -webkit-transform: translatez(0);
    -webkit-transform: translateZ(0px);
       -moz-transform: translatez(0);
        -ms-transform: translatez(0);
         -o-transform: translatez(0);
            transform: translatez(0);

    border: 5px solid #fff;
    background: #fff;
    background: #fff;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto
{
    position: absolute;
    bottom: -30px;

    width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading
{
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /*min-height: 300px;*/

    background: url(../images/ui/bxslider/bx_loader.gif) center center no-repeat #fff;
}
/* PAGER */
.bx-pager
{
    font-size: .85em;

    margin-left: 0;
    padding-top: 16px;

    text-align: center;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item
{
    display: inline-block;

    *zoom: 1;
    *display: inline;
}
.bx-pager a
{
    display: block;
    float: left;
    overflow: hidden;

    width: 112px;
    height: 87px;
    margin: 0 15px 15px 0;
    padding: 5px;

    -webkit-transform: translateZ(0px);

    border: 1px solid #ddd;
    outline: 0;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
}
.bx-pager a.active
{
    border: 1px solid #ff6e28;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active
{
    background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev
{
    left: 10px;

    background: url(../../../images/ui/bxslider/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next
{
    right: 15px;

    background: url(../../../images/ui/bxslider/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover
{
    background-position: 0 0;
}
.bx-wrapper .bx-next:hover
{
    background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a
{
    position: absolute;
    z-index: 2;
    top: 50%;

    width: 32px;
    height: 32px;
    margin-top: -16px;

    text-indent: -9999px;

    outline: 0;
}
.bx-wrapper .bx-controls-direction a.disabled
{
    display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto
{
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start
{
    display: block;

    width: 10px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
    background: url(../../../images/ui/bxslider/controls.png) -86px -11px no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active
{
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop
{
    display: block;

    width: 9px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
    background: url(../../../images/ui/bxslider/controls.gif) -86px -44px no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active
{
    background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager
{
    width: 80%;

    text-align: left;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
{
    right: 0;

    width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: #666\9;
    background: rgba(80, 80, 80, .75);
}
.bx-wrapper .bx-caption span
{
    font-family: Arial;
    font-size: .85em;

    display: block;

    padding: 10px;

    color: #fff;
}

#signin-coming-soon, #signup-coming-soon
{
    padding: 0 20px;
    text-align: center;
}