/***************************************************************** Objects Filter */
#objects-filter
{
    height: 75px;
    background: #F6F6EF;

    position: absolute;
    z-index: 100;
    width: 100%;

    border-bottom: 1px solid #b8b8b2;

    font-family: 'open_sanslight';
    font-size: 15px;
}

#objects-filter-short
{
    /*height: 75px;*/
    padding: 20px 0 10px 0;
}
#objects-filter-short .filter-line-1
{
    /*border: 1px solid red;*/
    height: 40px;
    padding: 5px 0 0 15px;
}
#objects-filter-short .filter-line-2, 
#objects-filter-short .filter-line-3
{
    /*border: 1px solid red;*/
    height: 40px;
    padding: 5px 0 0 55px;
}
#objects-filter-short .filter-line-2
{
    padding: 5px 0 0 55px;
}

#objects-filter-full
{
    height: 250px;
}
#objects-filter-full label
{
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: normal;

    margin: 0 0 10px 0;
    padding: 0;

    color: #343434;
}
#objects-filter-full .row
{
    margin: 0 0 15px 0;
}
#objects-filter-full .col-md-1
{
    width: 35px;
    margin: 0;
    padding: 0;
}

/***************************************************************** Objects Page */
#objects-page
{
    overflow: hidden;
    margin: 50px 0 0 0;
}
#objects-map, #objects-list, #map-canvas, #objects-area
{
    margin: 0;
    padding: 0;
}
#objects-list
{
    margin-top: 75px;
    float:left;
    width:430px;
    /*width:845px;*/
    /*background: #2F2F30;*/
    /*background: #F1F2F2;*/
    border-right: 1px solid #FFF;
    /*border-bottom: 1px solid #FF0000;*/
    /*background: url(../images/ui/transparent.png);*/
}

#objects-list .wrapper
{
    overflow: auto;
    /*height: 100%;*/
    padding-top: 15px;
}
#objects-map
{
    margin-top: 75px;
    float: left;
}

/***************************************************************** Objects Paginator */
#objects-paginator
{
    height: 60px;
    width: 430px;
    padding: 0;
    background: #F6F6EF;
    /*border-top: 1px solid #B8B8B2;*/
    /*background: #E9F0F5;*/
}
#objects-paginator nav
{
    padding: 0 0 0 15px;
    margin:0;
    border: 1px solid red;
    height: 40px;
}
#objects-paginator .pagination
{
    /*padding: 0;*/
    /*margin: 0;*/
    width: 390px;
    margin: 10px 0 0 15px;
    /*border: 1px solid red;*/
}

#objects-paginator .pagination > li > a, #objects-paginator .pagination > li > span {
  background-color: #FFF;
  border:1px solid #DDDDDD;
  /*border: none;*/
  /*background: none;*/
  float:left;
  line-height:1.428571429;
  margin-left:-1px;
  padding:6px 12px;
  position:relative;
  text-decoration:none;
  color: #000;
  margin-right: 5px;
}

#objects-paginator .pagination > .active > a, 
#objects-paginator .pagination > .active > span, 
#objects-paginator .pagination > .active > a:hover, 
#objects-paginator .pagination > .active > span:hover, 
#objects-paginator .pagination > .active > a:focus, 
#objects-paginator .pagination > .active > span:focus {
  background-color:#FF6E28;
  border-color:#FF6E28;
  color:#FFFFFF;
  cursor:default;
  z-index:2;
}

/***************************************************************** Obj Item Thumbnail */
#objects-list .col-md-12
{
    width: 385px;
    padding: 0;
    margin: 0 auto 15px auto;

}
.thumbnail
{
    font-size: 16px;
    padding: 0;
    border-radius: 0;
    border: none;
}
.thumbnail .caption
{
    padding: 0;
}
/*********************************** Thumbnail - Price *****************/
.thumbnail .caption .obj-price
{
    height: 66px;
    padding: 10px 0 0 0;
}
.thumbnail .obj-price .price-main
{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;

    margin: 0;

    letter-spacing: -1px;
}
.thumbnail .object-price .price-small
{
    font-size: 13px;
    line-height: 13px;
}
/*********************************** Thumbnail - Location *****************/

.thumbnail .obj-location-title .inner
{
    height: 33px;
    padding: 7px 0 0 5px;
    /*border-bottom: 1px solid #ddd;*/

    color: #f00;
}
.thumbnail .obj-location-title a
{
    font-weight: bold;

    text-decoration: none;
    letter-spacing: 1px;
}
/*********************************** Thumbnail - Specification *****************/
.thumbnail .obj-spec .inner
{
    /*padding: 5px 0 0 5px;*/
    height: 34px;
}
.thumbnail .obj-spec-block
{
    padding: 6px 12px;
}
/*********************************** Thumbnail - More details *****************/
.thumbnail .more-details
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;

    display: block;

    width: 100%;
    height: 34px;
    padding: 7px 0;

    text-decoration: none;

    color: #fff;
    background: #ff6e28;
}
.thumbnail .more-details:hover
{
    color: #ff6e28;
    border-top: 2px solid #ff6e28;
    background: #fff;
}
/*********************************** Thumbnail - Streetview *****************/
.thumbnail .obj-streetview .inner
{
    padding: 5px 8px;

    border: none;
}
.thumbnail .obj-streetview a
{
    text-decoration: none;
}
/*********************************** Thumbnail -Image *****************/
.thumbnail .caption div
{
    margin: 0;
    padding: 0;
}
.thumbnail.selected
{
    background: #3C495E;
}
.thumbnail .thumb_image .no-image
{
    font-size: 60px;

    position: relative;

    color: #ddd;
    border-bottom: 1px solid #ddd;
}
.thumbnail .thumb_image .no-image i
{
    position: absolute;
    top: 40%;
    left: 40%;
}
/*********************************** Thumbnail - Rating *****************/
.thumbnail .thumb_image .obj_infoline
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0px;

    padding: 15px 15px 6px 15px;

    height: 150px;
    /*opacity: .3;*/
    /*color: #51b64f;*/
    /*background: #2F2F30;*/

    background-image: -webkit-gradient(
      linear, 
      left top, left bottom, 
      from(rgba(0, 0, 0, 0.9)),
      to(rgba(0, 0, 0, 0))
    );    
}
.thumbnail .thumb_image .obj_rating
{
    color: #fff;
    text-align: right;
    border-radius: 15px;
}
.thumbnail .thumb_image .obj_rating span
{
    font-size: 18px;
    /*font-weight: bold;*/
}
/*********************************** Thumbnail - Object type *****************/
.thumbnail .thumb_image .obj_type
{
    font-family: 'open_sanslight', Arial, sans-serif;
    position: relative;
    z-index: 2;
    top: 0;
    /*right: 0px;*/

    /*padding: 8px 20px 6px 20px;*/

    /*cursor: pointer;*/
    opacity: 1;
    color: #fff;
    /*border-radius: 15px;*/
    /*background: #3C495E;*/
}
.thumbnail .thumb_image .obj_type:hover
{
    opacity: 1;
}
.thumbnail .thumb_image .obj_type span
{
    font-size: 16px;
    letter-spacing: 0px;
    /*font-weight: bold;*/
}
/***********************************/