/***************************************************************** Objects Filter */
#objects-filter {
  font-family: 'open_sanslight';
  font-size: 15px;

  position: fixed;
  z-index: 10;

  width: 100%;
  height: 50px;

  border-bottom: 1px solid #b8b8b2;
  background: #f6f6ef;
}
.leftInfoBox {
  /*font-family: 'open_sansbold';  */
  /*font-family: 'open_sansregular';   */
  font-family: 'PT Sans';
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}
.leftInfoBox .foundItemsLabel {
  color: #FB4151;
  font-size: 20px;
  line-height: 20px;
}
.centered {
  text-align: center;
}
.bigBlue {
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #3887BE;
}

/***************************************************************** Objects Page */
#objects-page {
  font-family: 'open_sanslight';
  overflow: hidden;
  margin: 50px 0 0 0;
}
#objects-map,
#map-canvas,
#objects-area {
  margin: 0;
  padding: 0;
}
#objects-map {
  float: left;
  overflow: hidden;
  margin-top: 50px;
}

/***************************************************************** Info Label */
.label {
  font-family: 'open_sanslight';
  /*font-family: 'bebas_neuebold';*/

  font-size: 12px;
  line-height: 18px;

  padding: 11px 14px 12px 14px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #313544;
  border-radius: 0;
}
.infoLabel {
  background: #FFF;
}
.warnLabel {
  background: yellow;
}

/***************************************************************** Action Buttons */
.actionButton {
  position: fixed;
  /*position: absolute;*/

  font-family: 'open_sanslight';
  font-size: 12px;
  line-height: 18px;

  padding: 7px 14px 12px 14px;

  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;
  border-radius: 0;
  background: #fb4151;
}
.actionButton .symbol {
  font-size: 26px;
  position: relative;
  top: 3px;
}
.actionButton:hover {
  color: #fb4151;
  background: #fff;
}
.actionButton a:link {
  text-decoration: none;
  color: #FFF;
}
.actionButton a:hover, .actionButton:hover a {
  text-decoration: none;
  color: #fb4151;
}

/***************************************************************** Slider panels */
.panelSlide {
  position: absolute;
}
.panelSlide.panelRight {
  position: fixed;
  z-index: 70;
}
.panelContent {
  position: fixed;
  overflow-x: auto;
  height: 100%;
}
.panelOpened .textClosed {
  display: none;
}
.panelOpened .textOpened {
  display: block;
}
.panelClosed .textClosed {
  display: block;
}
.panelClosed .textOpened {
  display: none;
}

/***************************************************************** Venue List - slide panel - left */
#venueList {
  top: 100px;
  width: 500px;
  height: 100%;
  background: #FFF;

  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}
#venueList.panelOpened {
  margin-left: 0;
}
#venueList.panelClosed {
  margin-left: -500px;
}
#venueList .panelTrigger {
  margin-left: 500px;
  z-index: 50;
}
#venueList .panelContent {
  width: 500px;
  /*z-index: 70;*/
  background: #FFF;
  padding-bottom: 40px;
}

/***************************************************************** Venue View - slide panel - left */
#venueView {
  top: 100px;
  z-index: 60;
  width: 500px;
  background: #FFF;

  /*box-shadow: 0 2px 4px rgba(0, 0, 0, .7);*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;

}
#venueView .venueBookBtn {
  bottom: 0;
  width: 500px;
  padding: 20px 14px 16px 14px;
  font-size: 16px;
}
#venueView .venueBookBtn:hover {
  border-top: 1px solid #FB4151;
}

#venueView.panelOpened {
  margin-left: 500px;
}
#venueView.panelClosed {
  margin-left: -1000px;  /* venueView.width + venueList.width */
}
#venueView .panelTrigger {
  margin-left: 500px;
}
#venueView .panelContent {
  background: #FFF;
  width: 500px;
  height: 100%;
}
.bigcard {
    /*font-family: 'PT Sans Narrow';  */
  font-family: 'open_sansregular';
}
.bigcard .row {
  /*padding: 20px;*/
  margin-left: 0;
  margin-right: 0;
}
.bigcard .imageSlider {
  border-bottom: 1px solid #E6E6E6;
}
.bigcard .venueTitle .venueName {

  float: left;
  width: 70%;
  /*border: 1px solid blue;*/

  padding-top: 0;

  /*font-family: 'bebas_neuebold';*/
  font-family: 'PT Sans';
  font-size: 24px;
  font-weight: bold;

}
.bigcard .venueTitle .venueName .venueAddress {
  font-family: 'open_sansregular';
  font-size: 14px;
}
.bigcard .venueTitle .venuePrice {
  float: left;
  width: 30%;
  margin-top: 2px;
  /*border: 1px solid blue;*/
  text-align: right;
}
.bigcard .venueTitle .venuePrice .venuePriceInner {
  display: inline;
  font-family: 'bebas_neuebold';
  font-size: 24px;
  font-weight: normal;
  border: 1px solid #0732A2;
  color: #0732A2;
  padding: 6px 12px;
  right: 2px;
  position: relative;
  top: 2px;
}
.bigcard .venueBlock {
  padding: 10px;
}
.bigcard .blockName {
  /*font-family: 'bebas_neuebold';  */
  font-family: 'PT Sans';
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}


.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../../../images/ui/bxslider/controls-map.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url(../../../images/ui/bxslider/controls-map.png) no-repeat -43px -32px;
}

/***************************************************************** Filters - slide panel - right */
#filters {
  top: 100px;
  width: 350px;
  z-index: 70;
  /*background: #2B303B;*/

  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}
#filters.panelOpened {
  right:0;
}
#filters.panelClosed {
  right: -350px;
}
#filters .panelTrigger {
  position: absolute;
  /*z-index: 40;*/
  left: -135px;
  width: 135px;
  height: 41px;
  /*display: inline;*/
}
#filters .panelContent {
  padding: 20px 15px;
  background: #2B303B;
  width: 350px;
  color: #FFF;
  height: 500px;
  /*margin-top: -46px;*/
}
#filters .filterTitle {
  /*font-family: 'bebas_neuebold';*/
  font-family: 'PT Sans';

  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 0;

}
#filters .form-control {
  font-family: 'PT Sans';
  background: none;
  height: 30px;
  color: #fff;
}
#filters .btn {
  border-radius:3px;

  font-family: 'PT Sans';
  font-size:14px;
  font-weight: normal;
  height: 30px;
  line-height:1.428571429;
  padding: 5px 7px;
  text-align:center;
  background: none;
  border-color: #fff;

}
.number-spinner {
  width: 150px;
}
.centered .number-spinner {
  margin: 0 auto;
}
#filters .number-spinner .data-up .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#filters .number-spinner .data-dwn .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filter {
  padding: 15px;
  margin: 0 0 15px 0;
}
.filter-group-bordered {
  border-radius: 3px;
  border: 1px solid #42495a;
}
.filter .ruler .bg {
  color: #FFF;
  font-size: 11px;
}
.filter .price-slider-parent {
  margin: 20px 10px;
}
.filterFoundItems {
  font-size: 16px;
  text-align: center;
}
.filterFoundNumber {
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: bold;
}
.filter .rouble {
  font-weight: normal;
  font-size: 20px;
}

/***************************************************************** Streetview */
#streetview {
  position: absolute;
  top: 100px;
  left:0;
  z-index: 55;
  margin-left: 500px;
  background: #313544;
  display: none;
}
#streetview .svControlBlock {
  position: fixed;
  margin-left: 0;
  z-index: 101;
}
#streetview .closeStreetview {
  position: static;
  float: left;
}
#streetview .label {
  position: static;
  float: left;
}
#svPano {
  z-index: 56;
  background: #313544;
  height: 100%;
  width: 100%;
}

/***************************************************************** Object Card */
.card {
  position: relative;

  overflow: hidden;

  width: auto;
  margin: 0;
  padding: 5px .5%;

  border-bottom: 1px solid #eaeaea;
  background: #fff;
  /*background: lightgray;*/

  /*font-family: 'open_sanslight';*/
  /*font-family: 'PT Sans'; */
  /*font-family: 'PT Sans Narrow'; */
  font-family: 'open_sansregular';


}
.card:hover {
  background: #f3f6fa;
}
.card-active {
  background: #e6ebf6;
  /*border: 3px solid #3887BE;*/
  border: 2px solid #1DC36F;
  border-left: none;
  border-right: none;
  border: none;
}
.card .contentHolder {
  overflow: hidden;

  margin-left: 1%;
  padding: 1.5%;
  padding: 5px 8px 0 5px;
}
.card .contentHolder .infoCol {
  float: left;

  width: 74.75%;
  padding: 0 .5%;
  /*border: 1px solid red;*/
}
.card.ontop {
  background: #fff8d7;
}
.card.photomark {
  border: solid #527DB7 3px;
}
.card .venueName a {
  font-family: 'bebas_neuebold';
  /*font-family: 'PT Sans Narrow'; */

  font-size: 22px;
  font-weight: normal;

  margin: 0;
  padding: 0;
}
.card .venueName .ontop {
  font-size: 10px;
  color: #c9821c;
  margin-bottom: 5px;
}
.card .venueName h2 a {
  color: #414141;
}

.card .contentHolder .photoCol {
  position: relative;

  float: right;

  margin-left: 1%;
  /*border: 1px solid red;*/

  /*border: 1px solid pink;*/
}
.card .contentHolder .photoCol .photoContainer {
  top: 0;
  right: 0;

  width: 100px;
  height: 75px;

  /*border: 1px solid #EAEAEA;*/
  /*padding: 4px;*/

/*  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      border-radius: 3px;
*/  /*background: #efeff4;*/
}
.card .contentHolder .photoCol .photoContainer img {
  width: 100px;
  height: 75px;
  padding: 0;

  cursor: pointer;

  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      box-shadow: none;
}
.card .contentHolder .venuePrice {
  font-family: 'bebas_neuebold';
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  line-height: 18px;
  padding: 10px 0 0 0;
  /*border: 1px solid #EAEAEA;*/
  /*border-top: none;*/

}
.card .contentHolder .venuePrice span {
  font-size: 16px;
}
.card .contentHolder .venuePrice .rouble {
  font-size: 25px;
}
.card .venueAddress {
  margin-top: 2px;
  margin-left: -3px;
  font-family: 'bebas_neuebold';
}
.card .venueAddress .openStreetview {
  text-decoration: none;
  margin-left: 15px;
}
.card .venueData {
  margin-top: 14px;
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.card .venueData .venueDataItem {
  font-size: 12px;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 15px;

  border: 1px solid #C1D99F;
  border-radius: 15px;
  padding: 5px 13px;
}
.card .venueData .colorBlue {
  border-color: #0732A2;
  color: #0732A2;
}
.card .venueData .colorRed {
  border-color: #FB4151;
  color: #FB4151;
}

#modal-signup .checkbox input[type=checkbox] {
    margin-left: 0;
}
#modal-signup .btn.big-orange {
    letter-spacing: 2px;
}

/***************************************************************** Map Marker Pin */
.marker-pin {
  /*font-family: 'intro_regular';*/
  /*font-family: 'open_sansregular';*/
  font-family: 'bebas_neuebold';
  font-size: 13px;
  /*letter-spacing: -1px;*/
  font-weight: normal;
  line-height: 13px;

  width: 40px;
  height: 46px;
  padding-top: 14px;

  text-align: center;

  color: #000;
  /*text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;*/
}
.pin-1 {
  background: url('/images/ui/markers/m-1.png') 0 0 no-repeat;
}
.pin-2 {
  background: url('/images/ui/markers/m-2.png') 0 0 no-repeat;
}
.pin-3 {
  background: url('/images/ui/markers/m-3.png') 0 0 no-repeat;
}
.pin-4 {
  background: url('/images/ui/markers/m-4.png') 0 0 no-repeat;
}
.pin-5 {
  background: url('/images/ui/markers/m-5.png') 0 0 no-repeat;
}
.pin-regular {
  background: url('/images/ui/markers/m-2.png') 0 0 no-repeat;
}
.pin-selected {
  background: url('/images/ui/markers/m-3.png') 0 0 no-repeat;
}

/***************************************************************** Map Custom Popup */
.custom-popup .leaflet-popup-content-wrapper {
  font-size: 16px;
  line-height: 24px;

  /*color: #000;*/
  border: 3px solid #3887BE;
  border-radius: 4px;
  background: #fff;
  padding: 0;

  box-shadow:rgba(30, 20, 30, 0.5) 0 0 100px;
}
.custom-popup .leaflet-popup-content-wrapper a {
  color: rgba(255,255,255,.5);
}
.custom-popup .leaflet-popup-tip-container {
  width: 20px;
  height: 10px;

  background: url("/images/ui/markers/m-popup-tip.png") 0 0 no-repeat;

  position: relative;
  top: -3px;
}
.custom-popup .leaflet-popup-tip {
  border: none;
}

/***************************************************************** Popup */
.popup .contentHolder {
  overflow: hidden;

  margin-left: 0;
  padding: 1%;
}
.popup .contentHolder {
  padding: 5px 8px 5px 5px;
}
.popup a {
  color: #428BCA;
  text-decoration: underline;
}
.popup a:hover {
  text-decoration: none;
}
.popup .venueName a {
  font-family: 'PT Sans Narrow';

  font-size: 18px;
  font-weight: normal;
  color: #428BCA;

  margin: 0;
  padding: 0;
}

.popup .contentHolder .infoCol {
  float: left;

  width: 70%;
  padding: 0;
}
.popup .contentHolder .photoCol {
  float: right;
  margin-left: 1%;
}
.popup .contentHolder .photoCol .photoContainer {
  top: 0;
  right: 0;

  width: 100px;
  height: 75px;
}
.popup .contentHolder .photoCol .photoContainer img {
  width: 100px;
  height: 75px;
  padding: 0;

  cursor: pointer;

  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      box-shadow: none;
}
.popup .contentHolder .venuePrice {
  font-family: 'bebas_neuebold';
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  line-height: 18px;
  padding: 7px 0 0 0;
}
.popup .contentHolder .venuePrice span {
  font-size: 14px;
}
.popup .contentHolder .venuePrice .rouble {
  font-size: 20px;
}
.popup .venueAddress {
  margin-top: 2px;
  margin-left: 0;
  font-size: 12px;
  line-height: 18px;
}
.popup .venueAddress .openStreetview {
  margin-left: 2px;
  color: #428BCA;
}
.popup .venueData {
  margin-top: 15px;
}
.popup .venueData .venueDataItem {
  font-size: 11px;
  display: inline-block;
  margin-right: 3px;
  border: 1px solid #C1D99F;
  border-radius: 15px;
  padding: 1px 10px 0 10px;
}
.popup .venueData .colorBlue {
  border-color: #0732A2;
  color: #0732A2;
}

/***************************************************************** Map Zoom Slider */
.leaflet-container {

}
.leaflet-control-zoomslider-knob {
  width: 14px;
  height: 6px;
}
.leaflet-container .leaflet-control-zoomslider-body {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      box-sizing: content-box;
}
.leaflet-control-zoomslider {
  top: 51px;
  left: 510px;
}
.leaflet-control-zoomslider.venueViewOpened {
  margin-left: 500px;
}
.leaflet-control-zoomslider.venueListClosed {
   margin-left: -490px;
}

/***************************************************************** Custom checkboxes */
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
  margin-left: -1.5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .1s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

/***************************************************************** IOS7 checkboxe */
.ios7-switch {
  font-size: 26px;

  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.ios7-switch .io7-switch-text {
  font-size: 16px;
}

.ios7-switch input {
  opacity: 0;
  position: absolute;
}

.ios7-switch input + span {
  position: relative;
  display: inline-block;
  width: 1.65em;
  height: 1em;
  background: #2B303B;
  box-shadow: inset 0 0 0 0.0625em #e9e9e9;
  border-radius: 0.5em;
  vertical-align: -0.15em;
  transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.ios7-switch:active input + span,
.ios7-switch input + span:active {
  box-shadow: inset 0 0 0 0.73em #e9e9e9;
}

.ios7-switch input + span:after {
  position: absolute;
  display: block;
  content: '';
  width: 0.875em;
  height: 0.875em;
  border-radius: 0.4375em;
  top: 0.0625em;
  left: 0.0625em;
  background: white;
  box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
        0 0 0.05em rgba(0,0,0,0.05),
        0 0.1em 0.2em rgba(0,0,0,0.2);
  transition: all 0.25s ease-out;
}

.ios7-switch:active input + span:after,
.ios7-switch input + span:active:after {
  width: 1.15em;
}

.ios7-switch input:checked + span {
  box-shadow: inset 0 0 0 0.73em #4cd964;
}

.ios7-switch input:checked + span:after {
  left: 0.7125em;
}

.ios7-switch:active input:checked + span:after,
.ios7-switch input:checked + span:active:after {
  left: 0.4375em;
}

/* accessibility styles */
.ios7-switch input:focus + span:after {
  box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.15),
        0 0 0.05em rgba(0,0,0,0.08),
        0 0.1em 0.2em rgba(0,0,0,0.3);
  background: #fff;
}

.ios7-switch input:focus + span {
  box-shadow: inset 0 0 0 0.0625em #dadada;
}

.ios7-switch input:focus:checked + span {
  box-shadow: inset 0 0 0 0.73em #33be4b;
}

/* reset accessibility style on hover */
.ios7-switch:hover input:focus + span:after {
  box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
        0 0 0.05em rgba(0,0,0,0.05),
        0 0.1em 0.2em rgba(0,0,0,0.2);
  background: #fff;
}

.ios7-switch:hover input:focus + span {
  box-shadow: inset 0 0 0 0.0625em #e9e9e9;
}

.ios7-switch:hover input:focus:checked + span {
  box-shadow: inset 0 0 0 0.73em #4cd964;
}

/***************************************************************** ////////////// */
body > header nav a {
  padding: 5px 8px;
}

/* Список карточек */
#venueList {

}
.card.ontop + .card.ontop {
  border-top: none;
}
#venueList .card,
#venueList .card * {
  margin: 0;
  padding: 0;
}
#venueList .card {
  height: auto;
  border-bottom-color: #ddd;
}
#venueList .card.ontop {
  border-bottom-color: #527DB7;
  border-width: 2px;
}
#venueList .card .contentHolder {
  padding: 10px;
}
#venueList .card .contentHolder .photoCol .photoContainer {
  width: 75px;
  height: 75px;
}
#venueList .card .contentHolder .photoCol .photoContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#venueList .card .contentHolder .venuePrice {
  margin-top: 10px;
}
#venueList .card .contentHolder .venueData {
  bottom: 10px;
}
#venueList .card .contentHolder .venueData .venueDataItem {
  padding: 0 8px 1px 8px;
  line-height: 20px;
  border-style: dashed;
  border-color: #ddd;
  color: #636363;
}
#venueList .card .contentHolder .venueName {
  /*margin-bottom: 15px;*/
}
#venueList .card .contentHolder .venueName a {
  font-size: 18px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 215px;
  display: inline-block;
}
#venueList .card .contentHolder .venueName .ontop {
  display: none;
}
#venueList .card .contentHolder .venueMeta {

}
#venueList .card .contentHolder .venueMeta .venueAddress {
  color: #939393;
  font-family: 'open_sanslight';
  font-size: 12px;
}
#venueList .card .contentHolder .venueMeta .venueAddress div {
  margin-top: 10px;
}
#venueList .card .contentHolder .venueMeta .venueAddress div a {
  color: #0DCCBC;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
#venueList .card .contentHolder .venueMeta .venueAddress div a i {
  position: relative;
  top: 5px;
  font-size: 24px;
}

/* Просмотр объекта */
#venueView .venueBookBtn {
  display: none;
}
.bigcard .venueBlock .venueMeta .table:last-child {
  margin-bottom: 0;
}
.bigcard .venueTitle .venueName {
  position: relative;
  top: -2px;
  line-height: 24px;
}
.bigcard .venueTitle .venuePrice {

}
.bigcard .venueTitle .venuePrice .venuePriceInner {
  border-color: #26e16c;
  color: #1bc25a;
}
.bigcard .venueTitle .venuePrice .venuePriceInner span {
  color: inherit;
}
.bigcard .venueTitle .venueName .venueAddress {
  color: #939393;
  font-family: 'open_sanslight';
  font-weight: normal;
  margin-top: 5px;
}
.bigcard .venueTitle .venueName .venueOtName {
  color: #636363;
  font-family: 'open_sansregular';
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
}
.bigcard .venueBlock .venueShowPhone {
  margin-top: 10px;
}
.bigcard .venueBlock .venueShowPhone .btn {
  border-radius: 4px;
  background-color: #1bc25a;
  color: #fff;
  line-height: 30px;
  height: auto;
  text-transform: uppercase;
  text-decoration: none;
}
.bigcard .venueBlock .venueShowPhone .btn.btn-call {
  background-color: #fb4151;
  border-color: #eb3545;
  font-size: 16px;
}
.bigcard .venueBlock .table tr td {
  font-size: 12px;
}

/* Добавочные кнопки вызова панелей */
.triggerAddon {
  position: relative;
  height: 100%;
}
.triggerAddon .card-loading {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: none;
}
.panelTriggerAddon {
  border-radius: 4px;
  padding: 8px;
  margin-top: 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  transition: .2s;
  outline: none;
  background-color: #6cf9a1;
  border: solid #3EBB6D 1px;
  color: #333;
  font-family: 'PT Sans';
}
.panelTriggerAddon.objects-list {
  left: 8px;
  position: relative;
  background: none;
}
.panelTriggerAddon.filters-list {
  right: 10px;
  background: url('/images/mobile-find.svg') center center no-repeat;
  background-size: 20px;
  height: 35px;
}
.panelTriggerAddon.filters-list,
.panelTriggerAddon.objects-view {
  width: 45px;
  float: right;
  font-size: 22px;
  padding: 1px;
  border: none;
  transition: .2s;
  opacity: .5;
}
.panelTriggerAddon.objects-view {
  background: url('/images/mobile-close.svg') center center no-repeat;
  background-size: 16px;
  height: 35px;
  position: absolute;
  right: 2px;
  top: 1px;
  display: none;
}
.panelTriggerAddon.objects-view.opened {
  display: block;
}
.panelTriggerAddon.pressed {
  opacity: 1;
}

/* Метка свободна сегодня */
.card .contentHolder .photoCol .photoContainer .isempty-label {
  background-color: rgba(216, 249, 61, .7);
  color: #333;
  padding: 5px 0;
  padding-top: 5px !important;
  font-size: 10px;
  line-height: 30px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  transition: .2s;
}

/* Параметры */
.venueMeta ul {
  list-style: none;
  padding: 0;
}
.venueMeta ul:last-child {
  margin-bottom: 0;
}
.venueMeta ul li {
  padding: 5px 2px 5px 1px;
  border-bottom: dashed #ddd 1px;
}
.venueMeta ul li:first-child {
  border-top: dashed #ddd 1px;
}
.venueMeta ul li span.param {
  font-size: 12px;
  color: #636363;
}
.venueMeta ul li span.value {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  float: right;
  position: relative;
  top: 2px;
}

/* Пагинатор */
.pagination {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin: 0;
}
.pagination .show-more {
  width: 50%;
  height: 40px;
  background-color: #F6F6EF;
  border: none;
  border-top: solid #B8B8B2 1px;
  color: #333;
  outline: none !important;
}
.pagination .show-more:active {
  background-color: #e1e1da;
}
.pagination .show-more[disabled],
.pagination .show-more[disabled]:active {
  background-color: #F4F4Ee;
  color: #cfcfcf;
}
.pagination .show-more.prev {
  float: left;
  border-right: solid #c7c7c2 1px;
}
.pagination .show-more.next {
  float: right;
}

/* Модальное окно */
.modal-content h2 {
  font-size: 15px;
}
.modal-header .close {
  position: relative;
  margin: 0;
  top: -12px;
  right: -8px;
}
.modal-body {
  padding: 15px;
  padding-top: 10px;
}
.modal-footer {
  padding: 10px;
}
.modal-footer p {
  margin-bottom: 0;
}
.modal-footer h3 {
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 2px;
}
.modal-footer h3 a {
  font-size: 14px;
  color: #333;
}
.hotorder-reason,
.paramsorder-reason {
  margin: 0;
  font-size: 16px;
}
.hotorder-info,
.paramsorder-info {
  font-size: 12px;
  margin: 0;
}
.floating-label-form-group label {
  font-size: 12px;
  left: -1px;
}
.float-label-control {
  margin-bottom: 20px;
}
.gy-form .form-control {
  font-size: 12px;
  height: 25px;
}
.paramsorder-form-info {
  margin-bottom: 15px;
}

#modal-showtelext .modal-body,
#modal-login .modal-body,
#modal-signup .modal-body {
  padding: 15px !important;
}