/***************************************************************** Objects Filter */
#objects-filter
{
  font-family: 'open_sanslight';
  font-size: 15px;

  position: absolute;
  z-index: 10;

  width: 100%;
  height: 55px;

  border-bottom: 1px solid #b8b8b2;
  background: #f6f6ef;
}
.leftInfoBox h1
{
  /*font-family: 'open_sansbold';  */
  /*font-family: 'open_sansregular';   */
  font-family: 'PT Sans';
  padding: 9px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #333333;
  display: inline-block;
}
.leftInfoBox h1 .h1IntroWrapper
{
  float: left;
  min-width: 175px;
}
.leftInfoBox .foundItemsLabelWrapper
{
  display: inline-block;
  line-height: 20px;
  border: solid #B7AF8C 1px;
  padding: 11px 10px;
  border-radius: 4px;
  position: relative;
  top: -5px;
  min-width: 170px;
}
.leftInfoBox .foundItemsLabel
{
  color: #FB4151;
  font-size: 20px;
}
.leftInfoBox .foundItemsLabel img
{
  width: 20px;
  height: 20px;
  position: relative;
  left: 9px;
}

/* stat-orders */
.leftInfoBox .stat-orders
{
  display: inline-block;
  position: relative;
  top: -7px;
  vertical-align: middle;
  padding: 5px;
  padding-left: 7px;
  padding-right: 9px;
  border: solid #B7AF8C 1px;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(241, 90, 36, .3);
  background: #FFF8D7;
  cursor: pointer;
  min-width: 152px;
}
.leftInfoBox .stat-orders:hover
{
  /*border: 2px solid #F15A24;*/
  box-shadow: 0 0 7px rgba(241, 90, 36, 1);
}
.leftInfoBox .stat-orders img
{
  margin-right: 10px;
}
.leftInfoBox .stat-orders span.stat-orders-desc
{
  line-height: 14px;
  font-size: 12px;
  display: inherit;
}
.leftInfoBox .stat-orders span.stat-orders-count
{
  font-weight: bold;
  margin-left: 10px;
  font-size: 30px;
  line-height: 30px;
  font-family: 'bebas_neuebold';
}
.leftInfoBox .stat-orders i.stat-orders-plus
{
  color: #fb4151;
  position: relative;
  top: -3px;
  opacity: 0;
  margin-left: 3px;
}
.leftInfoBox .stat-orders.hotorder-toggle {
  background-color: #04E267;
  /*float: right;
  top: 1px;
  right: 1px;*/
}
.leftInfoBox .stat-orders.hotorder-toggle span.stat-orders-desc {
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
  line-height: 30px;
  font-family: 'bebas_neuebold';
}

.centered
{
  text-align: center;
}
.bigBlue
{
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #3887BE;
  margin-right: 14px;
}

/***************************************************************** Objects Page */
#objects-page
{
  font-family: 'open_sanslight';
  overflow: hidden;
  margin: 50px 0 0 0;
}
#objects-map,
#map-canvas,
#objects-area
{
  margin: 0;
  padding: 0;
}
#objects-map
{
  float: left;
  overflow: hidden;
  margin-top: 55px;
}

#map-disabled {
  width: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  background: #FFF7D8;
  border: 10px solid #527FB5;
  border-radius: 20px;
  text-align: center;
  /*font-weight: bold;*/
  padding: 40px;
}
#map-disabled p {
  /*font-family: Arial;*/
  font-family: 'PT Sans';
  /*font-weight: bold;*/
  color: #000;
  font-size: 16px;
}
/***************************************************************** Info Label */
.label
{
  font-family: 'open_sanslight';
  /*font-family: 'bebas_neuebold';*/

  font-size: 12px;
  line-height: 18px;

  padding: 11px 14px 12px 14px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #313544;
  border-radius: 0;
}
.infoLabel
{
  background: #FFF;
}
.warnLabel
{
  background: yellow;
}
/***************************************************************** Action Buttons */
.actionButton
{
  position: fixed;
  /*position: absolute;*/

  font-family: 'open_sanslight';
  font-size: 12px;
  line-height: 18px;

  padding: 7px 14px 12px 14px;

  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;
  border-radius: 0;
  background: #fb4151;
}
.actionButton .symbol
{
  font-size: 26px;
  position: relative;
  top: 3px;
}
.actionButton:hover
{
  color: #fb4151;
  background: #fff;
}
.actionButton a:link
{
  text-decoration: none;
  color: #FFF;
}
.actionButton a:hover, .actionButton:hover a
{
  text-decoration: none;
  color: #fb4151;
}

/***************************************************************** Slider panels */
.panelSlide
{
  position: absolute;
}
.panelSlide.panelRight {
  position: fixed;
  z-index: 70;
}
.panelContent
{
  position: fixed;
  overflow-x: auto;
  height: 100%;
}
.panelOpened .textClosed
{
  display: none;
}
.panelOpened .textOpened
{
  display: block;
}
.panelClosed .textClosed
{
  display: block;
}
.panelClosed .textOpened
{
  display: none;
}
/***************************************************************** Venue List - slide panel - left */
#venueList
{
  top: 105px;
  width: 500px;
  height: 100%;
  background: #FFF;

  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}
#venueList.panelOpened
{
  margin-left: 0;
}
#venueList.panelClosed
{
  margin-left: -500px;
}
#venueList .panelTrigger
{
  margin-left: 500px;
  margin-top: -106px;
  z-index: 50;
  transition: .2s;
}
#venueList .panelContent
{
  width: 500px;
  background: #FFF;
}

/* Кнопки работы с заявками */
#venueList .panelButtons {
  padding: 8px;
  text-align: center;
  background-image: url('/images/bg-panel-buttons.png');
}
#venueList .panelButtons h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#venueList .panelButtons h4 {
  margin-top: 0;
  font-size: 14px;
}
#venueList .panelButtons button {
  height: auto;
  border-radius: 4px;
  margin: 0 3px;
  padding: 0px 8px;
  padding-right: 10px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  transition: .2s;
  outline: none;
  background-color: #6cf9a1;
  border-color: #26e16c;
}
#venueList .panelButtons button:hover {
  background-color: #3fdc7a;
  border-color: #27d568;
}
#venueList .panelButtons button img {
  position: relative;
  top: -2px;
  margin-right: 4px;
  width: 24px;
  height: 24px;
}
#venueList .panelButtons button.hotorder-toggle {

}
#venueList .panelButtons button.paramsorder-toggle {

}
#venueList .panelButtons .close {
  position: absolute;
  top: 5px;
  right: 6px;
}

/* Добавочные кнопки вызова панелей */
.triggerAddon {
  position: relative;
  height: 100%;
}
.panelTriggerAddon {
  height: 32px;
  min-width: 80px;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  font-size: 12px;
  color: #fff;
  background-color: #fb4151;
  border: solid #c32b2b 1px;
  text-transform: uppercase;
  outline: none;
}
.panelTriggerAddon.pressed {
  background-color: #c32b2b;
}
.panelTriggerAddon.objects-view {
  left: 50%;
  width: 120px;
  margin-left: -60px;
  background-color: #1dc36f;
  border-color: #1b9a5a;
  display: none;
}
.panelTriggerAddon.objects-view.opened {
  display: block;
}
.panelTriggerAddon.objects-list {
  left: 10px;
}
.panelTriggerAddon.filters-list {
  right: 10px;
}

/***************************************************************** Venue View - slide panel - left */
#venueView
{
  top: 100px;
  z-index: 60;
  width: 500px;
  background: #FFF;

  /*box-shadow: 0 2px 4px rgba(0, 0, 0, .7);*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;

}
#venueView .venueBookBtn
{
  bottom: 0;
  width: 500px;
  padding: 20px 14px 16px 14px;
  font-size: 16px;
  text-decoration: none;

  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, .3);

}
#venueView .venueBookBtn:hover
{
  border-top: 1px solid #FB4151;
}

#venueView.panelOpened
{
  margin-left: 500px;
}
#venueView.panelClosed
{
  margin-left: -1000px;  /* venueView.width + venueList.width */
}
#venueView .panelTrigger
{
  margin-left: 500px;
}
#venueView .panelContent
{
  background: #ebebeb;
  width: 500px;
  height: 100%;
}

/********************************************************************************* Object - View - venueParams */
#venueView .venueParams
{
    font-size: 16px;
    margin: 20px 0 0 0;
    /*padding: 15px;*/

    background: #fff;
}
#venueView .venueParams h3
{
   padding: 10px 15px;
    margin: 0;
    /*border-bottom: solid #007DE2 2px;*/
    background: #3A3E4C;
    border: 1px solid #cdcdcd;
    color: #FFF;

    /*border-bottom: 2px solid #cdcdcd;*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: normal;
}
#venueView .venueParams table
{
    width: 100%;
    margin: 0 0 0 0;
    background: none;
}
#venueView .venueParams .venueParamsContent
{
    border: 1px solid #cdcdcd;
    border-top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#venueView .venueParams table tr td
{
    padding: 10px 15px;
    border-bottom: solid #cdcdcd 1px;
}
#venueView .venueParams table tr td.value
{
  font-family: 'open_sansbold';
  font-weight: bold;
}
#venueView .venueParams table tr td:last-child
{
    text-align: right;
}
#venueView .venueParams table tr:last-child td
{
    border-bottom: none;
}
/********************************************************************************* Object - View - Payinfo -> END */


/********************************************************************************* Object - View - Calendar */
#venueCalendar
{
    font-size: 16px;
    line-height: 24px;
}
#venueCalendar
{
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    /*padding: 20px;*/
    /*border-radius: 15px;*/
}
#venueCalendar  .ui-datepicker-inline
{
    width: 100% !important;
}
#venueCalendar  .ui-datepicker-title
{
    margin-bottom: 20px;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding: 5px 0;

    border-bottom: 3px solid #000;
}
#venueCalendar  .ui-datepicker-row-break
{
    clear: both;
}
#venueCalendar  .ui-datepicker .ui-datepicker-calendar
{
    width: 100%;
}
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr th
{
    font-family: 'open_sansregular';
    font-weight: normal;
    text-align: center;
}
#venueCalendar .ui-datepicker-prev
{
    float: left;
    /*border: 1px solid red;*/
    margin: 7px 30px 0 30px;
}
#venueCalendar .ui-datepicker-next
{
    float: right;
    margin: 7px 30px 0 0;
    /*border: 1px solid red;*/
}
#venueCalendar .ui-datepicker-prev, #venueCalendar .ui-datepicker-next
{
    display: block;
    text-decoration: none;
    cursor: pointer;

    font-family: 'open_sansbold';
    text-transform: uppercase;
    font-size: 16px;

    color: #000;
}


#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr th span,
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td span,
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td a
{
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #131313;
    text-align: center;
}
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td,
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-week-end
{
  text-align: center;
  border: none;
}
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td a:hover
{
    cursor: text;
}
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td.obj-close-event a,
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td.obj-close-event span {
    color: #fff;
}
.ui-datepicker span.ui-state-default {
    display: inline-block;
}
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td.ui-state-disabled span.ui-state-default {
    color: #c5c7c5;
}
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td.obj-close-event
{
    background-color: #FB4151;
    color: #FFF;
}
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-current-day
{
    background: #FFE63F;

}
#venueCalendar  .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-current-day.obj-close-event
{
    background-color: #FB4151;
    color: #FFF;
}






.bigcard
{
    /*font-family: 'PT Sans Narrow';  */
  font-family: 'open_sansregular';
}
.bigcard .row
{
  /*padding: 20px;*/
  margin-left: 0;
  margin-right: 0;
}
.bigcard .imageSlider
{
  border-bottom: 1px solid #E6E6E6;
}
.bigcard .venueTitle .venueName
{

  float: left;
  width: 70%;
  /*border: 1px solid blue;*/

  padding-top: 0;

  /*font-family: 'bebas_neuebold';*/
  font-family: 'PT Sans';
  font-size: 26px;
  font-weight: bold;

}
.bigcard .venueTitle .venueName .venueAddress
{
  font-family: 'open_sansregular';
  font-size: 14px;
}
.bigcard .venueTitle .venuePrice
{
  float: left;
  width: 29%;
  margin-left: 1%;
  /*border: 1px solid blue;*/
  text-align: right;
}
.bigcard .venueTitle .venuePrice .venuePriceInner
{
  display: inline;
  font-family: 'bebas_neuebold';
  font-size: 32px;
  font-weight: normal;
  border: 1px solid #0732A2;
  color: #0732A2;
  padding: 6px 12px;

}
.bigcard .venueBlock
{
  padding: 20px 20px 90px 20px;
}
.bigcard .blockName
{
  /*font-family: 'bebas_neuebold';  */
  font-family: 'PT Sans';
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}
.bigcard .table .colVal
{
font-family: 'open_sansbold';
  text-align: right;
  /*border: 1px solid red;*/
}
.bigcard .table .colLabel
{
  /*padding: 0;*/
  text-align: left;
  /*border: 1px solid red;*/
  color: #7F7F7F;
}
.bigcard .table tbody > tr > td
{
  border-top: none;
  border-bottom: 1px solid #E6E6E6;
  padding: 13px 0 13px 0;
}
.bigcard .table .borderL
{
  border-left: 1px solid #E6E6E6;
  padding-left: 15px;
}
.bigcard .table .paddR
{
  padding-right: 15px;
}


.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../../../images/ui/bxslider/controls-map.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url(../../../images/ui/bxslider/controls-map.png) no-repeat -43px -32px;
}

/***************************************************************** Filters - slide panel - right */
#filters
{
  top: 105px;
  width: 350px;
  z-index: 70;
  /*background: #2B303B;*/

  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}
#filters.panelOpened
{
  right:0;
}
#filters.panelClosed
{
  right: -350px;
}
#filters .panelTrigger
{
  position: absolute;
  /*z-index: 40;*/
  left: -135px;
  width: 135px;
  height: 41px;
  /*display: inline;*/
}
#filters .panelContent
{
  padding: 20px 15px;
  background: #2B303B;
  width: 350px;
  color: #FFF;
  /*margin-top: -46px;*/
}
#filters .filterTitle
{
  /*font-family: 'bebas_neuebold';*/
  font-family: 'PT Sans';

  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 0;

}
#filters .form-control
{
  font-family: 'PT Sans';
  background: none;
  height: 30px;
  color: #fff;
}
#filters .btn
{
  border-radius:3px;

  font-family: 'PT Sans';
  font-size:14px;
  font-weight: normal;
  height: 30px;
  line-height:1.428571429;
  padding: 5px 7px;
  text-align:center;
  background: none;
  border-color: #fff;

}
.number-spinner
{
  width: 150px;
}
.centered .number-spinner
{
  margin: 0 auto;
}
#filters .number-spinner .data-up .btn
{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#filters .number-spinner .data-dwn .btn
{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filter
{
  padding: 15px;
  margin: 0 0 15px 0;
}
.filter-group-bordered
{
  border-radius: 3px;
  border: 1px solid #42495a;
}
.filter .ruler .bg
{
  color: #FFF;
  font-size: 11px;
}
.filter .price-slider-parent
{
  margin: 20px 10px;
}
.filterFoundItems
{
  font-size: 16px;
  text-align: center;
}
.filterFoundNumber
{
  font-family: 'PT Sans';
  font-size: 20px;
  font-weight: bold;
}
.filter .rouble
{
  font-weight: normal;
  font-size: 20px;
}
/***************************************************************** Streetview */
#streetview
{
  position: absolute;
  top: 100px;
  left:0;
  z-index: 55;
  margin-left: 500px;
  background: #313544;
  display: none;
}
#streetview .svControlBlock
{
  position: fixed;
  margin-left: 0;
  z-index: 101;
}
#streetview .closeStreetview
{
  position: static;
  float: left;
}
#streetview .label
{
  position: static;
  float: left;
}
#svPano
{
  z-index: 56;
  background: #313544;
  height: 100%;
  width: 100%;
}

/***************************************************************** Object Card */
.card
{
  position: relative;

  overflow: hidden;

  width: auto;
  margin: 0;
  padding: 0;

  border-bottom: 1px solid #eaeaea;
  background: #fff;
  /*background: lightgray;*/

  /*font-family: 'open_sanslight';*/
  /*font-family: 'PT Sans'; */
  /*font-family: 'PT Sans Narrow'; */
  font-family: 'open_sansregular';


}
.card:hover
{
  background: #f3f6fa;
}
.card-active
{
  background: #e6ebf6;
  /*border: 3px solid #3887BE;*/
  border: 3px solid #0732A2;
  border-left: none;
}
.card.ontop {
  background: #fff8d7;
}
.card.ontop:hover
{
  background: #FAEBD7;
}
.card.ontop.card-active
{
  border-color: #BDB76B;
}

.card.photomark
{
  border: solid #527DB7 3px;
}

.card.photomark+.card.photomark
{
  border-top: none;
}

.card .contentHolder
{
  overflow: hidden;

  margin-left: 0;
  padding: 5px 8px 5px 8px;
}
.card .contentHolder .infoCol
{
  float: left;

  width: 74.75%;
  padding: 0 .5%;
  /*border: 1px solid red;*/
}
.card .venueName a
{
  font-family: 'bebas_neuebold';
  /*font-family: 'PT Sans Narrow'; */

  font-size: 20px;
  line-height: 21px;
  font-weight: normal;

  margin: 0;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 300px;
  display: inline-block;
}
.card .venueName .ontop
{
    font-size: 10px;
    color: #c9821c;
    margin-top: 2px;
}
.card .venueName h2 a
{
  color: #414141;
}
.card.obj-marked .venueName a, .card.obj-marked a:link
{
  color: #FB4151;
}
.card.obj-marked
{
  /*background: #fce2e5;*/
}


.card .contentHolder .photoCol
{
  position: relative;

  float: right;

  margin-left: 1%;
  /*border: 1px solid red;*/

  /*border: 1px solid pink;*/
}
.card .contentHolder .photoCol .photoContainer
{
  top: 0;
  right: 0;

  width: 100px;
  height: 75px;

  /*border: 1px solid #EAEAEA;*/
  /*padding: 4px;*/

/*  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      border-radius: 3px;
*/  /*background: #efeff4;*/
}
.card .contentHolder .photoCol .photoContainer img
{
  width: 100px;
  height: 75px;
  padding: 0;

  cursor: pointer;

  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      box-shadow: none;
}
.card .contentHolder .photoCol .photoContainer .isempty-label {
  background-color: rgba(216, 249, 61, .7);
  color: #333;
  padding: 5px 0;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  transition: .2s;
}
.card .contentHolder .photoCol .photoContainer .sale-label {
  width: 48px;
  height: 48px;
  left: -25px;
  position: relative;
  display: inline-block;
}
.card .contentHolder .photoCol .photoContainer .sale-label img {
  width: 100%;
  height: 100%;
}
.card .contentHolder .photoCol .photoContainer .func-wrapper {
  width: 100%;
  position: absolute;
  top: 40px;
  height: 48px;
}
.card .contentHolder .venuePrice
{
  font-family: 'bebas_neuebold';
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  line-height: 18px;
  padding: 10px 0 0 0;
  /*border: 1px solid #EAEAEA;*/
  /*border-top: none;*/

}
.card .contentHolder .venuePrice span
{
  font-size: 16px;
}
.card .contentHolder .venuePrice .rouble
{
  font-size: 25px;
}
.card .venueAddress
{
  margin-top: 5px;
  margin-left: 0;
}
.card .venueAddress .openStreetview,
.card .venueAddress .openDetails
{
  text-decoration: none;
  margin-left: 0px;
}
.card .venueAddress .openDetails
{
  margin-left: 4px;
}
.card .venueAddress .openDetails i
{
  font-size: 20px;
  position: relative;
  top: 3px;
}
.card .venueData
{
  margin: 10px 0 0 0;
}
.card .venueData .venueDataItem
{
  font-size: 11px;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 15px;

  border: 1px solid #C1D99F;
  border-radius: 15px;
  padding: 5px 13px;
}
.card .venueData .venueDataItem span
{
  border-bottom: dashed #333 1px;
  cursor: pointer;
}
.card .venueData .venueDataItem span:hover
{
  border-bottom: none;
}
.obj-marked.card .venueData .venueDataItem
{
  border-color: #FB4151;
}

.card .venueData .colorBlue
{
  border-color: #0732A2;
  color: #0732A2;
}
.card .venueData .colorRed
{
  border-color: #FB4151;
  color: #FB4151;
}
.card .venueData .venueDataItem.statViews
{
  border: none;
  padding-right: 0;
}
.card .venueData .venueDataItem .icon-eye
{
  font-size: 16px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}


/***************************************************************** Map Marker Pin */
.marker-pin
{
  /*font-family: 'intro_regular';*/
  /*font-family: 'open_sansregular';*/
  font-family: 'bebas_neuebold';
  font-size: 13px;
  /*letter-spacing: -1px;*/
  font-weight: normal;
  line-height: 13px;

  width: 40px;
  height: 46px;
  padding-top: 14px;

  text-align: center;

  color: #000;
  /*z-index: 90;*/

  /*text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;*/
  /*box-shadow:rgba(30, 20, 30, 0.5) 0 0 100px;*/

}
.pin-1
{
  background: url('/images/ui/markers/m-1.png') 0 0 no-repeat;
}
.pin-2
{
  background: url('/images/ui/markers/m-2.png') 0 0 no-repeat;
}
.pin-3
{
  background: url('/images/ui/markers/m-3.png') 0 0 no-repeat;
}
.pin-4
{
  background: url('/images/ui/markers/m-4.png') 0 0 no-repeat;
}
.pin-5
{
  background: url('/images/ui/markers/m-5.png') 0 0 no-repeat;
}
.pin-regular
{
  background: url('/images/ui/markers/m-regular.png') 0 0 no-repeat;
  /*z-index: 90;*/
}
.pin-isempty
{
  background: url('/images/ui/markers/m-isempty.png') 0 0 no-repeat;
  /*z-index: 90;*/
}
.pin-regular-empty
{
  background: url('/images/ui/markers/m-2-empty.png') 0 0 no-repeat;
}
.pin-selected
{
  background: url('/images/ui/markers/m-3.png') 0 0 no-repeat;
}
.pin-top
{
  background: url('/images/ui/markers/m-top.png') 0 0 no-repeat;
  width: 59px;
  height: 59px;
  padding-top: 23px;
}
.pin-top-isempty
{
  background: url('/images/ui/markers/m-top-isempty.png') 0 0 no-repeat;
  width: 59px;
  height: 59px;
  padding-top: 23px;
}
.pin-sale
{
  background: url('/images/ui/markers/m-sale.png') 0 0 no-repeat;
  width: 59px;
  height: 59px;
  padding-top: 23px;
  color: #FFF;
}
.pin-sale-isempty
{
  background: url('/images/ui/markers/m-sale-isempty.png') 0 0 no-repeat;
  width: 59px;
  height: 59px;
  padding-top: 23px;
  color: #fff;
}
.pin-selected-empty
{
  background: url('/images/ui/markers/m-3-empty.png') 0 0 no-repeat;
}

/***************************************************************** Map Custom Popup */
.custom-popup .leaflet-popup-content-wrapper
{
  font-size: 16px;
  line-height: 24px;

  /*color: #000;*/
  border: 3px solid #3887BE;
  border-radius: 4px;
  background: #fff;
  padding: 0;

  box-shadow:rgba(30, 20, 30, 0.5) 0 0 100px;
}
.custom-popup .leaflet-popup-content-wrapper a
{
  color: rgba(255,255,255,.5);
}
.custom-popup .leaflet-popup-tip-container
{
  width: 20px;
  height: 10px;

  background: url("/images/ui/markers/m-popup-tip.png") 0 0 no-repeat;

  position: relative;
  top: -3px;
}
.custom-popup .leaflet-popup-tip
{
  border: none;
/*  border-top: 10px solid #fb4151;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
*/}

/***************************************************************** Popup */
.popup .contentHolder
{
  overflow: hidden;

  margin-left: 0;
  padding: 1%;
}
.popup .contentHolder
{
  /*border:1px solid red;*/
  padding: 5px 8px 5px 5px;
}
.popup a
{
  color: #428BCA;
  text-decoration: underline;
}
.popup a:hover
{
  text-decoration: none;
}
.popup .venueName a
{
  /*font-family: 'PT Sans'; */
  /*font-family: 'bebas_neuebold';*/
  font-family: 'PT Sans Narrow';

  font-size: 18px;
  font-weight: normal;
  color: #428BCA;

  margin: 0;
  padding: 0;
}

.popup .contentHolder .infoCol
{
  float: left;

  width: 70%;
  padding: 0;
  /*border: 1px solid red;*/
}
.popup .contentHolder .photoCol
{
  /*position: relative;*/
  float: right;
  margin-left: 1%;
  /*border: 1px solid red;*/
}
.popup .contentHolder .photoCol .photoContainer
{
  top: 0;
  right: 0;

  width: 100px;
  height: 75px;
}
.popup .contentHolder .photoCol .photoContainer img
{
  width: 100px;
  height: 75px;
  padding: 0;

  cursor: pointer;

  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      box-shadow: none;
}
.popup .contentHolder .venuePrice
{
  font-family: 'bebas_neuebold';
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  line-height: 18px;
  padding: 7px 0 0 0;
}
.popup .contentHolder .venuePrice span
{
  font-size: 14px;
}
.popup .contentHolder .venuePrice .rouble
{
  font-size: 20px;
}
.popup .venueAddress
{
  margin-top: 2px;
  margin-left: 0;
  font-size: 12px;
  line-height: 18px;
}
.popup .venueAddress .openStreetview
{
  margin-left: 2px;
  color: #428BCA;
}
.popup .venueData
{
  margin-top: 15px;
  /*border: 1px solid red;*/
}
.popup .venueData .venueDataItem
{
  font-size: 11px;
  display: inline-block;
  margin-right: 3px;
  border: 1px solid #C1D99F;
  border-radius: 15px;
  padding: 1px 10px 0 10px;
}
.popup .venueData .colorBlue
{
  border-color: #0732A2;
  color: #0732A2;
}


/***************************************************************** Map Zoom Slider */
.leaflet-container
{
  /*z-index: 59;*/
}
.leaflet-control-zoomslider-knob
{
  width: 14px;
  height: 6px;
}
.leaflet-container .leaflet-control-zoomslider-body
{
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      box-sizing: content-box;
}
/*.leaflet-control-zoomslider .leaflet-bar .leaflet-control,*/
.leaflet-control-zoomslider
{
  top: 51px;
  left: 510px;
}
.leaflet-control-zoomslider.venueViewOpened
{
  margin-left: 500px;
}
.leaflet-control-zoomslider.venueListClosed
{
   margin-left: -490px;
}



/***************************************************************** Custom checkboxes */
.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
  margin-left: -1.5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .1s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

/***************************************************************** IOS7 checkboxe */
.ios7-switch {
  font-size: 26px;

  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.ios7-switch .io7-switch-text
{
  font-size: 16px;
  /*position: relative;*/
  /*top: 0px;*/
}

.ios7-switch input {
  opacity: 0;
  position: absolute;
}

.ios7-switch input + span {
  position: relative;
  display: inline-block;
  width: 1.65em;
  height: 1em;
  background: #2B303B;
  box-shadow: inset 0 0 0 0.0625em #e9e9e9;
  border-radius: 0.5em;
  vertical-align: -0.15em;
  transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.ios7-switch:active input + span,
.ios7-switch input + span:active {
  box-shadow: inset 0 0 0 0.73em #e9e9e9;
}

.ios7-switch input + span:after {
  position: absolute;
  display: block;
  content: '';
  width: 0.875em;
  height: 0.875em;
  border-radius: 0.4375em;
  top: 0.0625em;
  left: 0.0625em;
  background: white;
  box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
        0 0 0.05em rgba(0,0,0,0.05),
        0 0.1em 0.2em rgba(0,0,0,0.2);
  transition: all 0.25s ease-out;
}

.ios7-switch:active input + span:after,
.ios7-switch input + span:active:after {
  width: 1.15em;
}

.ios7-switch input:checked + span {
  box-shadow: inset 0 0 0 0.73em #4cd964;
}

.ios7-switch input:checked + span:after {
  left: 0.7125em;
}

.ios7-switch:active input:checked + span:after,
.ios7-switch input:checked + span:active:after {
  left: 0.4375em;
}

/* accessibility styles */
.ios7-switch input:focus + span:after {
  box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.15),
        0 0 0.05em rgba(0,0,0,0.08),
        0 0.1em 0.2em rgba(0,0,0,0.3);
  background: #fff;
}

.ios7-switch input:focus + span {
  box-shadow: inset 0 0 0 0.0625em #dadada;
}

.ios7-switch input:focus:checked + span {
  box-shadow: inset 0 0 0 0.73em #33be4b;
}

/* reset accessibility style on hover */
.ios7-switch:hover input:focus + span:after {
  box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
        0 0 0.05em rgba(0,0,0,0.05),
        0 0.1em 0.2em rgba(0,0,0,0.2);
  background: #fff;
}

.ios7-switch:hover input:focus + span {
  box-shadow: inset 0 0 0 0.0625em #e9e9e9;
}

.ios7-switch:hover input:focus:checked + span {
  box-shadow: inset 0 0 0 0.73em #4cd964;
}

/* modal paramsorder title */
#modal-paramsorder h2.modal-title span {
  display: block;
  font-size: 20px;
  color: #939393;
}