.body
{
    background: #f2f2f2;
}
/********************************************************************************* Object - Info */
.obj-view
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 16px;
    /*margin: 100px 0 0 0;*/
}

.obj-view-content .container
{
    padding: 125px 0 0 0;
    /*border: 1px solid red;*/
}

h1
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    color: #000;
}

h2
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 26px;
    font-weight: bold;
    line-height: 39px;
    margin: 0;
    padding: 0;
    color: #000;
}

h3
{
    font-family: 'PT Sans';
    /*font-family: 'open_sanslight';*/
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    margin: 0 0 12px 0;
    padding: 0;

    color: #000;
}

h3.rounded
{
    /*height: 30px;*/
    display: inline-block;

    padding: 6px 15px 5px 15px;

    border: 1px solid #000;
    border-radius: 15px;
}
.obj-view-navbar
{
    height: 60px;
    margin: 50px 0 0 0;
    padding: 18px 0 0 0;

    background: #E9F0F5;
    z-index: 100;
}

.obj-view-navbar .inner-link
{
    font-size: 16px;
    margin: 0 15px 0 0;
    color: #343434;
    border-bottom: dashed #aaaaaa 1px;
    padding: 2px 0;
    transition: .2s;
}
.obj-view-navbar .inner-link:hover
{
    border-bottom: dashed #636363 1px;
}
.obj-view-navbar .inner-link.active:hover,
.obj-view-navbar .inner-link:active
{
    border-bottom: none;
}

.obj-view-navbar .inner-link.back
{
    font-family: 'open_sansregular';
}

.obj-view .col-lg-7,
.obj-view .col-lg-5
{
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}
.obj-view-pager
{
    margin-bottom: 0;
}
.obj-view-sidebar
{
    padding: 116px 0 0 0;
}

/********************************************************************************* Object - View - Booking */
.obj-view-booking
{
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}
.obj-view-booking .wrapper
{
    padding: 0;
}

.obj-view-booking .row
{
    margin-bottom: 15px;
}
.obj-view-booking label
{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
    /*color: #1d3d4a;*/
    color: #fff;
}
.obj-view-booking h2
{
    padding: 10px 0;

    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: normal;
}
.obj-view-booking .form-invert
{
    background: #3C495E;
    border: 2px solid #fff;
    box-shadow: none;
    color: #fff;
}
.obj-view-booking .form-invert.active
{
    background: #47CAE0;
    color: #FFF;
    border-color: #47CAE0;
}

.btn-danger.disabled, .btn-primary
{
    /*background: #FF6E31;
    border-color: #FF6E31;
    font-size: 20px;
    width: 100%;*/
}
.obj-view-booking .btn
{
    font-size: 18px;
    width: 100%;
}
.obj-view-booking .btn i
{
    position: relative;
    top: 1px;
    left: -2px;
}
.obj-view-booking .has-error input
{
    border-color: red;
}
.obj-view-booking .help-block
{
    font-size: 16px;
}

/********************************************************************************* Object - View - Booking -> END */

.price-tel-info {
    padding-left: 30px;
}

/********************************************************************************* Object - View - Price */
.obj-view-price
{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 50px;
}
.obj-view-price .wrapper
{
    padding: 0;
}
.price-main
{
    font-family: 'PT Sans Narrow';
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    position: relative;
    background-color: #f2f2f2;
}
.price-main i
{
    position: relative;
    top: 3px;
}
.price-main:before
{
    /*
    content: '';
    width: 100%;
    height: 1px;
    background-color: #333;
    left: 0;
    top: 50%;
    position: absolute;
    z-index: 99;
    */
}
.price-period
{
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #ff6e28;
}
/********************************************************************************* Object - View - Price -> END */


/********************************************************************************* Object - View - Promo */
.obj-view-promo {
    margin: 0;
    margin-bottom: 40px;
    background: #fff8d7;
    padding: 10px 15px;
    border-radius: 4px;
}
.obj-view-promo .list-group {
  margin: 0;
}
.obj-view-promo .list-group .list-group-item {
  background: transparent;
  color: #333;
  line-height: 30px;
  text-indent: 0;
  padding: 6px;
  padding-left: 0;
  border-color: transparent;
  font-weight: bold;
  font-family: 'PT Sans Narrow';
  font-size: 15px;
    text-decoration: underline;
}
.obj-view-promo .list-group .list-group-item:hover {
    text-decoration: none;
}
.obj-view-promo .list-group .list-group-item span {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.obj-view-promo .list-group .list-group-item.btn-ontop span {
  background-image: url('/images/obj-actions/obj-actions-ontop.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 8px;
}
.obj-view-promo .list-group .list-group-item.btn-isempty span {
  background-image: url('/images/obj-actions/obj-actions-isempty.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 8px;
}
.obj-view-promo .list-group .list-group-item.btn-sale span {
  background-image: url('/images/obj-actions/obj-actions-sale.png');
  width: 30px;
  height: 30px;
  background-size: 30px;
  margin-right: 8px;
}

/********************************************************************************* Object - View - Accommodation */
.obj-view-acc-type select
{
    border: 3px solid #000;
    font-size: 20px;
}
.obj-view-acc-type
{
    padding: 3px 40px 0 0;
}


/********************************************************************************* Object - View - phones */
.obj-view-phones
{
    margin: 0 0 0 0;
    display: none;

    /*border-top: 1px solid #c2cacd;*/
    /*border-bottom: 1px solid #c2cacd;*/
}
.obj-view-phones p
{
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
    color: #636363;
    font-family: 'open_sanslight';
}
.obj-view-phones .row
{
    margin: 0;
    padding: 0;

    /*border-bottom: 1px solid #c2cacd;*/
}
.obj-view-phones .nobrd
{
    border: none;
}
.obj-view-phones h2
{
    border: none;
}
.obj-view-phones
{
    font-size: 22px;
    line-height: 33px;
    padding: 0;
    text-align: center;
    font-family: 'open_sansbold';
}

/********************************************************************************* Object - View - Bill -> END */

.obj-view-content .container > .row
{
    margin-bottom: 30px;
}
.obj-view-content .container h2
{
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
}

/********************************************************************************* Object - Main */
.obj-view-main h2
{
    margin-bottom: 0 !important;
}
/********************************************************************************* Object - Main -> END */

/********************************************************************************* Object - View - Params */
.obj-view-params
{
}
.obj-view-params .col
{

}
.obj-view-params [class^="flaticon-"]:before, .obj-view-params [class*=" flaticon-"]:before, .obj-view-params [class^="flaticon-"]:after, .obj-view-params [class*=" flaticon-"]:after {
        font-family: Flaticon;
        font-size: 40px;
        font-style: normal;
        line-height: 1;
}
.obj-view-params [class^="ico-"]
{
    font-size: 32px;
}
.obj-view-params .nobrd
{
    border: none;
}
.obj-view-params h2
{
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.obj-view-params span
{
    font-size: 32px;
}
.obj-view-params .times
{
    padding: 0 5px;
}
/********************************************************************************* Object - View - Params -> END */


/********************************************************************************* Object - View - Payinfo */
.obj-view-payinfo,
.obj-view-placeparams
{
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.obj-view-payinfo table,
.obj-view-placeparams table
{
    width: 100%;
    margin-bottom: 40px;
}
.obj-view-payinfo table tr td,
.obj-view-placeparams table tr td
{
    padding: 10px 0;
    border-bottom: dashed #cdcdcd 1px;
}
.obj-view-payinfo table tr td:last-child,
.obj-view-placeparams table tr td:last-child
{
    text-align: right;
}
.obj-view-placeparams table
{
    margin-bottom: 20px;
}
/********************************************************************************* Object - View - Payinfo -> END */


/********************************************************************************* Object - View - Properties */
.obj-view-properties
{
    font-size: 16px;
    background-color: #FFF;
    margin: 0;
    padding: 15px 10px 10px;
    border-radius: 15px;
}
.obj-view-properties .col
{
    /*border-right: 1px solid #d3d3d3;*/
}
.obj-view-properties .col:last-child
{
    border-right: none;
}
.obj-view-properties ul
{
    margin: 0;
    padding: 0;
}
.obj-view-properties ul .item
{
    background: url(../../../images/list-marker1.png) 0 5px no-repeat;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-bottom: 10px;
    border-bottom: dashed #CDCDCD 1px;
    padding-bottom: 10px;
}
.obj-view-properties ul .item:last-child
{
    /*margin-bottom: 0;*/
    border-bottom: none;
    padding-bottom: 0;
}
.obj-view-properties ul .item.restrict
{
    background: url(../../../images/list-marker-restrict.png) 0 5px no-repeat;
}
.obj-view-properties [class^="flaticon-"]:before,
.obj-view-properties [class*=" flaticon-"]:before,
.obj-view-properties [class^="flaticon-"]:after,
.obj-view-properties [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 36px;
    font-style: normal;
    line-height: 20px;
    position: relative;
    top: 6px;
}
.obj-view-properties .red
{
    color: red;
}
/********************************************************************************* Object - View - Properties -> END */

/********************************************************************************* Object - View - Description */
.obj-view-desc
{
    font-size: 16px;
    line-height: 24px;
}
.obj-view-desc p
{
    text-align: justify;
}
/********************************************************************************* Object - View - Description -> END */

/********************************************************************************* Object - View - Location */
.obj-view-location
{

}
.obj-view-location p
{
    font-size: 16px;
}
.obj-view-location p strong
{
    font-family: 'open_sansbold'
}
.obj-view-milestones .wrapper
{
    font-size: 16px;

    padding: 50px 0 0 40px;
}
.obj-view-milestones p
{
    font-size: 16px;
}
.obj-view-milestones ul
{
    margin: 0 0  30px 0;
    padding: 0;
}
.obj-view-milestones li
{
    padding: 0 0 0 20px;

    list-style: none;

    background: url(../../../images/mdash-black.png) 0 10px no-repeat;
}

#obj-view-map
{
    position: relative;
    left: 0;

    width: 100%;
    height: 500px;
    margin: 0;

    -webkit-transform: translateZ(0px);

    border: 5px solid #fff;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
}
#obj-view-map-canvas
{
    position: relative;

    width: 100%;
    height: 490px;
}

/********************************************************************************* Object - View - Location - END */

/********************************************************************************* Object - View - Calendar */
.obj-view-calendar
{
    font-size: 16px;
    line-height: 24px;
}
.obj-view-calendar .obj-calendar
{
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    /*padding: 20px;*/
    border-radius: 15px;
}
.obj-view-calendar .obj-calendar-legend
{
    margin-bottom: 30px;
    margin-left: 2px;
}
.obj-view-calendar .obj-calendar .ui-datepicker-inline
{
    width: 100% !important;
}
.obj-view-calendar .obj-calendar .ui-datepicker-group
{
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    padding: 30px 20px;
}
.obj-view-calendar .obj-calendar .ui-datepicker-group.ui-datepicker-group-last
{
    /*float: right;*/
    padding-left: 40px;
}
.obj-view-calendar .obj-calendar .ui-datepicker-group.ui-datepicker-group-first
{
    border-right: 1px solid #ddd;
    padding-right: 40px;
}
.obj-view-calendar .obj-calendar .ui-datepicker-title
{
    margin-bottom: 20px;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    font-size: 24px;
    text-align: left;
    padding-left: 0px;
    padding-bottom: 25px;

    border-bottom: 3px solid #000;
}
.obj-view-calendar .obj-calendar .ui-datepicker-row-break
{
    clear: both;
}
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar
{
    width: 100%;
}
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr th
{
    font-family: 'open_sansregular';
    font-weight: normal;
    text-align: center;
}
.ui-datepicker-prev
{
    float: left;
    /*border: 1px solid red;*/
    margin-right: 30px;
}
.ui-datepicker-next
{
    float: right;
    /*border: 1px solid red;*/
}
.ui-datepicker-prev, .ui-datepicker-next
{
    display: block;
    text-decoration: none;
    cursor: pointer;

    font-family: 'open_sansbold';
    text-transform: uppercase;
    font-size: 24px;

    color: #000;
}


.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr th span,
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td span,
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td a
{
    line-height: 60px;
    font-size: 20px;
    text-decoration: none;
    color: #131313;
}
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td a:hover
{
    cursor: text;
}
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td.obj-close-event a,
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td.obj-close-event span {
    color: #fff;
}
.ui-datepicker span.ui-state-default {
    display: inline-block;
}
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td.ui-state-disabled span.ui-state-default {
    color: #c5c7c5;
}
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td.obj-close-event
{
    background-color: #FB4151;
    color: #FFF;
}
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-current-day
{
    background: #FFE63F;

}
.obj-view-calendar .obj-calendar .ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-current-day.obj-close-event
{
    background-color: #FB4151;
    color: #FFF;
}

#obj-calendar-legend .legend_item_closed
{
    height: 25px;
    width: 25px;
    display: inline-block;
    line-height: 25px;
    background: #FB4151;
    position: relative;
    top: 7px;
}
/********************************************************************************* Object - View - Calendar - END */

/********************************************************************************* BxSlider v4.1.2 */

/** RESET AND LAYOUT
===================================*/
#object-info-images {

}
#object-info-images ul {
    min-height: 500px;
    visibility: hidden;
}
.bx-wrapper
{
    position: relative;

    width: 800px;
    /*min-height: 300px;*/
    padding: 0;

    *zoom: 1;
}
.bx-wrapper img
{
    /*display: block;*/
    /*max-width: 100%;*/
    width: 100%;
}
.bxslider {
    list-style: none;
    padding: 0;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport
{
    /*    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
*/
    /*border: 5px solid #fff;*/
    left: 0;
    left: 0;
    /*fix other elements on the page moving (on Chrome)*/

    -webkit-transform: translatez(0);
    -webkit-transform: translateZ(0px);
       -moz-transform: translatez(0);
        -ms-transform: translatez(0);
         -o-transform: translatez(0);
            transform: translatez(0);

    border: 5px solid #fff;
    background: #fff;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;

    height: auto;
    max-height: 500px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto
{
    position: absolute;
    bottom: -30px;

    width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading
{
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /*min-height: 300px;*/

    background: url(../images/ui/bxslider/bx_loader.gif) center center no-repeat #fff;
}
/* PAGER */
.bx-pager
{
    font-size: .85em;

    margin-left: 0;
    padding-top: 10px;

    text-align: center;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item
{
    display: inline-block;

    *zoom: 1;
    *display: inline;
}
.bx-pager a
{
    display: block;
    float: left;
    overflow: hidden;

    width: 19%;
    height: auto;
    margin: 0 1.25% 1.25% 0;
    padding: 1%;

    background-color: #fff;

    -webkit-transform: translateZ(0px);

    border: 1px solid #ddd;
    outline: 0;
    -webkit-box-shadow: #ccc 0 0 5px;
            box-shadow: #ccc 0 0 5px;
}
.bx-pager a:nth-child(5n+5)
{
    margin-right: 0;
}
.bx-pager a.active
{
    border: 1px solid #ff6e28;
}
.bx-pager a img
{
    width: 100%;
    height: auto;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active
{
    background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev
{
    left: 10px;

    background: url(../../../images/ui/bxslider/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next
{
    right: 15px;

    background: url(../../../images/ui/bxslider/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover
{
    background-position: 0 0;
}
.bx-wrapper .bx-next:hover
{
    background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a
{
    position: absolute;
    z-index: 2;
    top: 50%;

    width: 32px;
    height: 32px;
    margin-top: -16px;

    text-indent: -9999px;

    outline: 0;
}
.bx-wrapper .bx-controls-direction a.disabled
{
    display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto
{
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start
{
    display: block;

    width: 10px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
    background: url(../../../images/ui/bxslider/controls.png) -86px -11px no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active
{
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop
{
    display: block;

    width: 9px;
    height: 11px;
    margin: 0 3px;

    text-indent: -9999px;

    outline: 0;
    background: url(../../../images/ui/bxslider/controls.gif) -86px -44px no-repeat;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active
{
    background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager
{
    width: 80%;

    text-align: left;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
{
    right: 0;

    width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: #666\9;
    background: rgba(80, 80, 80, .75);
}
.bx-wrapper .bx-caption span
{
    font-family: Arial;
    font-size: .85em;

    display: block;

    padding: 10px;

    color: #fff;
}

/* showtel, showtelext */
#modal-showtel.modal .modal-body
{
    padding-bottom: 30px;
}
#modal-showtel.modal .modal-body h2
{
    font-weight: normal;
}
#modal-showtel.modal .modal-body .phone,
#modal-showtelext .modal-body .phone
{
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    font-family: 'open_sansbold';
    margin-bottom: 10px;
}
#modal-showtel.modal .modal-body .email,
#modal-showtelext .modal-body .email
{
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-family: 'open_sansregular';
    margin-bottom: 10px;
}
#modal-showtel.modal .modal-body h3,
#modal-showtelext .modal-body h3
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 27px;
}
#modal-showtel.modal .modal-body .result .btn,
#modal-showtelext .modal-body .result .btn
{
    margin-bottom: 20px;
}
#modal-showtel.modal .modal-body .result p,
#modal-showtelext .modal-body .result p
{
    font-size: 16px;
    line-height: 24px;
}
#modal-showtelext .modal-body .result
{
    display: none;
}
#modal-showtel.modal .modal-body .btn-group
{
    width: 100%;
}
#modal-showtel.modal .modal-body .btn-group .btn
{
    width: 33.33%;
    display: inline-block;
    float: left;
    font-size: 16px;
    letter-spacing: normal;
    text-transform: uppercase;
    padding: 15px 0;
}
#modal-showtel.modal .modal-footer h3
{
    margin-bottom: 0;
    color: #636363;
    line-height: 24px;
}

/* order, showtelext */
.modal-footer p.order-object-reason,
.modal-footer p.order-object-info,
.modal-footer p.showtelext-reason,
.modal-footer p.showtelext-info
{
    font-size: 18px;
    margin-bottom: 0;
}
.modal-footer p.order-object-reason,
.modal-footer p.showtelext-reason
{
    color: #FD685B;
}

#modal-signup .checkbox input[type=checkbox] {
    margin-left: 0;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
}