<form method="post" action="" role="form" id="main-form" data-async>
    <!-- ____________________________________ General attributes __________________________________ -->
    <fieldset>
        
        <legend>Скачивание фоток</legend>

        <div class="form-group">
        
            <div class="row">


            </div><!-- /.row -->

            <div class="row">

                <div class="col-md-2">
                    <label for="pars_city">
                        Укажите город
                    </label>
                    <select name="pars_city" id="pars_city" class="form-control select2">
                        <?
                            $cities = array(
                                // 0 wave
                                "astrakhan" => "Астрахань", 
                                "kislovodsk" => "Кисловодск", 
                                "krasnodar" => "Краснодар", 
                                "pyatigorsk" => "Пятигорск", 
                                "rostovnadonu" => "Ростов-на-Дону",  
                                "sochi" => "Сочи", 
                                "stavropol" => "Ставрополь",

                                // 1 wave
                                "anapa" => "Анапа",
                                "gelendzhik" => "Геленджик",
                                "zheleznovodsk" => "Железноводск",
                                "novorossisk" => "Новороссийск",
                                "pyatigorsk" => "Пятигорск",
                                "sevastopol" => "Севастополь",
                                "simferopol" => "Симферополь",
                                "yalta" => "Ялта",

                                // 2 wave
                                "astrakhan" => "Астрахань",
                                "volgograd" => "Волгоград",
                                "volgodonsk" => "Волгодонск",
                                "volzhsky" => "Волжский",
                                "voronezh" => "Воронеж",
                                "novocherkassk" => "Новочеркасск",
                                "taganrog" => "Таганрог",

                                // 3 wave
                                "alushta" => "Алушта",
                                "evpatoria" => "Евпатория",
                                "nalchik" => "Нальчик",
                                "feodosia" => "Феодосия",
                            );

                            foreach($cities as $city_uid => $city_name)
                            {
                                $selected = ($city_uid == $this->city) ? "selected='selected'" : "";
                                echo "<option value='".$city_uid."' ".$selected.">".$city_name."</option>";    
                            }
                        ?>
                    </select>
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-success form-control" type="submit" id="startDownload" data-loading-text="Скачивание...">Скачать</button>
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div><!-- /.form-group -->
    </fieldset>

</form>

<img src="/images/loader-parser.gif" id="loading-indicator" style="display: none" />

<table class="table table-striped" id="download-results" style="display: none">
    <tr><td>Город</td><td id="pr-city"></td></tr>
    <tr><td>Всего фоток</td><td id="pr-all-obj"></td></tr>
    <tr><td>Скачано фоток</td><td id="pr-cur-obj"></td></tr>
    <tr><td>Старт задачи</td><td id="pr-start"></td></tr>
    <tr><td>Финиш задачи</td><td id="pr-end"></td></tr>
</table>