<!--
<div class="row">

    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item active">Объекты</li>
            <li class="list-group-item">
                <span class="badge"><?=$this->objects_total;?></span>
                Всего
            </li>
            <li class="list-group-item">
                <span class="badge"><?=$this->objects_today;?></span>
                Добавлено за сегодня
            </li>
            <li class="list-group-item">
                <span class="badge"><?=$this->objects_week;?></span>
                Добавлено за текущую неделю
            </li>
            <li class="list-group-item">
                <span class="badge"><?=$this->objects_last_week;?></span>
                Добавлено за прошлую неделю
            </li>
        </ul>
    </div>

        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Просмотры</li>
                <li class="list-group-item">
                    <span class="badge">0</span>
                    0
                </li>
            </ul>
            </div>

    <div class="col-md-12">

        <div class="panel panel-success">
            <div class="panel-heading">Данные по серверу и клиенту</div>
            <div class="panel-body">
                <p>
                    <strong>Время:</strong> <?=date('d.m.Y H:i:s');?>
                </p>
                <p>
                <strong>IP:</strong> <?=$_SERVER['REMOTE_ADDR'];?>
                </p>
                <p>
                <strong>User-Agent:</strong> <?=$_SERVER['HTTP_USER_AGENT'];?>
                </p>
                <p>
                <strong>DB Name:</strong> <?=$this->dbname;?>
                </p>
                <p>
                <strong>DB Size:</strong> <?=$this->dbsize;?> Mb
                </p>
            </div>
        </div>

    </div>
</div>
-->
            
<form method="post" action="" role="form" id="main-form" data-async>
    
    <!-- ____________________________________ Форма __________________________________ -->
    <fieldset>
        
        <legend>Статистика</legend>

        <div class="form-group">
        
            <div class="row">

                <div class="col-md-4">
                    <label for="stat_action">
                        Тип Статистики
                    </label>

                    <select name="stat_action" id="stat_action" class="form-control select2">
                        <?
                            $stat_action = array(

                                "new_objects"   =>  "Новые объекты",
                                "objects"       =>  "Объекты (все - вирт - реал)",
                                "new_users"     =>  "Новые владельцы",
                                "money"         =>  "Деньги",
                                "money_ontop"   =>  "Деньги от поднятий",
                                "users_ontop"   =>  "Владельцы поднимальщики",
                                "abonements"    =>  "Активации абонемента за период",
                                "abonements_now"=>  "Абнементы (реал) по всем городам",
                                "abonements_all_in_city"=>  "Абнементы (реал + вирт) по городу",
                                "emails"        =>  "Количество Email в городах",
                                "logins"        =>  "Уникальные входы в ЛК",
                                "ontop_real"    =>  "Реально поднятых на данный момент",
                                "payments"      =>  "Детализация платежей",
                                "orders"        =>  "Запросы на бронирование",
                                "paramorders"   =>  "Запросы по параметрам"
                            );

                            // asort($stat_action);

                            $nn = 1;
                            foreach($stat_action as $stat_action_uid => $stat_action_name)
                            {
                                $selected = ($stat_action_uid == $this->stat_action) ? "selected='selected'" : "";
                                echo "<option value='".$stat_action_uid."' ".$selected.">".$nn." - ".$stat_action_name."</option>";    
                                $nn++;
                            }
                        ?>

                    </select>
                
                </div>

            </div>
            <!-- .row -->

            <div class="row">

                <div class="col-md-2">
                    <label for="stat_city">
                        Укажите город
                    </label>
                    <select name="stat_city" id="stat_city" class="form-control select2">
                        <?
                            $rentalCities = array(
                                "kislovodsk"    => "Кисловодск", 
                                "nnovgorod"     => "Нижний Новгород", 
                                "sochi"         => "Сочи", 
                                "sevastopol"    => "Севастополь", 
                                "spb"           => "Санкт-Петербург",
                                "krasnodar"     => "Краснодар",
                                "saratov"       => "Саратов", 
                                "tyumen"        => "Тюмень", 
                                "novosibirsk"   => "Новосибирск",
                                "ekaterinburg"  => "Екатеринбург",
                                "perm"          => "Пермь",
                                "kazan"         => "Казань",
                                "ufa"           => "Уфа",
                                "voronezh"      => "Воронеж", 
                                "moscow"        => "Москва",
                                "omsk"          => "Омск",
                                "rostovnadonu"  => "Ростов-на-Дону",
                                "volgograd"     => "Волгоград",
                                "krasnoyarsk"   => "Красноярск",
                                "chelyabinsk"   => "Челябинск", 
                                "irkutsk"       => "Иркутск", 
                                "stavropol"     => "Ставрополь", 
                                "samara"        => "Самара",   
                                "zheleznovodsk" => "Железноводск",
                                "pyatigorsk"    => "Пятигорск", 
                                "yalta"         => "Ялта", 
                                "yaroslavl"     => "Ярославль", 
                                "tomsk"         => "Томск",
                                "bryansk"       => "Брянск", 
                                "tula"          => "Тула", 
                                "magnitogorsk"  => "Магнитогорск", 
                                "ivanovo"       => "Иваново"
                            );

                            asort($rentalCities);

                            $stat_city = array(
                                "all"       => "Все города",
                                "rental"    => "Города-абоненты",
                                "none"      => "---------------",
                            );

                            $stat_city = array_merge($stat_city, $rentalCities);
                            
                            foreach($stat_city as $stat_city_uid => $stat_city_name)
                            {
                                $selected = ($stat_city_uid == $this->stat_city) ? "selected='selected'" : "";
                                $disabled = ($stat_city_uid == "none") ? "disabled" : "";
                                echo "<option value='".$stat_city_uid."' ".$selected." ".$disabled.">".$stat_city_name."</option>";    
                            }
                        ?>
                    </select>
                </div><!-- /.col -->

                
                <div class="col-md-2">
                    <label for="stat_date_from">
                        Начало периода
                    </label>
                    <input name="stat_date_from" id="stat_date_from" class="form-control">
                </div><!-- /.col -->

                <div class="col-md-2">
                    <label for="stat_date_to">
                        Конец периода
                    </label>
                    <input name="stat_date_to" id="stat_date_to" class="form-control">
                </div><!-- /.col -->



                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-success form-control" type="submit" id="startStatGen" data-loading-text="Подождите...">Старт</button>
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div><!-- /.form-group -->

    </fieldset>

</form>

<div class="alert alert-warning" role="alert" id="no-dates-required">Данный запрост не требует ввода дат, так как он показывает статистику только на момент запроса.</div>

<img src="/images/loader-parser.gif" id="loading-indicator" style="display: none" />

<div id="stat-result">
</div>







<?
    if(isset($this->dbstat)):
?>
            <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><a href="#" class="toggle-panel-body"><i class="icon-plus"></i> Данные по размеру базы</a></div>
                    <div class="panel-body notshown">

                        <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Название таблицы</th>
                                <th>Кол-во строк</th>
                                <th>Размер, Мб</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?
                                foreach($this->dbstat as $id => $val)
                                {
                                    ?>
                                    <tr>
                                        <td><?=$val["table"];?></td>
                                        <td><?=$val["rows"];?></td>
                                        <td><?=$val["size"];?></td>
                                    </tr>
                                    <?
                                }
                            ?>                        
                        </tbody>
                        </table>

                    </div>
                </div>

                </div><!-- /.col -->
                </div><!-- /.row -->
<?
    endif;
?>

<?
    if(isset($this->logTop)):
?>
                <div class="row">
                    <div class="col-md-12">

                <div class="panel panel-success">
                    <div class="panel-heading"><a href="#" class="toggle-panel-body"><i class="icon-plus"></i> Лог действий в реальном времени</a></div>
                    <div class="panel-body notshown">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Время</th>
                                <th>Действие</th>
                                <th>Описание</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?
                                foreach($this->logTop as $id => $val)
                                {
                                    if($val["l_result"] == "map")
                                    {
                                        $raw = json_decode($val["l_object"]);
                                        $descr = $raw->cityuid;
                                    }
                                    elseif($val["l_result"] == "view")
                                    {
                                        $raw = json_decode($val["l_object"]);
                                        $uid = (isset($raw->uid)) ? $raw->uid : "NULL";
                                        
                                        $descr = $raw->cityuid . ", " . $uid;
                                    }
                                    elseif($val["l_result"] == "preview")
                                    {
                                        $raw = json_decode($val["l_object"]);
                                        
                                        $descr = $raw->cityuid . ", " . $raw->obj_id;
                                    } else
                                    {
                                        $descr = "";
                                    }

                                    ?>
                                    <tr>
                                        <td><?=$val["l_date"];?></td>
                                        <td><?=$this->logLegend[$val["l_result"]];?></td>
                                        <td><?=$descr;?></td>
                                    </tr>
                                    <?
                                }
                            ?>

                        </tbody>
                    </table>
                    
                    </div>
                </div>

                </div><!-- /.col -->
                </div><!-- /.row -->
<?
    endif;
?>