<div class="navbar navbar-subnavbar navbar-fixed-top" role="navigation">
    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-ex2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h3 class="navbar-brand"><i class="ico-home"></i> <?=$this->translate("Homepage");?></h3>
        </div>


    </div><!--/.container-->
</div><!--/.navbar navbar-subnavbar navbar-fixed-top-->

