На сайте GoYug.com поступило сообщение от пользователя <?php echo $user_name ?>:<br>
*************************************<br>
E-mail: <?php echo $user_email ?><br>
IP: <?php echo $user_ip ?><br>
*************************************<br>
Сообщение:<br>
<?php echo $user_message ?><br>