<?
//Get All URL params
$params = Zend_Controller_Front::getInstance()->getRequest()->getParams();

//Filter params
$f = Util::filterArrayByKey("f_", $params);

if ($this->pageCount > 1) 
{
    ?>
    <div class="pagination">
        <ul>
    <?
    
    if (isset($this->previous)) 
    { 
        ?><li><a href="<?= $this->url(array_merge($f, array('f_page' => $this->previous))); ?>">Prev</a></li><?
        
    } else { 
        ?><li class="disabled"><a href="<?= $this->url(array_merge($f, array('f_page' => $this->previous))); ?>">Prev</a></li><?
    }
    
    foreach ($this->pagesInRange as $page) 
    {
        if ($page != $this->current) 
        { 
            ?><li><a href="<?= $this->url(array_merge($f, array('f_page' => $page))); ?>"><?= $page; ?></a></li><?
        } else { 
            ?><li class="active"><a href="<?= $this->url(array_merge($f, array('f_page' => $page))); ?>"><?= $page; ?></a></li><?
        }
    }  
    
    if (isset($this->next)) 
    { 
        ?><li><a href="<?= $this->url(array_merge($f, array('f_page' => $this->next))); ?>">Next</a></li><?
    } else { 
        ?><li class="disabled"><a href="#">Next</a></li><?php 
    } 
    
    ?>
        </ul>
    </div>
    <?
}
?>
