<form method="<?php echo $this->form->getMethod() ?>" action="<?php echo $this->form->getAction() ?>" role="form">


    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("General attributes");?></legend>
        <div class="form-group">
            <div class="row">

                <div class="col-md-2">
                    <div class="input-group">
                        <label for=""><?=$this->translate("Public");?></label>
                        <div class="make-switch switch-large" data-off="danger" data-on-label="<?=$this->translate("ON");?>" data-off-label="<?=$this->translate("OFF");?>">
                            <?=$this->form->sft_enable;?>
                        </div>
                    </div>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->
    </fieldset>

    <fieldset id="fieldset-ab_group2"><legend><?=$this->translate("Main content");?></legend>

        <div class="form-group">
            <div class="row">
                
                    <div class="col-md-3">
                        <label for=""><?=$this->translate("Type name");?></label>
                            <?=$this->form->sft_name;?>
                    </div><!-- /.col -->

                    <div class="col-md-3">
                        <label for=""><?=$this->translate("CSS class prefix");?></label>
                            <?=$this->form->sft_cssclass;?>
                    </div><!-- /.col -->

                    <div class="col-md-2">
                        <label for=""><?=$this->translate("Width");?></label>
                            <?=$this->form->sft_width;?>
                    </div><!-- /.col -->

                    <div class="col-md-2">
                        <label for=""><?=$this->translate("Height");?></label>
                            <?=$this->form->sft_height;?>
                    </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.form-group -->

    </fieldset>

    <?=$this->form->sft_id;?>

    <div class="submit-group">
        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> <?=$this->translate("Save changes");?></button>
        <a href="<?=$this->url(array('action' => 'index'));?>" class="btn btn-danger"><i class="icon-ban-circle"></i> <?=$this->translate("Cancel");?></a>
    </div>

</form>
