body
{
    font-family:'PT Sans Narrow', sans-serif;
    padding: 60px 0 0 0;
    font-size: 20px;    
}
.form-control 
{
    font-size: 20px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6
{
    font-family:'PT Sans Narrow', sans-serif;
}
fieldset
{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 0 45px 0;
}
legend
{
    font-size: 20px;
    font-weight: normal;
}