<?
    $ucid = $this->getHelper('PartialLoop')->view->ucid;

    $contextClass = ($this->enable) ? "" : "danger ";
    $contextIcon = ($this->enable) ? "" : "<i class='ico-eye-close'></i> ";
?>
<tr class="<?=$contextClass;?>>">

    <td>
        <div class="btn-group btn-group-sm">
            <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="ico-wrench-2"/></i>
            </a>
            <ul class="dropdown-menu pull-left">
                <li><a href="<?=$this->url(array('action' => 'update',  'id' => $this->id));?>"><i class="ico-edit"/></i> <?=$this->translate("Edit");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'create',  'pid' => $this->id));?>"><i class="ico-plus-sign"/></i> <?=$this->translate("Create child item");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'clone',   'id' => $this->id));?>"><i class="ico-copy"/></i> <?=$this->translate("Clone");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'enable',  'customize_items' => $this->id));?>"><i class="ico-eye-open"/></i> <?=$this->translate("Enable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'multiupdate', 'mode' => 'disable', 'customize_items' => $this->id));?>"><i class="ico-eye-close"/></i> <?=$this->translate("Disable");?></a></li>
                <li><a href="<?=$this->url(array('action' => 'delete',  'id' => $this->id));?>" class="modal-triger" rel="nofollow" data-modal="delete-confirm"><i class="ico-trash"/></i> <?=$this->translate("Delete");?></a></li>
            </ul>
        </div>
    </td>


    <td>
        <input type='checkbox' name='customize_items[]' value='<?=$this->id;?>' class="chkbx">
    </td>
    <td>
        <div class="col-md-4 col-md-offset-<?=$this->level;?>"><?=$contextIcon;?> <?=$this->name;?></div>
    </td>
    <td><?=$this->order;?></td>
    <td><?=$this->uid;?></td>
    <td><?=$this->code;?></td>
    <td><?=$this->ot_bookfee_pct;?></td>
    <td><?=$this->ot_bookfee_fix;?></td>

</tr>
